[2015-07-13 00:42] AlbertoMonteiro commented on #404
When checking if methods starts with **Test**, it should also check if project reference nunit, same for xUnit

[2015-07-13 12:31] OsirisTerje commented on #404
Agree, Checking the reference is a good idea.

However, checking for method names is not a viable solution, it must check the attributes.

[2015-07-13 14:22] monoman opened #406 "I was having VS2015 RC crash when loading RoslynLight.sln with Code-Cracker vsix enabled"
Initially I posted the issue there: https://github.com/dotnet/roslyn/issues/3866
But disabling Code-Cracker makes the exception go away, although it still freezed once.

As the exception is:
[code]
it may be related to Code-Cracker.

[2015-07-13 14:47] OsirisTerje opened #407 "Change CC0001 so that it does not apply to primitives"
Change `CC0001` so that it only works on non primitives. Raise the new `CC0105` for primitives.
There is a list of primitives types [on MSDN](https://msdn.microsoft.com/en-us/library/system.type.isprimitive%28v=vs.110%29.aspx) of primitives from C#:

**Remarks**:
* DateTime is not a primitive and should still be covered by `CC0001`.
* String is not a primitive and should still be covered by `CC000

[2015-07-13 15:19] AlbertoMonteiro commented on #407
I guess that variable names should solve this problem, so IHMO, we should not give this kind of flexibility.
For me, CC help me to have a better code, and naming my variables correctly is one of the steps to get better code.

[2015-07-13 23:22] giggio commented on #407
All rules are optional. The user only needs to edit the rules file and done. This is a .NET thing, and VS makes it really easy to do.
That said, I also think the standard is good, but I am aware some people don't like it. I am not against we having a separate set of rules that are disabled by default, and then they could enable them. Or even replacing the current CC0001 with 2 others, one for prim

[2015-07-14 00:12] giggio commented on #406
Yes, don't try that. They are ahead of us, and our types do not match theirs. I hope that once they reach 1.0 that the signatures and references will match and we won't break them.

[2015-07-14 00:12] #406 closed

[2015-07-14 00:15] giggio commented on #405
@OsirisTerje Can you paste an example class file we can test?
I did not understand your second sentence, can you elaborate?
Also, how did you get this nice yellow warning on the top? Right now, when an analyzer crashes all I get is a warning on Visual Studio Error list and I can't reenable it.

[2015-07-14 00:16] giggio commented on #404
To be able to check the references we will need a compilation action on the analyzer. I am not sure we need that. Can't we simply ignore methods that start with `Test`?

[2015-07-14 00:20] AlbertoMonteiro commented on #404
For me, ok

[2015-07-15 12:31] der-andy opened #408 "CC0021: nameof(x) suggested before x is declared"
In this code:

[code]

code-cracker suggests replacing `"x"` with `nameof(x)` which results in an error since `x` would be used before it is declared.

[2015-07-16 16:22] carloscds commented on #408
That's make sense. Maybe check if declaration of type is before string. What do you think ?

[2015-07-16 21:24] OsirisTerje commented on #407
I think the idea of having two rules here sounds good.
With primitives I think of int, float, double, decimal etc.
Datetime is a struct, and could well be covered by 001.
String is a bit of both - in fact it is a kind of structure, so to me, any way is fine.

[2015-07-16 21:30] OsirisTerje commented on #405
2nd sentence:  It seems that the code fix  on all the rules triggers the yellow message bar.
When the rule is hidden it is even more annoying, but it seems something is broken.

See the image below, I have a static code "violation", and press the yellow lamp (1) to fix it.
![image](https://cloud.githubusercontent.com/assets/203432/8735614/851080f6-2c12-11e5-9cd2-04b6bbb164e9.png)
Then the yellow b

[2015-07-16 21:42] OsirisTerje commented on #404
I don't think ignoring methods that START with Test is enough.  Test methods often also ends with Test or Test.
Others prefer test method names like CheckThatXYZIsValid().
It don't need to check the references, it is enough to check the attributes.
Look the image below:
The method in focus is the AddTest()  (1)
The method can be seen in (2), and it has an attribute list with one attribute (3), and

[2015-07-17 04:52] sharwell commented on #382
See the following for potential implementation assistance:

* DotNetAnalyzers/StyleCopAnalyzers#954
* DotNetAnalyzers/StyleCopAnalyzers#953

[2015-07-17 19:15] carloscds commented on #382
@sharwell Thanks.

[2015-07-20 07:38] der-andy commented on #408
:+1: Sounds good. I don't know how these analyzers work in detail. But I assume that you do check what variables are declared, otherwise you wouldn't be able to suggest `nameof`. So I think you should remember the line number of the declaration and only suggest `nameof` in lines below the declaration.

[2015-07-20 10:55] AlbertoMonteiro commented on #408
Can I fix this?

[2015-07-20 13:23] jwooley commented on #408
Line numbers will only work for method local fields. Class scoped fields are available regardless of declaration location. If you fix this, please try to update the VB version as well or let me know the C# fix and I can apply to VB if necessary.

[2015-07-21 03:21] dgmachado commented on #407
I agree that it would be wise to separate this into two rules. This var usage rule applied to number types can induce to errors. For example, the following sentence will launch the compiler error CS0031:

If you use the following sentence nothing will be launched:

[2015-07-21 13:36] davebeaumont opened #409 "Bug: DisposableVariableNotDisposedCodeFixProvider throws when object creation is being passed as an argument (CC0022)"
When using this extension on Visual Studio Professional 2015.  On Existing and new Projects.
I, and a few work colleagues receive multiple errors when clicking the yellow Bulb.

After enabling them, the same error occurs.

Screenshot attached.
![codecracker](https://cloud.githubusercontent.com/assets/13435595/8801924/c8f7c620-2fb5-11e5-8e72-65d249a53f7a.PNG)

[2015-07-21 15:03] giggio commented on #409
@davebeaumont What VS 2015 version are you using? RTM? If it is RTM it will not work and raise all types of errors. We will release a version compatible with RTM today. AFAIK these analyzers are not raising errors, I need an specific solution where the problem is raised for each, if you can help us pinpoint the problem.

[2015-07-21 15:23] davebeaumont commented on #409
@giggio Thanks for your help and such a quick reply, I can confirm this is RTM.  I will try again after the next release.  Thanks again.

[2015-07-21 16:20] giggio commented on #409
Ok, I will close the issue. If you find the problem on the next version let us know.

[2015-07-21 19:29] thorgeirk11 opened #410 "Incorrect spacing in string interpolation (CC0048)"
Incorrect spacing in string interpolation (CC0048)
---
The code fix for  [CC0048](https://code-cracker.github.io/diagnostics/CC0048.html) transforms the following code
[code]
Into
[code]
Since spaces inside an expression have no effect the desired result should be
[code]

[2015-07-21 20:48] giggio opened #411 "BUG: CopyEventToVariableBeforeFireCodeFixProvider throwing"
In this method, that was found on `FixAllDiagnosticProvider.cs` the `CopyEventToVariableBeforeFireCodeFixProvider` is throwing:

[code]

Probably because it is an expression bodied member.

[2015-07-21 20:56] giggio opened #412 "BUG: XmlDocumentationCreateMissingParametersCodeFixProvider throws when there are only remarks"
This will make `XmlDocumentationCreateMissingParametersCodeFixProvider` throw:

[code]

[2015-07-21 21:24] AlbertoMonteiro commented on #412
I can fix that

[2015-07-21 23:41] giggio commented on #412
@AlbertoMonteiro Go for it!

[2015-07-22 00:20] AlbertoMonteiro commented on #412
@giggio I updated my vs 2015 to latest vesion(RC) and now I cant build the solution

[2015-07-22 00:36] carloscds commented on #412
@AlbertoMonteiro Are you using RC or RTM ?

[2015-07-22 00:41] AlbertoMonteiro commented on #412
@carloscds RTM

[2015-07-22 01:49] giggio commented on #412
Yes, HEAD is not usable on RTM.

[2015-07-22 01:55] giggio commented on #408
Bug confirmed.
@AlbertoMonteiro You are already working on another issue. After you are done with that one you can start this one if no one picked it up. :)

[2015-07-22 02:03] giggio commented on #404
@OsirisTerje Ok, I have updated the description with what we have discussed and I am marking it as up for grabs. Anyone that starts to work on it, look closely into this thread, as it may evolve.

[2015-07-22 02:10] giggio commented on #407
I agree to change CC0001 so that it does not apply to primitives. `string` is not a primitive, but just to reinforce: I would leave string still raising `CC0001`, like: `string a = "";`.
And I agree to create a different one that would apply to primitives and complement `CC0001`. I think it should be enabled by default, and the user can always disable it if they want. So this way we maintain the c

[2015-07-22 02:50] dgmachado commented on #407
I agree with you @giggio.

[2015-07-22 03:39] #411 closed

[2015-07-22 14:23] OsirisTerje commented on #407
Agree

[2015-07-22 15:23] #410 closed

[2015-07-23 00:40] dgmachado opened #415 "Bug on compiling code-cracker commit dc6c8d5daa9ede05c1f9e59db2889eba5d4a9fba"
![code-cracker-1](https://cloud.githubusercontent.com/assets/5738416/8840546/1f1e46ba-30b9-11e5-9652-8ad37f0721bc.png)

![code-cracker](https://cloud.githubusercontent.com/assets/5738416/8840461/ddb52870-30b7-11e5-888f-093d7cc2d449.png)

[2015-07-23 01:18] giggio commented on #415
Yes, HEAD is at RTM now, you are using VS 2015. Update and it will compile. :)

[2015-07-23 01:18] #415 closed

[2015-07-23 02:04] giggio commented on #409
@davebeaumont Nugets and Extensions have been updated to work with RTM. Current version is 1.0.0-rc1. Please try it out and let us know if you find any problem.

[2015-07-23 02:47] #408 closed

[2015-07-23 02:54] giggio opened #417 "Provide an equivalence key on all code fix providers"
This is raising `RS1010`. We will also need to update the tests.

[2015-07-23 02:58] giggio commented on #293
@carloscds I think I know how to fix this. I am taking a look at it right now.

[2015-07-23 03:30] dgmachado commented on #415
Thanks it worked!!!

[2015-07-23 04:49] giggio commented on #293
@carloscds
I just tried verifying if the field was still readonly before offering a fix. It kind of worked, but not as I expected. See 77b62ba for how I tried it in my private branch.
What happens is that Visual Studio is caching the code fix registration. So, if I were to ask for a code fix, but not apply it, then go and add an assignment to the field, and then ask again before the next compilati

[2015-07-23 08:45] davebeaumont commented on #409
This is now working well after updating, however I have noticed one small issue this morning that is generating the same error as in the above screenshot.
Code example is:

       static void Main()
        {
            Application.EnableVisualStyles();
            Application.SetCompatibleTextRenderingDefault(false);
            Application.Run(new Form1()); --This Line States Form1 should be di

[2015-07-23 08:59] thomaslevesque commented on #404
Actually, it's not. Some unit test frameworks don't use attributes at all, only conventions (e.g. [Fixie](https://github.com/Fixie/Fixie)).

[2015-07-23 10:47] SJMakin opened #418 "CC064 invalid error"
I believe that an error is being generated incorrectly

The code:

    Public Shared Function ToEnum(Of TEnum)(ByVal value As Object) As TEnum
        Dim rawValue As String = value.ToString()
        Dim result As TEnum
        Try
            result = DirectCast([Enum].Parse(GetType(TEnum), rawValue), TEnum)
        Catch ex As ArgumentException
            result = Nothing
        End Try

[2015-07-23 13:44] giggio commented on #409
Bug confirmed.

[2015-07-23 13:47] giggio commented on #409
To repro:

[code]

[2015-07-23 14:10] giggio commented on #418
Bug confirmed. `CC0064` is incorrectly being raised on `Enum.Parse`. A simpler repro:

[code]

[2015-07-23 14:13] giggio commented on #404
@thomaslevesque I don't think we need to work with every possible test framework. Working with the main ones is enough. People using other frameworks can disable the analyzer for the test project or supress it on test classes. It should be enough.

[2015-07-23 14:37] giggio commented on #417
Lots of info on equivalencekey here: https://github.com/dotnet/roslyn/blob/master/docs/analyzers/FixAllProvider.md

[2015-07-23 14:41] sharwell commented on #417
For that you get :star2:

[2015-07-23 15:13] sharwell commented on #417
Article suggests using the title for the default equivalence key. I think we're going to use `nameof(CurrentCodeFixClass)` instead since all of our titles come from localizable resources.

[2015-07-23 16:20] giggio commented on #417
We are using that as well, but when we have more than one key we are using the title or some other arbitrary value.

[2015-07-23 17:23] giggio opened #419 "Bug: RemoveUnusedVariablesCodeFixProvider is throwing on CatchDeclarations"
This will raise `CS0168` and make RemoveUnusedVariablesCodeFixProvider throw if you ask for a fix on the variable `ex`.

[code]

@adraut is working on it.

[2015-07-23 17:35] #417 closed

[2015-07-23 17:39] jwooley commented on #408
Does this fix need to be added to the VB implementation as well?

[2015-07-23 17:53] thomaslevesque commented on #65
I started work on this one and I'm making good progress, I should be able to submit a PR today

[2015-07-23 17:58] giggio commented on #408
@jwooley Probably. Good call. I will open an issue.

[2015-07-23 17:59] giggio opened #420 "CC0021: nameof(x) suggested before x is declared (VB)"
Same as #408, for VB.

@jwooley is working on it.

[2015-07-23 17:59] giggio commented on #408
@jwooley Issue #420. If you want it let us know.

[2015-07-23 18:49] jwooley commented on #408
I’ll take it since I did the last port.

From: Giovanni Bassi [mailto:notifications@github.com]
Sent: Thursday, July 23, 2015 2:00 PM
To: code-cracker/code-cracker <code-cracker@noreply.github.com>
Cc: Jim Wooley <jimwooley@hotmail.com>
Subject: Re: [code-cracker] CC0021: nameof(x) suggested before x is declared (#408)

@jwooley <https://github.com/jwooley>  Issue #420 <https://github.com/code-cra

[2015-07-23 19:23] dgmachado commented on #1
Ok, it's my first PR in this project. I'll try do this. Could you assign it to me?

[2015-07-23 21:02] giggio commented on #420
@jwooley It is your, as you asked for it. I added you to the collaborators team on Github, see if you can accept so I can assign the task to you.

[2015-07-23 21:16] giggio commented on #1
@dgmachado It is yours. I have invited you to the collaborators team, when you accept I will be able to assign it you. You can already start.

[2015-07-23 21:17] giggio commented on #1
@dgmachado BTW, there was a lot being dicussed in this thread. Please read the whole thing and if you have any questions let us know.

[2015-07-23 21:22] jwooley commented on #420
I'm not sure where to see the accept option.

[2015-07-24 03:22] dgmachado commented on #1
My idea would be don't show any code fixes for the analyzer. We simply validate the color and offer no code fix just a message error if there is a error on parsing.

**Scenario 1 -  Valid data types input:**
Obs: Analyzer does not create diagnostic
[code]

**Scenario 2 -  Invalid data types input:**
Obs: Analyzer creates diagnostic
[code]

**Scenario 3 - Ignore validation for not literal expressio

[2015-07-24 12:30] dgmachado commented on #1
Only to justify why I don't think that we should include include a code fix for suggest substitute the parameter "#FFF" to Color.White like some opinions above. We have so many valid data types input, why choose just this one? And if we decide to do it I think that would be a new one analyzer marked as an warning and category style. What do you think?

[2015-07-24 12:51] viniciusmelquiades opened #424 "BUG in CC0061 when the method is a override from a base class"
When I was writing a Owin Middleware, using Microsoft.Owin DLL, Code Cracker suggested me to rename the Invoke method, that is defined in the OwinMiddleware class, to InvokeAsync, but if I do so, the compilation obviously fails. I think this will also happen if it were an interface.

The code bellow will reproduce the problem.
[code]

[2015-07-24 15:10] giggio commented on #1
This analyzer will not have a corresponding fix. It is just like the Uri analyzer, and the regex analyzer.

[2015-07-24 15:12] giggio commented on #1
And I am fine with the test cases you created. They seem correct.

[2015-07-27 03:30] jwooley commented on #420
Pull request issued.

[2015-07-27 11:37] thorgeirk11 opened #429 "CC0017 Change to auto property has Incorrect description"
The description presented by the light bulb is "Change to string interpolation" where it should be "Change Foo to an auto property".

![image](https://cloud.githubusercontent.com/assets/2693474/8905007/bb579ff2-3453-11e5-9dad-ebd644a7c79d.png)

Code

[code]

[2015-07-27 13:38] paulomorgado opened #432 "CC0022 disposable intantiation on constructor call"
CC0022 is being reported on code like this:

    public EntitiesController() : this(new EntitiesDataContext())
    {
    }

Should this be detected as not an issue? Or is it better that it is explicit the reason why it's not being disposed?

[2015-07-27 13:43] paulomorgado opened #433 "CC0021:Use nameof on ActionNameAttribute"
On code like this:

    public ActionResult Create()
    {
        return this.View();
    }

    /// <remarks>POST: /Holidays/Create</remarks>
    [HttpPost]
    [ActionName("Create")]
    [ValidateInput(false)]
    [SuppressMessage("Design", "CC0021:Use nameof", Justification = "MVC action name.")]
    public async Task<ActionResult> CreateAsync(HolidayViewModel viewModel)
    {
        ...

[2015-07-27 13:54] paulomorgado opened #434 "CC0057 unused parameter should offer a suppress option"
Some APIs require some parameters. Instead of just removing the  parameter, there should be an option to suppress the warning.

[2015-07-27 17:50] #412 closed

[2015-07-27 18:23] giggio commented on #424
Bug confirmed. `TaskNameAsyncAnalyzer` should not create a diagnostic for `override` and also `new`.

[2015-07-27 18:41] giggio commented on #432
It is being passed in, it shouldn't be reported.

[2015-07-27 18:49] giggio commented on #433
@paulomorgado I am not sure we should make it hidden, because it is very important to point out string uses of names. But I do agree this is incidental. But not on your case, actually, you want both actions to have the same name, so "Create" actually really refers to the other method name.

Today this is a `Warning`. Maybe bring it down to an `Info`?

I have been bit but this same problem. What I

[2015-07-27 18:59] giggio commented on #434
@paulomorgado Suppressing analyzers is available by default on Visual Studio for all diagnostics. What else do you have in mind?

[2015-07-27 19:04] giggio opened #436 "BUG: ChangeAnyToAllAnalyzer is throwing"
When calling `GetSpeculativeSymbolInfo`. On this line: https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Refactoring/ChangeAnyToAllAnalyzer.cs#L62

Probably affecting VB as well.

This is the stack trace:

[code]

[2015-07-27 19:27] paulomorgado commented on #432
:+1:

[2015-07-27 19:35] paulomorgado commented on #433
I'm really not sure what I think should be done. I wonder if someone else has an opinion.

[2015-07-27 19:44] thomaslevesque opened #437 "Doc comments for parameters in wrong order (XmlDocumentationCreateMissingParametersCodeFixProvider)"
I noticed this one when I ran the tests with ReSharper's unit test runner. 4 tests are failing, even though they work in the VS test runner:
[code]
For the first one, for instance, the result is this:
[code]

instead of this:
[code]
(note how the `workspace` param ended up at the top of the list, even though it's the last parameter)

I first thought it was a quirk in R#, but it's actually a real b

[2015-07-27 19:46] #429 closed

[2015-07-27 19:48] giggio commented on #419
Closed on #426.

[2015-07-27 19:48] #419 closed

[2015-07-27 19:57] #437 closed

[2015-07-27 19:58] thomaslevesque commented on #437
Wow, fastest PR ever ;)

[2015-07-27 20:08] giggio commented on #437
\o/

[2015-07-28 00:40] adraut commented on #433
Seems like info is more appropriate.  Warning to me means something could potentially be broken and this is more of a "proper way to do it " rule.

Is there an equivalent rule for the member referenced by the string not existing in the scope?  I guess that would be an error instead of a warning, though.

[2015-07-28 00:51] giggio commented on #433
@code-cracker/owners What do you think? I also vote for changing it to `Info`.

[2015-07-28 00:55] adraut commented on #60
Is hidden really the correct level for this?  Seems to me that warning is the correct level when IEquatable<T> is implemented on a value type and Equals or GetHashCode are not overridden.

CA can take care of the rest because there is already a CA rule for equals on value types https://msdn.microsoft.com/en-us/library/ms182276.aspx.  That leads to needing to override GetHashCodehttps://msdn.micros

[2015-07-28 02:23] jwooley commented on #420
Updated pull request against Master for bug fix and fixed syntax error in unit test.

[2015-07-28 02:35] jwooley commented on #436
Unable to repro with VB version. Can you build a failing unit test to trigger this error?

[2015-07-28 02:46] jwooley opened #440 "Update VB Allow Members Ordering to work with Modules"
The current VB implementation of AllowMembersOrdering works with Classes, but not Modules. The implementation should be extended to support modules as well.

[2015-07-28 02:50] giggio commented on #420
Closed on #439.

[2015-07-28 02:50] #420 closed

[2015-07-28 02:52] giggio commented on #440
@jwooley agreed.

[2015-07-28 03:30] jwooley commented on #440
I have a fix for it already. Also found some other bugs while testing through the vsix. Will create a pull request off of master to fix these.

[2015-07-28 04:02] jwooley commented on #360
If the resources are in common, we need to be careful how the wording will work across both the C# and VB projects. For example, in the screenshot supplied, the NameOfAnalyzer_Description is applicable in C#, but is incorrect for VB which should be in VB 14, the NameOf() operator ... Some resources can be shared between projects, but not all. We need to consider how to handle both scenarios correc

[2015-07-28 04:51] giggio commented on #360
If they are specific for C#, they should be moved to the C# project resources. But I think we can rewrite this specific one to be more language agnostic. If it does not hurt expressiveness, then I believe that is the way to go.

[2015-07-28 10:59] #440 closed

[2015-07-28 11:16] carloscds commented on #433
For me, it is logical to keep the action name and the name of the same method. In this case.

[2015-07-28 12:21] gandarez commented on #360
Good job @giggio

[2015-07-28 14:09] giggio commented on #60
@adraut This issue is only about implementing the interface. It says nothing about `Equals`, `GetHashCode`, or `==`.
Maybe we could add that if we implement the interface, we already override `Equals`, `GetHashCode` and `==`. What do you think? Also, #50 is already pending on that one.

[2015-07-28 14:34] adraut commented on #60
@giggio I get it now.  Thank you for clarifying.

[2015-07-28 17:54] adraut commented on #418
@giggio Should I add to the analyzer to also cover the TryParse method or should that be done in a different issue?

[2015-07-28 22:52] giggio commented on #418
@adraut Seems like a different issue to me.

[2015-07-28 22:53] #418 closed

[2015-07-28 23:27] adraut commented on #432
Would this also fix #409?

[2015-07-28 23:45] thorgeirk11 commented on #432
Can I try to tackle this ?

[2015-07-29 00:10] giggio commented on #432
@thorgeirk11 Sure, go ahead.

[2015-07-29 00:20] thorgeirk11 commented on #432
Just to be sure, CC0022 should not be reported on disposable objects created as argument ?

[code]

[2015-07-29 00:52] giggio commented on #432
@thorgeirk11 It is complicated...

At the time it made sense, but I can see now that it makes sense to not report it at least on some of those situations.
One could argue that if the object is being created and directly passed into a method, that the method that created it does not want to control it's lifetime.
On the other hand, it might have to.

How about this: we raise the diagnostic on metho

[2015-07-29 00:56] giggio commented on #409
The disposable problem is being tracked on #432.

[2015-07-29 00:56] #409 closed

[2015-07-29 00:57] giggio commented on #432
@adraut Yes, I closed #409.

[2015-07-29 03:42] #424 closed

[2015-07-30 03:29] thorgeirk11 commented on #432
Alright think I have done the all of the above however what is the expected behavoiur on the following ?

[code]

[2015-07-30 16:02] paulomorgado commented on #432
@thorgeirk11, that one should be disposed.

But, unless you can observe the whole lifetime of the object, you can't really know how it's being used.

[2015-07-30 18:30] giggio opened #448 "Bring analyzers from roslyn-analyzers?"
The Roslyn team has created an analyzers project: https://github.com/dotnet/roslyn-analyzers
Their license is the same as ours (Apache v2). There is an opportunity to bring some of their analyzers here, the ones we find interesting, of course, with some modifications.
What do you think? Let's discuss it.

[2015-07-30 19:42] giggio opened #449 "Move to project.json"
Nuget 3 supports project.json. Evaluate if it works with CodeCracker.

More info: http://blog.nuget.org/20150729/Introducing-nuget-uwp.html

[2015-07-31 07:32] paulomorgado opened #450 "CC0091 Methods prefixed with this"
This fix can make code uncompilable if the method access is being prefixed with `this`.

That's an hard one, but the fix should fix the code by removing the `this` prefix or changing to info it it's being prefixed.

[2015-07-31 07:36] paulomorgado opened #451 "CC0091 Know APIs"
Methods like `Application_Start` on classes derived from `System.Web.HttpApplication` cannot be made static.

There should be a list of wellknown exceptions to this rule.

Global methods from `System.Web` (taken from [MSDN](https://msdn.microsoft.com/en-us/library/ee255122%28v=bts.10%29.aspx)):

* Application_AuthenticateRequest
* Application_BeginRequest
* Application_End
* Application_EndRequest

[2015-07-31 18:28] adraut commented on #436
I've tried a few different 'complex' statements for the C# one couldn't get it to throw an exception either.

[2015-08-01 16:14] bmenees opened #452 "CC0029 DisposablesShouldCallSuppressFinalizeAnalyzer throws InvalidCastException"
I'm getting an error that says AD0001, The User Diagnostic Analyzer 'CodeCracker.CSharp.Usage.DisposablesShouldCallSuppressFinalizeAnalyzer' threw an exception of type 'System.InvalidCastException' with message 'Unable to cast object of type 'Microsoft.CodeAnalysis.CSharp.Syntax.ThisExpressionSyntax' to type 'Microsoft.CodeAnalysis.CSharp.Syntax.IdentifierNameSyntax'.'.

I can't tell which type it

[2015-08-01 20:26] adraut commented on #452
This is definitely a bug.  I'm working on it.

[2015-08-02 00:37] adraut commented on #448
What's the logic behind duplicating analyzers?  There's already some here that are done by code analysis, which I don't understand either.

[2015-08-02 12:31] adraut commented on #371
This would be really annoying for creating libraries.  It is very common to mark methods and properties as virtual if even they are never overridden in your own library.  This would be really annoying when using things like Entity Framework since it's required to mark properties virtual for relations, but the method isn't overridden until runtime when the proxy is generated.  In my opinion this wo

[2015-08-02 12:35] adraut commented on #372
This also on the list of not really worth it in my opinion.  Marking things sealed can make unit testing complicated because it makes all the easy ways to override behavior useless.

[2015-08-02 12:42] adraut commented on #84
Code analysis does this already.  Do we need to create an analyzer here for it, too?

[2015-08-02 12:42] adraut commented on #85
Code analysis already does this.

[2015-08-03 13:34] giggio commented on #1
Closed on #446.

[2015-08-03 13:34] #1 closed

[2015-08-03 14:03] #452 closed

[2015-08-03 14:07] giggio commented on #452
@bmenees Fixed on build 741, already pushed to Myget.

[2015-08-03 14:20] giggio commented on #450
Ok, so you mean that this is happening?

[code]

Turned into:

[code]

I just tried it, and it actually removes the `this` inside `Bar`.

[2015-08-03 14:21] giggio commented on #451
Ok, it makes sense. Let's try to build one. We already know `Application_Start`. All of the System.Web lifecycle should be ignored, right? What else?

[2015-08-03 14:23] giggio commented on #451
I added the System.Web ones to the description.

[2015-08-03 14:25] giggio commented on #448
The Code Analysis ones don't run with Roslyn (at least yet).
For me, the logic is that people can come to one place to get analyzers. But that is up for debate, that is why I created this issue.

[2015-08-03 14:26] giggio commented on #371
That is fine. We might even deliver it disabled, then.

[2015-08-03 14:27] giggio commented on #371
For me, the main problem is the one I stated on the 1st comment: it would be really hard to run, and we are already having problem with other analyzers that analyze in a similar way (using compilation end). See #293.

[2015-08-03 14:28] giggio commented on #372
Maybe we could make it an info, or deliver it disabled. I see value in it. But the problem is the same one from #293.

[2015-08-03 14:29] giggio commented on #84
Hey, @adraut does have a point. I am also worried about the performance impact. Should we close this?

[2015-08-03 20:26] paulomorgado commented on #450
It was something like this:

    public async Task<ViewResult> IndexAsync()
    {
        try
        {
            var viewModel = await this.dataContext.ScheduledTasks.All
                .Include(scheduledTask => scheduledTask.TaskStatus)
                .Include(scheduledTask => scheduledTask.TaskPriority)
                .Include(scheduledTask => scheduledTask.TaskType)
                .Inclu

[2015-08-03 22:31] giggio commented on #450
Ok, I will close the issue. If you can find an example we can reproduce, then we reopen it.

[2015-08-03 22:31] #450 closed

[2015-08-04 03:26] giggio commented on #404
Closed on #444.

[2015-08-04 03:26] #404 closed

[2015-08-04 03:30] giggio commented on #404
If anyone wants this before we release, it is on `1.0.0-rc1-0746` on myget.

[2015-08-04 11:06] carloscds commented on #448
@giggio Your ideia is copy analyzer to CC ?

[2015-08-04 11:53] giggio commented on #448
Copy and adapt.

[2015-08-04 12:01] carloscds commented on #448
Ok.

[2015-08-04 12:06] giggio opened #459 "Bug on InterfaceName Fix all"
There is a skipped test on `InterfaceNameTests.cs`

[code]

[2015-08-04 12:16] giggio commented on #459
@carloscds I am uploading a test case. Just a minute.

[2015-08-04 12:19] giggio commented on #459
Actually, my test was wrong. There is no bug.

[2015-08-04 12:19] #459 closed

[2015-08-04 12:25] carloscds commented on #459
@giggio ok.

[2015-08-04 12:28] giggio commented on #352
@adraut Thanks for all those tests! I just recommend you search for bugs on these tests, trying to make the code fix provider + fix all provider (usually batch fixer) break. The Batch fixer simply diffs things and apply them, so if a code action changes the same node, the fix all might break.
Take a look at some changes I made to try to break the tests on 2f0d948. Fortunately, no bugs found. :)

[2015-08-12 16:06] #432 closed

[2015-08-17 20:37] mc0re commented on #418
Same goes for other Parse() functions (Integer.Parse, Double.Parse, Byte.Parse).

[2015-08-17 20:43] mc0re opened #460 "Out of place NameOf suggestion"
The following line:

<CodeAnalysis.SuppressMessage("Style", "CC0013:Use Ternary operator.", Justification:="...")>

produces message CC0021 for word "Style", suggesting to use "NameOf(Style)" instead. This is certainly not a place where you might want to rename anything.

[2015-08-17 20:53] mc0re opened #461 "Erroneous CC0039 message"
In this code:

	Private Sub AdjustSample(readBuffer() As Single, ByRef readIdx As Integer, writeBuffer() As Single, ByRef writeIdx As Integer)
		If mIsMuted Then
			For chIdx = 0 To mDestChannels - 1
				writeBuffer(writeIdx) = 0
				readIdx += 1
				writeIdx += 1
			Next
...

there is an erroneous warning "Don't concatenate 'readIdx' in a loop".

[2015-08-17 20:55] mc0re opened #462 "Incorrect CC0029 message"
In the following code:

	Public Sub Dispose() Implements IDisposable.Dispose
		' Do not change this code.  Put cleanup code in Dispose(disposing As Boolean) above.
		Dispose(True)
		GC.SuppressFinalize(Me)
	End Sub

there is a message CC0029, saying that GC.SuppressFinalize should be called inside Dispose method. It is!..

[2015-08-19 03:28] adraut commented on #462
@mc0re @code-cracker/owners This was already fixed on #452.

[2015-08-19 05:33] mc0re commented on #462
Ok, I'll wait for the new release then :-)

[2015-08-19 05:33] #462 closed

[2015-08-19 07:18] adraut commented on #460
@mc0re Your sample text did not get saved.  Could try posting it again?

[2015-08-19 15:38] giggio commented on #461
I am not being able to repro this. Are you getting this message with the latest version of CodeCracker?
I will close the issue until we find a test case that can be reproduced. Please let us know.

[2015-08-19 15:43] giggio commented on #418
@mc0re This should not affect other parse functions after the fix on #418. We have not yet published this update. I am thinking of releasing an RC2 before 1.0, so this bugs already fixed don't have to be waiting.

[2015-08-19 15:45] adraut commented on #461
@giggio  I had no problem reproducing this with code from master.  Where is our disconnect?

[2015-08-19 15:52] giggio commented on #460
@adraut He had the code without scaping, I updated it.

[2015-08-19 15:53] giggio commented on #460
@mc0re NameOfAnalyzer will check for anything in context. If an identifier `Style` is context, it will offer to use nameof there. Why is that a problem?

[2015-08-19 15:57] giggio commented on #461
@adraut I added the test from @mc0re PR (#461) on 252e6dd, and it passed: https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.759
This is the current HEAD on master. Does it match for you?
I need a test case that I can repro.

[2015-08-19 16:15] giggio commented on #436
Weird. I can't remember where I found this, I will close it then.

[2015-08-19 16:15] #436 closed

[2015-08-19 16:34] adraut commented on #461
@giggio Change the parameter to ref parameter.  That's what causes the problem.  The non-ref parameter becomes a local which the diagnostic checks for already and is why your test passes.  It should be like the test in aef112b38afceb6543c28fd2966930e66808353e

[code]

[2015-08-19 17:50] giggio commented on #461
@adraut No, it still does not raise `CC0039`. I added another test on 5f54e6a. You can see the build still passes: https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.765
Also, you can't have a default on a `ref` parameter, that will raise `CS1741`. But I tried it just like that, and it also did not raise `CC0039`.

[2015-08-19 18:04] adraut commented on #461
@giggio Ok, then it is not broken in C#, but it definitely is in VB.  I blindly did the C# after confirming and fixing for VB.

[2015-08-19 19:05] mc0re commented on #461
Thanks @giggio - I missed the previous notification. It is about VB code.

[2015-08-19 19:09] mc0re commented on #460
Because exactly in this case, `Style` is a string, a keyword, and not a name of the `Style` class. And it can't be a name for `SupressMessageAttribute`. May be, one could mark such places somehow, so the NameOf check skips them?

[2015-08-19 19:54] giggio commented on #460
Style is not a keyword. It might be coming from a namespace. The discussion would be what types of identifiers we would like to ignore, and in which situations. Do we want to ignore namespaces, for example? And why?

[2015-08-19 20:00] giggio commented on #461
Bug confirmed on VB.
I will look into the PR again.

[2015-08-19 20:26] #461 closed

[2015-08-20 10:40] mc0re commented on #460
I meant, `Style` there is a fixed string (like a keyword in some language), independent of the class or other names.
I suggest some markup, e.g. an attribute `NoNameOfAttribute` or some comment, which defines, that for a certain method/constructor parameter or for a certain field/property of a class NameOf checks should be disabled.

[2015-08-20 21:40] giggio opened #465 "DisposableVariableNotDisposedAnalyzer (CC0022) should not raise a diagnostic when returning a type that contains the disposable"
`CC0022` should not be raised whenever there is a chance that the object lives longer than the method where it was created in.

It should not be raised when assigned to a field/property from another class.

[code]

It should not be raised when passed to any method, in the same class or otherwise:

[code]

**Note**: This is coming from a comment on the extension, on [the extensions gallery](https:/

[2015-08-20 21:50] giggio opened #466 "Bug on DisposableVariableNotDisposedAnalyzer (CC0022) when returning a disposable"
This should NOT raise a diagnostic:

[code]

If the method returned `MemoryStream`, the diagnostic is already not being raised. Like so:

[code]

[2015-08-20 22:45] giggio commented on #460
To be able to use an attribute we would need to create an assembly that people would then reference on their projects. I am not sure that we want to do that, but I am open to work with the idea.
On C# you can disable the analyzer on that line easily, like that:

[code]

But that does not exist on VB.

[2015-08-21 05:26] mc0re commented on #460
What about a comment? I know, Roslyn parser can also traverse comments. So something specially formatted could be spotted.

[2015-08-22 15:47] #466 closed

[2015-08-22 16:24] giggio commented on #460
Hey, you are right. We could do that. We could look into it like that:

[code]

That is actually a great idea. We could maybe implement that for all VB analyzers, always check for this comment before. C# has `pragma warning disable`, VB could have that, at least for CodeCracker.
I like it.

[2015-08-22 18:42] mc0re commented on #460
Well, that's great, but not exactly what I was thinking about :-)
I was thinking more like disabling a warning altogether, like:

[code]

and maybe:
`' CC0021 disable always for CodeAnalysis.SuppressMessage.Argument1`

[2015-08-23 20:40] thorgeirk11 commented on #151
Is it ok if I try to tackle this ?

[2015-08-24 01:16] giggio commented on #151
Go for it.
Remember to fork from the `vnext` branch, not from `master`.

[2015-08-24 01:20] giggio commented on #460
It would be easy to implement it for a comment on a direct method, all we have to do is check the trivia.
But for anything else, it would be **really** hard. If we had a loose comment on a .vb file, to be able to get it to work, we would have to gather **all** comments from the whole compilation, and only on compilation end we could then decide what analyzers should report or not. This would actua

[2015-08-24 01:34] giggio commented on #397
Bug confirmed. @monoman sorry, I don't know how I missed this.

[2015-08-24 01:35] giggio commented on #434
@paulomorgado I am closing the issue, if you want to discuss it further let us know.

[2015-08-24 01:35] #434 closed

[2015-08-24 01:37] giggio commented on #190
@andrecarlucci Do you plan to come back to this? If not, can you elaborate on what was in your plans?

[2015-08-24 01:46] giggio commented on #405
@OsirisTerje I just tried it and I can't get error to show:

![add](https://cloud.githubusercontent.com/assets/334958/9431475/895ca772-49e8-11e5-9e38-28155294df00.png)

We have updated CodeCracker and stabilized a lot of the analyzers. Can you please try it with the current release, which is `rc2`, using VS 2015 RTM?

I will close the issue, if you still have it let us know, we will work to fix it

[2015-08-24 01:46] #405 closed

[2015-08-24 01:47] giggio commented on #307
@julianosaless How is this coming?

[2015-08-24 01:49] giggio commented on #118
@Kavignon How is this coming?

[2015-08-24 01:50] giggio commented on #88
@gandarez How is this coming?

[2015-08-24 01:50] giggio commented on #50
@kalkie How is this coming?

[2015-08-24 01:51] giggio commented on #25
@fholiveira I am returning this to "up for grabs", ok? If you want to work on it let us know.

[2015-08-24 01:52] giggio commented on #29
@GersonDias How is this coming? Are you still going to work on it?

[2015-08-24 01:53] giggio commented on #65
@thomaslevesque How is this coming?

[2015-08-24 01:54] giggio commented on #80
@robertorodrigues Are you still going to work on this issue?

[2015-08-24 02:17] giggio commented on #293
@carloscds @ElemarJR I need your opinion here. Otherwise I will remove this analyzer. We need to fix this to the 1.0 release.

[2015-08-24 07:18] thomaslevesque commented on #65
Hi @giggio,

PR #422 was merged a while ago, which should have closed the issue automatically... not sure why it didn't. As far as I'm concerned, it's done.

[2015-08-24 07:59] thomaslevesque commented on #65
Actually I think the issue wasn't closed automatically because the PR was merged into vnext, not master.

[2015-08-24 14:29] #65 closed

[2015-08-24 14:30] giggio commented on #65
Right... That's why I couldn't find the files you worked on. I was looking on master. Sorry about that. Thanks!

[2015-08-24 17:10] andrecarlucci commented on #190
I'll do it, just give me a week :)

[2015-08-24 18:58] GersonDias commented on #29
@giggio unfortunately I wont have time to work in this. You can put this back to backlog... free for grabs.

[2015-08-25 13:39] mc0re commented on #460
One could say that such comments should be defined either in direct relation to the attributed entity (e.g. right before the method in question) or in a predefined file (e.g. "CCAnnotations.vb").

[2015-08-27 12:11] gigazet opened #468 "CC0013 (user ternary) rule should be more careful with nullable types. (VB)"
for example, this:
    If value Is DBNull.Value Then
                    Return Nothing
    Else
                    Return CDate(value)
    End If
not equals to:
Return If(value Is DBNull.Value, Nothing, CDate(value))

first will return Nothing, but second will return DateTime.MinValue.

[2015-08-27 12:26] carloscds commented on #293
@giggio @ElemarJR It doesn't have any news in Roslyn about this. I guess that we can close it.

[2015-08-28 17:32] adraut opened #469 "CC0068 Reported Incorrectly for VB Event Handlers"
The following code causes CC0068 Method is not used to be reported.
[code]

[2015-08-28 17:35] adraut opened #470 "CC0014 for VB is reported when disabled"
CC0014 is being reported in VB even though it is disabled in the ruleset file.

[2015-08-28 17:40] adraut opened #471 "CC0068 is being reported in VB even though it is disabled in the ruleset file"
The following code is triggering CC0068 even though it is disabled in the ruleset file.
[code]

[2015-08-28 17:45] adraut opened #472 "CC0013 & CC0014 for VB is reported in generated code"
CC0013 is raised on line ```If (root1.Table.Rows.IndexOf(root1) < root2.Table.Rows.IndexOf(root2)) Then```
[code]

[2015-08-28 17:47] adraut opened #473 "CC0014 for VB is reported for generated code"
CC0014 is reported on the line ```If childFirst Then```
[code]

[2015-08-29 04:53] adraut commented on #473
Closing to combine with a duplicate issue.

[2015-08-29 04:53] #473 closed

[2015-08-29 05:14] adraut opened #476 "Add additional checks for determining if generated code"
#260 addressed most of the cases, but missed check for attributes ending with the Attribute suffix.
For example, the following should also check for DebuggerNonUserCodeAttribute and GeneratedCodeAttribute:
`[public static bool IsGenerated(this SyntaxNode node) => node.HasAttributeOnAncestorOrSelf("DebuggerNonUserCode", "GeneratedCode");]`

This is required to fix #472

[2015-08-29 17:39] giggio commented on #472
Closed on #477.

[2015-08-29 17:39] #472 closed

[2015-08-29 17:40] giggio commented on #476
Closed on #477.

[2015-08-29 17:40] #476 closed

[2015-08-29 18:33] #469 closed

[2015-08-29 18:39] giggio commented on #469
Also affecting C#. I will open an issue.

[2015-08-29 18:42] giggio opened #478 "CC0068 (method not used) Reported Incorrectly for explicitly implemented interface"
This will incorrectly raise `CC0068`:

[code]

[2015-08-29 18:43] giggio opened #479 "CC0091 (make method static) Reported Incorrectly for explicitly implemented interface"
This will incorrectly raise `CC0091`:

[code]

[2015-08-29 19:15] giggio commented on #460
Even in a predefined file we would have problems, because the compilation might not had run yet. It would cause the same problem I reported on the comment just before.

[2015-08-29 19:27] giggio commented on #293
Closed on 0acb2cf. It is again enabled, but will not be incorrectly fixed.

[2015-08-29 19:27] #293 closed

[2015-08-29 19:42] giggio commented on #468
Bug confirmed. This is a simple test that makes it explicit:

[code]

The problem seems to be that the ternary `If` operator results in a `Date`, and not in a `Date?`, and Nothing will be coerced by VB to `DateTime.MinValue`.
To fix this, we need to check the return type, if it is a nullable, and one of the return expressions might return null, this will always fail, and the analyzer should not re

[2015-08-29 19:48] giggio opened #480 "CC0013 (user ternary) rule should be more careful with nullable types (C#)"
This will incorrectly raise `CC0013`:

[code]

The resulting code would be:

[code]

Which does not compile.

This is related to #468 (VB), but in VB it does compile, but produces incorrect results.

[2015-08-29 19:50] giggio commented on #470
This would be a bug on Roslyn. I will close, I suggest you open it there: https://github.com/dotnet/roslyn/
They will probably ask you for a project to check the problem, try to make a simple one and link to the issue.

[2015-08-29 19:50] #470 closed

[2015-08-29 19:51] giggio commented on #471
Same thing from #470, this would be a problem on Roslyn itself. CodeCracker does not control this infrastructure.

[2015-08-29 19:51] #471 closed

[2015-08-29 19:53] adraut commented on #470
@giggio I disagree.  It appears that it is because the  diagnostic is nested in the analyzer for 13, 14, and 80.  Other disabled analyzers don't have this problem.

[2015-08-29 19:55] adraut commented on #471
@ giggio CodeCracker does control this to an extent because this diagnostic is nested with 13, 14 and 80, right?

[2015-08-29 20:55] giggio commented on #470
What do you mean, nested?

[2015-08-29 21:08] adraut commented on #470
@giggio I mean that in the `TernaryOperatorAnalyzer` for VB the `Analyzer` method can report both the `RuleForIfWithReturn` and `RuleForIfWithAssignment`.  It appears that based on this if CC0013 is disabled and CC0014 is enabled that CC0013 could still be reported.  The reverse situation appears to be possible if CC0013 is enabled and CC0014 is disabled that CC0014 could still be reported.

[2015-08-29 21:34] adraut commented on #471
@giggio You are correct that this is not a CodeCracker issue.  It's user error.  I did not have one of the projects in the solution using the same ruleset file as the rest.  Whoops.

[2015-08-29 21:39] adraut commented on #470
@giggio Please disregard.  Due to user error.  One of the projects in my solution was not using the same ruleset file.  It all works correctly.

[2015-08-29 22:33] giggio commented on #470
;)

[2015-08-29 23:25] sharwell commented on #480
Your example result doesn't seem to match the original condition. Is there a bug where the `if` and `else` branches are reversed, or was that a typo?

[2015-08-30 00:50] giggio commented on #480
@sharwell Right, fixed.

[2015-08-30 05:46] adraut commented on #468
I think I'm missing something here.  In what scenario is the result of the if block and the ternary different or an invalid syntax?  The following executes with the correct output for each call.

[code]

[2015-08-30 20:37] thomaslevesque commented on #480
How do you intend to fix this? Do you want to not raise the warning in this case, or to change the code fix so that it generates valid code?

[2015-08-30 22:20] giggio commented on #397
Closed on #475.

[2015-08-30 22:20] #397 closed

[2015-08-30 22:21] #478 closed

[2015-08-30 22:24] #479 closed

[2015-08-30 22:30] giggio commented on #468
@adraut If you run the code I posted just above yours you will see different results.
The difference is that the ternary operator is casting to Date, and in VB, when you cast null to date it will produce DateTime.MinValue, which is then returned.

[2015-08-30 22:31] giggio commented on #480
@thomaslevesque I was thinking about not raising, but now that you raised the question, we could do this on the fix:

[code]

So, simply casting the reference to the method's return type.

[2015-08-30 22:39] adraut commented on #468
@giggio OK I see it now.

[2015-08-31 09:41] mc0re commented on #460
You're right. The only way to assure the compilation order is to introduce a dependency from this predefined file, e.g. define something in it to be used in every file, which needs the comments. It's probably too much to ask the programmers to do...

[2015-08-31 11:28] gigazet opened #485 "Useles suggestion of CC0023 rule"
Useles suggestion of CC0023 rule. It will suggest to use StringBuilder, but d variable is defined inside for block.

static void TestCC0023() {
            for (var i = 0; i < 10; i++) {
                var d = i.ToString();
                d += " row";
                Console.WriteLine(d);
            }
        }

[2015-08-31 14:29] ImaginaryDevelopment commented on #357
can we pull this apart into two different code action/diagnoses? I'd really prefer to leave non-existent param documentation a warning, and turn off the warning for parameters not documented.

[2015-08-31 15:06] ImaginaryDevelopment opened #486 "CC0091 makes static keyword come before trivia"
![image](https://cloud.githubusercontent.com/assets/121276/9581909/28c0815c-4fd0-11e5-8ee0-4ec6d28d9e9e.png)

[code]

becomes

[code]

![image](https://cloud.githubusercontent.com/assets/121276/9581922/3a3a325c-4fd0-11e5-94f0-aaa3f248a075.png)

[2015-08-31 22:22] thomaslevesque commented on #480
I started working on this, then I realized that @adraut had already submitted a PR...

While working on my fix I realized that the 2 code fix providers (for return & assignment) would benefit from having a common abstract base class; there's a lot of logic that could be factorized. Also, it would probably be cleaner to use `SyntaxFactory.ConditionalExpression` rather than `SyntaxFactory.ParseState

[2015-08-31 22:41] adraut commented on #480
Sounds like @thomaslevesque has a better solution than mine.  I also had the thought that the proposed solution for this issue would better than what was proposed for #468.  I think I should close both PR's.

[2015-08-31 22:52] thomaslevesque commented on #480
I submitted my own PR as well, since it was almost done.

I also included the changes mentioned in my previous comments.

[2015-08-31 23:24] giggio commented on #480
That is why we ask people to comment on the issue, saying that they want to work on it, so we don't have two people working on the same issue.
I would usually select the first one and close the second one. But it seems @adraut is fine with we looking into @thomaslevesque 's. Is that ok, @adraut?

[2015-08-31 23:27] adraut commented on #480
@giggio yes that is fine.  I would rather the better solution be used.

[2015-08-31 23:49] giggio commented on #485
Bug confirmed.

[2015-08-31 23:49] giggio commented on #357
We can and it makes sense. I will open an issue.

[2015-09-01 00:00] giggio opened #488 "Update XmlDocumentation to raise 2 different diagnostic ids"
Use `CC0090` for incorrect params (params that exist in the docs but not on code) and `CC0097` for missing parameters (params that exist on code, but not on docs).
Make 90 an `Info`, and `97` a Warning.

[2015-09-01 00:01] giggio commented on #357
@ImaginaryDevelopment Opened issue #488 to deal with that. It should be really simple, so I added it to the stable 1.0 release, which should be soon.

[2015-09-01 00:13] giggio commented on #486
Bug confirmed.

[2015-09-01 03:13] #480 closed

[2015-09-01 03:45] giggio commented on #468
Should also fix assingment:

[code]

[2015-09-01 11:59] sharwell commented on #488
CC0090 duplicates compiler warning CS1572. Since the severity of this compiler warning can be configured in a rule set file and you can create a code fix which uses this ID, the CC-specific warning for it can be removed.

[2015-09-01 12:26] giggio commented on #488
It will only show up when you ask for it using /doc, or change the ruleset file. We should keep it.

[2015-09-01 12:39] giggio opened #489 "Prefer "Count" to "Count()""
If it is an `IList` or some other object that has `Count` as a property, don't use the Linq extension method.

So this:

[code]

Becomes:

[code]

**Important**:
`Count` and `Count()` have to return the same type.
`Count()` has to be an extension method.

Diagnostic id: `CC0098`
Severity: Warning
Category: Performance

[2015-09-01 12:45] giggio opened #490 "Prefer "Any" to "Count() > 0""
If you find a call to `Count() > 0` and the object supports `Any()`, change it `Any()`.
If you find a call to `Count(predicate) > 0` and the object supports `Any(<predicate type>)`, change it `Any(predicate)`.

So this:

[code]

Becomes:

[code]

And:

[code]

Becomes:

[code]

Diagnostic id: `CC0099`
Severity: Information
Category: Style

[2015-09-01 12:56] giggio opened #491 "IEnumerable possibly being enumerated more than once"
If an IEnumerable is being enumerated more than once you might have problems. Any calls to linq methods like `Count()` or `Any()` or `Select()` (or use in linq expressions) or calls to `foreach` should trigger this diagnostic on all lines that the enumeration is happening.

So this:

[code]

Should trigger this diagnostic on lines 2, 3 and 5.

Fixes to:

[code]

**Notes**:
* Messages should say "*

[2015-09-02 17:45] ImaginaryDevelopment opened #492 "CC047 eats property trivia"
[Obsolete("Only the domain should be setting this property")]
        public int AppointmentBillingStage
        {
            get { return _AppointmentBillingStage; }
            set { this.SetAndNotify(() => this.AppointmentBillingStage, ref _AppointmentBillingStage, value); }
        }

becomes

        public int AppointmentBillingStage
        {
            get { return _AppointmentBillingSta

[2015-09-03 12:11] thiagolunardi commented on #310
And about sugest lowdash/underscore ('_') prefix for private fields?

[2015-09-03 12:59] ImaginaryDevelopment opened #493 "CC0009 eats pragmas and trivia"
[code]

becomes

[code]

[2015-09-03 15:12] carloscds commented on #492
@ImaginaryDevelopment It's a trivia bug in set assessor, right ?

[2015-09-03 15:28] ImaginaryDevelopment commented on #492
yeah, changing the set to private removes the attributes from the property

[2015-09-03 16:30] carloscds commented on #492
@ImaginaryDevelopment Bug confirmed. I will fix it.

[2015-09-04 04:16] paul1956 opened #495 "Clicking on error code link in Visual Basic windows causesbrowser to open invalid link"
Clicking on CC0014 (or other errors) caused Microsoft Edge browser to open link below which returns 404 for all the errors I tested.
[code]

[2015-09-04 04:18] paul1956 opened #496 "'TernaryOperatorWithAddignmentCodeFixProvider' encountered and error"
This happens a lot and I have a small test case that does it every time.
[code]
When you try to preview turning the if into a Ternary, it crashes. There are a lot of other case where it also fails but they all seem to involve a class. The following works
[code]

[2015-09-04 13:36] jwooley commented on #496
I can try to look into this one over the weekend.

[2015-09-04 14:49] giggio commented on #493
Bug confirmed. Correct result should be:

[code]

[2015-09-04 14:53] giggio commented on #496
Bug confirmed. Go ahead @jwooley!

[2015-09-07 00:48] paul1956 opened #499 "CC0039 issues for Integer"
Past the following code somewhere, the 3rd line shows error CC0039 which only applies to stings.
[code]
If TypeOf symbolForAssignment is not one of the few listed the code falls through even though the type is not a string. Inserting
[code]
before the following seem to fix the issue.
[code]

[2015-09-07 09:32] thorgeirk11 commented on #151
Is there a place where I can change the info displayed when navigated to the error page for the this diagnostic id?

That is to add an error page for https://code-cracker.github.io/diagnostics/CC0051.html

[2015-09-07 09:41] thorgeirk11 opened #500 "CC0017 Change to auto property ignores field assignment."
Ignores field assignments.
---

The code fix for the CC0017 ignores when the field has an value set to it.

The following code:
[code]

Gets fixed to the following:
[code]

But should be changed to:
[code]

---

Note that if the value is the default value this can be ignored.
So the following is totaly valid:
[code]

----

For language level below 6 this case should be ignored by the analyser. Sin

[2015-09-08 02:25] giggio opened #501 "BUG on CC0008 and CC0009 (ObjectInitializer) when used with collection"
`CC0008` will be incorrectly raised in this code:

[code]

`CC0009` will be incorrectly raised in this code:

[code]

This will cause an error on the code fix, but the problem is with the analyzer, which is not checking initialization with a collection initializer.

[2015-09-08 17:14] thiagolunardi opened #503 "Suggest file rename to match class name"
If a rename the class name from 'class1' to 'MyCustomClass', to suggest to rename the current file name to 'MyCustomClass.cs' as well.

[2015-09-08 17:15] thiagolunardi commented on #503
Althought, I beleive that this demands more than Roslyn compiler to achive that.

[2015-09-08 20:12] giggio commented on #500
Bug confirmed.

[2015-09-12 19:35] giggio commented on #151
Worked on #497.

[2015-09-12 19:35] #151 closed

[2015-09-12 19:53] giggio commented on #503
We cannot catch the Rename, but we can suggest to change the file name, I think.

[2015-09-12 20:02] giggio commented on #499
@paul1956  I just tried the code but I couldn't repro. Notice that it works on the second case, but not the first. I included the error list in the screenshot, so you can see that the diagnostic it is not there:

![loop](https://cloud.githubusercontent.com/assets/334958/9833513/bf46c5b6-596f-11e5-8b81-531d5da1c643.png)

Are you the latest version (rc2)? If so, can you paste a code that we can repr

[2015-09-12 21:56] paul1956 commented on #499
I can not repo with latest version.

Sent from my iPhone
I apologize for any typos Siri might have made.
(503) 803-6077

[2015-09-12 21:58] giggio commented on #499
Ok, I am closing the issue, then.

[2015-09-12 21:58] #499 closed

[2015-09-13 01:23] giggio commented on #22
Closed on #502.

[2015-09-13 01:23] #22 closed

[2015-09-13 02:59] giggio commented on #371
I am closing this issue because of the problems stated on #293.

[2015-09-13 02:59] #371 closed

[2015-09-13 02:59] giggio commented on #372
I am closing this issue because of the problems stated on #293.

[2015-09-13 16:15] giggio opened #506 "Convert abstract class to interface"
This:

[code]

Becomes:

[code]

Can only be offered if abstract class has no implemented method.

Category: Refactoring
Id: CC0101
Severity: Hidden

[2015-09-13 16:17] giggio opened #507 "Convert Interface to abstract class"
This:

[code]

Becomes:

[code]

Category: Refactoring
Id: CC0102
Severity: Hidden

[2015-09-13 16:23] giggio opened #508 "Convert method to property"
This:

[code]

Becomes:

[code]

Can only be offered if method does not return void. Method invocations have to be changed to property references.

Category: Refactoring
Id: CC0103
Severity: Hidden

[2015-09-13 16:41] giggio opened #509 "Convert to block bodied method from expression bodied method"
This:

[code]

Becomes:

[code]

This is the opposite of `CC0038`.

Category: Refactoring
Id: CC0104
Severity: Hidden

[2015-09-13 17:02] giggio commented on #407
I have updated the description so that it fits what we discussed. The issue is up for grabs and will be on 1.0.0.

[2015-09-13 17:12] giggio commented on #42
I added the test case and diagnostic id. It is up for grabs.

[2015-09-13 17:15] giggio commented on #507
This is a duplicate of #377. Closing it.

[2015-09-13 17:15] #507 closed

[2015-09-13 17:17] giggio commented on #377
Ok, I thought of a way to deal with the problem.
We could raise a hidden diagnostic that would be picked up from a code fix provider. The code fix provider is able to do the async work. If it finds a situation where it cannot offer the fix, it doesn't.
I moved it to Ready, and it is now up for grabs.

[2015-09-13 17:22] giggio commented on #372
I think I might have found a way to fix this that overcomes the problems stated on #293. We change it to a hidden diagnostic, and only offer a fix if we can, the code fix provider verifies if it is possible. I will reopen it and update the description.

[2015-09-13 17:26] giggio commented on #372
I will take this one, as a proof of concept. If it works, we can look into the others that had the same problem.

[2015-09-13 17:34] giggio commented on #122
I have updated the description, added the test case, diagnostic id and category and severity. It is now up for grabs. @ElemarJR if you have comments let us know.

[2015-09-13 17:48] giggio commented on #85
I updated the description. It is up for grabs now.

[2015-09-14 00:38] paul1956 opened #510 "Not sure CC0033 should be offered for Visual Basic Windows Forms Applications"
For the code below which is a Windows Forms application that opens the Folder Browser Dialog..
[code]
Code-Cracker offer a warning and a code fix.
[code]
The code fix is just a comment
[code]

[2015-09-14 01:51] jwooley commented on #510
The In this case, I'm not sure you need the FolderBrowserDialog to live outside of a single method and as a result, you can easily dispose it within the method that opens it. If you are using the standard drag-drop to add it to the form, it should be added to the designergenerated partial which we can put a check in to ignore on analyzers. I believe when we implemented this at least, there wasn't

[2015-09-14 02:08] paul1956 commented on #510
I got this diagnostic a lot. In some cases I was able to move the line to the method and dispose of it (although I still get the diagnostic). In this case the object is used in several methods (something I should redesign to avoid) but I don't see any easy fix. I had assumed that if you fixed the generated file the fix would disappear the next time the file was regenerated therefore there is no re

[2015-09-14 23:45] thorgeirk11 commented on #500
Can I tackle this ? :)

[2015-09-15 00:44] thorgeirk11 opened #512 "CC0017 Change to auto property codefix removes multiple variable declaration."
While I was working on #500 I encountered another issue:
CodeFix removes multiple variable declaration.
---
The following:
[code]
Get transformed into
[code]
The `y` gets removed.

[2015-09-15 00:47] thorgeirk11 commented on #512
I will fix this along with #500 :+1:

[2015-09-15 22:11] giggio commented on #510
@paul1956 You should then dispose it in the form's `Dispose` method, right? If you do that, does the warning go away?

[2015-09-15 22:11] giggio commented on #500
Sure.

[2015-09-15 22:12] giggio commented on #512
Ok, go for it!

[2015-09-15 22:22] paul1956 commented on #510
The Form's Dispose event is in Designer Generated code. I don't think the Analyzer looks in Designer generated code.

[2015-09-16 12:49] ImaginaryDevelopment commented on #466
how could I tell when this fix is in a release or available for download in a beta or something?

[2015-09-17 05:01] adraut commented on #485
@code-cracker/collaborators @code-cracker/owners I have made an attempt to fix this, but I am not sure that my approach is correct.  See 680ad9d.

[2015-09-17 07:47] thomaslevesque commented on #485
@adraut, your approach seems reasonable and should work. However I think it would be better to check if the loop statement is an ancestor of the declaration, rather than check its position.

[2015-09-17 20:07] thorgeirk11 opened #514 "CC0017 Change to auto property fix all not working"
The code fix for CC0017 doesn't change all instances.

If the code fix is run on a document containing the following code:
[code]
It results in the following:
[code]

But of course it should be:
[code]

I found this out when I was working on #500 and #512 but I am unsure how to fix it so I decided to just make a Issue out of it.

[2015-09-17 22:29] robsonalves commented on #506
Hello guys I want to help your working on in this issue. I was studying the process to contribute and now I'm ready (I guess) to try.

Have some reservation before I start?

[2015-09-18 03:58] carloscds commented on #506
Look for definition of done for us and go ahead!

[2015-09-18 18:18] robsonalves commented on #506
@carloscds ok Ty!

[2015-09-19 16:58] kalkie commented on #50
Hi Giovanni,

Did not make any progress. Been busy with other things :(

On Mon, Aug 24, 2015 at 3:50 AM, Giovanni Bassi <notifications@github.com>
wrote:

[2015-09-19 19:54] carloscds commented on #50
@kalkie It's still open, you can go ahead! :-)

[2015-09-19 21:01] paul1956 opened #518 "NameOf Analyzer is too noisy"
Is there any way to limit the Use NameOf analyzer to only issue warnings when the variable is something I could rename. I am getting suggestions on "String", "Format", ("Address", "CompanyName", "State", "City" because I reference Outlook), "MS" in a list of states and all kinds of other places where it makes no sense. I would be nice if it only offer the fix for variable in my project and not all

[2015-09-19 21:15] carloscds commented on #518
@paul1956 Can you send a sample code about this ?

[2015-09-19 21:46] #486 closed

[2015-09-19 22:25] paul1956 commented on #518
[code]

[2015-09-19 22:32] paul1956 commented on #518
New example has less unrelated issues.

[2015-09-19 22:34] #485 closed

[2015-09-20 01:38] paul1956 commented on #518
Replacing GetProgramElementNameThatMatchesStringLiteral with the code below seems to correct all the issues I am seeing. I go from 87 Warnings to 0 in a short Outlook Extension. I would be nicer if the namespaces to exclude didn't have to be hard coded, but for now this works. Sorry this is not a pull request I don't understand Git enough to even know where to begin. I have also entered a suggesti

[2015-09-20 03:29] giggio commented on #510
Hm... maybe that is the issue, then. If it would look into that generated code, would that work for you?

[2015-09-20 03:33] giggio commented on #500
Closed on #515

[2015-09-20 03:33] #500 closed

[2015-09-20 03:33] giggio commented on #512
Closed on #515

[2015-09-20 03:33] #512 closed

[2015-09-20 03:40] giggio commented on #514
Bug confirmed. This should be fixed on the `master` branch. It is up for grabs.

[2015-09-20 04:04] giggio commented on #466
It is already available on myget: https://www.myget.org/F/codecrackerbuild/
I will be releasing a new version later at the end of upcoming week.

[2015-09-20 04:06] giggio commented on #514
BTW, there is already an ignored test on the code for this specific bug.

[2015-09-20 04:11] giggio commented on #506
@robsonalves A few things to be careful:
Your new branch should be forked from the vnext branch, and the PR should go into it.
The analyzer has to do some basic and quick work just to make sure it is an abstract class, etc. It cannot waste time trying to find out if there are derived classes, it would take too long to run, and the depend on a full compilation. That has to be checked by the code fi

[2015-09-20 04:13] giggio commented on #518
I think it makes sense. We have a related issue discussing exactly how far this analyzer should go. We haven't decided yet.

[2015-09-20 04:37] paul1956 commented on #518
I Tried my fix on another application that uses USPS API and got 100's of incorrect NameOf warnings. As soon as I added that filter it highlighted a few real issues. For this to be really useful there needs to be a way to list Dll's and Namespaces to ignore and I have no idea how to add such a Dialog Box to an Analyzer.

[2015-09-20 04:49] paul1956 commented on #510
I don't think editing sticks if the file is regenerated but I could be wrong.

[2015-09-21 10:05] wertzui opened #519 "CC0039 must not be raised if the variable is declared inside the loop"
foreach(var a in b)
    {
        var text = "foo";
        text += "bar";
    }

Will raise CC0039 which is incorrect.
In addition the refactoring will fail because text is declared inside the loop.

[2015-09-21 12:41] JimiC commented on #518
To add on the discussion, this rule should be ignored in auto-generated files like the GlobalSuppression.

[2015-09-21 21:25] robsonalves commented on #506
@giggio ok Gigio Thanks for the examples! Let's code ! Any trouble here I'll signal

[2015-09-22 16:04] paulomorgado opened #520 "CC0013 Should be Information instead of Warning"
Sometimes, it makes sense and the code is more readable as an __if__/__else__ instead of a ternary operator.

One such cases is when there's an execution flow that happens to return a value:

    if (this.Url.IsLocalUrl(returnUrl))
    {
        return this.Redirect(returnUrl);
    }
    else
    {
        return this.RedirectToAction("Index");
    }

I want to see that it's following different br

[2015-09-22 16:09] paulomorgado opened #521 "CC0013 Should check for a common type and cast is necessary."
Take this example:
[code]

It is rewritten as:

[code]

However, the return types are not the same and the compiler should assume that the expression has the value of the return type, but it doesn't.

[code]

[2015-09-22 16:12] paulomorgado opened #522 "CC0013 Check for applicability as argument"
(This is a tricky one)

Consider this code:

[code]

Instead of rewriting as:

[code]

Rewrite as:

[code]

[2015-09-23 11:08] carloscds commented on #522
@paulomorgado It's interesting, but complex. What do you think about @code-cracker/owners ?

[2015-09-25 20:25] giggio commented on #382
Closed on #505

[2015-09-25 20:25] #382 closed

[2015-09-25 20:25] giggio commented on #382
This is a cool one. And it is done now!
:shipit:

[2015-09-28 05:39] baks commented on #381
@giggio
Sorry, it takes so long time :cry: , but now I'm able to finish it.

[2015-09-28 12:58] ImaginaryDevelopment opened #524 "Can't Manage extension settings"
I've installed Code Cracker as an extension for Visual Studio 2015, but there appears to be no way to manage which diagnostics are on and what levels they are on at. I've found the analyzers node of References in solution explorer. While I can make changes there they don't seem to save as the new set the next time I open the solution or project. Even if they did, this is installed for my entire VS

[2015-09-28 14:37] giggio commented on #524
You can do it in VS. See this comment: https://github.com/code-cracker/code-cracker/issues/47#issuecomment-63705397

[2015-09-28 14:37] #524 closed

[2015-09-28 15:31] ImaginaryDevelopment commented on #524
The link provides a way to set it per project, meaning for every project I open I have to go set the ruleset.

[2015-09-28 16:08] giggio commented on #524
You can share the ruleset file with all the projects. Just move it to the root folder where the solution lives. This is what we are doing at CodeCracker, check the repo.

[2015-09-28 20:52] giggio commented on #372
Closed on #523

[2015-09-28 20:52] #372 closed

[2015-09-29 17:49] AdrianoRNascimento opened #525 "Bug with CC0009 when using the created object in the initialization"
When the variable declaration does not have an initializer, and it is assigned, `CC0009` is incorrectly triggered. This should not raise a diagnostic for `CC0009`:

[code]

We should check for that specific scenario.

This should still raise a diagnostic:

[code]

When there is a prior assignment between the variable declaration and it's assignment (or the variable being passed as `ref` or `out` t

[2015-09-29 18:09] AdrianoRNascimento opened #526 "Add exceptions to CC0068 depending on the method attribute"
I'm using xUnit test framework and my test methods are all 'private'.
I understand that a private method that is not referenced is treated as 'not used'. My suggestion is to check for some attributes.

[code]

And ContractInvariantMethodAttribute from Microsoft Code Contracts:

[code]

And DataMemberAttrbute from WCF which maybe odd but perfectly legal to use with hidden members:

[code]

[2015-09-29 23:32] akamud commented on #526
I wonder what would be the expected action when there's a private method decorated with an attribute that is indeed unused, like:

[code]

Seems like there isn't a perfect solution since we can never be 100% sure.

[2015-09-29 23:59] giggio commented on #526
It makes sense. We are already providing some exceptions, we certainly could add those. Any others?

[2015-09-30 02:05] giggio commented on #510
You should be able to override it. Please test and see if we can find a reasonable pattern we can search for and then not raise the diagnostic for that pattern.

[2015-09-30 02:10] akamud commented on #490
I would like to work on this

[2015-09-30 02:14] giggio commented on #519
This is a duplicate of #485 and is already fixed. We will release a new RC soon.

[2015-09-30 02:14] #519 closed

[2015-09-30 02:15] giggio commented on #520
Makes sense to me.

[2015-09-30 02:21] giggio commented on #520
I will also be changing `CC0014` as the argument is the same there.

[2015-09-30 02:21] #520 closed

[2015-09-30 02:23] giggio commented on #522
I like it, but this is going to vnext. :)

[2015-09-30 02:29] giggio commented on #521
You don't need to cast both the `WhenTrue` and the `WhenFalse`, only the first is needed. This should do:
[code]

I will update the description.

[2015-09-30 02:30] giggio commented on #381
Cool!

[2015-09-30 02:41] giggio commented on #525
@AdrianoRNascimento This has been fixed on alpha5, released on April/2015. It is a duplicate of #324. Are you on the latest version.

[2015-09-30 02:42] giggio commented on #490
Go for it!

[2015-09-30 02:43] giggio commented on #490
@akamud Remember to branch from vnext, and to pull into it. I have added you to the collaborators team, so I can assign the issue to you.

[2015-09-30 02:45] akamud commented on #490
Will do.

[2015-09-30 05:13] akamud commented on #518
I have an example in a Code Cracker fix provider. I was trying to write a VB code fix provider that needed this code:

[code]

The NameOf analyzer won't let me use the `"Any"` string because there is a method `Any` in `Microsoft.CodeAnalysis.VisualBasicExtensions`.
Maybe it should ignore extension methods?

[2015-09-30 08:48] paul1956 commented on #518
@akamud The purpose of NameOf is to allow renaming of variables that are passed as a string, usually for error messages. But you don't want to globally rename things in libraries (which would fail anyway) so you don't need to use NameOf and the analyzer should not offer it.

[2015-09-30 10:54] akamud commented on #518
Exactly @paul1956, I had no option in this case.

[2015-09-30 11:02] paulomorgado commented on #521
Yes, in this particular case.

Let's try a more convoluted test:

    class Animal {}
    class Dog : Animal {}
    class Cat : Animal {}

    Animal Get(bool selection)
    {
        if (selection)
        {
            return new Dog();
        }
        else
        {
            return new Cat();
        }
    }

That should be rewritten into:

    Animal Get(bool selection)
    {
        retu

[2015-09-30 12:29] giggio commented on #521
@paulomorgado You don't need the second cast. This will do:

[code]

[2015-09-30 14:41] AdrianoRNascimento commented on #526
I don't remember any other right now.

[2015-09-30 14:52] AdrianoRNascimento commented on #525
@giggio I am using the latest version. See the image bellow.
Is there a possibility that this error occurs in the VS extension version of Code Cracker?

![image](https://cloud.githubusercontent.com/assets/6334126/10196410/304d3e46-6769-11e5-9184-ac13c5e7945c.png)

[2015-09-30 19:07] rtigithub opened #529 "CC0022 does not recognize dispose in finally block"
void Foo()
{
    var m = new MemoryStream();
    try
    {
        //other statements using m
       }
    finally
    {
        m.Dispose();
    }
}

[2015-09-30 22:50] paulomorgado commented on #521
This is also valid:

    Animal Get(bool selection)
    {
        return (selection)
            ? new Dog()
            : (Animal)new Cat();
    }

That's how C# is still broken.

The point is you always need to look for a common ancestor.

[2015-10-01 11:32] VPashkov commented on #526
Hi!

Perhaps the following attributes may also be supported?

A ContractInvariantMethodAttribute from Microsoft Code Contracts.

[code]

And DataContractAttribute and DataMemberAttrbute from WCF which maybe odd but perfectly legal to use with hidden types and members.

[code]

[2015-10-01 18:40] AdrianoRNascimento commented on #526
Hi @giggio and @VPashkov,
I did some tests and identified that private classes are not marked as "unused" by Code Craker.

[2015-10-03 02:35] giggio commented on #496
Closed on 646b276.

[2015-10-03 02:35] #496 closed

[2015-10-03 03:06] giggio commented on #525
We just released a new one. Try that, see if it fixed it.
Also, check if you don't have codecracker also installed as a nuget package.

[2015-10-03 03:10] giggio commented on #526
Ok, I have updated the issue's description so that these cases are also ignored. And removed the private class ones.

[2015-10-03 03:16] giggio commented on #518
I think @paul1956 nailed it in his last comment. It makes sense to me that `nameof` is something we use to reference our own symbols, so if we rename them by accident we break the build, and it also gets picked up by renaming refactorings. It makes no sense to have the analyzer raise a diagnostic in other places. It should not create a diagnostic. Or it should be optional.
We could make the curren

[2015-10-03 10:04] paul1956 commented on #518
I did a quick fix and have it ignore reference that start with "Microsoft.", "MS." and "System.", I am also playing with a search for all External references and a way for users to add their own list. Below is a piece of the working code. I have been running into lots of issue getting everything to work. It is rumored that if any file in the solution is changed all the Analyzers will run again. So

[2015-10-03 19:58] paul1956 opened #533 "UnusedParametersCodeFixProvider will crash when it is trying to remove ParamArray"
For the following Sub
[code]
with references that look like
[code]
 Function RemovePArameterAsync needs to change from
[code]
[code]

[2015-10-03 20:27] giggio commented on #518
I fixed it on #531. There is a way to find the source. I am waiting for @carloscds or @ElemarJR to review my PR.

[2015-10-03 20:45] giggio commented on #533
Bug confirmed. It is up for grabs. Are you going to work on it, @paul1956?

[2015-10-03 21:28] paul1956 commented on #533
I don't know how to work on GitHub, the two line change I posted fixes the bug. If you want to point to the process to "works on it" I will.

[2015-10-03 22:08] giggio commented on #490
Closed on #528

[2015-10-03 22:08] #490 closed

[2015-10-04 03:30] giggio opened #534 "UnusedParametersCodeFixProvider fix all not working (CC0057)"

[2015-10-04 03:37] giggio commented on #533
@paul1956 There was a problem on the way params was being handled. It had to remove all arguments, and it was only removing one. I fixed that and the exception is not happening anymore.
The problem also ocurred with C#.
See #535 and specially commit 873afb1. I also reenabled the analyzer and fixed the fix all, which was not working.

[2015-10-04 05:44] paul1956 commented on #533
The case that was causing my crash was when there are 0 parram array arguments calling the function.

[2015-10-04 11:53] TsengSR opened #536 "Bug: Use ?.Invoke operator and method to fire 'configuration' event, though configuration can't be null"
When validating parameters and enforcing the this methods invariants, Code-Cracker keeps giving this message, even though it's guaranteed that configuration can't be null.

    public static class ActionInvokeExample
    {
        public void ActionExample(this IApplicationBuilder app, Action<IApplicationBuilder> configuration)
        {
            if (configuration == null)
            {

[2015-10-04 12:43] #518 closed

[2015-10-04 12:44] #533 closed

[2015-10-04 12:44] #534 closed

[2015-10-04 21:03] thorgeirk11 commented on #489
Can I take this one ?

[2015-10-04 21:31] thorgeirk11 opened #537 "CC0001 Is raised on multiple variable declarations."
The following code raises CC0001
[code]
However the code fix introduces a compile error:
``` Error	CS0819	Implicitly-typed variables cannot have multiple declarators```

[2015-10-04 23:34] giggio commented on #518
@paul1956 It is now on myget with version 1.0.0-rc3-0849 (and laters). It will be on Nuget on rc4 or 1.0.0.

[2015-10-04 23:47] giggio commented on #536
I agree this needs improvement. I have had this problem myself.

[2015-10-04 23:50] giggio commented on #537
Bug confirmed.

[2015-10-04 23:53] #501 closed

[2015-10-05 17:27] AdrianoRNascimento commented on #525
Hi @giggio,
Unfortunatelly it didn't fix the issue. I checked for the nuget package and I'm not using it. Just the extension.
As you can see in the image bellow the extension is updated.
![image](https://cloud.githubusercontent.com/assets/6334126/10288082/19d943c8-6b6d-11e5-874c-1c256a2078ad.png)

[2015-10-06 13:27] giggio commented on #525
Ok, I have managed to reproduce:
![bug](https://cloud.githubusercontent.com/assets/334958/10309653/2756b0f6-6c14-11e5-9bae-61de861df2e7.png)

What we fixed on #324 was when the variable was initialized with the declaration. That does not happen anymore. So, for example, this will not generate `CC0009`:

[code]

But when the variable declaration does not have an initializer, and it is assigned, thi

[2015-10-06 13:28] giggio commented on #525
This was @AdrianoRNascimento original comment:

This is my code (it's a test initialization):
[code]

It's being incorrectly changed to:
[code]

Note that when setting the "ControllerContext" property the "_controller" variable is not initialized yet. This is throwing a NullArgumentException in the "ControllerContext" constructor.

Thank you for your great work. Code cracker is awesome.

[2015-10-06 13:47] giggio opened #539 "UnusedParametersCodeFixProvider crashing when removing params"
Related to #533.

This will throw an error on the code fix provider:

[code]

Params and ParamArray are working, but when trying to remove a parameter that has no argument passed to it (see above that the invocation to `Go(1,2)` does not pass an argument to `xs`) it throws.
Affects C# and VB. Both need fixing, and the fix is likely the same.

[2015-10-06 13:47] giggio commented on #539
@ paul1956 here is the issue so you can follow.

[2015-10-06 17:39] paul1956 commented on #539
@giggio changing the "do" to a "while" seems to fix the issue for me.

[2015-10-07 14:57] HSAR opened #540 "Incorrect format in generated issues"
Using CodeCracker to generate error logs in a JSON format results in output that is not compliant with the SARIF specification.

Specifically, the issue objects contain a properties object, which is legal, but issue.properties.customProperties is an object - which is not legal, as only string values are allowed in the properties object.

Reference: SARIF specification 6.9.11, "properties property"

[2015-10-07 15:22] #540 closed

[2015-10-07 15:22] HSAR commented on #540
Closed - not entirely your responsibility.

[2015-10-08 15:17] #493 closed

[2015-10-09 10:49] iccfish opened #543 "Is there any way to config inspect severity? Some errors are not necessary but noisy"
I wonder the possibility of add an inspect severity configuration like R#, due to some analysis errors are not really need to be fixed.

For example, checkout the source codes of [Dapper.Net](https://github.com/StackExchange/dapper-dot-net)  and open it in visual studio, almost 200+ errors were shown, and most of them are ```CC0090 incorrect xml documention```, ```CC0021 use nameof```.
![dapper_er

[2015-10-09 11:04] carloscds commented on #543
@iccfish We don't have documentation for all analyzers at this time, but you can see IDs at this page: https://github.com/code-cracker/code-cracker/wiki/DiagnosticIds

[2015-10-09 19:37] mgrosperrin opened #544 "BUG on ReadonlyFieldAnalyzer (CC0052) with assignment in Func<T> in constructor"
With this code :
[code]

the ReadonlyFieldAnalyzer shows a suggestion for the field ```_value```, but the field ca be assigned outside of the constructor (when invoking the Func).

[2015-10-09 22:27] hmmdeif opened #545 "CC0022 DI container delegate causes error"
Using Simple Injector and lifestyle scoping (so it handles disposables inside the container) triggers CC0022 when the class is registered using a delegate:

    container.Register<IDisposableIntr>(() => new DisposableImpl(), Lifestyle.Scoped);

This causes CC0022 to encounter an error and get disabled since it can't generate a solution. The warning is fine and I can disable it with a pragma declar

[2015-10-09 22:57] BethMassi opened #546 "Update VS Code Galley page -- broken link for code-cracker.github.io"
Just want to send a quick note that the second link on your VS code gallery page  https://visualstudiogallery.msdn.microsoft.com/ab588981-91a5-478c-8e65-74d0ff450862 is broken and the link should be updated to code-cracker.github.io :smile:

Keep up the great work!

[2015-10-10 04:42] adraut commented on #514
Almost seems like a threading issue.  Sometimes the result is
[code]
and other times it's
[code]

The fixer does request the root a few times throughout the process, but I've added debug writes in the fix process to see what the document looks like at each step and it does not appear that one fix for a property is interacting with another.

Looks like it could possibly be due to https://github.com

[2015-10-10 11:54] NF-Floyd opened #547 "CallExtensionMethodAsExtension (CC0026) throws NullReferenceException on expression bodied method statement"
Here is a test method for reproducing this behavior:
[code]

[2015-10-10 22:22] NF-Floyd opened #548 "SwitchToAutoPropCodeFixProvider (CC0017) does not keep XML comment trivia"
The fix should keep the xml comments for the property.

A proposed solution:
In SwitchToAutoPropCodeFixProvider.cs line 55 use
[code]
instead of
[code]

[2015-10-12 10:29] filippobottega opened #550 "Code fix error in CC0014 TernaryOperatorAnalyzer (assignment)"
Code fix for CC0014 TernaryOperatorAnalyzer is not compatible with += operator in VB code.
Example:
Original code:
          If values = String.Empty Then
            values = valueString
          Else
            values += ", " & valueString
          End If
Fixed code:
          values = If(values = String.Empty, valueString, ", " & valueString)

[2015-10-12 10:35] filippobottega opened #551 "Code fix in CC0014 TernaryOperatorAnalyzer remove comments"
Code fix for CC0014 TernaryOperatorAnalyzer is not compatible with comments in VB code.
Example:
Original code:
        If stackFrameItem.GetMethod.DeclaringType Is Nothing Then
          declaringType = "<Nothing>"   'MLHIDE
        Else
          declaringType = stackFrameItem.GetMethod.DeclaringType.ToString
        End If
Fixed code:
        declaringType = If(stackFrameItem.GetMethod.Declarin

[2015-10-12 10:47] paul1956 commented on #551
I saw this as well but what is the expected behavior. I created a separate refactoring to move inline comments to before the beginning of the statement. Then you can use this refactoring but is that even the correct behavior?

[2015-10-12 12:57] filippobottega commented on #551
I don't think so because in my example 'MLHIDE is a comment generated by Multi-Language for Visual Studio http://www.jollans.com/tiki/tiki-index.php and needs to be inserted at the end of the code line.
Is it possible to create two different refactorings?

[2015-10-12 13:29] jwooley commented on #551
Multiple possible fixes would sound like a good option. With the changes in VB to support comments after implicit line continuation, you should be able to offer a fix along the lines of –

Dim x = If(true,

                   1, ‘ Comment

                   2)

I’m not sure however if that construct would support the needs of the Multi-Language tool that you are needing since this comment is not

[2015-10-12 13:47] filippobottega commented on #551
In my case I think that this is better solution:

Dim x = If(true, 1, 2)  ‘ Comment

Moreover I'm trying to understand when is meaningful to apply CC0014 fix because I'm changing:
Dim x = If(true, 1, 2)
to:
Dim x = If(true,
1,
2)
because If(true, 1, 2) is difficult to read in case 1 and 2 are long more then 20 characters.

Thanks to all for your support!

Best regards,
  Filippo Bottega.

[2015-10-12 14:46] filippobottega opened #552 "Code fix error in CC0013 TernaryOperatorAnalyzer (return)"
Hello,
  this code:

If FoldersTabControl.SelectedTab Is OutputTabPage Then
  Return OutputFileListBox
ElseIf FoldersTabControl.SelectedTab Is ErrorsTabPage Then
  Return ErrorsFileListBox
Else
  Return OutputFileListBox
End If

Is wrongly fixed as:

Return If(FoldersTabControl.SelectedTab Is OutputTabPage, OutputFileListBox, OutputFileListBox)

Best regards,
  Filippo Bottega.

[2015-10-12 16:42] jwooley commented on #551
@filippobottega the multi-line option was proposed in order to retain the comment trivia associated with both the if and else side of the original code. It wouldn't be necessary if you concatenate all trivia at the end.

[2015-10-12 19:00] Shiney commented on #521
class Animal
    {
    }

    interface INoiseMaker
    {
        void MakeNoise();
    }

    class Dog : Animal, INoiseMaker
    {
        public void MakeNoise()
        {
            System.Console.WriteLine("Woof");
        }
    }

    class Cat:Animal, INoiseMaker
    {
        public void MakeNoise()
        {
            System.Console.WriteLine("Miaow");
        }
    }

Animal Get(bool

[2015-10-12 21:41] paulomorgado commented on #521
`Animal` as it's the type of the return value of the method and it doesn't implement `INoiseMaker`.

A proper implementation would offer all the possibilities but `INoiseMaker` is not one of them.

[2015-10-13 07:26] filippobottega commented on #551
@jwooley I agree, I only suggested to use multi-line option when there aren't comments but 1 and 2 are too long to put them in a single line.

[2015-10-13 12:27] carloscds commented on #546
@BethMassi Thanks Beth, we will fix it.

[2015-10-13 12:30] carloscds commented on #548
@NF-Floyd Thanks for suggestions and bug report!

[2015-10-14 12:19] filippobottega opened #553 "CC0013 Fix Error"
For example:
    If nonClsCompliantIdentifiers.Contains(inputType.FullName.ToUpper) Then
      Return GetType(Object)
    ElseIf nonClsCompliantIdentifiers.Contains(Replace(inputType.FullName, "[]", "").ToUpper) Then
      Return GetType(Object())
    Else
      Return inputType
    End If

Is different from:

    Return If(nonClsCompliantIdentifiers.Contains(inputType.FullName.ToUpper), GetType(O

[2015-10-14 12:23] jwooley commented on #553
I recommend that we not report this analyzer in cases where an ElseIf clause is present.

[2015-10-14 16:06] filippobottega opened #554 "CC0068 (Private method not used) error"
This code raises a wrong CC0068 warning:

    Private Sub RebuildNCCodeFlowLayoutPanel()
    ...
    AddHandler nCButton.Click, AddressOf CreateNCButton_Click
    ...
    End Sub

    Private Sub CreateNCButton_Click(sender As Object, e As EventArgs)  <--- CC0068 warning
     ...
    End Sub

[2015-10-14 20:10] Shiney commented on #508
I'd like to start on this task.

Do we need to stop the code fix from being applicable if the method is overloaded?

[2015-10-14 20:25] carloscds commented on #508
@Shiney I think not because you won't change method signature.

[2015-10-15 07:29] Shiney commented on #508
But you can't have a method and a property with the same name.

[2015-10-15 14:16] giggio commented on #546
@BethMassi Fixed. Thanks for letting us know.

[2015-10-15 14:16] #546 closed

[2015-10-15 14:17] giggio commented on #546
Also fixed for the VB one.

[2015-10-15 19:20] AdrianoRNascimento opened #555 "CC0091 ASP.NET Application events cannot be static"
The ASP.NET application events cannot be changed to static because they are not fired.

[code]

My suggestion is to ignore this rule if the class inherits from System.Web.HttpApplication and the method name starts with "Application_" or "Session_".
In this [MSDN page](https://msdn.microsoft.com/en-us/library/ms178473(v=vs.100).aspx) is possible to see a list of application events.

[2015-10-15 20:51] carloscds commented on #508
@Shiney Can you put a sample of this ?

[2015-10-16 01:24] giggio commented on #468
Closed on #541.

[2015-10-16 01:24] #468 closed

[2015-10-16 02:00] giggio commented on #537
Closed on #549.

[2015-10-16 02:00] #537 closed

[2015-10-16 02:02] giggio commented on #543
@iccfish You can already change the severity or even disable specific diagnostics. See https://github.com/code-cracker/code-cracker/issues/47#issuecomment-63705397 for details on how to do that. This is a Visual Studio/.NET thing, we just benefit from it. :)
I will be closing the issue, as it is already possible to do what you need. If you find there is more we can do, let us know.

[2015-10-16 02:02] #543 closed

[2015-10-16 02:07] giggio commented on #543
@iccfish Regarding translation, not all analyzers are yet ready for translation. We would love to have translation happening. The infrastructure is the same as from any localized .NET assembly, based on resources.
But we still need to prepare the infrastructure for all the analyzers and fixers. We have issue #360 tracking that, with an example on how to do it. We would love your collaboration eith

[2015-10-16 02:24] giggio commented on #508
@Shiney I added you to the collaborators team so we can assign this issue to you. You may start working on it.

Answering your question, I can't think of a way to solve the overloaded method problem. Simply ignore the method if it has an overload.

[2015-10-16 02:25] giggio commented on #508
@Shiney Also, remember to fork from the vnext branch, and to request to pull into it. Not from master, which is stabilizing now for 1.0.

[2015-10-16 02:27] giggio commented on #544
Bug confirmed. It is up for grabs.

[2015-10-16 02:37] giggio commented on #545
Bug confirmed. Here is a simple test case that is library independent:

[code]

[2015-10-16 02:43] giggio commented on #514
@adraut The problem is that the batch fixer only solves non conflicting changes, and this is creating a conflict. It does not matter that it is not deterministic, it would only fail in a deterministic way, but it would still fail.
What is needed to fix this is work in a way that all changes are merged together in an intelligent way. This demands code that we write, the batch fixer is unable to con

[2015-10-16 02:47] giggio commented on #547
Bug confirmed. It is up for grabs. Should be fixed on the master branch.

[2015-10-16 03:32] giggio commented on #550
Bug confirmed. It should be pulled into the master branch.

[2015-10-16 03:32] iccfish commented on #543
My primary language was chinese (zh-CN), or C# if you mean the program language. I'll track issue #360 later :smile:

[2015-10-16 03:36] giggio commented on #552
Bug confirmed. Here is a simpler case:

[code]

It is incorrectly fixed to:

[code]

[2015-10-16 03:37] giggio commented on #552
The analyzer should not report a diagnostic on such a situation.

[2015-10-16 03:44] giggio commented on #551
Bug confirmed.
Here is a simpler case:

[code]

Should be fixed to:

[code]

Agreed?

[2015-10-16 03:47] giggio commented on #548
Bug confirmed. Should be pulled into the master branch.

[2015-10-16 03:52] giggio commented on #554
I am unable to repro:

![cant](https://cloud.githubusercontent.com/assets/334958/10533462/191fd358-73a0-11e5-9202-b6d2bede03f1.png)

Here is the code I tried:

[code]

Are you on the latest version (RC3)?

[2015-10-16 03:55] giggio commented on #553
This is a duplicate of #552.

[2015-10-16 03:55] #553 closed

[2015-10-16 03:57] giggio commented on #555
This is a duplicate of #451.

[2015-10-16 03:57] #555 closed

[2015-10-16 03:58] giggio commented on #543
I meant speaking language. It would be awesome to have it translated to chinese! :)
I speak portuguese, and have not yet started the translation. No time!

[2015-10-16 08:04] filippobottega commented on #551
Yes!!!

[2015-10-16 08:16] filippobottega commented on #554
I have installed Code Cracker using Extensions and Updates in Visual Studio 2015.
The version is 1.0.0.11.

Thank you giggio!

[2015-10-16 13:28] jwooley commented on #550
It looks like we have 3 open bugs for CC0014 in VB at this point. I can take them unless @filippobottega wants to try his hand.

[2015-10-16 13:36] giggio commented on #554
@filippobottega is the error gone? If not, can you provide some code that is complete (does not depend on some external reference or code to work) so we can verify?

[2015-10-16 13:39] giggio commented on #550
@filippobottega do you?

[2015-10-16 13:48] filippobottega commented on #554
Sorry! Greetings are for your support... I don't understand where is the RC3. May you post the link of the vsix file please?

[2015-10-16 13:48] filippobottega commented on #550
Really sorry but I'm only a tester for the moment...

[2015-10-16 13:51] giggio commented on #554
@filippobottega  Version 1.0.0.11 is from RC3. If you got the latest version from [Visual Studio Gallery](https://visualstudiogallery.msdn.microsoft.com/ab588981-91a5-478c-8e65-74d0ff450862) you already have it.
Can you post a simple example so we can verify?

[2015-10-16 13:52] giggio commented on #550
So, it is yours, @jwooley, I am assigning all 3 to you, I guess you will submit one PR for all 3, right?

[2015-10-16 13:53] giggio commented on #551
Being worked on by @jwooley along with #550.

[2015-10-16 13:54] giggio commented on #552
Being worked on by @jwooley along with #550 and #551.

[2015-10-16 14:08] filippobottega commented on #554
Your code in my IDE raises a wrong CC0068 warning.

![cc0068](https://cloud.githubusercontent.com/assets/2587684/10543752/fbeee3b6-741f-11e5-90a8-516bfa7767e4.png)

[2015-10-16 14:32] giggio commented on #554
@filippobottega the warning is on the `Caller` method, not on the `Callee` method, which is correct. If there were 2 diagnostics, one on each, it would be wrong. Can you confirm?

[2015-10-16 15:06] filippobottega commented on #554
Sorry, now I understand the cause of the false warning.
This is the false warning:

![cc0068](https://cloud.githubusercontent.com/assets/2587684/10545219/dcd10100-7427-11e5-9ef3-a8bd8f944a6d.png)

And this is the reason: the partial class...

![cc0068_2](https://cloud.githubusercontent.com/assets/2587684/10545293/46cfabb0-7428-11e5-8ab9-c505f7f7bc33.png)

[2015-10-16 19:28] giggio commented on #554
I still can't repro. See the attached image.
![repro](https://cloud.githubusercontent.com/assets/334958/10551366/e0756b3e-7422-11e5-85b7-d285ed568297.png)

[2015-10-16 20:19] filippobottega commented on #554
In my case the class and the partial class are contained in different files.
May you try to create Class1.vb and PartialClass1.vb?

[2015-10-16 21:49] giggio commented on #554
I tried, still, no problem...
If you try on the same file, do you still get the problem?

[2015-10-16 22:18] filippobottega commented on #554
Yes...

![cc0068_3](https://cloud.githubusercontent.com/assets/2587684/10554493/3f087236-7464-11e5-921e-0285e01f169e.png)

[2015-10-17 06:42] mgrosperrin commented on #544
Hi @giggio,
I've created the PR #556 to fixes this issue.

[2015-10-18 08:21] Shiney commented on #508
class A{
public int Foo(int a){ return a;}

public int Foo{get{return 314;}}

}

Does not compile.

Am I supposed to look up and down the whole inheritance tree to find out if this method was overloaded everywhere? Or would it be simpler and less confusing for the user to just get sometimes non-compilable code out of the code fix?

[2015-10-19 16:46] #544 closed

[2015-10-19 17:24] giggio commented on #508
@Shiney A first quick check would be to ask for the type symbol, check all members with the same name, if there is more than one, return. You should use symbolic analysis as you may be dealing with a partial class. Then, if that succeeds, you should ask for all parents and children in the class hierarchy if and see if you find a member with the same name. Please put that as on the common project a

[2015-10-21 02:16] giggio commented on #539
@paul1956 You were right, simply changing the do to a while fixed it.

[2015-10-21 08:17] wilhelmmedetz opened #561 "CC0031 is not appropriate for non-event delegates (e.g. System.Action)"
public void Foo(Action action)
{
    action();
}

Generates CC0031 which is in my opinion not appropriate.

[2015-10-21 13:43] wilhelmmedetz opened #562 "CC0057 mistaken 'Parameter is not used' warning"
The following code creates a 'CC0057 Parameter 'currentCulture' is not used' message, although the parameter is used.

        public static void SetDefaultThreadCulture(CultureInfo currentCulture, CultureInfo currentUICulture)
        {
            typeof(CultureInfo).InvokeMember("s_userDefaultCulture", BindingFlags.NonPublic | BindingFlags.Static | BindingFlags.SetField, null, null, new object[

[2015-10-22 15:53] giggio commented on #561
In your scenario, `action` could still be null, changing it to `action?.Invoke()` still makes sense.
But I think the wording could be better. This is not about events, it is about null delegates.
We have value in checking that.
Issue #536 is tracking the null check happening before.

What do you suggest?

[2015-10-22 16:25] giggio commented on #562
I am not able to repro:

![screenshot 10](https://cloud.githubusercontent.com/assets/334958/10671290/3bb71442-78c0-11e5-8891-f3032bd8a68a.png)

Are you on the latest version of CodeCracker, and on VS RTM?

I will close the issue. If we can find a reproduceable code we can reopen it, ok?

[2015-10-22 17:49] #539 closed

[2015-10-23 00:21] #545 closed

[2015-10-25 23:43] #548 closed

[2015-10-26 01:31] giggio commented on #514
I am working on it.

[2015-10-26 15:27] julianosaless commented on #307
@giggio i'm back to work this  issue

[2015-10-27 00:00] giggio commented on #307
Yes! Cool! Remember to fork from the vnext branch, as master now is for stabilization.

[2015-10-27 00:29] #547 closed

[2015-10-27 00:30] giggio commented on #521
I'll fix this one!

[2015-10-27 23:54] giggio commented on #489
Closed on #567.

[2015-10-27 23:54] #489 closed

[2015-10-27 23:55] giggio opened #570 "Prefer "Count" to "Count()" (VB)"
Same as #489, but for VB.

[2015-10-28 13:04] ravpacheco commented on #188
Hi guys,

would be great if we could supress this error.

Now if I make

    var correctIP = "0.0.0.0";
    System.Net.IPAddress.Parse(correctIP);

I receive a error.
What you think ?

[2015-10-28 14:19] giggio opened #571 "IP Parsing fails for variables"
This will incorrectly raise `CC0064`:

[code]

The analyzer should ignore non string literals.

Might be happening also for others, like Regex and Json.

[2015-10-28 14:19] giggio commented on #188
@ravpacheco yes, it is a bug. I created issue #571 to fix it.

[2015-10-28 14:21] giggio commented on #188
@ravpacheco In the meantime, you can disable it by adding:

[code]

[2015-10-28 14:25] ravpacheco commented on #188
@giggio great. Thanks!
Congratulations this project is awesome! \o/

[2015-10-28 15:01] andrecarlucci commented on #571
I can fix that :)

-----Original Message-----
From: "Giovanni Bassi" <notifications@github.com>
Sent: ‎28/‎10/‎2015 12:19
To: "code-cracker/code-cracker" <code-cracker@noreply.github.com>
Subject: [code-cracker] IP Parsing fails for variables (#571)

This will incorrectly raise CC0064:
var correctIP = "0.0.0.0";
System.Net.IPAddress.Parse(correctIP);The analyzer should ignore non string literals.

[2015-10-28 15:37] giggio commented on #571
@andrecarlucci Go for it!

[2015-10-29 11:20] baks opened #572 "Implement interface and delegate calls to decoratee"
Sometimes, we may want to implement a decorator pattern in code. If the interface is large, there is a lot of repetitive work because we must delegate call for each method. We could make refactoring that simplifies this task.

Given following code:
[code]
And cursor is on `ICalculator` in base type list of `LoggingCalculator` class
When user selects `Implement interface and delegate calls to decor

[2015-10-29 22:04] giggio commented on #572
It makes sense. @baks you can take a diagnostic id from the wiki so we can make it `ready`.

[2015-10-30 05:30] baks commented on #572
@giggio , `CC0109` is the next available number, so I took it and updated the wiki.

[2015-10-31 13:58] jcbowers opened #574 "Needs a cohesion analyzer."
It could warn when methods only operate on a subset of a class' members and suggest extracting that to a different class. It can also see when a method only operates on a single member and suggest moving that method to the member it operates on. This would be great because it would both increase cohesion as well as reduce coupling.

[2015-11-01 23:29] giggio commented on #551
Hey @jwooley, how is this and #550 coming?

[2015-11-02 00:44] #514 closed

[2015-11-02 00:56] #536 closed

[2015-11-02 01:01] carloscds commented on #574
@jcbowers Your suggestion it's about move method code to member declaration ?

[2015-11-02 01:08] carloscds commented on #572
@baks Thanks and go ahead!

[2015-11-02 01:26] carloscds commented on #529
@rtigithub Using last version of CodeCracker, dispose has been recognized. Can you try with last version ?

[2015-11-02 12:18] zygimantas commented on #433
The same issue is with JSON.NET attributes:

![image](https://cloud.githubusercontent.com/assets/102076/10881535/31c19642-816c-11e5-9e0e-7a7c1e0c5df6.png)

The JSON property names should not be linked to the c# field names. Serialization output should not be affected by renaming a field.

[2015-11-02 16:02] jcbowers commented on #574
@carloscds Thanks for your question.

If code has the following structure:

        public class Driver
        {
            private Car _car;

            private Brain _brain;

            private bool _hasCoffee;

            public void Stop()
            {
                _car.Velocoty = 0;
            }

            public void Drive()
            {
                _car.Velocoty++;

[2015-11-02 21:22] giggio commented on #574
@jcbowers I have moved your example to the issue's description.
We need to define how the analysis would work:

* In which cases it generates a diagnostic?
* In which cases it does not?

Also, I am assuming this is a refactoring, so, a hidden analyzer, on the `Refactoring` category.

[2015-11-02 21:26] giggio commented on #529
@rtigithub I also cannot confirm this bug. Can you try again with the version released yesterday (RC4)? I'll close the issue, if you find some where we can repro this, we will promptly reopen it, ok?

[2015-11-02 21:26] #529 closed

[2015-11-02 21:28] giggio commented on #572
Yes, so it is `Ready`. @baks if you want to work on it let us know. It is up for grabs now.

[2015-11-03 00:33] thomaslevesque opened #575 "Check consistency of optional parameter default value"
When you implement an interface method with an optional parameter, specifying a different default value in the implementation has no effect when the method is called via the interface, so it's a potential bug. For instance:

[code]

I have written an analyzer for this (I know we're supposed to discuss it before actually doing it, but I wanted to check the feasibility before I mentioned it). I stil

[2015-11-03 02:05] giggio opened #576 "BUG on CC0057 (unused parameter) with extension methods"
This will throw if you try to remove `i`:

[code]

[2015-11-03 08:16] giggio commented on #575
@thomaslevesque I think it makes sense. I just verified the sample code. For me, it is a go ahead.
The category, feels like `Usage` for me. See examples of other analyzers [here](https://msdn.microsoft.com/en-us/library/ee1hzekz.aspx?f=255&MSPPError=-2147217396).

I have assigned the issue to you. Remember to fork and PR into the vnext branch.

[2015-11-03 17:00] giggio commented on #574
@jcbowers After discussing with the other maintainers, we came up with a another question:

* The above example will break existing code that calls the methods (ex. `stop`). This is not acceptable. How would we fix it?

We think we should not do this, we need to understand how it would work. If we can't find the case, we will close the issue, help us understand better. Tks.

[2015-11-03 21:07] giggio opened #577 "BUG on CC0022 (disposable not disposed) when a comment is present"
When there is a comment on the variable declaration the code fix fails. This:

[code]

Should be fixed to:

[code]

[2015-11-03 21:11] thomaslevesque commented on #575
I managed to write the code fix, but it was harder than I expected (mostly because there is no obvious way to format the `ExplicitDefaultValue` of the parameter).

I still have to write the tests, and I have a question: how do I test a code fix that has 2 possible actions? Is there an example somewhere in Code Cracker?

[2015-11-03 21:16] thomaslevesque commented on #575
Ignore the question in my previous message, I just noticed the `codeFixIndex` parameter in `VerifyCSharpFixAsync` ;)

[2015-11-04 10:52] markusschaber opened #579 "CC0064: Object reference not set to an instance of an object"
The following Code generates the error "CC0064: Object reference not set to an instance of an object" on the line with the `IPAddress.Parse` call.
[code]
I cannot see how the call to `Parse()` should generate a Null reference exception - stTemp is guaranteed not to be null.

[2015-11-04 17:14] giggio commented on #579
This is a duplicate of #571. @andrecarlucci is working on it.

[2015-11-04 17:14] #579 closed

[2015-11-04 18:59] giggio commented on #575
Closed on #578.

[2015-11-04 18:59] #575 closed

[2015-11-04 19:06] #571 closed

[2015-11-04 21:27] markusschaber commented on #579
Sorry for the duplicate - I searched using several different search terms (like "IPAddress Parse Null reference exception", and did not find the other entry.

[2015-11-04 23:57] jwooley commented on #550
Fixed all 3 issues in changesets 2b5e919 and 0f2fb83. Having issues with rebase and pull requests with cherry picking. Let's work together at the hackathon to help me get git.

[2015-11-05 00:06] giggio commented on #550
@jwooley Sure! ;)

[2015-11-05 14:30] thomaslevesque commented on #1
Some of the tests for this analyzer are failing on a system with French as the current culture. A color like `"200, 200, 200"` is valid in English, but not in French, because the list separator in French is `;`, no `,`. The analyzer can't rely on the `CurrentCulture` as it currently does, because it doesn't know which culture will be in use when the code runs.

Actually, the `ColorTranslator` clas

[2015-11-05 15:12] #521 closed

[2015-11-05 17:38] giggio commented on #1
@thomaslevesque We have a way to make this work, we can use the `ChangeCulture` class to help with that. Can you try to add this to these tests that are breaking? I cannot do it, because my environment is all en-us.

[2015-11-05 19:46] thomaslevesque commented on #1
@giggio, this will fix the test, but not the underlying problem, which is that code like `ColorTranslator.FromHtml("200, 200, 200")` is _never_ safe, since it will only work in some cultures. So in this case the analyzer should always emit a diagnostic, even if the color string is valid in the current culture.

(color strings like "#C8C8C8", on the other hand, are always safe)

[2015-11-05 20:20] giggio commented on #1
@thomaslevesque Ok, 2 things, then:

1. Can you submit a PR with the `ChangeCulture` points where that is currently failing for you, so it does not fail anymore?
2. Should we create an analyzer and code fix that changes from one API to another?

[2015-11-05 21:39] #381 closed

[2015-11-05 21:40] giggio commented on #381
And we are done! Thanks, @baks!!!

[2015-11-05 22:12] thomaslevesque commented on #1
Actually, `ChangeCulture` is already used in that test. But it only changes the culture for the current thread, and since the code is asynchronous, it doesn't stay on the same thread... When it gets to the point where the color is parsed, the culture is back to the system default.

According to [this](https://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo%28v=vs.110%29.aspx#Asyn

[2015-11-05 22:24] thomaslevesque commented on #1
I think the problem is that even though the unit test project targets 4.6, the executable that runs the test doesn't, so the new behavior is not used...

[2015-11-05 22:52] giggio commented on #360
Pull request #582 added the first example of localization to CodeCracker!

[2015-11-05 23:08] thomaslevesque commented on #1
I was able to make it work (see #584).

Anyway, this fixes the tests, but not the underlying problem...

[2015-11-05 23:10] #525 closed

[2015-11-05 23:10] giggio commented on #525
Fixed!

[2015-11-05 23:17] giggio opened #585 "BUG: CC0056 (StringFormatAnalyzer) raised incorrectly"
This code is incorrectly raising `CC0056`:

[code]

With message:

`The number of arguments in String.Format is incorrect.`

[2015-11-05 23:30] thomaslevesque commented on #561
I just stumbled onto this problem as well. I agree with @wilhelmmedetz, this diagnostic should only be emitted for events.

There are plenty of cases where you _know_ that the delegate is not null, and using `?.Invoke` implies that it could be null. The `?.Invoke` pattern is commonly used for events, but I don't think it should be generalized to all delegates, for the same reason we don't suggest

[2015-11-05 23:54] jwooley opened #587 "Remove empty Catch Block too aggressive"
If code has multiple catch blocks in a single try, when selecting the fix to remove empty catch block, it removes all catch blocks not just the one requested. Sample test:

  public void foo()
    {
        try
        {
            Console.WriteLine("foo");
        }
        catch (ArgumentException aex)
        {

        }
        catch
        {
            throw;
        }
    }

Should retur

[2015-11-07 00:16] giggio commented on #451
I'll take this one.

[2015-11-07 14:11] giggio opened #590 "BUG: DisposablesShouldCallSuppressFinalize should use full name when System is not imported"
There is already a test at `DisposablesShouldCallSuppressFinalizeTests` called `AddsSystemGCWhenSystemIsNotImported` at the source, skipped. The idea is make this test pass.

This:

[code]

Should become:

[code]

[2015-11-07 14:24] giggio commented on #587
Bug confirmed.

[2015-11-07 14:39] #550 closed

[2015-11-07 14:39] #551 closed

[2015-11-07 14:39] #552 closed

[2015-11-10 09:48] wilhelmmedetz commented on #561
In my opinion firing an event is different from invoking an Action delegate. When firing an event yo usually make a local copy of  the delegates list (in order to assure thread safety), then check that the delegates are not null, and then invoke the delegates. This default pattern is exactly matched by the null-conditional operator.

event EventHandler<float> OnTemperatureChanged;

    FireEvent()

[2015-11-10 10:04] wilhelmmedetz commented on #562
I am still having this problem (Code Cracker 1.0.0.12)

A sample project reproducing this behavior can be downloaded at https://www.dropbox.com/s/bfjpw4p06t6mp9o/ClassLibrary1.zip?dl=0

My Visual Studio version is:

![image](https://cloud.githubusercontent.com/assets/7532446/11059404/c4704f96-8799-11e5-9378-1c47fb88ae97.png)

[2015-11-10 12:57] #577 closed

[2015-11-10 20:02] andrecarlucci commented on #561
I agree with @wilhelmmedetz, it makes sense for events only imho :)

[2015-11-11 17:35] #451 closed

[2015-11-11 18:05] giggio commented on #451
This has been fixed!

[2015-11-16 23:20] mirhagk commented on #460
I'm not sure if this issue is resolved or not but I noticed that code cracker does not verify on interpolated strings (`$"Style"`) so perhaps this could be a solution? Perhaps it's worth considering whether it should also ignore literal strings (`@"Style"`) which would give this a pretty clean solution.

Tbh I'm not 100% confident on this, just thought I'd mention that C# has 3 string types and pe

[2015-11-16 23:26] mirhagk opened #594 "Suggested Nameof fix incorrectly suggests wrong type"
The following code fragment

        public ActionResult ChangePassword(ChangePasswordMessageId? message, bool? Redirect = false)
        {
            var returnUrl = "ChangePassword";

Correctly identifies a place where `nameof` should be used. However it suggests using `nameof(ChangePasswordMessageID)` instead of the correct `nameof(ChangePassword)`. If I change the type of `message` it produce

[2015-11-16 23:29] mirhagk commented on #594
Actually while searching through the code base I found another similar problem

        public ActionResult Index(int? id = null, FormResponse<object> response = null, string searchQuery = "")
        {
            var viewModel = new ShipmentIndexViewModel
            {
                SearchQuery = searchQuery,
                Response = response ?? new FormResponse<object>()
            };

[2015-11-16 23:40] mirhagk opened #595 "Nameof fix doesn't work well with Controllers"
Let's say you have an MVC project with a controller named `ShipmentController`. If you want to create a url to the `ShipmentController` you can use something like the following:

    var url = new UrlHelper(Request.RequestContext).Action("Index/"+data.shipmentid, "Shipment");

For my case I happen to have a model called `Shipment` which seems like a normal likely scenario (a CRUD controller, and p

[2015-11-17 12:51] carloscds commented on #595
@mirhagk The logic under this analyzer is check if string ("Shipment in your case) is a object in code and after this suggest to use nameof(). About change controller replace "Controller" word is a different context out of scope for this analyzer. IMHO I think that nameof analyzers could be ignore suggestions in controllers for some actions.

[2015-11-17 12:59] carloscds commented on #594
@mirhagk I try to repro this issue, CC replace "Index" to "nameof(Index)"

[2015-11-17 13:06] #576 closed

[2015-11-17 13:44] giggio opened #597 "BUG on CC0049"
This will throw:

[code]

With `ProjectCompilation` being a struct and `obj` being of type `object`.

[2015-11-17 15:37] giggio commented on #460
@mirhagk I don't think we should be differentiating string types, as this is not really clear for the user.
Interpolated string are not easy to check, only those with no real interpolations could be replaced by nameof, and those do not make sense to even exist.

[2015-11-17 15:40] giggio commented on #595
@mirhagk This would be really specific. We could argue that `nameof(ShipmentController).Replace(nameof(Controller),"")` would tie things correctly, but that is really ugly. I am not sure we should do this.

[2015-11-17 15:42] mirhagk commented on #595
@giggio Yeah I agree. The right thing here may just be not to suggest anything? Using name of(Shipment) is incorrect for sure, and there really isn't a clean solution as of yet

[2015-11-17 19:17] #590 closed

[2015-11-17 19:38] giggio commented on #562
Ok, now I was able to repro. Weird... Anyway, it is a bug, let's fix it!

[2015-11-17 21:01] #585 closed

[2015-11-17 21:05] carloscds opened #598 "Change project Erros and Warnings"
Change CodeCracker projects property "Treat warnings as error" to None to avoid compiler errors.

[2015-11-17 21:13] mirhagk commented on #460
Yeah I just mentioned because it was possible to use as a workaround to get rid of false positive situations.

[2015-11-17 22:34] mirhagk commented on #594
Hmm perhaps it was an issue with rc2 but now fixed in rc4? I'll try on a simplified project and if I can reproduce it I'll share the project. On a related note I'm having a lot of difficulty convincing VS to actually update the analyzer. I've updated the nuget package, but that doesn't seem to be enough?

[2015-11-18 12:38] carloscds commented on #594
@mirhagk If you can share a project, will be great!

[2015-11-18 19:26] OsirisTerje opened #601 "Rule CC0043 Change Any to All collides with Resharper Linq rule"
Resharper want to change All to Any, and this rule suggest changing Any to All.
The code line where I see this suggestion is
![image](https://cloud.githubusercontent.com/assets/203432/11251665/9acac6a4-8e32-11e5-9fbf-930d8b801874.png)

And I can't see it makes any sense here.

[2015-11-18 23:02] giggio commented on #601
@OsirisTerje See the discussion on item #31. This is a hidden diagnostic, so you will only see it if you ask for it (CTRL DOT). Any or All depends on your logic, there is no way to determine which one is better.
I will close the issue, but if you can find a proposed algorithm to fix that, or even some pseudo code on how to change that analyzer or bring a way for us to fix it, we can reopen it, ok?

[2015-11-18 23:02] #601 closed

[2015-11-18 23:04] giggio commented on #594
@mirhagk I've tagged as `Can't repro` until we find a simple case we can verify, ok? When it is found we can remove the tag.

[2015-11-18 23:06] giggio commented on #598
I don't think this should be done. Warning as errors will prevent warnings. If we have an specific warning we don't want to appear, we should suppress that specific instance.
Today's warning is tomorrow's bug.

[2015-11-18 23:11] giggio commented on #561
@wilhelmmedetz @andrecarlucci This pattern, with checking for null, was tracked on #536 and fixed on PR #568.
Does that fix it? It is already available on the RC4 and on the latest version on the extension gallery.

[2015-11-19 03:23] mirhagk commented on #594
https://github.com/mirhagk/TestReproduceCodeCrackerIssue594 I can't seem to determine the exact cause but it doesn't seem to be overly difficult to reproduce.

[2015-11-19 04:02] jwooley commented on #348
If this is still open, I can take it.

[2015-11-19 09:54] wilhelmmedetz commented on #561
OK - enabling CC0016 and disabling CC0031 is a suitable solution for me.

[2015-11-19 09:54] #561 closed

[2015-11-19 11:29] ElemarJR commented on #562
I asked for help from the team.

There are differences from DataFlowAnalysis between run-time and test environments.

[2015-11-19 14:08] ischas commented on #30
If I follow the [Dispose Pattern](https://msdn.microsoft.com/en-us/library/b1yfkh5e(v=vs.110).aspx) I mistakenly get the warning CC0033.

Example (with a hopefully correct implemented disposing):

    public class A : IDisposable
    {
        private DisposableClass disposableField = new DisposableClass();
        private bool disposedValue;

        public void Dispose()
        {
            th

[2015-11-19 16:03] #597 closed

[2015-11-19 16:12] carloscds commented on #594
Bug confirmed:
![2015-11-19_14-11-48](https://cloud.githubusercontent.com/assets/1697221/11276048/9c062b0e-8ec7-11e5-92f3-ed289e54bf5e.png)

[2015-11-19 16:33] mirhagk commented on #594
Great. As far as I can tell it isn't related to the name being the same, or the clas being in the same file. So I'm not sure what the root cause is

[2015-11-19 21:51] giggio opened #603 "When the dispose pattern is used do not raise CC0033"
If using the a field is being disposed through the use of the [Dispose pattern](https://msdn.microsoft.com/en-us/library/b1yfkh5e%28v=vs.110%29.aspx), `CC0033` is incorrectly raised.

This should not raise `CC0033`:

[code]

[2015-11-19 21:52] giggio commented on #30
@ischas Created issue #603 to track that.

[2015-11-19 22:44] mirhagk commented on #594
Alright found the issue. Design\NameOfAnalyzer.cs line 91:

    programElementName = symbol.ToDisplayParts().LastOrDefault(AnalyzerExtensions.IsName).ToString();

For the unit test I added `symbol.ToString()` is `N1.N2.@using.@class.Foo3(string,N1.N2.@using.BaseTypeName)`.`ToDisplayParts` returns `N1,N2,@using,@class,Foo3,string,N1,N2,@using,BaseTypeName` so this would be the wrong thing to use fo

[2015-11-20 00:15] giggio commented on #348
@jwooley go for it! Fix it on `master` so we can get it ready for v1 RTM!

[2015-11-23 10:37] ElemarJR commented on #562
I just reported an issue on Roslyn repo.

https://github.com/dotnet/roslyn/issues/6967

Let's see what comes from the team.

[2015-11-24 19:18] soerennielsen commented on #451
Hmm.. this issue broke my app today :-(
Running 1.0.0.12, installed 12-11-2015.
Glad it's fixed in the next build.

[2015-11-25 01:59] #562 closed

[2015-11-25 13:21] giggio commented on #348
Closed on #605.

[2015-11-25 13:21] #348 closed

[2015-11-26 13:45] #407 closed

[2015-11-26 13:55] #587 closed

[2015-11-27 13:21] wmjordan opened #608 "Duplicate ruleset"
CC0021 and CC0108 are the same.
So to CC0052 and CC0074; CC0013 and CC0014.
Please remove the duplicated one or change their names and descriptions if they are actually different.

[2015-11-28 09:52] shubhekshajalan commented on #132
I'm a newcomer, so I'm a little lost in the codebase. I understand what is to be done, but which files need to be changed?

[2015-11-29 14:37] k94ll13nn3 opened #609 "NoPrivateReadonlyFieldAnalyzer (0074) is missing the Generated file check"
It seems that the CC0074 analyzer (NoPrivateReadonlyFieldAnalyzer) seems to be missing the line that checks if a file is generated :
[code]
which causes CC0074 to appear on file that are generated.

[2015-11-30 12:01] giggio commented on #608
No, 21 is for symbols in your solution, 108 is for outside.
52 was removed on recent versions.
13 is for a ternary on a return statement, 14 for a ternary on an assignment.

[2015-11-30 12:01] #608 closed

[2015-12-01 03:32] jwooley commented on #598
I'm still seeing the AD0001 compile error with VS 2015 Update1 even after updating to the 1.1.0.0 Analyzers libraries. I was able to remove the old analyzer reference and get the project to compile. Running the vsix debugger, I think I've identified the source error. When compiling Code Cracker through the vsix, experimental debugging option, the compiler crashes on HasCheckForNull in UseInvokeMet

[2015-12-01 13:01] wilhelmmedetz opened #610 "BUG: ReadonlyFieldAnalyzer is crashing Visual Studio 2015 Update 1 because of reporting diagnostic at unexpected locations"
After intstalling the 'Visual Studio 2015 Update 1' Visual Studio crashed when Code Cracker is enabled.

[2015-12-01 13:17] Cybermaxs commented on #610
same for me. I don't have this problem on all files, but just a few ones (If I remove them, it's ok)
Disabling extension remove this error.

I can see this in Event Logs

Message : System.ArgumentException: SyntaxTree ' {{CsCodeRemovedForClarity}}'
not found to remove
Parameter name: syntaxTree
   at Microsoft.CodeAnalysis.CSharp.CSharpCompilation.GetSemanticModel(SyntaxTree syntaxTree, Boolean ig

[2015-12-01 13:18] giggio commented on #610
We are working on it.

[2015-12-02 03:45] giggio commented on #598
Closed on f767d631f18aea0a940da2f8370796a417c724b7.
@carloscds instead of disabling warning as errors, we just need to disabled `AD0001` as an error. That was done on f767d631f18aea0a940da2f8370796a417c724b7. This way we are not stopped from other analyzer's errors and we still get to keep warnings away. All we needed to do is add `<WarningsNotAsErrors>AD0001</WarningsNotAsErrors>` to the .csproj

[2015-12-02 03:45] #598 closed

[2015-12-02 03:49] giggio opened #611 "BUG: UseInvokeMethodToFireEventAnalyzer throwing when method body is null"
Bringing over description from @jwooley on https://github.com/code-cracker/code-cracker/issues/598#issuecomment-160840875:

I'm still seeing the AD0001 compile error with VS 2015 Update1 even after updating to the 1.1.0.0 Analyzers libraries. I was able to remove the old analyzer reference and get the project to compile. Running the vsix debugger, I think I've identified the source error. When com

[2015-12-02 04:29] giggio commented on #610
I am discussing this with the .NET team, as this is likely not a problem with CodeCracker itself. A crash on CodeCracker would only raise an `AD0001` diagnostic. An analyzer project should never be able to crash VS. This is likely a bug on VS or Roslyn. I will keep you posted when I find out more.
Note that the stack trace does not have CodeCracker in it.
Also, if you are able to pinpoint which co

[2015-12-02 05:37] giggio opened #613 "BUG on CC0043 and CC0092 (ChangeAnyToAll) when invocation is has elvis operator"
Here is the test case that will fail:

[code]

Both `CC0043` and `CC0092` will crash with an NullReferenceException when the `Any` or `All` invocation is complex, composed of more than one Member Access. So, instead of `A.Any`, which works, `A.B.Any` will fail. But only when composed with an elvis operator, like `A?.B.Any`.

This is happening at the `UnusedParametersAnalyzer.cs`, line 153. (See it

[2015-12-02 07:17] mavasani commented on #610
Yes, a repro would be really helpful. Thanks.

[2015-12-02 13:43] giggio commented on #132
@shubhekshajalan Take a look at commit 718539eeeb757105fa58b823e93b44c3a924305f. You will see 9 changed files. You can ignore the first one, `runTestsCS.ps1`, that was another change that made into the commit. And actually only 3 files are created, only 2 updated, the other 3 are updated by Visual Studio.

That commit is a good example of a commit that creates an analyzer and a code fix. What is n

[2015-12-02 15:15] Cybermaxs commented on #610
@giggio That was my feeling too. I've uploaded a simple project on https://github.com/Cybermaxs/analyzerbug-repro to reproduce this issue and commented the roslyn issue.

[2015-12-02 15:24] bbarry opened #615 "Disposable checking diagnostics should check for types that the author knows could be disposable."
In the BCL, another type that should be disposed of is `System.IEnumerator` (even though it does not implement IDisposable); perhaps there are others as well (I am not suggesting to check for this type in these diagnostics, only using it as an example of the problem).

It would be nice if authors could annotate their types in a non-breaking way so that using the type could trigger these diagnostic

[2015-12-02 21:32] giggio commented on #610
It seems @mavasani found the problem, you can read it at https://github.com/dotnet/roslyn/issues/7173#issuecomment-161434440.
Quoting:

So, we know of at least this place. We will fix the bug on `ReadonlyFieldAnalyzer` and release it ASAP, as a fix to Roslyn will likely take longer to come out.

[2015-12-02 21:42] giggio commented on #615
@bbarry What do you mean by disposing of `IEnumerator`? The GC will automatically reclaim the memory for such an object when it needs it back, there is no need to dispose it. If a type that implements `IEnumerator`, for example, needs to be disposed, it should implement `IDisposable`.
It seems an attribute would be adding another way to say the same thing.
It is not clear to me why this would be n

[2015-12-02 23:05] bbarry commented on #615
The old .NET 1.0 type `System.IEnumerator` doesn't implement `IDisposable` (the generic version does); they never made it do so because they shipped without it and it would have been a breaking change.

If a user today manually enumerates over an `IEnumerable` that is passed in via a local call of GetEnumerator(), that user is supposed to take care of disposing of the enumerator:

    public Foo M

[2015-12-02 23:28] giggio commented on #610
The PR is up, I already asked the other @code-cracker/owners to look into #616. I guess by tomorrow it is in and we will release it.

[2015-12-02 23:31] #611 closed

[2015-12-02 23:32] #609 closed

[2015-12-02 23:35] #610 closed

[2015-12-03 00:06] giggio commented on #615
Ok, so what you are saying is that the declared type of a variable might not be a type that implements IDisposable, but the runtime type might actually implement it. Ok, it makes sense. But how would we detect this, and how useful would it be?
A user would not be able to add `[CouldBeDisposable]` to an externally referenced type, like `IEnumerable`. If they own the type, then they should simply im

[2015-12-03 01:02] giggio commented on #610
CodeCracker 1.0.0-rc5 was just released to the Extension Gallery and to Nuget: https://github.com/code-cracker/code-cracker/releases/tag/v1.0.0-rc5

[2015-12-03 01:11] paul1956 opened #617 "Removing Option Parameter causes crash"
In the Sub below, when you try to remove the optional (unused) parameter "create" the program crashes.

[code]
Using latest public version with Update 1.

[2015-12-03 01:46] paul1956 commented on #617
The code below needs to be modified
[code]
Add the 5 lines below or modify the Else to include the test arguments.Arguments.Count > parameterPosition
[code]
original code below
[code]

[2015-12-03 01:57] bbarry commented on #615
For that reason I am not really concerned about types the user doesn't own. If someday in the future `IEnumerator` managed to get an attribute on it that triggered this diagnostic, awesome... Until then being able to fix it for the types we own is what I think should be done.

They might not be able to make such a change because that is a breaking change. C'est la vie...

So we are on the same pag

[2015-12-03 12:07] giggio commented on #610
@wilhelmmedetz Please verify if the new release fixes it for you as well.

[2015-12-03 12:14] giggio commented on #617
Bug confirmed.
@paul1956 I updated the code in the description. We are able to remove the parameter if no one is calling. So, this works:

[code]

But not this:

[code]

[2015-12-03 12:17] wilhelmmedetz commented on #610
Thanks - works for me

[2015-12-03 12:18] giggio commented on #615
@bbarry I don't see how implementing `IDisposable` would not break any code. Please share a concrete situation where that might happen.

[2015-12-03 12:27] Cybermaxs commented on #610
Confirmed too. Thanks

[2015-12-03 14:51] bbarry commented on #615
I have these classes in my library (I cannot share the actual ones, but this is a very stripped down case); I didn't write them but I am now maintaining them:

[code]

A client (among many others) bought the dll that contains this; the design of how to use this library involves creating classes that inherit from `Shape` and `ManagedMover`. We have contractual obligations to never require any code

[2015-12-03 19:19] giggio opened #618 "Bug on CC0029 (Call GC.SuppressFinalize on dispose) with expression based methods"
This code:

[code]

Will incorrectly fixed to:

[code]

Should be instead:

[code]

[2015-12-04 03:22] giggio commented on #615
Ok, so let's try to address this specific need. I'll try to summarize what I am seeing.
You have a method that returns a type that does not implement IDisposable, in this case, an interface called `IMover`. The problem is that this method returns an `IMover` that happens to implement `IDisposable`, but the caller of the method will never know that, because they are getting an `IMover`.
We could wo

[2015-12-04 13:59] RehanSaeed opened #619 "Not all objects need to be Disposed"
Some objects like the `HttpClient` and `HttpWebRequest` do not need to be disposed even though they implement `IDisposable`. In fact the advice is not to dispose `HttpClient`. Please add exceptions for these types. I'm sure there are others.

[2015-12-04 14:50] bbarry commented on #615
I think that sounds about right.

[2015-12-04 15:52] carloscds commented on #619
@code-cracker/owners What do you think about this ?

[2015-12-13 18:52] SergeyZhurikhin opened #620 "Bug, nameof fix doesn't work well with operators"
For  "a"  in method Add CodeFix returns **nameof**(a), but in operator+  returns **nameof**(**MyClass**):
[code]

[2015-12-14 09:04] TineSvete opened #621 "CC0052 false positives"
CC0052 is giving me false positives when variable that "is supposed to be" read-only is assigned with ++ operator for example ...

[code]

[2015-12-14 11:57] carloscds commented on #621
@TineSvete Bug Confirmed.

[2015-12-14 12:17] carloscds commented on #620
@SergeyZhurikhin Bug confirmed.

[2015-12-14 12:33] TineSvete opened #622 "CC0017 Code fix "fixes" more than it should"
It seems CC0017 code fix unnecessarily deletes empty line above backing field.

Before applied fix ...
[code]

... after fix (there is empty line missing after "someField") ...

[code]
... if there is empty line between backing field and property, then fix works fine. After testing some various configurations of backing field and property it seems the fix tries to delete empty line above backing f

[2015-12-14 14:21] giggio commented on #619
HttpClient has to be disposed, it would not make sense to implement IDisposable if it was not disposable. When it opens a connection it holds unmanaged resource until it is disposed. You might reuse it on your app, so you don't open unnecessary local ports, and might dispose it only when your app closes, but if you try to create 10000 HttpClients and not close any you might end up exausting your m

[2015-12-14 14:33] giggio commented on #620
This is a duplicate of #594, and it is already being fixed. I just verified the PR and it fixes this case as well.

[2015-12-14 14:33] #620 closed

[2015-12-14 14:37] #594 closed

[2015-12-14 14:49] giggio commented on #622
It does because it is removing the field `test` altogether, and the empty line before it was part of the field's trivia. It would also remove any comment on the field.
So this:

[code]

Is becoming:

[code]

I am not sure this is a problem. Do you have a suggested fix? What do you think, @code-cracker/owners?

[2015-12-14 14:52] giggio opened #623 "Bug: CC0017 not raised when using this"
When the field assignment (on set) or return (on get) is using the `this` member access expression, `CC0017` is not being raised. It should.

This should raise it:

[code]

So should this:

[code]

[2015-12-14 15:14] carloscds commented on #622
@giggio I think that is not a problem. Maybe a second fix ?

[2015-12-14 15:16] carloscds commented on #619
@giggio It's make sense for me too.

[2015-12-14 15:57] TineSvete commented on #622
First of all, I don't see this as big problem in any way, I just posted it because I imagine the behavior can be fairly easily changed.

Perhaps it's just me, but I think the fix should leave an empty line in given situation, since this is usually part of the coding style and current situation demands to manually add deleted line. The way I see it the empty line in provided situation does not "bel

[2015-12-14 16:35] #619 closed

[2015-12-14 16:43] giggio commented on #622
@TineSvete I understand, but the way the compiler does this is by assigning the empty line to the field's trivia, not to the property's trivia. We can discuss keeping the trivia there, and removing only the field. That would keep the line break and also any comments. This makes sense to me.
The problem we create if we do that is that several people to not leave the field next to the property, but

[2015-12-14 20:30] TineSvete commented on #622
@giggio as this seems to be a decision between deleting one empty row too many or not removing obsolete/misleading comment I definitely agree that failing to do the latter is much worse.

As far as I'm concerned you can mark this "issue" as closed/non-issue as I'm sure there are far more important areas to put your resources in.

[2015-12-15 03:37] giggio commented on #622
Ok, @TineSvete, I will close the issue. If you can find a way to compromise between this options, we would love to hear it. Let us know.

[2015-12-15 03:37] #622 closed

[2015-12-15 07:23] TineSvete commented on #622
@giggio I agree ... thanks for the feedback and great job guys.

[2015-12-15 09:36] Duetting opened #624 "CC0090 when using /// <inheritdoc/>"
CC0090 is shown for overridden methods with parameters even if  inheritdoc is used.

[2015-12-15 10:41] Duetting opened #625 "CC0001 is shown for variables with type dynamic and object"
`CC0001` should not be reported for dynamic like this:

[code]

See discussion bellow. It only happens when the right hand side of the assignment is an object. This already does not report `CC0001`:

[code]

Original comment:

[2015-12-15 10:54] Duetting opened #626 "CC0003 is shown even for catches which end with throw"
Imho CC0003 shouldn't be shown for catch blocks which end with throw:
[code]

[2015-12-15 11:11] SergeyZhurikhin opened #627 "New word 'Foramt' in NameOfSymbolDisplayForamt"
@giggio Expected 'Format'

[2015-12-15 21:19] giggio commented on #625
CodeCracker will only suggest to change it to var if the right hand expression on the assignment is already dynamic, making the type unnecessary. If the expression is not dynamic, it will not suggest the change.

So, this will raise CC0001:
[code]

And this will not, as the value of `j` would change:
[code]

This is as expected.

I am closing the issue, if you find we missed something let us know

[2015-12-15 21:22] giggio commented on #626
Agreed!

[2015-12-15 21:23] Shiney commented on #508
I'm a bit confused about how to replace the old references. Is there a good example of looking at references and changing them?

[2015-12-15 22:31] giggio commented on #508
On the code fix you can use the `SymbolFinder` class. There are examples on the CodeCracker source you can use.

[2015-12-15 22:36] giggio commented on #627
Closed on 746372e.

[2015-12-15 22:36] #627 closed

[2015-12-16 08:35] Duetting commented on #625
I got CC0001 here:
[code]
Activator.CreateInstance returns an object and not dynamic. We use this for late binding to a COM object and if the nafi variable is changed to "type" var, calling of the COM methods of nafi isn't possible any more.

[2015-12-16 14:03] giggio commented on #625
Ok, confirmed! Weird, it does not work for `object`! I am reopening the issue! Thanks for the follow up.

[2015-12-16 15:11] Duetting commented on #625
I have to thank you and your team for a great Analyzer. Had the dream to replace all our property name references of our ORM business classes (e. g. every setter has to have a method call with the property name as one of the parameters) with nameof. And with Code Cracker i managed to get that done in all of our over 600 classes in less than a day.
And i found a few places too where there were alre

[2015-12-16 15:28] giggio commented on #625
@Duetting Hey, thank you for the feedback! That really encourages us to keep going! I am happy CodeCracker was able to help! :)

[2015-12-18 00:08] giggio opened #630 "BUG on CC0022 (disposable not disposed) fix when there is method chaining"
This will cause the code fix to throw:

[code]

[2015-12-19 20:43] #623 closed

[2015-12-19 20:45] #624 closed

[2015-12-19 23:38] giggio commented on #613
I was working on the fix, and I can't repro. It is closed.

[2015-12-21 16:54] giggio commented on #615
@bbarry  Ok, I have updated the description. It is an interesting item.

@code-cracker/owners please check the item, if you like it, let's make it `Ready`.

[2015-12-22 18:41] thorgeirk11 commented on #625
Dose this mean that the `AlwaysUseVarAnalyzer` has to ignore all cases of `dynamic` variables?

[2015-12-23 04:01] giggio commented on #625
Not, not all. It already works correctly in some cases. See the description.
I am assigning it to you, @thorgeirk11.

[2015-12-24 16:41] #625 closed

[2015-12-26 03:06] midnait opened #635 "C# - insert auto comment when close brackets"
Hi CC Team

In VB, just to look at the code and you already know where the end blocks. In C#, depending on the amount of braces, you must pass the mouse over each brace to make sure what is the end of the block.

I believe that a auto comment option would be useful to facilitate the reading of the code and its maintenance:

     } // end if(...
    } // end foreach(entities...
   } // end using(db

[2015-12-27 16:08] #621 closed

[2015-12-27 16:15] #630 closed

[2015-12-29 13:59] giggio commented on #626
Closed on #631

[2015-12-29 13:59] #626 closed

[2015-12-30 11:25] noah80 opened #638 "AD0001 Crash"
I keep getting the crash below. Any ideas?

Severity	Code	Description	Project	File	Line	Suppression State	Detail Description
Warning	AD0001	Analyzer 'CodeCracker.CSharp.Usage.DisposableFieldNotDisposedAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.	DatabaseIO		1	Active	Analyzer 'CodeCracker.CSharp.Usage.Disp

[2015-12-30 16:57] #603 closed

[2015-12-30 17:08] huoyaoyuan opened #639 "BUG: CC0091 WPF event cannot be static"
For example `Window_Loaded`, it is being referenced by `MainWindow.g.i.cs`, like this:

[code]

And these events have to be instance methods, see: https://msdn.microsoft.com/en-us/library/cc221357%28v=VS.95%29.aspx

We could check for them being passed to `RoutedEventHandler`, and ignore them.

Original description:

[2015-12-30 19:01] AlbertoMonteiro commented on #29
@GersonDias you can do this with this extension https://visualstudiogallery.msdn.microsoft.com/7179e851-a263-44b7-a177-1d31e33c84fd

Btw I also agree @viniciushana

[2015-12-30 19:11] AlbertoMonteiro commented on #491
@giggio If I have a method that receive the IEnumerable as parameter, like that
[code]

The codefix should fix using option 1 or option 2?

#### Option 1, use ToList

[code]

#### Option 2, change parameter type to IList

[code]

[2015-12-30 19:33] giggio commented on #491
Option 1. To do option 2 you would have to know all the method callers, you are changing the public API.
Do you want to work on it?

[2015-12-30 19:40] AlbertoMonteiro commented on #491
Ok, I will do it.

[2015-12-30 19:47] pedrobenevides commented on #509
@giggio, I want to start to contribute. I would like to do this one.

[2015-12-30 22:54] giggio commented on #491
Ok, remember to fork from and pull to the vnext branch. Try to do C# and VB if you can.

[2015-12-30 22:56] giggio commented on #509
@pedrobenevides Ok, go for it. Remember to fork from and pull into the vnext branch. Master is being stabilized.

[2015-12-30 23:00] giggio commented on #638
@noah80 Are you able to pinpoint exactly what code is producing the bug?

[2015-12-30 23:02] giggio commented on #639
@huoyaoyuan Can you provide an example?

[2015-12-30 23:41] giggio commented on #613
Reopening, found a way to repro.

[2015-12-31 01:36] #613 closed

[2015-12-31 01:43] carloscds commented on #29
@AlbertoMonteiro IMHO if there is an extension for this, it´s not necessary create an analizer too.

[2015-12-31 02:23] giggio opened #641 "BUG on CC0043 and CC0092 (ChangeAnyToAll) when invocation is in an expression bodied member"
This will cause an exception:

[code]

[2015-12-31 13:19] noah80 commented on #638
Unfortunately not. The message is all I get in the error window of VS.

Trying to debug extensions seems to be a rather non-enjoyable process too, and I haven't had time to experiment with that.

Could you maybe add a try/catch block which prints the location of the code? I'll post the culprit code then.  And adding some errorhandling for more graceful failing might be good anyway for the stabilit

[2015-12-31 13:40] jwooley commented on #638
@noah80 Are you using VS 2015 Update1? We've found that this typically only surfaces with Update1 which has a newer (1.1) version of the Microsoft.Analyzer libraries. At this point, CC is still targeting the 1.0 version to ensure compatibility with VS 2015 without update 1.

Also, which version of CC are you using? If you could, see if you can try building CC from source and using that library ins

[2015-12-31 17:53] huoyaoyuan commented on #639
[Showcase.zip](https://github.com/code-cracker/code-cracker/files/75665/Showcase.zip)
A very very simple showcase with nothing but only an event handler.
Use Code Cracker as vsix.
A CC0091 is on Window_Loaded, and when I try to "fix it", the fix provider crashes.
And in fact, the method cannot be static at all.

[2015-12-31 17:56] giggio opened #642 "BUG on CC0043 and CC0092 (ChangeAnyToAll) when invocation is negated"
This:

[code]

Sould be fixed to:

[code]

But is currently being fixed to:

[code]

[2015-12-31 18:21] giggio opened #644 "BUG on CC0091 (MakeMethodStatic) when a reference to method is used as a method group"
This will throw:

[code]

Example provided by @huoyaoyuan on https://github.com/code-cracker/code-cracker/issues/639#issuecomment-168228156 with `Window_Loaded`.

Exception is throw on line 91: https://github.com/code-cracker/code-cracker/blob/4cf84b611773b55632f3d04e7f460a93acd06c87/src/CSharp/CodeCracker/Design/MakeMethodStaticCodeFixProvider.cs#L91

[2015-12-31 18:31] giggio commented on #639
@huoyaoyuan Ok, I logged the bug for the crash on issue #644.
Regarding `Window_Loaded`, it is being referenced by `MainWindow.g.i.cs`, like this:

[code]

And these events have to be instance methods, see: https://msdn.microsoft.com/en-us/library/cc221357%28v=VS.95%29.aspx

Maybe we could check for them being passed to `RoutedEventHandler`, and ignore them?

[2015-12-31 18:42] huoyaoyuan commented on #639
@giggio Good. This can be a way.
By the way, how about event handlers in Windows Forms? Consider to treat them as instance or not?

[2016-01-04 22:29] #641 closed

[2016-01-04 22:29] #642 closed

[2016-01-05 05:39] Haacked opened #645 "CC0016 should not copy the variable with readonly members"
Suppose I have the following class:

[code]

Note that `_handlerFactory` is a `readonly` field so it can't generally be changed on more than one thread. In this particular case, it also can't be null. So there is no need to copy the event handler to a variable before firing it.

But Code Cracker still recommends I copy it. Not a big deal since I'm betting this is tricky to get right. But thought I

[2016-01-05 05:53] Haacked opened #646 "CC0057: Should not try to remove parameters meant to fulfill a delegate contract"
CC0057 appears to be a bit too aggressive. For example, suppose I need to pass a delegate to a method and the delegate signature has two parameters, but my implementation of the delegate only needs one parameter. Here's a demo class.

[code]

Code Cracker tells me that the `object value` parameter of `OnConfigFileChanged` is not used and suggests I change the signature. I can't always change the s

[2016-01-05 10:34] giggio commented on #646
@Haacked Ok, I confirmed the problem. And it is crashing when the code fix would be applied. So, at least that has to be fixed.

We have a few options here on how to fix this:

1. We could update the `ConfigFileChanged` delegate (if it is on source), removing `object value` from the signature and also update the `OnConfigFileChanged`, doing the same thing.
<br />1a. If the delegate comes from an o

[2016-01-05 10:39] carloscds commented on #645
@Haacked Thanks for your comment about this!

[2016-01-05 10:56] giggio commented on #645
@Haacked On the `GetHttpHandler` method there are only two options for `_handlerFactory`: null or not null, and, as you said, that cannot be changed. Not a single thread, but at all, as being readonly only allows it's value to change during object construction. So, there is no way that the value is going to change, and therefore, there is no need to check.

A better approach would be to simply `_h

[2016-01-05 11:04] giggio commented on #29
Should we close this?

[2016-01-05 11:06] giggio commented on #639
@huoyaoyuan Do they need to be instance methods? If they don't, then we don't need to do anything.

[2016-01-05 11:13] huoyaoyuan commented on #639
@giggio It seems not. Usually there will be references to instance fields in handlers.

[2016-01-05 11:17] giggio commented on #639
@huoyaoyuan That is alright, if there are references to fields than CodeCracker will not suggest to change it to static.

[2016-01-05 11:39] GersonDias commented on #29
Yep! Let's focus on more important things!
Em 5 de jan de 2016 9:05 AM, "Giovanni Bassi" <notifications@github.com>
escreveu:

[2016-01-05 12:33] #29 closed

[2016-01-05 16:17] Haacked commented on #646
I'm not sure that's the right thing. The delegate could be defined elsewhere. Or it might be designed appropriately, and only this instance doesn't need parameters. I think it's one thing when you define a method yourself and don't use a parameter. I think it's another thing when you're fulfilling a contract.

For example, it doesn't seem like you raise `CC0057` when you're overriding a virtual me

[2016-01-05 16:21] Haacked commented on #645
Well, in this case it cannot be null because the constructor for `HttpHandlerRouteHandler` would throw if it were null. I'm not sure how difficult it is to do that sort of flow analysis with Roslyn or not. For example,
if I did a `Debug.Assert(_handlerFactory != null);` just before calling `_handlerFactory(...)` would Code Cracker still tell me I need to use `.?`?

[2016-01-07 01:08] giggio commented on #645
@Haacked We can totally check for that. We are already doing that for `CC0031` (see it on [UseInvokeMethodToFireEventTests.cs](https://github.com/code-cracker/code-cracker/blob/3619b07ded508eaa6c91215692e9d2ead622a883/test/CSharp/CodeCracker.Test/Design/UseInvokeMethodToFireEventTests.cs#L241-L248)), which is similar to this one. I have updated the description again to reflect the discussion.
Also

[2016-01-07 01:12] giggio opened #647 "Readonly reference field is never assigned and is used"
When a reference readonly field is not assigned inside the constructor or during declaration, raise an error.

This should raise a diagnostic:

[code]

This should not:

[code]

This also should not:

[code]

Should apply to any usage, such as member access, being passed as parameter, used in any expression, etc.

There is no code fix.

Category: Design
Diagnostic id: `CC0112`
Severity: Error

[2016-01-07 01:33] giggio commented on #645
Created issue #647 to track Readonly reference field is never assigned and is used.

[2016-01-07 01:38] giggio commented on #646
Well, a delegate is just a method contract... if it is defined on your source, this means you own it. If no one else is using one of it's parameters, why not simply remove the parameter from the delegate and from the method?
But as I said before, that might not even be possible. :)
So I am looking for a way to do not raise it on this situation. Let's see if I can find it.

[2016-01-07 02:03] Haacked commented on #646
Sure, if it's a private delegate and _every_ usage omits one of the parameters. In the code sample I posted, the delegate is public. Which means there could be callers not under my control who are implementing it. Removing the parameter would break them.

:+1:

[2016-01-07 02:20] giggio commented on #646
@Haacked
Ok, Here is what I have found. We are going to have to compromise.
We can't use the `SymbolFinder` class for several reasons. The main one being that we cannot use the `Microsoft.CodeAnalysis.Workspaces.dll` during analysis, only when a code fix provider is running. So, we are not able to verify who is referencing the method. On your example, the `Init` method is in the same class, but it

[2016-01-07 15:43] #617 closed

[2016-01-07 15:52] giggio opened #649 "BUG on CC0057 (unused parameter) with named parameters"
This will be fixed incorrectly:

[code]

To this:

[code]

It should had removed the `b` parameter on the `Foo` invocation, but it removed `c`. It is removing by position, not by reference. The correct code after the fix should be:

[code]

Problem also happens with C#:

This:

[code]

Is incorrectly fixed to:

[code]

It should be instead:

[code]

[2016-01-08 04:06] haroldhues opened #650 "With more than one constructor, IntroduceFieldFromConstructorCodeFixProvider can replace wrong constructor"
When the `IntroduceFieldFromConstructorCodeFixProvider` is run on a class with more than one constructors, the first constructor is always replaced.

The bug is caused by this line in `IntroduceFieldFromConstructorCodeFixProvider.cs`:
[code]

I have a pull request coming shortly...

For Example
----------------
This:
[code]
Should be:
[code]
But actually:
[code]

[2016-01-08 11:50] #649 closed

[2016-01-08 11:59] giggio commented on #650
Bug confirmed.

[2016-01-08 12:02] #650 closed

[2016-01-08 20:08] Haacked commented on #646
Seems legit to me.

I don't mind the code fix being offered. What I don't want to do is litter my code with `#pragmas` to hide this diagnostic in cases where I can't fix it. So not raising the diagnostic when it's a public delegate seems like a good compromise.

[2016-01-09 14:22] carloscds commented on #647
@giggio It's raise a warning CS0649. An have a probem with this when class have parameters in constructor:

[code]

[2016-01-10 23:41] martinzimmermann commented on #526
I guess xUnits `[Theory]` should also be added to the exceptions?

[2016-01-12 06:09] Vossekop commented on #645
@code-cracker/owners I'd like to try my hand at fixing this.
@giggio by updating the description I take it you mean the original post by @Haacked, and that the part under "Summarizing:" is what needs to happen, no?

[2016-01-12 07:22] marty-cz opened #654 "CC0031: Lambda expresion"
Hi,
[code]
this code generates the **CC0031** warning. IMHO method *m* cannot be *null*, or can be?

Thank you,
Martin

[2016-01-12 13:42] Vossekop commented on #654
Theoretically it can be null of course. M here is just the parameter of a method generated by the lambda. The caller of the lambda could easily pass null into this function. In this case, if the Log.Debug method is probably the one calling the lambda so if it does not check for null when it passes something to the lambda you would have to check.

How nice would it be if the Log.Debug method could

[2016-01-12 17:21] giggio opened #655 "Add exceptions to CC0068 depending on the method attribute (VB)"
Same as #526, but for VB.

[2016-01-12 17:22] giggio commented on #526
Closed on #653.

[2016-01-12 17:22] #526 closed

[2016-01-12 17:28] giggio commented on #647
@carloscds I don't think we should care about how the user will implement the object constructor call. It is their problem. If they decide they need it, then they **have** to do it, other a null reference exception will **always** throw inside the `Bar` method call for `GetHashCode`.

[2016-01-12 17:30] giggio commented on #645
@Vossekop Go for it.
Yes, under the `summarizing` I tried to summarize what we discussed in this issue comments.

[2016-01-12 17:33] giggio commented on #654
Yes, it can be null.
Yes, we don't know how to fix this yet. Any idea?

[2016-01-12 22:33] carloscds commented on #647
@giggio Even breaking the code ?

[2016-01-12 22:58] giggio commented on #647
There is no code fix, so we cannot break any code, this is only an analyzer with a diagnostic of the problem.

[2016-01-12 23:04] carloscds commented on #647
@giggio Ok, In this case this analyzer will cause only an error code, without any fix ?

[2016-01-13 00:08] giggio commented on #647
@carloscds Yes, just like the regex analyzer.

[2016-01-13 00:20] carloscds commented on #647
@giggio Good, I think that is needed change description.

[2016-01-13 00:28] giggio commented on #647
`CS0649` already does this. https://msdn.microsoft.com/en-us/library/03b5270t.aspx

[2016-01-13 00:28] #647 closed

[2016-01-13 01:12] carloscds commented on #638
@noah80 Do you test @jwooley solution ?

[2016-01-13 01:39] giggio commented on #465
@ElemarJR will improve the description as per our conversation.
When you are ready, set the `Ready` and `up-for-grabs` labels.

[2016-01-13 01:52] carloscds commented on #635
@midnait Do you know this plugin: https://visualstudiogallery.msdn.microsoft.com/e792686d-542b-474a-8c55-630980e72c30 Maybe can help you with this.

[2016-01-13 06:12] Vossekop commented on #645
@giggio since #647 is now closed as willnotfix, how should I handle situations where the initializer sets the read only variable to null. I had first assumed this should be ignored by CC0016 and picked up by whatever initializer should be made in #647, however since that one got axed I am unsure what should be done. It is clearly something that we might want to detect, but i feel CC0016's message

[2016-01-13 08:05] Vossekop commented on #654
Since we don't have access to the implementation of Log.Debug (and even if we would have, its rather difficult to make sure a null value can never be passed to the anonymous function) the best thing we can do is either of the following:

For known framework methods that take Func, Action or Expression instances for which we are sure no null value can be passed should go on some kind of white list.

[2016-01-13 08:54] marty-cz commented on #654
There is no harm to put it there, but it seems to me less readable.

Another solution that comes to my mind is just to allow ignoring this warning by user's choice. So for my example it will be: For all methods Log.Debug() the warning will be ignored.

[2016-01-13 15:47] midnait commented on #635
@carloscds tks, but this dont avoid rolling up screen or move mouse over }

[2016-01-13 17:23] carloscds commented on #635
@midnait Sorry for confusion, the correct plugin is Productivity PowerTools: http://blogs.msdn.com/b/visualstudio/archive/2013/12/19/productivity-power-tools-for-visual-studio-2013.aspx
It has a funcionality that when you put your mouse over '}' show begin of block.

[2016-01-13 18:59] jwooley commented on #635
Personally, I hate the use of comments here. It screams that the code should have been refactored into smaller more manageable chunks, much in the same way that regions are an anti-pattern to many. IF we have to provide this refactoring, I would recommend one that does the opposite - remove trailing comment trivia from end brackets.

[2016-01-13 21:19] Vossekop commented on #645
Ok, so I've thought about this some more and have come to the conclusion that the ideal solution would have the following:

The warning stays for read only members if it can not be determined that they are initialized for certain to a value other than null. Meaning that if we encounter an initializer that sets the member to null then we will show the warning. If the constructor contains syntax tha

[2016-01-14 06:55] huoyaoyuan opened #657 "CC0074 readonly field cannot be setted in derived class"
If I have a protected field in base class, and I set it __only__ in the constructor of derived class, there will be a CC0074 to make me change it to readonly.
But in fact, a readonly field cannot be setted in derived class, even in constructor.
Maybe a further version of C# will change this behavior, but it gets a CS0191 at current version.

[2016-01-14 07:01] huoyaoyuan commented on #657
It seems to be my fault.
When I use a `#pragma warning disable`, the warning still doesn't disappear until I restart Visual Studio.

[2016-01-14 07:01] #657 closed

[2016-01-14 07:06] huoyaoyuan commented on #657
But, the warning reappears when I do some changes, and cannot be disabled until I restart Visual Studio. I have no idea about it.

[2016-01-14 11:38] giggio commented on #657
I just tried it, could not repro. Here is the code:

[code]

[2016-01-14 11:41] giggio opened #658 "BUG on CC0047 (PropertyPrivateSet) suggests to make a property set private when the property is already private"
This should not raise `CC0047`:

[code]

[2016-01-14 11:49] giggio commented on #654
@Vossekop I also don't like your white list option.
I actually think this adds value, that is the reason we added it to CodeCracker. We don't know if `m` will be null or not for any API. If you do, then you can always `#pragma disable` it. I think this is the best approach. It is what I have been doing in these situations.
The idea from @marty-cz is not applicable, as Roslyn does not allow us to i

[2016-01-14 11:52] giggio commented on #635
I also don't like it, because it changes the code. And because if you change the condition for the if, for example, it will not automatically change the comment, we would have to run it again. If there is another extension that solves the problem without changing the code, and it's there as Carlos pointed out, I would prefer it.
I agree with Jim that such code is screaming for a refactoring, but t

[2016-01-14 11:58] giggio commented on #645
@Vossekop Yes, you can fix spelling and grammar errors. :)
#647 was cut because C# already has a diagnostic for exactly that, `CS0649`.

Regarding the problem of not being sure the field was initialized, I would simply verify if the assignment is inside any conditional statement, like `if`, `for`, `foreach`, etc. Any of those means that the field could end up null, and `CC0016` still applies. Also

[2016-01-14 12:17] Vossekop commented on #645
That is indeed what I did + if there is an assignment to null anywhere in the constructor CC0016 still applies. Also if not all constructors have an assignment then CC0016 still applies (if it was not assigned where it was defined obviously). Also if both if an else branch have an assignment then I don't apply CC0016, and also for switch statements where all cases assign a non null value.

[2016-01-14 13:28] giggio commented on #645
Cool! Nice job!

[2016-01-14 21:06] Vossekop commented on #658
I'll pick this one up as well!

[2016-01-16 22:20] giggio opened #662 "CC0016 and CC0031 are doing similar work"
This code will raise both `CC0016` and `CC031`:

[code]

With:

[code]

It seems redundant.
Also, if you fix it with either one of their suggested fixes, both go away. Another evidence that they are doing similar work.

We need to decide if we should maybe reduce the scope on one of them.

[2016-01-16 22:23] giggio opened #663 "CC0031 should not copy the variable with readonly members"
Same as #645 but for `CC0031`.

This should not raise `CC0031`:

[code]

@Vossekop is working on it.

[2016-01-16 22:28] giggio commented on #645
Closed on #660.

[2016-01-16 22:28] #645 closed

[2016-01-16 22:29] giggio commented on #658
@Vossekop go for it.

[2016-01-16 22:30] giggio commented on #663
@Vossekop You might want to fix this one, as you did the other one.
@haacked I guess this one is bothering you as well. It's the same problem. We are discussing on #662 as these 2 analyzers seem to be doing very similar work.

[2016-01-16 22:44] giggio commented on #658
Closed on #658.

[2016-01-16 22:44] #658 closed

[2016-01-18 08:05] Vossekop commented on #663
@giggio I'll have a look at it tonight. Is there a place in the solution already where we can put common utility methods. So I can move the check for initializers code there?

[2016-01-18 13:14] giggio commented on #663
There are some extensions we have been using. If it is common for C# and VB use the `Common` project, otherwise, you will find it in the C# project.

[2016-01-18 17:48] carloscds commented on #635
@giggio @jwooley Visual Studio Productivity Tools has this functionality. My suggest is close this issue.

[2016-01-18 17:50] carloscds commented on #657
@huoyaoyuan Can you put a code sample here ?

[2016-01-18 17:56] #638 closed

[2016-01-18 18:10] DzonnyDZ opened #665 "CC0022 when theer is ternary operator in using"
Following code generates CC0022
[code]
and when I click on "Show potential fixes" DisposableVariableNotDisposedCodeFixProvider crashes

[2016-01-19 01:18] #635 closed

[2016-01-19 01:24] giggio commented on #665
Bug confirmed. Here is the test case:

[code]

The code fix is crashing and the analyzer should not generate a diagnostic.

[2016-01-19 10:14] martinzimmermann commented on #665
I had a look at this bug and I couldn’t reproduce it with your code, the code
[code]
on the other hand, also produces the bug for me.
I think this is because of an unrelated “bug”. The important part is the `using System;`. When you include `using System;` in your code and use the SemanticModel for getting Symbol information on ConsoleColorContext you get the “System.IDisposable” type. If you do n

[2016-01-22 21:51] huoyaoyuan commented on #657
@carloscds I'm sorry, but it seems to be unstable that a warning does not disappear when I add `#pragma`, and reappears unreasonably. I'll wait for a stable version of the Analyzer.

[2016-01-23 12:20] #665 closed

[2016-01-23 12:24] carloscds commented on #657
@huoyaoyuan To correct analyzer, if appropriate, we need to understand your scenario. It's important for us a sample code in your scenario. If possible, create a simple code and share with us.

[2016-01-23 12:59] julianosaless opened #669 "Bug CC0084 should not generate string empty in parameter list in constructor or method"
When raise #CC0084  generate bug below:

Before
[code]
After
[code]

[2016-01-23 17:33] huoyaoyuan commented on #657
@carloscds In fact, I'm not sure what causes this issue at all. I have many readonly fields in my program, and sometimes when I do some changes to one, the warning may appears. But I haven't found out what kind of edit may cause it. I could not provide any further information.

[2016-01-24 19:57] Vossekop commented on #663
Sorry for the long wait, ISP issues still ruining my week. Got a chance to add some unit tests for this situation now but somehow they pass with the current code.

[2016-01-25 11:05] wertzui opened #672 "CC0031 must not fire when Null-check is outside of a try block"
I have the following code which fires CC0031:

    if (method != null)
    {
        try
        {
            method(parameter);
        }
        catch (Exception e)
        {
             ...
        }
    }

I expect CC0031 to not fire when there is a Null-check somewhere above in the call-chain and there is no assignment to "method" between the check and the invocation.

[2016-01-26 13:32] giggio commented on #663
No problem, if you need help let us know. We are trying to close all bugs until the end of the month to finally get 1.0 out.

[2016-01-26 15:28] jakubsuchybio opened #676 "ObjectInitializerCodeFixProvider crashes"
Hi.
When I wanted to resolve aprox. 60 Warnings via BatchFixAllProvider of CC0008, I encountered crash.
So I started to make it manually and I found one, that is crashing ObjectInitializerCodeFixProvider and I think that was a reason for BatchFixAllProvider crashes.
Here is the snippet:
[code]
Hope it helps to solve these crashes, regards.

[2016-01-26 17:09] giggio commented on #676
Bug confirm, I will work on it.

[2016-01-26 19:22] jakubsuchybio opened #677 "CC0091 on method Foo does not replace occurences like this.Foo used in delegates"
Hi.
I created code as proof of bug:
[code]
When I apply correction of CC0091 onto Foo, occurrence of this.Foo; doesn't change and then this occurrence gives error, because it doesn't know this.Foo only Foo.
Regards

Edit: And I am stupid, because this issue has already been reported. Sorry

[2016-01-26 20:25] giggio commented on #677
Bug confirmed on the code fix. It should change to:

[code]

It should had changed `this.Foo` to `Foo` on the `Goo` method body.

[2016-01-26 21:42] martinzimmermann commented on #677
I would like to fix this

[2016-01-26 21:54] Vossekop commented on #662
So I just finished working on both of them, and besides some trouble with unit tests the fix for CC0031 was so similar to CC0016 that I tend to agree with this. They could be merged, but in that case the message should change to something that tells the whole story. Also the null check is now not present in CC0016, just the check for the call being performed on a local variable.

[2016-01-27 11:15] #676 closed

[2016-01-27 18:39] giggio commented on #677
@martinzimmermann go for it.

[2016-01-27 19:16] giggio commented on #669
Bug confirmed

[2016-01-27 19:17] #669 closed

[2016-01-27 19:39] giggio commented on #657
@huoyaoyuan This could be a bug on the compiler infrastructure. When you change a node, the compiler recompiles it, and every parent of it. If the compiler is not being able to finish, the diagnostic is not added or removed in time, and you might see stale diagnostics. This could happen if your PC is starved out of CPU time, for example. Usually, the compiler is really fast.
The same problem could

[2016-01-27 20:51] huoyaoyuan commented on #657
@giggio Thanks. This may help. At least I know why `#pragma` doesn't work.
I haven't seen this problem with other diagnostic yet.

[2016-01-27 21:01] jakubsuchybio opened #680 "BUG: CC0091 (make static) changes references incorrectly when used as a method group and in conjunction with another method invocation"
This is producing an incorrect fix:

[code]

This is the current fix, broken (other classes omitted):

[code]

This is the expected fix (other classes omitted, only `static` added to method, nothing else changed):

[code]

Here is the original description from @jakubsuchybio:

[2016-01-27 21:08] jakubsuchybio opened #681 "CC0091 wrongly tries to make static methods in structs"
Hi.
Another CC0091 bug. It tries to change method in struct that does not only manipulate with static fields.
Code proof:
[code]
Goo is here wrongly under warning of CC0091.

[2016-01-27 21:24] jakubsuchybio opened #682 "CC0091 MakeMethodStaticCodeFixProvider crashing"
Hi.
I couldn't find any code proof outside of our production code to replicate this, but in these 4 instances of methods the CC0091 provider is crashing:
[code]
[code]
[code]
[code]
The second method is just below the first in our codebase.
The fourth method is just below the third in our codebase.
If it is of any relevance.

[2016-01-27 21:30] giggio commented on #672
Agreed. We are already checking for something similar. If you do:

[code]

or

[code]

We will not raise. Your proposal also makes sense.

[2016-01-27 21:48] jakubsuchybio opened #683 "BUG: CC0006 wrongly tries to convert for into foreach when there would be an assignment to the iteration variable"
Hi.
yes there is a pattern of creating local variable from indexed array, but after it there is write operation into indexed array, which can't be changed into foreach which is read-only loop. I think.
[code]
Translates via CC0006 into:
[code]
Which doesn't make sense, because I can't write into temp.

[2016-01-27 21:59] jakubsuchybio opened #684 "CC0006 should be checking if for-looped array is enumerable by foreach"
Hi.
CC0006 should be checking if for-looped array is enumerable by foreach, if it is not, the CC0006 provider shouldn't be applied to that for-loop.
For example I have this loop:
[code]
Where RectangleList is custom indexer which doesn't implement Enumerator
[code]
In this instance, CC0006 is showed on the above for-loop, but it shouldn't, because, as I said, RectangleList doesn't implement enumer

[2016-01-27 22:02] giggio commented on #618
Closed on #673.

[2016-01-27 22:02] #618 closed

[2016-01-27 22:10] #663 closed

[2016-01-27 22:34] giggio commented on #680
@jakubsuchybio bug confirmed, I have narrowed it down to a simpler case. Thanks for the report.

[2016-01-27 22:36] giggio commented on #681
Bug confirmed.

[2016-01-27 22:40] giggio commented on #682
@jakubsuchybio Do you have an example of where this methods are used? If you can find one where there is only on reference, it would help. I am guessing this is related to the usages of the method. I also think it is related to #680.

[2016-01-27 22:42] giggio commented on #682
Let's wait for #680 to be fixed, then if @jakubsuchybio can verify if this is still crashing we can try go investigate further.

[2016-01-27 22:46] giggio commented on #683
Bug confirmed. Here is a simpler, self contained, test case:

[code]

[2016-01-27 22:58] jakubsuchybio commented on #682
Ok

[2016-01-27 23:08] giggio commented on #684
Bug confirmed. Here is a simplified test case:

[code]

[2016-01-27 23:11] jakubsuchybio commented on #676
Fix confirmed on our codebase via alpha-nuget package.

[2016-01-27 23:14] giggio commented on #676
Awesome! :D

[2016-01-27 23:43] giggio opened #685 "Fix CS0133 and change from "const" to "var""
`CS0133` will be raised if you are assigning to a constant. This fix will change `const <type>` to `var`.

This:

[code]

Becomes:

[code]

Category: `Compiler` (same as `CC0133`, has to be added to `SupportedCategories.cs`)

[2016-01-27 23:43] giggio commented on #685
@code-cracker/owners can we set this to ready?

[2016-01-28 08:46] jakubsuchybio opened #687 "CC0017 wrong change with explicitly implemented properties, but can be fixed"
Hi.
I came across some code, that I didn't even know was possible, but there it gives wrong output after fix with CC0017. See:
[code]
Translates into:
[code]
And that gives me error in constructor, that Alpha doesn't exist in current context.

But when this Interface isn't implemented it gives me 2 options:
![image](https://cloud.githubusercontent.com/assets/6567287/12639242/5148a192-c5a3-11e5-9fb

[2016-01-28 09:18] martinzimmermann commented on #680
@giggio my pull request also fixes this issue

[2016-01-28 14:44] jwooley commented on #685
If it is a class level constant, it might make more sense to use

`readonly string myStr = "abc".ToUpper();`

I'm assuming here you are trying to offer a code fix to the existing CS0133 or creating our own analyzer for the cases where const assigns to something other than a const.

[2016-01-29 00:29] carloscds commented on #685
@jwooley I agree with you, in class level this fix will create an error. Change to readonly, in this case, is more approriate.

[2016-01-29 01:53] jakubsuchybio opened #689 "BUG: CC0048 (string interpolation) when string is split into multiple lines"
Hi.
These 2 examples translates into unbuildable code with CC0048 (Use string interpolation):
[code]
They create interpolated strings over multiple lines, which compiler doesn't like.

Easy fix is to add ' @ ' between ' $ ' and ' " ' in these cases, which tells compiler that the string is split into multiple lines.

[2016-01-29 02:06] jakubsuchybio opened #690 "Bug: CC0048 nested interpolations doesn't fix in one iteration"
Hi.
When I have nested string.Format , then applying CC0048 will only solve first or selected one of them.
For example on this code:
[code]
It will fix only one of them in one go. I think it would be good to solve them all at once.

Edit: Sorry I forgot to mention by using FixAll in Solution it will only fix one of them instead of both.
When those string.Formats are concatenated they are fixed cor

[2016-01-29 02:47] giggio commented on #687
Bug confirmed. We cannot change the property to public, that would change the meaning of the program. The correct way it to cast `this`, like so:

[code]

[2016-01-29 05:58] giggio commented on #685
@jwooley The idea is to fix the existing `CS0133`, not create a new analyzer and diagnostic id.

@carloscds I have updated the description to enable 2 different scenarios: field and local variable.

[2016-01-29 06:02] giggio commented on #689
Bug confirmed, I will fix it, as I created the analyzer and fix.

[2016-01-29 06:06] giggio commented on #690
@jakubsuchybio The code fixes only work on the current state of the code. To be able to do that, we would need to iterate:

1. Change the code
2. Recompile
3. Check for new diagnostics, and if found on the same node, go back to 1, else end.

This problem affects all code fixes. The "make static" one, for example, is another one. When you make a method static, probably other methods that used to ca

[2016-01-29 13:08] carloscds commented on #690
@jakubsuchybio @giggio The problem is about find all occurrences of string.Format(), maybe a chage in document fixer can be solve this.

[2016-01-29 13:21] carloscds commented on #685
@giggio Ok

[2016-01-29 13:51] #672 closed

[2016-01-29 13:55] #680 closed

[2016-01-29 13:57] #646 closed

[2016-01-29 14:53] giggio commented on #690
@carloscds No, the problem is that it takes more than one iteration to fix it.

[2016-01-29 14:59] giggio commented on #677
Closed on #691.

[2016-01-29 14:59] #677 closed

[2016-01-29 15:01] giggio commented on #682
@jakubsuchybio #680 is fixed and available on myget. Would you please verify if you still have the problem?

[2016-01-29 15:03] giggio commented on #646
@Haacked It is finished. Would you try the latest release on the myget feed to make sure it works for you?

[2016-01-29 17:10] jakubsuchybio commented on #682
Now it is not crashing on 1.0.0-rc5-1047 on these cases I posted. So I guess this issue is fixed. Thank you!

[2016-01-29 17:12] giggio commented on #682
Nice! Thanks!

[2016-01-29 17:12] #682 closed

[2016-01-29 19:41] carloscds commented on #690
@giggio Why diagnostic can't get all string.formats ?

[2016-01-29 19:58] jakubsuchybio commented on #690
Listing in 'Error list' gets them all, but when applied Solution wide Fix it just doesn't fix those nested ones.

[2016-01-29 22:06] giggio commented on #689
@jakubsuchybio I decided to place the expression on the same line, removing the line breaks. Adding the `@` could be dangerous, we'd have to escape all `"`, and that is very error prone. See #692 for an example.

[2016-01-29 22:45] giggio commented on #690
Hm... if they all appear on the error list, then we CAN fix them all. We just need to add a fix all provider, if we don't yet have one.

[2016-01-30 14:38] julianosaless opened #695 "using IsNullOrWhiteSpace or IsNullOrEmpty in string comparator"
This:

[code]
Becomes:

[code]

Category: Refactoring
Id: CC0114
Severity: Hidden

[2016-01-30 20:15] giggio opened #696 "BUG: CC00091 Method `GetEnumerator` should never be made static"
If a method is named `GetEnumerator`  and returns an `IEnumerator` it should not be made static.  If it was changed you could break existing `foreach`s. See reference [on MSDN](https://msdn.microsoft.com/library/65zzykke%28v=vs.100%29.aspx);

Example:

[code]

[2016-01-30 21:21] giggio commented on #644
This ended up being fixed on #691.

[2016-01-30 21:21] #644 closed

[2016-02-01 01:07] giggio commented on #695
Ok, it is ready. One diagnostic, 2 code actions possible. Cool.

[2016-02-01 01:42] julianosaless commented on #695
I want do this issue :)

[2016-02-01 03:17] giggio commented on #695
Go for it.

[2016-02-01 11:02] #689 closed

[2016-02-01 11:07] #683 closed

[2016-02-01 11:07] #684 closed

[2016-02-01 11:10] #681 closed

[2016-02-01 12:38] #687 closed

[2016-02-01 14:15] jakubsuchybio commented on #681
Fix confirmed with 1.0.0-rc5-1063 on our codebase. Thanks! Btw is it ok if I write this? Or are your tests enough? :)

[2016-02-01 14:38] jakubsuchybio opened #698 "BUG: CC0006 (foreach) edge case for non-writable struct field"
Hi.
So I found another one. But this one is interesting.
Here is a repro code: (tested with 1.0.0-rc5-1063)
[code]
Here this flags for with CC0006 to convert it to foreach, but when it does then its uncompileable, because of writing into struct temp var doesn't work.

But when you delete the line with
[code]
Then it works ok and doesn't flag it.

So I think that it doesn't matter to look for local

[2016-02-01 14:53] jakubsuchybio opened #699 "BUG: CC0017 (create auto property) removing modifiers (static, virtual, etc)"
Hi.
When I have static field with property and trying to fix it with CC0017 to auto-property, it removes static which breaks referenced calls.
Repro code: (tested with 1.0.0-rc5-1063)
[code]
Translates into:
[code]
Which doesn't compile.
Regards.

[2016-02-01 15:22] Vossekop commented on #696
I'll fix this one if you want!

[2016-02-01 15:25] jakubsuchybio opened #700 "BUG: CC0052 (readonly) flags field that is used in variable initializer, which then gives compile error"
Hi.
Here is a repro code:
[code]
Translates into:
[code]
Which gives error:
Error CS0191 A readonly field cannot be assigned to (except in a constructor or a variable initializer)

So I don't know if there is bug in compiler or in CC0052. Because what I can say from this error is that this code should be valid after fix from CC0052. :/

[2016-02-01 16:04] giggio commented on #681
It is ok, and you actually help us to make sure. Thanks!

[2016-02-01 16:04] giggio commented on #696
Go for it. I'll add you to the collaborators group. You will be getting an email from github, let me know when you got it.

[2016-02-01 18:23] Vossekop commented on #696
Got the mail, and clicked the link and all. Promptly screwed up my own fork as well... I'm still getting used to this Git stuff, give me TFVC any time.

[2016-02-01 19:13] Haacked commented on #646
@giggio I'll try and get to it soon.

[2016-02-01 19:28] Haacked commented on #646
@giggio I saw the diagnostic raised, but it didn't ask me to remove the unused parameter.

[2016-02-01 19:42] huoyaoyuan opened #701 "CC0057: extern method parameter unused"
[code]
This will get CC0057 on every parameter.
Confirmed using vsix 1.0.0.14

[2016-02-01 19:55] jakubsuchybio opened #702 "CC0017 virtual props can create infinite loops"
Hi.
I just found a weird bug that was crashing our client after changes I made with fixing/modernizing code with code cracker. We have really old codebase, so it might be really bad bad bad construct to use, but still it can broke the app.
And I just found, that I can't replicate it via small snippet.
I tried something like this:
[code]
That translates into this, which gives compile errors:
[code]

[2016-02-01 19:58] carloscds commented on #701
@huoyaoyuan I can't repro using last version and this code:

[code]

[2016-02-01 20:12] huoyaoyuan commented on #701
@carloscds The nuget version cannot repro, but vsix version can.

[2016-02-01 20:28] carloscds commented on #701
@huoyaoyuan Bug confirmed, only in VSIX.

[2016-02-01 21:18] #701 closed

[2016-02-01 21:21] giggio commented on #646
@Haacked It should not even raise a diagnostic. Can you isolate the code and post it?
RC6 is out just now with the fix, can you try with it?
Also, sometimes you have to close VS after you update the analyzers, it seems that the new ones might not be picked up immediately and diagnostics updated.

[2016-02-01 21:24] carloscds commented on #701
@huoyaoyuan Can you test again ?

[2016-02-01 21:25] giggio commented on #698
Bug confirmed, it should not raise a diagnostic.

[2016-02-01 21:28] giggio commented on #699
Bug confirmed. It should keep the property static, like this:

[code]

[2016-02-01 21:29] huoyaoyuan commented on #701
@carloscds I'd like to test it next time, because I use nuget version mainly and I don't have my own build.

[2016-02-01 21:32] giggio commented on #700
Bug confirmed, it should not be raised for public fields.

[2016-02-01 21:37] Haacked commented on #646
@giggio ah! Let me try again. I might have failed to update properly. I think I was on RC5

[2016-02-01 21:37] giggio commented on #699
I just confirmed that it is removing all modifiers. I think that entered with the last bug fix I added yesterday.

[2016-02-01 21:39] giggio commented on #702
Bug confirmed. It is related to #699, in that the `virtual` is being removed. But the problem here is the circular reference. Should be (notice the `base.` on `:

[code]

[2016-02-01 21:39] carloscds commented on #701
@huoyaoyuan Thanks for your contribution with project !

[2016-02-01 21:57] Haacked commented on #646
Everything works great! Thanks!

[2016-02-01 23:15] giggio commented on #352
String format fix all added on 85fdf23.

[2016-02-02 07:49] haroldhues opened #706 "Add `developmentDependency` to nuspec"
Per https://docs.nuget.org/create/nuspec-reference there is a `developmentDependency` value that I think applies to code-cracker.

Should be as simple as adding a line in the *.nuspec file
[code]

[2016-02-02 16:12] giggio commented on #706
@haroldhues Is there a specific reason you need this? When you compile as release, any libraries that you are not using are removed from the dll/exe, so, unless you reference CodeCracker directly, you won't ever get a reference to it on the compiled output.

Anyway, we will check to make sure. Thank you you for bringing this to our attention.

[2016-02-02 16:55] haroldhues commented on #706
This flag has to do with how NuGet handles dependencies. When I tried to package my project (as a NuGet package) using something like `nuget pack MyProj.csproj` NuGet failed with an error like:

Where code-cracker was listed, after some research I changed this line in packages.config

[code]

to

[code]

At that point the error went away. I was curious about why some of my other packages (like Fod

[2016-02-02 17:17] giggio commented on #706
Makes sense!

[2016-02-04 02:22] wmjordan opened #708 "False "unused parameter" report"
DLL import functions should not trigger CC0057.
For instance, `b1`, `b2` and `count` inappropriately triggered CC0057 in the following code:

    [DllImport ("msvcrt.dll", CallingConvention = CallingConvention.Cdecl)]
    internal static extern unsafe int memcmp (byte* b1, byte* b2, int count);

[2016-02-04 10:18] carloscds commented on #708
@wmjordan Did you test with last version ?

[2016-02-04 12:45] wmjordan commented on #708
Yes, version 1.0.0.14.

[2016-02-04 12:57] wmjordan opened #709 "Please make CC0031 a little bit smarter"
We are sharing code with some other developers who are still using VS 2013 or earlier, so the ?.Invoke pattern could not be applied.
The following code shall not issue CC0031 since `null` has been checked:

    var button = new MyButton();
    var c = button.Click;
    if (c != null) { // calls Click event handler
        c (button, new EventArgs());
    }

[2016-02-04 13:33] wmjordan opened #710 "BUG: CC0033 (DisposableFieldNotDisposed) Should ignore static field"
Please take a look at this example:

   static class GuidGenerator {
        static readonly RNGCryptoServiceProvider _rng = new RNGCryptoServiceProvider ();
   }

The static field once created, will never be disposed until the process quits. Should the above code trigger CC0033?

[2016-02-04 13:39] wmjordan commented on #310
@thiagolunardi I agree with you.

[2016-02-04 21:10] carloscds commented on #708
@wmjordan It was correct in this commit: https://github.com/code-cracker/code-cracker/commit/bb585e29b90e5ca753f3d974a71722644a55ba63

[2016-02-05 02:12] wmjordan commented on #708
It appeared that it had been fixed.

[2016-02-07 03:25] adraut commented on #700
I am working this.

[2016-02-07 03:39] adraut commented on #465
Is this still needed now that the FXCop analyzers are becoming usable?

[2016-02-08 09:13] wertzui opened #712 "BUG: CC0067 must not fire when parameter Func<T> is called in constructor."
CC0067:Do not call overridable methods in constructors must not fire if the function is a parameter
[code]

[2016-02-08 21:19] giggio commented on #709
@wmjordan This is already being checked. See on line:

[code]

To enable that to work on your VS 2015 you have to change the C# language version you are using. Go to `Properties > Build > Advanced` and change `Language Version` to C# 5.
We are aware of the problem for the null check. This will probably work on a merge from CC0031 and CC0016. See #662 for a fup.

[2016-02-08 21:19] #709 closed

[2016-02-08 21:22] giggio commented on #710
No, it is a bug.

[2016-02-08 21:25] giggio commented on #708
Yes, this is a duplicate of #701. It is not yet published to the extension gallery.

[2016-02-08 21:25] #708 closed

[2016-02-08 21:26] giggio commented on #465
@adraut what do you mean?

[2016-02-08 21:28] giggio commented on #712
Bug confirmed.

[2016-02-08 21:35] #696 closed

[2016-02-08 21:40] #700 closed

[2016-02-09 00:49] adraut commented on #465
@giggio This issues looks similar to one being implement by the roslyn team: https://github.com/dotnet/roslyn-analyzers/issues/476

[2016-02-09 19:38] baks commented on #42
@giggio, this one looks interesting. I would like to take care of analyzer/code-fix.

[2016-02-09 22:14] giggio commented on #42
Go for it.

[2016-02-09 22:16] giggio commented on #465
@adraut Ours is ready, I'd say yes. When theirs is ready we can reevaluate.

[2016-02-10 02:26] giggio commented on #465
Per our most recent talk, we decided that `CC0022` should never be raised if there is any chance the disposable will leave the context of where it was created. I'll update the description to make it more clear and set it to `Ready` and up for grabs.

[2016-02-10 02:32] giggio commented on #465
Actually, I'll fix this.

[2016-02-10 14:21] wmjordan opened #716 "Please suppress CC0057 in template method pattern"
In the following code, the Method `CheckConfiguration` serves as an empty template method.

   interface IConfigurableJobRunner {
     bool CheckConfiguration(Configuration config);
     void Run ();
   }

   public abstract RunnerBase : IConfigurableJobRunner {
      public virtual bool CheckConfiguration (Configuration config) { return false; }
      public abstract Run ();
   }

The `RunnerBase

[2016-02-11 00:50] kidchenko commented on #685
Hi, good night.

Are you working on it? If no, I want to help and maybe this issue can be a smart start for me. Thanks :+1:

[2016-02-11 17:09] joshuanrobinson opened #717 "BUG: CC0008 code fix removes too many lines when constructor already has initializer"
If you have a situation that triggers CC0008 (use object initializers), but you're already using an initializer for certain properties the code fix seems to remove too many lines. You can reproduce the bug with the following code:

[code]
Applying the code fix results in:
[code]
In fact, it appears that it will remove one line for every property already in the initializer. So, applying the fix to

[2016-02-12 19:52] carloscds commented on #716
It's make sense. What do you think @code-cracker/owners  ?

[2016-02-16 09:57] wmjordan opened #718 "Please add code fix: Remove unnecessary initialization"
In the following code:

    int num = 0;
    num = comparer.Compare (this.m_Item1, tuple.m_Item1);

`num = 0` is redundant since it immediately get assigned by subsequent statement. The code can be simplified as the following.

    int num = comparer.Compare (this.m_Item1, tuple.m_Item1);

Please add a code fix for this case.

[2016-02-17 04:58] kidchenko commented on #718
+1

[2016-02-17 10:05] giggio commented on #685
@kidchenko go for it.

[2016-02-17 10:10] giggio commented on #717
Bug confirmed.

[2016-02-17 10:17] giggio commented on #716
I was not able to repro. I do not get `CC0057` with this code:

[code]

I am closing the issue. If you can find a repro we will happily reopen.

[2016-02-17 10:17] #716 closed

[2016-02-17 10:19] giggio commented on #718
Makes sense to me. But only to assignments to literals or existing variables/fields/properties, as constructions and methods could have side effects.

[2016-02-17 17:11] #712 closed

[2016-02-17 17:22] #710 closed

[2016-02-18 10:25] #690 closed

[2016-02-18 16:04] #699 closed

[2016-02-18 16:04] #702 closed

[2016-02-18 16:11] #717 closed

[2016-02-18 17:45] giggio commented on #508
Already present in latest VS/Roslyn. Feature dropped.

[2016-02-18 17:45] #508 closed

[2016-02-18 21:50] k94ll13nn3 opened #720 "BUG: CC0090 (xmldoc) is raised on generated files"
XmlDocumentationAnalyzer (0090) is raised on generated file, particularly the `GeneratedInternalTypeHelper.g.i.cs` in my case, it may be missing the generated file check.

I am using the latest version of the Code Cracker Extension.

I was able to reproduce the problem by using [this sample](https://github.com/PrismLibrary/Prism-Samples-Wpf/tree/master/InteractivityQuickstart) from the Prism sampl

[2016-02-19 07:58] FLOAT4 opened #721 "Bug in introduce field from constructor"
#Bug

Introduce field from constructor in a struct does not work.

[code]

Current output after fix applied (if it is a code fix bug):

[code]

Expected output after fix applied (if it is a code fix bug):

[code]

[2016-02-19 21:30] giggio commented on #721
Bug confirmed, @FLOAT4 is working on it.

[2016-02-19 21:33] #721 closed

[2016-02-19 23:33] giggio commented on #720
Bug confirmed, I will work on it.

[2016-02-20 17:00] kwhitefoot opened #724 "BUG: CC0014: You can use a ternary operator turns a+=b into a=a+b"
#Bug

Before:
[code]

After:
[code]

The fix should use +=.

After correct fix:
[code]

[2016-02-20 17:35] kwhitefoot opened #725 "BUG: CC0013 (Make Ternary) doesn't handle comments correctly"
#Bug

Fix for ternary puts all the code on one line and this results in comments that were within the if turning the whole expression into a comment.

I think it would be better if the ternary expression placed the condition on one line and the return values on separate lines below it.

[code]

Current output after fix applied (it is a code fix bug):

[code]

Expected output after fix applied (if

[2016-02-21 09:04] kwhitefoot opened #726 "AD0001 null reference exception in .RemoveUnnecessaryCast.VisualBasicRemoveUnnecessaryCastDiagnosticAnalyzer"
#Bug

Severity	Code	Description	Project	File	Line	Suppression State
Error	AD0001	Analyzer 'Microsoft.CodeAnalysis.VisualBasic.Diagnostics.RemoveUnnecessaryCast.VisualBasicRemoveUnnecessaryCastDiagnosticAnalyzer' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null.
Parameter name: source'.	Coil		1	Active

I'm using VS2015 update 1.

Unfortunately I have not

[2016-02-22 12:56] giggio commented on #724
@kwhitefoot Bug confirmed, but this is not actually changing the meaning of the program, right?
@jwooley want to take a look?

[2016-02-22 12:57] giggio commented on #725
Bug confirmed.

[2016-02-22 13:49] #698 closed

[2016-02-22 14:02] #720 closed

[2016-02-22 21:11] kwhitefoot commented on #724
@giggio I agree that it doesn't alter the meaning but it does decrease maintainability and readability.

By the way I think that the tool is really promising and it has already found quite few things that need to be fixed in my code.

[2016-02-25 14:10] elvisdelima opened #727 "Using code-cracker outside Visual Studio"
Is there a way to use code-cracker without Visual Studio?
I work on linux, coding on VSCode and It would be great do something like "codecracker run" at my terminal and get this:

/***** output *****/

MyWebApp/FooController.cs at line 79
CC0043: ChangeAnyToAllAnalyzer - Changes Any to All or All to Any.

MyWebApp/BarController.cs at line 66
CC0011: RemoveWhereWhenItIsPossibleAnalyzer - When a lin

[2016-02-25 14:37] carloscds commented on #727
@elvisdelima You can use in command line.