[2016-02-25 16:15] elvisdelima commented on #727
@carloscds thanks.

[2016-02-26 00:58] #727 closed

[2016-02-27 16:31] giggio commented on #639
I got it to work a little differently. Instead of checking for calls passing the method to `RoutedEventHandler`, which would be hard, or maybe impossible, I checked if the method had a `RoutedEventArgs` parameter. Works the same.
PR is up.

[2016-02-27 23:12] #465 closed

[2016-02-29 01:20] #639 closed

[2016-03-01 10:22] kwhitefoot opened #731 "Replace if then with assignment"
#New analyzer:

Replace if then with assignment

Before:

[code]

After:

[code]

I don't know if this is a common enough in code other people have to deal with to be worth doing but for me right now it would let me quickly fix a couple of hundred such annoyances.

CC0014 'Change to ternary operator' makes it slightly more compact but misses the opportunity to remove the _If_ altogether.

[2016-03-01 11:28] kwhitefoot opened #732 "CC0057 does not remove param from xml comment"
#Bug

Input your bug description. Make sure you describe the steps to reproduce,
that you are working with the latest version, and the issue has not been reported yet.

Example: (don't use your project code, use a sample that anyone could use to verify the bug,
so, for example,
don't use classes that are not part of the BCL or declared on your sample.)

[code]

Current output after fix applied (if

[2016-03-01 11:33] kwhitefoot opened #733 "CC0057 UnusedParametersAnalyzer should not be triggered by DllImport"
#Bug

IF a function has the DllImport attribute it should be ignored by CC0057.

[code]

[2016-03-01 12:06] kwhitefoot commented on #384
I would vote for Warning.  I am part of a team working on a million line VB.Net program that never uses side effects in this way yet people still forget to write AndAlso.

[2016-03-01 13:44] carloscds commented on #384
@giggio For me it's hidden, because we not know what developer was thinkng in this case. He needs evaluate all conditions or only first ?

[2016-03-01 14:19] carloscds commented on #733
@kwhitefoot Bug confirmed.

[2016-03-01 14:22] carloscds commented on #731
@kwhitefoot I think that ternany it's ok for this case. What do you think about @code-cracker/owners ?

[2016-03-03 23:31] AmadeusW opened #734 "Replace Task.Result with await Task"
**New analyzer**: Replace `Task.Result` with `await` and make method `async Task`

Recently we've found some deadlocks in our code. They were caused by a stray `.Result` in situations when there was an `async` method earlier in the call stack. [Using `.Result` is considered a bad practice](https://msdn.microsoft.com/en-us/magazine/jj991977.aspx).
I propose an analyzer that removes `.Result` and re

[2016-03-08 16:59] thorgeirk11 opened #735 "BUG: CC0016 "CopyEventToVariableBeforeFireCodeFixProvider" crashes"
This code resulted in `CopyEventToVariableBeforeFireCodeFixProvider` crash.
[code]

Expected fix:

[code]

[2016-03-08 17:18] carloscds commented on #735
@thorgeirk11 Bug confirmed! I will fix it.

[2016-03-14 02:28] #724 closed

[2016-03-14 02:32] giggio commented on #732
It is a nice addition. I see it as an enhancement, not a bug, and I am leaving it to the next version.
Currently we have another fix that can take care of that.

[2016-03-14 02:34] giggio commented on #384
How about we leave at as info and if a user wants to have it as a warning, they can always change it? As hidden no one will even know it exists...

[2016-03-14 02:36] giggio commented on #731
I like the new analyzer idea, it is true, the if is not necessary, as a ternary is not necessary.
This should be for both vb and c#.

[2016-03-14 02:40] giggio commented on #734
If we do this, we would need to change all the callers to also be async. We can't cause a build problem after. This means cascade into several parts of the program. This is a *huge* task.
I actually like it.
Using `.Result` is ok in several situations, when you can control the program flow. A console app that is calling into an async only API will *have* to `.Result`, for example.
Also, it would b

[2016-03-14 02:44] giggio opened #736 "Be more carefull when offering `CC0045` (convert to verbatim string)"
Moving from https://github.com/code-cracker/code-cracker.github.io/issues/19, from @casterle:

[2016-03-14 02:47] giggio commented on #736
@casterle This analyzer will raise a diagnostic for all regular strings. But I agree, there are situations where it makes no sense.
We should only raise a diagnostic when changing the string to verbatim would actually make it different.

[2016-03-14 03:45] casterle commented on #736
:-)

[2016-03-14 09:44] kwhitefoot opened #737 "CC0114 convert assignment to function name to return statement"
#New analyzer:

VB only: convert assignment to function name to return statement.

Before:

[code]

After:

[code]

The purpose is to avoid the risk of mistyping the function name and accidentally assigning the value to some unrelated field or property.

Diagnostic Id: `CC0114`
Category: `Style`
Severity: `Info`

[2016-03-14 09:48] kwhitefoot commented on #737
Umm, not sure if I did the right thing here.  I edited the list of diagnostic numbers as suggested in the template.  Was that right?  Please just undo it if it wasn't the right thing to do.

[2016-03-14 20:54] AmadeusW commented on #734
Yes, this can introduce a huge change to the solution. Some functions can *not* be made async - for example, `Main` in console applications. Also, async event handlers that return `void` could crash the process with unhandled exceptions.

The more I think about this concept, the more I like it, too. After all, making an entire program async is a very pragmatic and menial task.

[2016-03-15 03:09] giggio commented on #737
@kwhitefoot I like it! And you did right, you had to edit the wiki.
It is up for grabs.

[2016-03-15 10:47] #725 closed

[2016-03-18 07:53] kwhitefoot opened #739 "Promote common expressions out of ternary expressions"
I suspect this one might be difficult but I think it would be very useful.

#New analyzer:

I deal with a lot of code that has if then statements that have very similar expressions in the two branches. CC0014 'You can use a ternary operator' helps but I would like to go furher and take common sub-expressions out of the two branches and place them before the ternary.

Before:

[code]
After:

[code]

[2016-03-19 08:01] wmjordan opened #740 "Code fix for CC0075 could break the logic of the code"
Please take a look at the following code:

	if (s != null && s.Length > 0) {
		if (l.Count == 0 || l[l.Count - 1] != s) {
			// ...
		}
	}

The code fix will merge the two conditional statement into

	s != null && s.Length > 0 && l.Count == 0 || l[l.Count - 1] != s

which will break the logic of the code since `&&` operator has higher precedency over `||`.
The correct code fix should be:

	s != nu

[2016-03-20 15:09] terroare opened #741 "BUG: CC0057 UnusedParametersAnalyzer should not be triggered with verbatim identifier (prefixed with @)"
#Bug
If a method parameter is a string, and is used as a verbatim string(@parameterName), it should be ignored by CC0057.

[code]

[2016-03-21 07:55] kwhitefoot opened #742 "Replace assignment to variable with increment of variable"
#New analyzer:

A lot of legacy code (and a surprising amount of new code) contains statements that update a variable by adding to it or multiplying it.  This can be replaced by an increment

Before:

[code]

After:

[code]

Diagnostic Id: `CC0116`
Category: `Maintainablity`
Severity: `Warning`

[2016-03-21 09:12] kwhitefoot opened #743 "CC0014 should place the three elements of the ternary on separat lines if the total length would exceed 72 characters."
#Bug

[code]

Current output after fix applied (if it is a code fix bug):

[code]

Expected output after fix applied (if it is a code fix bug):

[code]

[2016-03-22 07:05] kwhitefoot opened #744 "BUG: CC0068 'Method is not used' should not apply to methods that have the ContractInvariantMethod attribute"
CC0068 'Method is not used' should not apply to methods with attribute ContractInvariantMethod

[code]

This method is used but not by any code visible to the compiler, it is used by the contracts binary rewriter.

This is only for VB, C# already works.

[2016-03-22 11:09] kwhitefoot opened #745 "CC0014 Use ternary tries to DirectCast integer to double"
#Bug

[code]

Current output after fix applied (if it is a code fix bug):

[code]

Expected output after fix applied (if it is a code fix bug):

[code]

[2016-03-24 15:45] kwhitefoot opened #746 "CC0116: Left and right side of assignment must not be the same entity"
#New analyzer:

In VB.Net if you follow the MS recommended naming convention you will almost certainly end up with classes that look a bit like this:

Before:
[code]

After:

[code]

The problem is that the compiler will not complain.

Diagnostic Id: `CC0116`
Category: `Naming`
Severity: `Error`

[2016-03-24 15:57] jwooley commented on #746
Good idea. Essentially analyzer should catch if constructor passes in parameter with same name (potentially with different casing as module level fields and recommend disambiguating with Me. Is this something you want to try?

[2016-03-24 16:05] kwhitefoot commented on #746
That's right.

Although I used a constructor as the example it applies also to methods.  Of course if the method is in a module or is declared Shared then the fix does not apply so perhaps there should be a separate analyser for that case.

[2016-03-26 22:56] giggio commented on #740
Bug confirmed. And we should only add the extra parenthesis when necessary.
Docs: https://msdn.microsoft.com/en-us/library/ms173145.aspx
As we are applying the `&&` operator, this means that not only the conditional OR `||` has less precedence, but also:
* Null coalescing: `??`
* Conditional: `x ? y : z`

[2016-03-26 23:05] giggio opened #747 "Remove @ from variables that are not keywords"
We should only use verbatim identifiers (identifiers prefixed with `@`) for keywords, like `public`, `private`, etc.

More info on identifiers in C#:
https://msdn.microsoft.com/en-us/library/aa664670%28VS.71%29.aspx

Before:

[code]

After:

[code]

Diagnostic Id: `CC0117`
Category: `Style`
Severity: `Info`

[2016-03-26 23:10] giggio commented on #743
I don't think this is a bug. I will leave it as an enhancement for this code fix.
The problem is that not everyone breaks on 72 characters. We need to take some information from the options when applying the fix. Is there such a configuration in Visual Studio, VB or C#?

[2016-03-26 23:19] giggio commented on #746
OMG, the C# compiler catches this. Nice analyzer!

[2016-03-26 23:31] giggio opened #748 "BUG: Change to ternary fails with primitive numeric types (CC0013 and CC0014)"
This is for `CC0013`:

[code]

Current output after fix applied (if it is a code fix bug):

[code]

Expected output after fix applied (if it is a code fix bug):

[code]

This is for `CC0014`:

[code]

Current output after fix applied (if it is a code fix bug):

[code]

Expected output after fix applied (if it is a code fix bug):

[code]

Related to #745, which is for VB.

[2016-03-27 12:26] kwhitefoot commented on #743
Oops, yes of course this is not a bug.  I suppose I should have added a comment to the same effect elsewhere.  True enough not everyone breaks the lines at column 72 (or any other column) but I think most would agree that it is hard to read diffs when the lines are long and simply putting each element of the ternary on a separate line seems to me a reasonable compromise.

And, no, as far s I can t

[2016-03-27 12:44] kwhitefoot commented on #79
I think that it would be useful if this diagnostic also checked to see if the variable was actually used anywhere other than where it is declared.  I'm finding that it is a useful diagnostic for finding unused variables in VB but it is slower than it should be because I have to apply the fix first and then VS itself finds that it is unused.

[2016-03-27 13:11] kwhitefoot opened #749 "CC0030 incorrectly marks declaration and assignment of reference type as possible const"
#Bug

[code]

Current output after fix applied.

[code]

ByRef is used here because it is the nearest thing that VB has to an Out parameter, that is DoSomeThingWith is probably going to modify the reference so that it is no longer nothing.

The fix should not be offered in this case because it is not possible to tell at this point whether or not x really is constant and because it most likely is n

[2016-03-27 16:48] giggio commented on #79
@kwhitefoot it should only raise the diagnostic if the variable is unused. If you have a scenario where, after the fix is applied, the code breaks, it is a bug. Please report it so we can check it out.

[2016-03-27 16:52] giggio commented on #743
I could not find an option setting that would define the maximum length of a line before a line break.
The line breaking option could be applied to other code fixes as well. This is not the only one.
@code-cracker/owners what do you think? The problem here is that we would have to always leave this on, or always off (which is what we have right now).
@kwhitefoot I don't think everyone agrees on th

[2016-03-27 16:58] giggio commented on #749
I just tried your code, and could not repro. I also tried this code:

[code]

It also does not repro. If I remove the method call, only then, is the code fix offered and the diagnostic raised, so we are checking for this byref argument.
Also, if `x` is typed as a reference type (a class), it will not show up, even if the method call is not there.

Please post some code that we can repro. I am clos

[2016-03-27 16:58] #749 closed

[2016-03-28 11:14] kwhitefoot commented on #743
@giggio If you write very long lines how do you make sense of diffs?

Another argument for placing the elements on separate lines is that it preserves the visual clues that make it easy to see that this is a conditional construct.  In fact I would argue that putting them on separate lines is less controversial than making one long line because they were all on separate lines to begin with.

Disagr

[2016-03-28 13:48] jwooley commented on #743
I wonder if a better option for the long line issue would be having a refactoring which takes a method with multiple parameters on a single line and breaks them up on multiple lines adding named parameters. It wouldn't necessarily help the case of ternary operators, but might be useful as a separate tool.

[2016-03-28 17:26] kwhitefoot commented on #743
@jwooley Sounds like a good idea to me, perhaps you could suggest it formally.

Perhaps it should offer multiple lines and named parameters as separate fixes so that you can have one or the other or both.  Not everyone likes named parameters but I think they help a lot especially when you have a long argument list with a lot or arguments of the same type..

[2016-03-28 19:05] RachelDavids opened #752 "CC0011 incorrect when Where predicate uses index parameter"
#Bug

CC0011 incorrectly suggests that the Where, in the code below, can be replaced by Any. There is no Enumerable.Any extension which supports the index parameter to the predicate.

[code]

The related CodeFix performs as expected, but leaves the code in an un-usable state

[code]

[2016-03-29 00:42] wmjordan opened #753 "Remove Unnecessary ToString in String Concatenation"
The runtime automatically calls `ToString` for string concatenation operations.

For instance, the `ToString` is unnecessary in the following code:

[code]

It should become:

[code]

Should also mark the `.ToString()` invocation with `WellKnownDiagnosticTags.Unnecessary`.

Category: `Style`
Diagnostic Id: `CC0118`
Severity: `Info`

[2016-03-29 00:50] wmjordan opened #754 "Please add code fix: Use String.Concat or StringBuilder for String Concatenation"
#New analyzer:

Multiple-string concatenation can be inefficient and should be replaced by more efficient `String.Concat` or `StringBuilder`.

Before:

[code]

After:

[code]

Or...

[code]

When three or more strings are concatenated with the `+` operator, `String.Concat` or `StringBuilder` shall be used instead.
However, if all strings are `const`, this code fix should not be triggered since the

[2016-03-29 02:04] giggio commented on #743
I like @jwooley'd idea. Maybe offer fixes for breaking at 80, 72, 120 columns...
@kwhitefoot I know it is not great for diffs, but very often I work on really large monitors and then I actually don't notice. I am on VS right now with 180 columns on a 3 monitors setup...

[2016-03-29 02:09] giggio commented on #752
Bug confirmed, we should not raise a diagnostic in this case.

[2016-03-29 02:14] giggio commented on #754
This is not necessary, as the compiler already solves this problem. See the IL generated when you compile it as `Release`:

[code]

See the call for `String.Concat` in there?
So, you can fill your code with concatenations, the compiler will do the right thing!

I am closing this issue, but keep the good ideas coming! :)

[2016-03-29 02:14] #754 closed

[2016-03-29 08:01] kwhitefoot commented on #743
How about offering two or more fixes for the same diagnostic:

1. All on one line
2. On three lines

And perhaps:
3. Every parameter on a separate line
4. As 3. but with named parameters

[2016-03-29 08:04] kwhitefoot commented on #743
@giggio I too have quite a lot screen area (two side by side 60cm/24" monitors) but long lines are still a pain to read.

[2016-03-29 08:29] kwhitefoot commented on #79
I don't think I made my point clearly.  The diagnostic correctly discovers that the variable can be declared Const in stead of Dim.  So I apply the fix.  It is correct, nothing is broken.  But now I discover, or rather the compiler discovers, that the constant is actually unused.  So now I delete it.

So I was wondering if the diagnostic could look ahead to see if the variable is actually used any

[2016-03-29 08:32] kwhitefoot commented on #749
Very strange.  I must have made a mistake when I sanitised the code.  If it turns up again I'll be more careful and also check the sanitised code to make sure it properly represents what I saw in the real code.

[2016-03-30 14:44] #740 closed

[2016-03-31 01:41] giggio commented on #79
@kwhitefoot Interesting. And the compiler only reports that there are no uses for consts, but not when declared with `Dim`?
We could evolve the code fix to do that, both for VB and C#.

[2016-03-31 02:12] giggio commented on #745
Here is the spec to conversions for VB:
https://github.com/ljw1004/vbspec/blob/gh-pages/vb/conversions.md#numeric-conversions

[2016-03-31 06:05] giggio commented on #655
Fixed in #757.

[2016-03-31 06:05] #655 closed

[2016-04-01 00:45] #745 closed

[2016-04-01 00:45] #741 closed

[2016-04-01 00:46] #748 closed

[2016-04-01 00:47] #752 closed

[2016-04-01 00:47] #744 closed

[2016-04-01 12:07] RachelDavids opened #761 "BUG: using null propagation foils the analysis for dispose object (CC0022)"
Bug:

The following code incorrectly shows CC0022 because of the elvis operator.

[code]

[2016-04-01 19:16] LoRdPMN opened #762 "CC0068 (Remove private method): ShouldSerializeXXX() and ResetXXX() should not trigger the message"
To define complex default values for properties that will be serialized by the windows forms designers (and others serializers, like XmlSerializer), one can create a ShouldSerializeXXX() and/or a ResetXXX(), being XXX the property name, as stated by this MSDN article: [Defining Default Values with the ShouldSerialize and Reset Methods](https://msdn.microsoft.com/en-us/library/53b8022e%28v=vs.110%2

[2016-04-01 22:11] giggio commented on #762
@LoRdPMN You make these methods public, right? If so, I'd say that this is better. In the article you linked they used public properties.

[2016-04-02 02:37] LoRdPMN commented on #762
@giggio The properties should be public, but the methods can be private, imagine a class that have many properties with complex types that can not be declared using the DefaultValueAttribute, if you make those methods public, you will pollute the class model, and a ShouldSerializeXXX method is not useful to user of a public API, except to serializers.

It is like when you MUST declare a parameterl

[2016-04-02 15:16] #735 closed

[2016-04-02 15:16] #761 closed

[2016-04-03 01:08] #733 closed

[2016-04-03 01:12] giggio commented on #706
Ok, we are about to release a stable version, this should solve your problem.
Let's wait for a conclusion from the Roslyn team on https://github.com/dotnet/roslyn/issues/9311.

[2016-04-03 01:12] #706 closed

[2016-04-03 01:36] #488 closed

[2016-04-03 03:59] #662 closed

[2016-04-03 08:32] kwhitefoot opened #765 "CC0119: If statement can be replaced by null coalescing operator"
#New analyzer:

An if statement that tests an expression for null and assigns the value to a variable if not null and assigns some other value if the the expression is null can be replaced by the null coalescing operator

Before:

[code]

After:

[code]

Diagnostic Id: `CC0119`
Category: `Refactoring`
Severity: `Warning`

[2016-04-03 19:50] eriawan commented on #570
hi @giggio

Let me work on this one for VB. Please confirm so I could start work for this issue :)

[2016-04-04 00:50] wmjordan opened #766 "Possible High CPU Usage Caused by Code Cracker"
I opened the solution of Code Cracker, and tried to edit it, for instance, by removing the `?` operator in line 78 of _DisposableFieldNotDisposedCodeFixProvider.cs_.
The CPU usage went high (up to 32% on my Intel i5 Processor in 5 seconds later) after removing that character in the editor and fell back to normal after some seconds.
When I edited another part of the code or undid the previous chang

[2016-04-05 23:23] wmjordan commented on #716
The above code triggered CC0057 improperly on the virtual `Get` method of class `A`.

[code]

[2016-04-06 10:45] eriawan commented on #570
hi @giggio ,

Just a friendly reminder, how do I proceed further on this issue?
Let me know if you still need more time to hold this or if you want me to work on anything else.
Thanks in advance :smile:

cc @code-cracker/owners

[2016-04-07 03:44] wmjordan commented on #662
The following code should not trigger CC0031, but it did in the current release.

[code]

[2016-04-08 07:47] kwhitefoot opened #767 "CC0120: Suggest Case Else for Select Case statements"
#New analyzer:
A lot of bugs are caused by non-exhaustive matching in select statements.
If there is no Case Else one should be added that throws an exception.

Before:

[code]

After:

[code]

Diagnostic Id: `CC0120` (take a number and update the [wiki](https://github.com/code-cracker/code-cracker/wiki/DiagnosticIds))
Category: `<Reliability>`
Severity: `Error`

#Bug

Input your bug description.

[2016-04-08 08:55] kwhitefoot opened #768 "CC0057 Fails with ByRef parameter"
#Bug

Diagnostic identifies an unused ByRef parameter but the fix fails and Visual Studio disables it.

[code]

[2016-04-08 22:10] edneypitta opened #769 "CS1501: Additional code fixes"
# New analyzer:

The analyzer will suggest more code fixes to error CS1501 about adding missing parameters.

The initial rules are:

1. When there's only one reference to the method, it will suggest adding the parameter (in the call order).

2. If there are two or more references to the method, it will suggest adding the parameter optionally with the default value of the type (adding the optional

[2016-04-08 22:10] edneypitta commented on #769
I want to work on this one.

[2016-04-09 16:50] SriramSakthivel commented on #769
@edneypitta What would the analyzer do if the parameter is `null`? We can't add a meaningful parameter type other than `object`. Is that the code fix going to do?

[2016-04-09 19:39] edneypitta commented on #769
@SriramSakthivel Well thought. I agree with `object`.

[2016-04-12 02:16] giggio opened #770 "Verify impact of upgrading to Roslyn 1.1"
- [x] Does it work with VS 2015 RTM (Not update 1) with nuget?
- [x] Does it work with VS 2015 RTM (Not update 1) with vsix?

Anything else?

[2016-04-12 06:27] giggio commented on #770
@carloscds @ElemarJR Just finished testing on a VS 2015 RTM (Community Edition, on Azure). Neither Nuget nor vsix work. I created an analyzer project from scratch, published it with version 1.0, it worked.
Then I tried upgrading it to 1.1.1, it did not work anymore.
Same thing with version 1.2.1, it does not work.

This means that if we upgrade CodeCracker to use any of the latest Roslyn APIs it w

[2016-04-12 06:27] #770 closed

[2016-04-12 16:44] SriramSakthivel commented on #734
If the method is already async and still uses `task.Result`, we could add a warning and provide code fix which converts the `task.Result` to `await task`

[2016-04-12 17:40] AmadeusW commented on #734
I think this would be fair. This way, we won't cascade the conversion to async and introduce massive build errors.
It won't catch deadlocks caused by `async` method calling non-`async` method with `.Result`, but I think it would be a good start.
I can take a shot at implementing it if everyone is ok with this.

[2016-04-12 23:36] giggio commented on #762
Ok, as this is an official part of the .NET Framework, I think we should support it.
I will make it an enhancement on that analyzer.

[2016-04-12 23:49] giggio opened #771 "CC0119: replace if statement by null coalescing operator (C#)"
An if statement that tests an expression for null and assigns the value to a variable if not null and assigns some other value if the the expression is null can be replaced by the null coalescing operator

Before:

[code]

After:

[code]

The code fix should be careful with [operator precedence](https://msdn.microsoft.com/en-us/library/ms173145.aspx), as showed on the last example, where the paren

[2016-04-13 16:00] giggio commented on #766
I just tried that, I edited this line:
https://github.com/code-cracker/code-cracker/blob/b4e2060894506f7ec959ced727f05891c2ecd70a/src/CSharp/CodeCracker/Usage/DisposableFieldNotDisposedCodeFixProvider.cs#L53
I removed the `?` as you indicated, my CPU spiked to 50% and went back to normal. I removed CodeCracker from the analyzers for the `CodeCracker.csproj` project, and tried again, and noticed th

[2016-04-13 16:01] giggio commented on #766
Also, there is an open issue here to discuss that: https://github.com/dotnet/roslyn-analyzers-contrib/issues/15

[2016-04-13 16:26] mavasani commented on #766
@giggio One quick check would be to build your project with /reportanalyzer command line switch (you can also specify it in the msbuild project file with a property ReportAnalyzer). The build output should contain relative analyzer execution times (these are not absolute times as build runs analyzers in parallel). If you see any particular analyzer taking up a large portion of this time, then the

[2016-04-14 02:03] wmjordan commented on #766
I used the "Extensions Monitor" (an extension in the VS gallery) to investigate the performance issue.
The monitor showed that the high-CPU consumption was occurring in the code analysis module of VS.
After disabling Code-Cracker, the high-CPU consumption caused by the code analysis module was gone in the mean time. Thus I suspect that it had something to do with Code-Cracker.
At most time while w

[2016-04-14 02:17] wmjordan opened #772 "Code fix for naming conventions"
#New analyzer:

Sometimes I had to cope with other programmers' project from out sourcing partners. They suck at naming conventions, for instance, the use PascalCase parameter names, SNALE_CASE method names or constants, etc. in the public members.
There is little possibility for them to change their style or continue to maintain their code. I wanna fix them, but there are too much of these types

[2016-04-14 02:58] jwooley commented on #772
Many of these kinds of analyzers are already included in the [StyleCop Analyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers) and available on [nuget](https://www.nuget.org/packages/StyleCop.Analyzers/). I'm not sure that we need to redo @sharwell's work again here.

[2016-04-14 06:28] wmjordan commented on #772
Oops, I searched the VS gallery but did not found @sharwell 's work.
I did not realized that it could be on the NuGet.

[2016-04-14 11:40] kindermannhubert opened #773 "Auto generated files detection"
Could you please update your detection of "auto-generated" comment to be same as [StyleCopAnalyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/StyleCop.Analyzers/StyleCop.Analyzers/GeneratedCodeAnalysisExtensions.cs) have?
We started using CodeCracker side by side with StyleCopAnalyzers, but CC detects "auto-generated" comments more strictly and some of our auto-generated fi

[2016-04-14 12:05] kindermannhubert opened #774 "BUG: CC0030 should not try to make a pointer const"
Fix does not work for 'const' pointers.
![cc0030](https://cloud.githubusercontent.com/assets/11704036/14527393/e5491f2e-0249-11e6-98f5-fd0e586e534d.png)

[2016-04-14 14:20] kindermannhubert opened #775 "BUG: CC0052 (Make readonly) should not be applied to complex value types"
Fix of this analyzer can be really dangerous when used on non-primitive value types.
As CC0052 was already restricted only to private fields, maybe it should be restricted further just to reference types and primitive value types (another aspect of readonly complex value types is that it can harm performace because at each access to field whole struct must be loaded on stack).

Here's an example o

[2016-04-14 18:38] raphaelm22 opened #776 "BUG: GC.SuppressFinalize within any block (CC0029)"
`public override void Dispose()
{
	try
	{
		if (MyConnection != null)
			(MyConnection.Dispose();
	}
	finally
	{
		GC.SuppressFinalize(this);
	}
}
`

When you add a `GC.SuppressFinalize (this)` in a finally block the codecrack suggests the addition of `SuppressFinalize` method. I believe this is a small bug, or not?

![code](https://cloud.githubusercontent.com/assets/11078528/14539430/c012d67a-025

[2016-04-15 06:23] kindermannhubert opened #777 "CC0068 - false positives with WPF callbacks"
When you define callback in XAML to private method in codebehind then the method is marked as unused.

[2016-04-15 19:28] lazarofl commented on #753
Hello @giggio, I'm working in this issue.

I'm using __UnnecessaryToStringInStringConcatenationAnalyzer__  and __UnnecessaryToStringInStringConcatenationCodeFixProvider__.

They are missing some tests yet.

[2016-04-16 00:24] carloscds commented on #777
@kindermannhubert Can you provide a code sample ?

[2016-04-16 00:55] carloscds commented on #775
@kindermannhubert Maybe we can change this fix to Hidden. What do you think @code-cracker/owners ?

[2016-04-16 00:57] carloscds commented on #774
@kindermannhubert I agree. We will fix.

[2016-04-16 00:58] carloscds commented on #773
@kindermannhubert Can you put as code sample ?

[2016-04-16 07:22] kindermannhubert commented on #775
@carloscds I believe it's not want we want to do. It would negatively affect usability of this analyzer. By default it would be only optional and if you want from it to be 'rule' it must be set to e.g. Warning (but you can't do this because of problems described higher (suppressing all these occurrences is not acceptable)).

In my opinion there are two ways we can solve it:
1. Use two different re

[2016-04-16 07:33] kindermannhubert commented on #773
For clarity I write the line numbers too.

Now it will be detected by CC as auto-generated here:
[code]

but not here:
[code]

StyleCopAnalyzers detects both version as auto-generated.

[2016-04-16 08:00] kindermannhubert commented on #777
Sorry, it's little bit more complicated than I thought.

Repro steps:
1) Create new WPF app 'WpfApplication1'.
2) Add new class:
[code]
3) Add new item to project "User Control (WPF)" with name 'MyControlDerived'
4) Change XAML of new user control (to derive from MyControl class):
[code]
5) Change code-behind of new user control:
[code]

Now the 'MyControl_Loaded' method will be detected as unused

[2016-04-16 20:13] giggio commented on #770
I have updated `Microsoft.CodeAnalysis.Analyzers` to version `1.1.0` on cbc32b0.
The warnings that were happening during build are now gone (the ones from `AD0001`).

[2016-04-16 22:08] giggio commented on #570
@eriawan Go ahead, @eriawan. Sorry for the delay, this past weeks have been intensive.

[2016-04-16 22:22] giggio opened #778 "Remove JsonNetAnalyzer"
I am not sure if we should have that analyzer, as any code aware libraries, JSON.NET should implement their own analyzer.
We need to discuss that.
@code-cracker/core what do you think?

[2016-04-16 22:35] giggio opened #779 "Bug: UseInvokeMethodToFireEventAnalyzer (CC0031) should not raise a diagnostic when already checked for null with a ternary"
This should not raise a diagnostic with `CC0031`:

[code]

Another example:

[code]

[2016-04-16 22:36] giggio commented on #662
@wmjordan issue #779 created for this situation. When you find a bug, you can just open an issue, it is better than commenting on a closed one like this, it could go without us noticing it.
And thanks for another bug report!

[2016-04-16 22:42] giggio opened #780 "CC0120: Suggest default for switch statements (C#)"
A lot of bugs are caused by non-exhaustive matching in switch statements.
If there is no default case one should be added that throws an exception.

Before:

[code]

After:

[code]

Should not raise for `boolean` if `true` and `false` are already handled:

[code]

Should not raise a diagnostic if [CS0151](https://msdn.microsoft.com/en-us/library/dh0x1stb.aspx)(C# A switch expression or case label

[2016-04-16 22:56] giggio commented on #768
I just tested and it worked:

![cc0057](https://cloud.githubusercontent.com/assets/334958/14584102/3ff22f0a-040d-11e6-932e-140bc70d1a7b.png)

Did you try it with 1.0?
I am closing it by now, @kwhitefoot. If you can confirm the bug, please post an example we can try.

[2016-04-16 22:56] #768 closed

[2016-04-16 23:00] giggio commented on #769
@edneypitta go for it.

[2016-04-16 23:11] giggio commented on #775
I think we should split this into two analzyers. Sometimes the behavior described is exactly what we want, sometimes not.
I would imagine that usually it is not. So, this new analyzer should be disabled by default.
I will create another issue for this new analyzer. For `CC0052` let's just remove the diagnostic for complex value types.

[2016-04-16 23:12] giggio commented on #775
Actually, we can simply add the new diagnostic to this same analyzer. I will update the description. It is easier.

[2016-04-16 23:20] giggio commented on #773
@kindermannhubert It is actually checking for the second line.
What do you suggest? It would not be nice to go scanning the whole file for this comment, it would hurt performance. Would it be enough for you to check the 1st and 2nd lines?
Also, what tool is auto generating using this pattern (I'm curious)?

[2016-04-16 23:22] giggio commented on #766
@mavasani Ok, I'll try that and let you know.

[2016-04-16 23:33] giggio commented on #777
I can confirm that the problem happens. It does not happen to regular controls as the `MyControlDerived.g.i.cs` generated file create an event binding. This is not happening in this scenario.
Without a .cs file to investigate there is nothing we can do to find the method usage.
The only ways I see to fix this is either you suppress the diagnostic there:

[code]

Or you make the method public.
Any

[2016-04-17 02:52] wmjordan opened #781 "BUG: CallExtensionMethodAsExtensionAnalyzer threw exception when project language was C# 5.0"
After that I switched the project language from default to C# 5.0, Code-Cracker threw exception in the analyzer with error code AD0001.
The error occurred on an extension method.

[2016-04-17 04:05] giggio commented on #781
Bug confirmed. Working on it right now.

[2016-04-17 04:07] giggio commented on #774
@carloscds let's release this on 1.0.1, you can send a PR to the 1.0.x branch.

[2016-04-17 05:34] giggio commented on #734
@AmadeusW I am ok with it, as long as the method already has the modifier `async`. So we can't change an async method that returns a Task directly, ok?
Later we can evolve this to be more ambitious and solve the original problem.
Go for the implementation, then, @AmadeusW.

[2016-04-17 05:39] giggio commented on #772
Also, the Roslyn team is implementing some of those style fixers on their own analyzers. It is already available on VS 2015 Update 2.

[2016-04-17 05:39] #772 closed

[2016-04-17 05:50] giggio commented on #753
@lazarofl the name is fine. Go ahead!

[2016-04-17 08:44] kindermannhubert commented on #773
StyleCopAnalyzers goes through all comment lines at start of file.
See:
[code]
where 'trivia' is leading trivia of first token. I think it is enough.

@giggio

We have lot of custom auto-generated files from T4 and we place the aut-generated tag at the first line.

[2016-04-17 14:20] TsengSR opened #783 "CC0001: Show it only where appropriate"
#Bug

In my opinion, the CC0001 should only be shown in cases which makes sense and where type declaration is redudant and not show warnings where it's not redudant and were var wouldn't hide information important for reader of the code.

For example, the warning should come only when there is a new operator on the right side.

[code]

Current warnings and fix suggestions:

[code]

Expected warnin

[2016-04-18 04:39] giggio commented on #773
Ok, the suggestion to go through all the trivia makes sense.

[2016-04-18 04:41] giggio commented on #783
I disagree, I like `var` everywhere. But I would like to know what everyone else thinks, other users, @code-cracker/collaborators and @code-cracker/core.

[2016-04-18 06:00] AmadeusW commented on #783
@TsengSR shows a very convincing case but it ultimately leads to inconsistent code. I like either having all variables typed or all of them being `var`.
The reason I use an IDE and not just a text editor is for the code to say `var` and for a tooltip to tell me more. So I'm on the `var` side.

[2016-04-18 06:12] TsengSR commented on #783
It's not about personal preferences, I tend to do things to that may or may not be the best practice depending on where you work or if you work with others (i.e. one-liner if blocks w/o curly bracers). This one is generally about best practices and code readability, something important in a professional field, where code is reviewed by a different person than the one who wrote the code.

There var

[2016-04-18 10:40] AlbertoMonteiro commented on #783
I want ‘var‘ everywhere

[2016-04-18 11:18] thomaslevesque commented on #783
I want `var` where I want it, and nowhere else. Since no analyzer (except one made specifically for me) can guess where I want it, I usually disable `CC0001`.

[2016-04-18 12:40] eriawan commented on #570
Thanks @giggio :smile:

I'm working on this now.

[2016-04-18 14:24] carloscds commented on #775
@kindermannhubert @giggio I agree.

[2016-04-18 14:27] carloscds commented on #778
@giggio In this specific case, I tihink that we can implement it.

[2016-04-18 18:32] giggio commented on #716
Right now only `partial`, `override`,  `abstract` and `extern` modifiers make the exclusion list. Should we do the same for `virtual`? I am not really sure, template method is an exception to the more common case.
And we cannot simply search the whole project for other classes overriding the method, that would make the analyzer unusable.
I think that, for this scenarios, the user should suppress t

[2016-04-18 18:47] thomaslevesque commented on #716
I think so. If a method is virtual, the parameter might be used in overriding methods.

FWIW, ReSharper never emits a warning for unused parameters unless the method is private.

[2016-04-19 11:39] kwhitefoot commented on #768
@giggio I have Code Cracker 1.0.0.15 installed.

I've checked again and I can't reproduce it either but I don't know why.

When I reported the bug I was using VS2015 Update 1, now I'm using Update 2

What is the simplest way to install the latest development version (I have zero experience of creating Visual Studio Extensions)?  Is there a guide somewhere?

[2016-04-20 03:43] giggio commented on #778
I am proposing to remove it from CodeCracker.

[2016-04-20 03:53] giggio commented on #768
You simply need to install the VS SDK. The standard setup should offer you this option, if you did not do it when you installed VS you can always go to installed programs, ask to change, and then add the SDK.
Then git clone the `master` branch. VS can help you with that too.
Set the .vsix project as the startup project, and run! :)

[2016-04-20 12:47] LoRdPMN commented on #783
IMO `var` should be used only where it doesn't "hides" the type, because of this I am suppressing this warning in all my projects at project level.

[2016-04-20 13:20] julianosaless commented on #783
I think when we use `var` the code it becomes is more readable.

List<string> tags = new List<string>();

var tags = new List<string>();

[2016-04-20 13:36] akamud commented on #783
I believe @TsengSR's explanation on where to use `var` is right on spot. I also prefer using `var` that way, but I've worked on teams that use `var` everywhere.

Also, from this discussion it is very clear that this varies from team to team, and there is no right answer, now the problem is: how can we provide a helpful diagnosis for both cases? Right now I do the same as @thomaslevesque and turn i

[2016-04-20 13:50] AlbertoMonteiro commented on #783
In a clean code, a line with more than 100 characters is bad, so if I can use a reserved word that is pretty small I will.
There are many others languages that lack type definition, and they wont be less readable because they dont have it.
If you want a readable code, name your variable properly, don't expect the type definition be your savior for readable code.

[2016-04-22 08:40] kwhitefoot opened #786 "CC0123: Rewrite a call using named arguments"
#New analyzer:

For methods that that are overloaded with different signatures where many of the arguments are of the same type it can often be hard to be sure that you are calling the right one

Perhaps we could detect cases where there are several methods of the same name with long argument lists and offer to convert the calls so that named arguments are used

Before:

[code]

After:

[code]

Ex

[2016-04-25 20:37] carloscds commented on #778
@giggio Why ?

[2016-04-26 15:47] Urameshi78 opened #787 "Error of Build solution"
#Error

Hey , I want to build your project so I clone it and Build it, but I have this error I m looking for a fix but I don't find the solution can you help me please ? (this error appear only for the CodeCracker.VisualBasic.sln project when I build it)

On  Error List window
Error : Extension 'CodeCracker.Vsix..5b99e64c-1418-4a06-990c-fd4cf01f1234' could not be found. Please make sure the extens

[2016-04-27 09:02] wmjordan commented on #783
I want `var` everywhere except the following situation:

[code]

[2016-04-27 10:54] thorgeirk11 commented on #783
In my opinion this feature is so dependent on the users preferences that it is really hard to make a generic rule set.

Is there anyway to have options/settings for an analyser? if not then maybe there really is nothing to be done. it's better to have a simple rule for the analyser and those who don't like it should disable it.

[2016-04-27 14:09] akamud commented on #783
I think it is very clear that this is user's preference. Even Microsoft's teams showed to have some disagreement about this in some Channel9 videos.

[2016-04-27 14:39] jwooley commented on #783
@wmjordan In your example, I would actually recommend adding a analyzer to detect the multiple declarations and split them into separate lines instead (with var).

For me the place where explicit typing is helpful is where you want to work with a base class/interface rather than the inferred actual type.

@thorgeirk11 the VS "15" preview from Build did include some configuration capabilities on an

[2016-04-27 14:44] carloscds commented on #787
@Urameshi78 What is your VS version ?

[2016-04-27 18:12] jwooley commented on #783
FWIW, the current C# submission guide for Roslyn states the following preferred behavior:

Of course determining what is obvious is subjective as well, so making an analyzer for this would be even harder and still not solve the issue of teams not agreeing with the application of the rule.

[2016-04-28 23:16] jmarolf opened #788 "CC0052 Make field readonly does not take ref out into consideration."
In the code below, CC0052 will fire, suggesting that `enableOption` can be made readonly.

[code]

doing so would introduce error:

Severity | Code |	Description | Project | File | Line
------------ | ------------- | ------------- | ------------- | ------------- | -------------
Error | CS0192 | A readonly field cannot be passed ref or out (except in a constructor) | MyProject.UI.Common | C:\MyProj

[2016-04-29 11:02] RachelDavids commented on #460
![image](https://cloud.githubusercontent.com/assets/18124189/14914322/f1a12ce0-0e00-11e6-8875-6318cff2271e.png)

An example with more false positives in VB. These are simply English names and do not necessarily have direct relationship with any entity in the code. Whilst it is possible they match the properties of the object being displayed, the applied fix does not recognize this (how can it - th

[2016-04-29 14:51] RachelDavids opened #789 "Visual Basic : issue with display of refactoring option for CC0035"
#Bug

see screen shot - the entire class is displayed in the tooltip.
![image](https://cloud.githubusercontent.com/assets/18124189/14919742/240f2756-0e22-11e6-8250-15dcfb184954.png)

[2016-05-01 09:49] wmjordan opened #790 "Use Extension Method"
#New analyzer:

Convert static method calls to extension method call.

Given a static method `M` like this:
[code]
Before:

[code]

After:

[code]

[2016-05-02 03:25] paul1956 commented on #460
I modified the CodeFix to ignore anything in Microsoft libraries and provided a way to list other Namespaces to ignore. I started with a simple Ignore list that I load in the VSIX then I added a menu to update the list. So far there too many usability issues to release it. Just ignoring three Namespaces eliminates almost all the noise.
In VSIX
[code]
In CodeAnalyzer
Then I modified GetProgramEleme

[2016-05-02 08:59] kwhitefoot opened #791 "CC0057 (VB) suggests removing parameter but it is required by a matching delegate"
#Bug

This diagnostic correctly finds that a parameter is unused in the function where it is declared but it fails to check that the signature is required by a matching delegate or variable declaration.

In cases where the function is assigned to a variable the declaration of the variable should be checked and the fix should not be offered if the variable declaration requires the unused parameter.

[2016-05-02 14:00] Urameshi78 commented on #787
@carloscds  I have VS 2015 with Update 2

[2016-05-03 18:55] carloscds commented on #787
@Urameshi78 Your problem seems problem with SDK, can you update it ?

[2016-05-06 09:36] TsengSR commented on #783
Well, actually it's pretty easy. There are two obvious cases:

1. When there is a ```new``` operator on the right side of the assignment
2. In case of a generic method, when the return type of the method equals the generic parameter, i.e. ```public T Get<T>(int id)``` and only then when the generic type is not removed or can't be removed.

 For example ```public T DoSomething<T>(T object)```.
 In

[2016-05-06 16:30] thiagomoreiraboby opened #792 "cc0022 DisposableVariableNotDisposedAnalyzer"
Erro quando não esta dentro de chave.
nao executa fica so pedindo para habilitar

[code]

[2016-05-12 14:44] cezarant commented on #780
Hi @giggio i'm newbie in CodeCracker. I would like to contribute to the project.  This task seems to be interesting to start. I Cloned the project, created a local branch, updated all the dependencies and i am ready to start studying how the analyzer works. Is there any other required step, so I can start contributing?

[2016-05-13 10:56] carloscds commented on #780
@cezarant Go ahead and welcome!

[2016-05-14 15:06] cezarant commented on #780
I'm having trouble compiling the project. MSBuild works ok. But the dll's generated not bring my modifications. Any suggestions @giggio  @carloscds ?
I'm using Visual Studio Comunitty in Windows 10.

[2016-05-14 15:50] jwooley commented on #780
@cezarant How are you trying to consume this? Are you trying to test/debug your fixes or trying to build and use your private build versions in existing projects? From a test/debug scenario, I would recommend either creating unit tests (which are required to push changes anyway) as a first option and secondly to set VS with the code cracker source to debug into the experimental hive version of vs

[2016-05-14 15:55] jwooley commented on #767
The second part of this request (not suggesting case else if all options are exhausted) may be quite difficult to evaluate, particularly if we consider the case of pattern matching options coming with future versions as well.

[2016-05-14 15:56] jwooley commented on #765
I can look into this if nobody else wants to try it.

[2016-05-14 18:41] cezarant commented on #780
Hi @jwooley i trying to test/debug my fixes in order to participate this issue.

I'm try to understand how the Roslyn works and try build an code Analyser, as explained [here](http://elemarjr.com/pt/2014/11/15/codecracker-parte-2-construindo-um-analyzer/) by Elemar

To "put the foot in the water", my steps were as follows:

1 - Install code cracker by nuget , do some tests to know the project work

[2016-05-14 18:56] jwooley commented on #780
The DLL you generate will be used by the unit test project, but is not used when debugging the currently running visual studio because if you stop on a breakpoint within the current process, VS won't be able to step into your code (responding to F11) because VS itself is in a break process. Instead, if you want to debug outside of unit tests, set the vsix project as your startup project. When you

[2016-05-17 21:10] cezarant commented on #780
Thank you! @jwooley I am progressing here...  :)

[2016-05-21 03:46] cezarant commented on #780
Hi devs! How i create an switcase expression with an empty string?
Something like:
`var label = SyntaxFactory.CaseSwitchLabel("string.empty");`

[2016-05-21 11:47] carloscds commented on #780
@cezarant Look at this site: http://roslynquoter.azurewebsites.net/ It's a tool to show syntax tree.

[2016-05-23 16:06] LoRdPMN opened #793 "CC0061: Implementing interface using async"
This is similar to #424 , but with interfaces.

When you try to implement some interface method using async/await pattern, CC0061 triggers incorrectly as you can't change the method name while still implementing the interface.
I would like to remember that async/await pattern is an implementation detail, you can use it while implementing any abstract base class or interfaces and sometimes you don'

[2016-05-25 09:59] Cybermaxs opened #794 "CC0057 : Unused parameters on extension methods"
This is an open discussion but I think that CC0057 (remove unused parameters) should not be triggered on extension methods.
*sometimes*, we have to add extension methods to existing class, even if we don't use it. This a convenient method to get more coherence in client code.

[code]

**Current output after fix applied (if it is a code fix bug)**

[code]
Please note that the project _won't compile

[2016-05-25 14:48] ElStefan opened #795 "Bug: CC0033 appears again after adding 'this' keyword"
Hi, I think I found a bug in the analyzer for CC0033

CC0033 is set to throw a warning, if a disposable field should be disposed.

Before the fix it looks like this:
[code]

After fix applied:
[code]

According to our coding conventions, we add `this` in front of every private field, so we end up like this:
[code]

But after that, CC0033 appears again, which is a little bit annoying.

The PR shoul

[2016-05-27 14:33] RachelDavids opened #796 "BUG: Fix for CC0022 changes program behaviour"
#Bug

In a method of an MDIParent form, create a child window and display using .Show()
CC0022 correctly indicates that the child form needs to be disposed.

However, it cannot be wrapped in a USING statement since that immediate disposes the form and stops it displaying.

If I use ShowDialog() then the disposal is correct.

I suggest adding a comment in cases like these (if they can be identified

[2016-05-27 14:49] RachelDavids opened #797 "Bug: CC0039 False positive when concatenating to loop variable propery/field (StringBuilderInLoop)"
This should not raise a diagnostic:

[code]

The code fix makes no sense at all in this context.
The same issue occurs in a VB equivalent situation

The analyzer should check if the symbol being used is in context only within the `foreach`. Otherwise, it makes no sense.

The PR should go into the `v1.0.x` branch.

[2016-05-30 01:45] cezarant commented on #780
Hi Devs!
Built the analyzer and codeFixer for this issue. The id is SwicthWithoutDefault. Also built four tests, for the following:

1- Using a Boolean variable
2- With the default clause already inserted
3- With the compilation error CS0151
4- Without the Default clause

I merge locally and I'm ready to do the pull request.
Are there any step that I can perform the pull request?

[2016-05-30 06:30] kwhitefoot opened #798 "BUG: CC0014 converts if y then x += 1 else x =1 to x +=(if(y, 1, 1)"
# Bug

In cases where one branch of an if increments a variable and the other assigns a value to it then CC0014 should not offer a fix.

[code]

Current output after fix applied:

[code]

Fix should go to branch `v1.0.x`.

@bergarces is working on it.

[2016-05-30 06:39] kwhitefoot opened #799 "CC0124 Replace if statement or operator with call to Math.Max"
#New analyzer:

Replace if statement or operator with call to Math.Max.

Max is easier to read and quite often shorter.

Before:

[code]

After:

[code]

You can add more information here, e.g. conditions under which a diagnostic should not trigger, etc.

Diagnostic Id: `CC0124`
Category: `Maintainability`
Severity: `Info`

[2016-06-01 08:39] wmjordan commented on #799
Would this harm performance?
Calling the `Math.Max` could add extra stack pushes and pops. In performance critical scenario, the _"if then else"_ pattern might be preferred.

[2016-06-01 08:42] wmjordan commented on #796
It appears to me that when we close the form, which is no longer referenced elsewhere in the code, its resource can be properly and automatically released. If so, there is no need to trigger CC0022.

[2016-06-01 08:44] wmjordan commented on #794
This may reflect a problem in your design, IMHO.
Could you please show us the typical usage and advantage of such an extension method?

[2016-06-01 08:53] wmjordan commented on #791
This code fix can break the code. It also exists in the C# component.
Fixing this bug might harm the performance terribly, since the analyzer has to search the whole solution to find out whether the function is referenced as a delegate.

[2016-06-01 10:15] Cybermaxs commented on #794
True, but sometimes it's better to keep it coherent with common conventions.
In asp.net MVC, we generally create extension methods on HtmlHelper for 'everything that will generate Html'.
[code]
But I think the general suggestion is more :: should it provide a fix that is useless and will break the code ?

[2016-06-02 01:15] wmjordan commented on #794
The `HtmlHelper` example makes sense.

[2016-06-02 07:25] kwhitefoot commented on #799
@wmjordan Good point.  On the other hand Math.Max more clearly expresses what the code _means_.
I suppose I should try to create a simple benchmark.

[2016-06-02 08:16] kwhitefoot commented on #799
@wmjordan Here are the results of a simple benchmark.

Times in hours, minutes, seconds, and fractions of a second (Win7 64bit, Intel i7-4800MQ at 2.7GHz, 32GB RAM):

    simple     if: 00:00:00.0330000
    simple    max: 00:00:00.0920000
    work naive if: 00:00:42.7580000
    work       if: 00:00:28.6360000
    work      max: 00:00:28.6770000

So my conclusion is that max is not noticeably slowe

[2016-06-02 10:44] wmjordan commented on #799
The _simple_ benchmark has indicated that `Max` is about 3 times slower than `if`.
_work naive if_ was meaningless since it has called the same function twice.

Since the method runs very quickly, performance difference could be unnoticeable. It does save some code lines in the _work_ scenario and your point does stand.

[2016-06-02 23:41] giggio commented on #449
Project.json is going to die. So we won't fix this one.

[2016-06-02 23:41] #449 closed

[2016-06-03 12:39] kwhitefoot commented on #799
Do you mean to say that you have never seen that in the wild?  Lucky you, I see code worse than that everyday, that's why I called it naive.

Kevin.

------
Unix is like a wigwam: no gates, no windows and an Apache inside.

Date: Thu, 2 Jun 2016 03:44:43 -0700
From: notifications@github.com
To: code-cracker@noreply.github.com
CC: kwhitefoot@hotmail.com; author@noreply.github.com
Subject: Re: [code

[2016-06-08 16:46] JoelRamosM commented on #771
@giggio I want start to contribute, can i start by this one?

[2016-06-13 11:27] kwhitefoot opened #801 "CC0014 doesn't notice that subscripted properties have different subscripts"
#Bug

CC0014 should not offer to fix when the variable that is the target of the assignment is different in the two branches of the if statement.

[code]

Current output after fix applied (if it is a code fix bug):

[code]

[2016-06-14 11:17] #775 closed

[2016-06-28 11:20] kindermannhubert opened #802 "BUG: CC0052 detection (ref/out parameters)"
CC0052 - A field that is only assigned on the constructor can be made readonly.
Diagnostic should not be detected when field is used as 'ref' or 'out' parameter of method.

Example:
[code]

[2016-06-28 11:37] kindermannhubert opened #803 "BUG: CC0052 detection (property setters)"
CC0052 - A field that is only assigned on the constructor can be made readonly.
Diagnostic should not be detected when field is set inside property setter.

I see this problem only when variable is set in constructor.

Here the diagnostic is correctly NOT detected:
Example:
[code]

But here it is detected:
[code]

[2016-06-30 12:50] #773 closed

[2016-07-04 18:23] AmadeusW commented on #734
@giggio @ElemarJR @carloscds pinging you because the guidelines say that I should notify you before creating a PR.
I think I've got it working. Check it out at https://github.com/code-cracker/code-cracker/compare/master...AmadeusW:0122
Screenshot of a non trivial case:
![cc0122](https://cloud.githubusercontent.com/assets/1673956/16567981/5c63f2aa-422d-11e6-9859-5a45f5b5cbb8.png)

[2016-07-05 18:15] vs-krasnov commented on #771
@giggio @JoelRamosM  Do I understand correctly that no one works on this issue - https://huboard.com/code-cracker/code-cracker/#/issues/147906180 ? If it is still open - I'd like to to work on it.

[2016-07-05 19:18] JoelRamosM commented on #771
@vs-krasnov i'm ok,  I canot put this task in my agenda.

[2016-07-06 13:52] vs-krasnov commented on #771
@JoelRamosM Okay, please let me know if you need any help with it.

[2016-07-06 15:06] vs-krasnov commented on #776
@giggio @raphaelm22 May I work on this issue?

[2016-07-07 02:54] giggio commented on #776
@vs-krasnov Go ahead.

[2016-07-11 14:22] raphaelm22 opened #807 "NULL check when it is not necessary"
[code]
The Code-Crack is saying that there may be a NullReferenceException in the IF. But it is not true in this situation.

![a](https://cloud.githubusercontent.com/assets/11078528/16733861/a5e8e4b8-4759-11e6-988b-d6312bac28ff.png)

[2016-08-07 17:08] giggio commented on #778
Because libraries should provide their own analyzers, CodeCracker should be about generic analyzers.

[2016-08-07 17:10] giggio commented on #781
Closed on #782

[2016-08-07 17:10] #781 closed

[2016-08-07 17:22] giggio opened #808 "Make readonly (for complex value types)"
Make complex value type readonly.

Before:

[code]

After:

[code]

Diagnostic Id: `CC0121`
Category: `Usage`
Severity: `Info`

This analyzer should be disabled by default because of the problems described on #775. And it should share could, if possible, with the analyzer for `CC0052`. The code fix can be the same, for sure, and should only be updated to take `CC0121` as an extra id.

[2016-08-07 17:22] giggio commented on #775
Created #808 for the continuation (new analyzer).

[2016-08-07 18:41] giggio opened #809 "BUG: GC.SuppressFinalize with arrow methods (CC0029)"
This should not raise `CC0029`:

[code]

Right now it does not know how to work with arrow methods. Should update the analyzer and the fix.

[2016-08-07 18:49] giggio commented on #788
Bug confirmed, I updated the code to a simpler case.

[2016-08-07 18:50] giggio commented on #789
Agreed, we can do better.

[2016-08-07 18:54] giggio commented on #790
This is already implemented on `CC0026`: http://code-cracker.github.io/diagnostics/CC0026.html

[2016-08-07 18:54] #790 closed

[2016-08-07 19:28] giggio opened #810 "Bug: ArgumentNullException on CallExtensionMethodAsExtensionAnalyzer (CC0026)"
This will cause a `ArgumentNullException` in `CallExtensionMethodAsExtensionAnalyzer`, because the method `M` is supposed to have arguments.

[code]

This is the full error output:

[code]

The PR should pull into the `v1.0.x` branch.

[2016-08-07 19:49] giggio commented on #787
This is a problem with VS, you have to try to clean the `Roslyn` instance.

First close all VSs.

Try this in Powershell:

[code]

If it does not work, try to delete both `%appdata%\Microsoft\VisualStudio\14.0Roslyn` and `%localappdata%\Microsoft\VisualStudio\14.0Roslyn`, then run that Clear again, just to make sure.

Then try running the Roslyn instance before running it from VS.

Then open the R

[2016-08-07 19:49] #787 closed

[2016-08-07 19:53] giggio commented on #792
@thiagomoreiraboby I can't repro. Tried this simpler one, it worked fine:

[code]

We need more details. I am closing this for now, but feel free to reopen with a case we can try to repro.

[2016-08-07 19:53] #792 closed

[2016-08-07 20:01] giggio commented on #783
We seem very much divided. The ones that don't want this analyzer can disable it. I don't think we will ever find an ideal analyzer that pleases everyone. And there is no way to configure an analyzer at this moment.
I am closing this issue until we have a way to configure analyzers.

That said, I think there is room to split `CC0001` into more diagnostic ids, keep them all enabled, and then the us

[2016-08-07 20:01] #783 closed

[2016-08-07 20:04] giggio commented on #765
@jwooley go for it. Sorry about being away for so long, I have been busy.

[2016-08-07 20:05] giggio commented on #771
Sorry everyone, I've been busy, and could not answer before.
@JoelRamosM asked first, he can go, if he wants it.
@vs-krasnov If Joel does not answer within a week or does not want it, you can take the issue. Just comment here so we know.

[2016-08-07 20:10] giggio commented on #793
Bug confirmed, it is up for grabs.

[2016-08-07 20:12] giggio commented on #793
@LoRdPMN I have updated the issue to add a simple example and also added more info.

[2016-08-07 20:16] giggio commented on #795
Bug confirmed.
@ElStefan I have updated the code to be easier to repro, and added some extra info. Thanks for the bug report.

[2016-08-07 20:20] giggio commented on #797
@RachelDavids Bug confirmed. I have added some more info to the description.

[2016-08-07 20:26] giggio commented on #796
@RachelDavids can you provide some sample code so we can verify?

[2016-08-07 20:28] giggio commented on #798
Bug confirmed. I have made the example simpler and added a comment about the branch.

[2016-08-07 20:31] giggio commented on #791
Bug confirmed.

[2016-08-07 20:34] giggio commented on #791
@wmjordan yes, you are right, we will not be able to detect the references during analysis, we would have to do it during the execution of the fix. So, should we accept the false positive, and, in the fix, do nothing?
This is one of the most useful analyzers we got, I don't want to disable it.
@code-cracker/core @code-cracker/collaborators I would like your opinions too.

[2016-08-07 20:37] giggio commented on #794
I agree, but this is an example where you should suppress it. I don't see a generic way for us to change the code analysis. Do you? In which cases should the diagnostic be triggered, and which cases should it not?
I am closing the issue, but if we can find a way to solve this, I will gladly reopen it.

[2016-08-07 20:37] #794 closed

[2016-08-07 21:06] pascalberger opened #811 "Provide Sonar Plugin"
Do you plan to provide a plugin for SonarQube for this analyzer (See https://github.com/SonarSource-VisualStudio/sonarqube-roslyn-sdk/)? This would allow to use the analyzer in a CI scenario to manage technical dept with SonarQube, and also have it in Visual Studio through SonarLint.

For supporting Roselyn analyzers Sonar requires a plugin (as explained [here](https://blogs.msdn.microsoft.com/vis

[2016-08-07 21:14] giggio commented on #811
@pascalberger right now, no, we don't.
If we were to create this plugin, where would we publish it?

[2016-08-07 21:27] pascalberger commented on #811
There exists the possibility to have plugins listed in the Sonar update center. See [here](http://docs.sonarqube.org/display/DEV/Deploying+to+Update+Center) how the process works.

[2016-08-07 22:21] carloscds commented on #811
@pascalberger You can use Sonar Roslyn SDK to create a .jar file based on CodeCracker NugetPackage. You need on download SonarSDK (https://github.com/SonarSource-VisualStudio/sonarqube-roslyn-sdk/releases/download/1.0/SonarQube.Roslyn.SDK-1.0.zip) and run follow command line:
RoslynSonarQubePluginGenerator.exe /a:codecracker.CSharp /acceptLicenses
After this you need to install jar file into your

[2016-08-08 01:55] giggio commented on #799
I don't like. I find it too specific, quite rare, and I don't think it adds much value.

[2016-08-08 01:58] giggio commented on #799
I don't think this is on category `Maintainability`. Checkout some examples for this category here: https://msdn.microsoft.com/en-us/library/ms182211.aspx

[2016-08-08 02:00] giggio commented on #801
Duplicate from #798.

[2016-08-08 02:00] #801 closed

[2016-08-08 02:01] giggio commented on #802
Duplicate from #788.

[2016-08-08 02:01] #802 closed

[2016-08-08 02:09] giggio commented on #803
The problem is not the property, is the order in which the constructor shows up. This does not raise the diagnostic:

[code]

And this does:

[code]

The only difference is the order in which the members appear. I will open another issue with this. By now, only change the order, bring the constructor up in the class and you should be fine.

[2016-08-08 02:09] #803 closed

[2016-08-08 02:12] giggio opened #812 "BUG: Make readonly (CC0052) is incorrectly raised if constructor shows up after member that uses the field"
Depending on the order in which the constructor shows up in a class `CC0052` is raised or not.

This does not raise the diagnostic:

[code]

And this does:

[code]

The only difference is the order in which the members appear.

On both cases, the diagnostics should not show up.

This should be fixed on the `v1.0.x branch`.

[2016-08-08 02:15] giggio commented on #807
Duplicate of #779, I added your example to the test case there.

[2016-08-08 02:15] #807 closed

[2016-08-08 06:03] pascalberger commented on #811
@carloscds I'm aware of the possibility to create the plugin myself. But IMHO it would be much better to have done this by the original author instead of each user on its own, with each user requiring to add the additional metadata (effort for technical dept) and keep updated on new analyzers.

[2016-08-08 15:10] carloscds commented on #811
@pascalberger We will discuss about generate a plugin for SonarQube, and after tis I will update this issue.

[2016-08-09 00:48] wmjordan commented on #791
@giggio, I inspected my cases and the code sample provided by @kwhitefoot. I found something in common. Both of us are using **private** methods as `delegate`s. You may limit the analyzer work within the scope of the current class. If the method is in a `public`/`internal` nested class, examine the outer class too.
It helps suppressing those false positive reports.

[2016-08-09 02:42] wmjordan opened #814 "CC0006 could break code when changing to foreach"
This code:

[code]

Current output after fix applied (if it is a code fix bug):

[code]

We can't change the item in a for-each loop.

The fix should go to the `v1.0.x` branch.

[2016-08-09 03:25] giggio commented on #791
@wmjordan It is a possibility, but this would mean that we can only run this analysis on private members...

[2016-08-09 03:27] giggio commented on #814
Bug confirmed.

[2016-08-09 03:30] giggio commented on #776
@vs-krasnov How is this coming? Are you still working on it?

[2016-08-09 03:47] giggio commented on #811
We have decided it is a good idea to publish the plugin, @carloscds will investigate the best way to do that, we will not add a binary to this repo, we have to find some other way.

[2016-08-09 05:13] vs-krasnov commented on #776
@giggio Will PR fix for this in a day or two - a bit difficult to find free time in the schedule.

[2016-08-09 07:53] thomaslevesque commented on #791
For what it's worth, that's what ReSharper does, and I think it makes sense.

[2016-08-09 14:17] LoRdPMN commented on #793
@giggio IMHO I think it is not acceptable if the interface is on source, because you should be creating an API which the implementer should decide whether it will be implemented as async or not.

I agree with it in cases where the method is not implementing an interface and is not overriding an abstract method.

Also, if it triggers when the interface is on source, then the interface will need to

[2016-08-11 03:33] giggio commented on #776
Closed on #819.

[2016-08-11 03:33] #776 closed

[2016-08-12 17:06] giggio commented on #811
Created Repo for this plugin at: https://github.com/code-cracker/SonarQubePlugin
Docs on how to submit a plugin do SonarSource: http://docs.sonarqube.org/display/DEV/Deploying+to+Update+Center

[2016-08-12 17:32] giggio commented on #811
Release for the 1.0.0 created: https://github.com/code-cracker/SonarQubePlugin/releases/tag/v1.0.0
The .jar is already there. @carloscds will submit the plugin to SonarSource.

[2016-08-12 20:30] giggio commented on #811
We are now one of SonarQube plugins. Only need to update readme, now: http://docs.sonarqube.org/display/PLUG/Other+Plugins

[2016-08-15 20:06] giggio commented on #788
Closed on #817

[2016-08-15 20:06] #788 closed

[2016-08-15 20:06] giggio commented on #779
Closed on #813

[2016-08-15 20:06] #779 closed

[2016-08-15 20:07] giggio commented on #810
Closed on #816

[2016-08-15 20:07] #810 closed

[2016-08-15 20:07] giggio commented on #795
Closed on #818

[2016-08-15 20:07] #795 closed

[2016-08-15 20:21] giggio commented on #811
@carloscds I am reopening, as we did not yet update the readme.

[2016-08-15 20:23] carloscds commented on #811
@giggio Ok, sorry!

[2016-08-15 20:27] giggio commented on #809
Closed on #815

[2016-08-15 20:27] #809 closed

[2016-08-15 20:49] giggio opened #821 "Bug: Should not use Async methods in analyzers (CC0029)"
Right now only `DisposablesShouldCallSuppressFinalizeAnalyzer`, for VB, is doing that.
See:
https://github.com/code-cracker/code-cracker/blob/master/src/VisualBasic/CodeCracker/Usage/DisposablesShouldCallSuppressFinalizeAnalyzer.vb#L38

This line: https://github.com/code-cracker/code-cracker/blob/master/src/VisualBasic/CodeCracker/Usage/DisposablesShouldCallSuppressFinalizeAnalyzer.vb#L51
Has to c

[2016-08-16 12:51] ElStefan opened #822 "Bug: "UseStaticRegexIsMatchAnalyzer" causes an exception (CC0081)"
Hi,

while working with regular expressions in C#, an exception occured in the error list caused by code-cracker.

After some playing around with the code, i found the suspicous part in my code which is causing the exception.

[code]

The exception (only got it in german):

[code]

A more complex scenario:

[code]

[code]

I guess the problematic line is in [here](https://github.com/code-cracker/c

[2016-08-17 14:37] carloscds commented on #822
@ElStefan Can you check if you are running last version of CodeCracker ? I can't reproduce this error.

[2016-08-18 07:19] ElStefan commented on #822
I was using the master branch to figure it out, so i think it should be the latest version.
I have to admit, when I tried to reproduce it again today, it didn't work the second time.
So I wrote a unit test according to your existing tests and it's definitely throwing an exception every time now.

[code]

[2016-08-20 03:07] giggio commented on #793
@LoRdPMN A method is async not if it uses the `async` keyword, but if it follows the async pattern, which mostly involves returning a `Task`.
So, a method that does not have the keyword `async`, but still returns a `Task`, is still async.
Bear in mind that the async keyword only exists on source, there is way to tell that a method was async when looking at IL. We could, at the most, look for the s

[2016-08-20 16:44] giggio commented on #812
Closed on #823.

[2016-08-20 16:44] #812 closed

[2016-08-22 11:09] carloscds commented on #811
Readme updated.

[2016-08-22 11:09] #811 closed

[2016-08-22 12:54] ElStefan commented on #822
Okay i got it now. It's happening if "IsMatch" is called in a nested expression.

[code]
( ..and now i learned how to markdown code in github correctly :) )

[2016-08-22 14:21] giggio commented on #793
Closed on #825.

[2016-08-22 14:21] #793 closed

[2016-08-22 14:21] giggio commented on #797
Closed on #826.

[2016-08-22 14:21] #797 closed

[2016-08-22 14:38] giggio commented on #822
Bug confirmed, here is the full stack trace:

[code]

[code]

[2016-08-22 16:54] RachelDavids opened #827 "w.r.t. #797 and #826- apparently only fixed for C#"
Many thanks for fixing #797 in C#. However, I did note in my initial comment that the same issue also exists in the VB analyzer.

[2016-08-22 17:59] carloscds commented on #827
@RachelDavids Thanks for report issue!

[2016-08-24 09:17] clklachu commented on #132
Hi @giggio I'm a first timer and i would like to work on this issue, Could you please assign it to me? I will get back on any doubts.

[2016-08-24 17:37] giggio commented on #132
@clklachu go ahead.

[2016-08-25 13:22] AdSoares commented on #732
Can I work on it?

[2016-08-25 20:20] carloscds opened #829 "developmentDependency not added when used with SonarLint"
This issue refers to change nuget specification for SonarQube plugin.

https://github.com/code-cracker/SonarQubePlugin/issues/1

[2016-08-25 23:35] giggio commented on #706
This is being worked now on #829.

[2016-08-25 23:39] giggio commented on #732
@AdSoares Sure, go for it, you have to pull into the master branch.

[2016-08-26 00:20] giggio commented on #827
Ok, I used this one.

[2016-08-26 04:57] giggio commented on #829
Closed on 63c59c46c44fbed154694e6701569bfcf656aadb.

[2016-08-26 23:39] giggio commented on #822
Closed on #833

[2016-08-26 23:39] #822 closed

[2016-08-27 14:01] julianosaless opened #834 "Code of Conduct"
I believe with the notoriety of our project we need to have the code of conduct, putting our values and acceptable behaviors.
Making our project in a bias-free place.

What do you guys think?

[2016-09-05 15:07] #753 closed

[2016-09-06 14:29] giggio commented on #814
Closed on #831

[2016-09-06 14:29] #814 closed

[2016-09-06 14:44] giggio commented on #774
Closed on dfd5c39

[2016-09-06 14:44] #774 closed

[2016-09-06 15:58] #829 closed

[2016-09-12 07:47] pascalberger opened #837 "CC0008: Don't suggest for dynamic objects"
# Bug

CC0008 currently suggests to use object initializer, even for dynamic objects.

[code]

Current output after fix applied (if it is a code fix bug):

[code]

Since this is a dynamic object, `From` and `To` might not be properties of the `Email` class and can therefore not be initialized with the object initializer syntax.

[2016-09-13 16:15] giggio commented on #837
@pascalberger If `From` and `To` are not properties of the `Email` class the code will fail in the same way, will it not? The only difference is that the invocation is happening via dynamic dispatch in the first case, so CodeCracker will actually help you find an error.
The only scenario I can see this being a problem is with an `ExpandoObject`, or an object with similar patterns. So, in this scen

[2016-09-14 13:23] davidhesselbom opened #838 "CC0030: Bad grammar in message"
# Bug

This is very minor, but, in version 1.0.1, the message description for CC0030 is "This variables can be made const." for the following piece of code:

[code]

For the following piece of code, I get two of these messages, one for `s` and one for `t`:

[code]

The message should either be
- "These variables can be made const." in the former case and "This variable can be made const." in the l

[2016-09-14 13:41] jwooley commented on #838
There are actually a number of messages that should be reviewed for grammatical correctness. I would recommend a task item to review the values in the resource file in general since all of the changes should be made there (or if there are any strings still lingering in individual analyzers, moved to the resource file).

[2016-09-15 20:57] giggio commented on #838
Yes, we have those errors. Most contributors are not native English speakers. Thanks for pointing this out.

[2016-09-15 20:59] giggio opened #839 "Verify grammar and spelling"
Right now there are small errors in grammar and spelling. We need someone to review and fix all analyzers and code fix messages.

[2016-09-15 21:00] giggio commented on #838
@jwooley Good idea, created #839.

[2016-09-16 07:05] davidhesselbom commented on #838
@giggio Yes, I noticed after using the extension for a while longer. This particular message stood out at first, probably because I got that same message a lot :) #839 doesn't seem to mention what @jwooley brought up about strings still lingering in individual analyzers. I don't know how the source code is organized, but I found two files with the string "this variables", one of which is a test fi

[2016-09-17 12:37] thdotnet commented on #747
I'm working on it

[2016-09-18 10:38] danferreira opened #841 "CC0082: ComputeExpressionCodeFixProvider crashs"
# Bug

I dont know if it is a bug or only happens with my setup.

I was playing with your extension and when I open the lamp in any of the next codes:

[code]

I got:

![bug](https://cloud.githubusercontent.com/assets/6264692/18614999/ec0c4366-7d70-11e6-8d0c-728158fc7c60.png)

I ran VS with devenv.exe /log and I got:

`Não é possível converter um objeto do tipo 'Microsoft.CodeAnalysis.CSharp.Synta

[2016-09-19 10:30] thdotnet opened #842 "Linq Rewrite"
I've just saw this on my timeline and I think it would be a great feature for CodeCraker. What you guys think about it?

https://github.com/antiufo/roslyn-linq-rewrite

[2016-09-20 17:09] cezarant commented on #808
"_This analyzer should be disabled_"
Just set the isEnabledByDefault parameter to false that's enough?

[2016-09-22 22:56] giggio commented on #808
@cezarant yes. Are you working on it?

[2016-09-22 23:12] cezarant commented on #808
Yes @giggio  It seems to be a slight issue to start.

[2016-09-26 00:08] carloscds commented on #841
@danferreira Did you try on another machine ?

[2016-09-26 14:55] danferreira commented on #841
Yes, I did.

[2016-09-26 15:13] carloscds commented on #841
@danferreira Bug confirmed!

[2016-09-26 18:15] giggio commented on #842
We can't change the outputted IL, we can only do static analysis.
Or are you suggesting we go from beautiful Lambdas to ugly code? :)

[2016-09-26 18:15] #842 closed

[2016-09-26 18:16] giggio commented on #808
@cezarant Cool, let us know when you are ready, and send a PR!

[2016-09-26 20:24] cezarant commented on #808
One question: If the analyser it's hidden or disabled,i need to implement tests for the  situations where he is enabled?
Because, i don't have found a analyser with condition "**enabledByDefault=false.**"

[2016-09-26 20:27] giggio commented on #808
@cezarant We will enable the analyzer before we run the tests.

[2016-10-10 13:11] loweva opened #847 "Question: Is CodeCracker missing/skipping IDisposable objects?"
Below is a method from some code that I'm maintaining. It appears to be the cause of some memory leaks. When I run the CodeCracker analyzer on it, with CC0022, CC0032, and CC0033 selected, only the SqlDataAdapter lines are flagged with CC0022. However, shouldn't the SqlCommand and SqlConnection members also be flagged? Thanks in advance.

[code]

[2016-10-10 14:55] carloscds commented on #847
@loweva Bug confirmed! I will solve it.

[2016-10-16 23:44] loweva commented on #847
@carloscds: I want to understand this better. Are you saying then that `sqlConn` and `cmd` should **not** be disposed of in this method? Or just that, since they're passed as arguments to another object, it's a non-deterministic case and they _might_ need to be disposed, or they _might not_, depending on the code in question?
Thanks!

[2016-10-17 09:41] carloscds commented on #847
@loweva As you say, it's not deterministic, and we don't have control inside method.

[2016-10-19 19:01] Nozziel opened #848 ""Disposable Field Not Disposed" rule does not recognize null propagation"
# Bug

"Disposable Field Not Disposed" rule does not recognize null propagation

**This works:**

[code]

**This doesn't:**

[code]

 **Unit test:**

[code]

[2016-10-20 13:09] feb21 opened #850 "C++ is Coming?"
+1

[2016-10-20 17:55] jwooley commented on #850
While I appreciate the desire for more static analysis tools for C++, I don't think this project is the correct one. Since Roslyn is limited to C# and VB at this point and Code-cracker is a Roslyn powered tool, I don't see the benefit of doing a C++ version through this project.

[2016-10-31 10:09] #780 closed

[2016-10-31 10:20] #848 closed

[2016-10-31 16:39] giggio commented on #850
Right. Until then, there is no way to support C++. I am closing the issue, unfortunately, because it would be really cool.

[2016-10-31 16:39] #850 closed

[2016-11-01 01:11] feb21 commented on #850
GGGGGGGGGGGGG

[2016-11-26 14:52] Kavignon commented on #379
Hi,

I'd like to add you to my professional network on LinkedIn.

- Kevin

Confirm that you know Kevin: https://www.linkedin.com/comm/start/accept-invitation?sharedKey=MswE9LLI&invitationId=6208290946052870144&trk=eml-guest-invite-cta&trkEmail=eml-invite_guest-null-2-null-null-0%7Eivzc5ewi%7E2t

You received an invitation to connect. LinkedIn will use your email address to make suggestions to our

[2016-12-01 21:02] Kavignon commented on #379
Kevin Avignon would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/comm/start/accept-invitation?sharedKey=MswE9LLI&invitationId=6208290946052870144&trk=eml-first_guest_reminder_01-hero-121-accept_text&trkEmail=eml-first_guest_reminder_01-hero-121-accept_text-null-2ybbyk%7Eiw6msfef%7Ey7

View Kevin Avignon&#39;s profile: https://www.linkedin.com/comm/s

[2016-12-06 11:17] kindermannhubert opened #853 "BUG: CC0052 (Make readonly) does not work with lambda expressions and initialized variables"
Example:
[code]
CC0052 is detected for "i = 0" but this kind of change would break compilation.

[2016-12-06 11:55] kindermannhubert opened #854 "BUG: CC0052 (Make readonly) sometimes detects complex value types"
Example:
[code]
CC0052 is detected for "s" but this kind of change would break compilation.

Interesting is that in following two examples CC0052 is not detected (which is correct):
[code]
and
[code]

[2016-12-07 14:24] rezanid opened #855 "CC0089 should ignore if statements that include "else if" blocks"
When writing if statements that include `else if` blocks such as following:
[code]
It is a good practice to also include a final `else` block to indicate that all cases are covered. This can would help to clearly indicate the purpose of the code and when it is implemented in a project, lack of `else` can be a lead to find potential bugs. Unfortunately if we write the above code like this:
[code]

[2016-12-07 15:18] jwooley commented on #855
I'm not sure that forcing code to include a noop is a best practice. If we extended the logic here, one could contend that all if blocks should always have else blocks to indicate that both cases are covered even if there is no functionality in the else condition. I can understand the desire for this with a switch statement, but am not convinced that it is best practice for if.. else if.. else blo

[2016-12-08 18:40] carloscds commented on #853
@kindermannhubert Today we are not looking for this into CC0052. Maybe this make sense. What do you guess @giggio ?

[2016-12-08 21:23] rezanid commented on #855
Why not? Could you elaborate more? I have seen this in many static code analysers already.

On Wed, Dec 7, 2016 at 4:18 PM +0100, "Jim Wooley" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure that forcing code to include a noop is a best practice. If we extended the logic here, one could contend that all if blocks should always have else blocks to indicate that both

[2016-12-09 08:52] rezanid commented on #855
I think I understand your concern now. IMHO when we are righting a single `if` statement we are evaluating a condition that can be anything. In that case the necessity to include an `else` depends on what we are trying to achieve and it's not related to the readability or maintainability. but `if` statements that include `if else` are a different story. They are used to evaluate a list of possibil

[2016-12-12 06:25] GGG-KILLER opened #856 "VS 2017RC Support"
Would it be possible to have support for VS 2017RC added to this extension? VS2015 will probably not get support for the upcoming .NET Core tooling suite that already ships with 2017 so .NET Core developers will have to move to 2017 as it uses a new MSBuild system (not available on 2015).

One of the biggest issues I have is not being able to use Code Cracker C# since it is not available to 2017RC

[2016-12-12 06:32] GGG-KILLER commented on #855
@rezanid I believe this would be suited only for specific cases as many exceptions exist to it. Take for example a code that has an `enum` with 4 options:
[code]

And it wanted to make different choices based on the flags set like:

[code]

And the code was designed in a way that there'll never be any other possibilities rather than the ones covered by the `if/else if` statement, your new rule wou

[2016-12-12 06:55] GGG-KILLER commented on #854
No, in fact, doing that would not break compilation at all, since `readonly` only prevents modifying the field itself, any properties or fields of the readonly field are still accessible and can be modified if allowed as shown on the code below:

[code]

Which results in:

Proof: https://repl.it/En1l

[2016-12-12 06:59] GGG-KILLER commented on #853
As I stated on #854 this kind of change will not break compilation.

[2016-12-12 07:01] GGG-KILLER commented on #853
As I stated on #854 this kind of change [would not break compilation](https://repl.it/En1u)

[2016-12-12 16:47] carloscds commented on #856
@GGG-KILLER In VS 2017 extensions was changed and we didn't update project yet.

[2016-12-12 17:31] GGG-KILLER commented on #856
@carloscds I am aware of that, however I was asking if it is in the roadmap for the project to make it available for VS 2017RC.

[2016-12-12 18:10] carloscds commented on #856
@GGG-KILLER Yes, we are upgrade to run on VS 2017.

[2016-12-13 18:05] #808 closed

[2016-12-13 20:44] bergarces commented on #798
Hi. Sorry I didn't post before, but I saw this bug and I was checking if I could fix it myself before asking, as I wasn't sure I'd be able to.

I noticed though that the example works if the += operator is on the Else, but it doesn't if it's in the If, so I've just amended it in a way that it should work with both. I've added some extra tests and it seems to pass all of them

Is it ok if I do a PR

[2016-12-14 20:11] rezanid commented on #855
@GGG-KILLER In your example, you are using an `enum`. I assume that your `if` statement is not the only place in your application that this `enum` is being used. It can be used in other functions and even different classes (unless it's very specific scenario). Now imagine for a moment that a developer has joined the team to work on a specific bug and while chasing the leads she / he comes to this

[2016-12-15 03:09] GGG-KILLER commented on #855
@rezanid But fundamentally, in understanding, what would be the difference of this:
[code]

and this

[code]

apart from the fact the former inserts a noop which is probably removed by compiler optimizations and attends to your coding standards?

My point is that there is no practical reason to have this as a feature of the extension, since it does not provide any actual functionality as the `repl

[2016-12-22 13:46] Thieum opened #857 "CC0009 should ignore IDisposable types"
CC0008 should ignore IDisposable types as it will pop a CA2000 code analysis warning considering an initializer declares a temporary variable (see : http://haacked.com/archive/2013/01/11/hidden-pitfalls-with-object-initializers.aspx/ for more details)
Example:

[code]

Current output after fix applied (if it is a code fix bug):

[code]

Expected output after fix applied (if it is a code fix bug):

[2016-12-26 13:29] WinCPP commented on #771
Hi guys,

Is this still up for grabs...? May I work on this or collaborate? Please do let me know.

Thanks,
Mandar

[2016-12-28 06:04] Poojith commented on #685
Hi @giggio, I'm a first-timer with OSS. Is the issue resolved? If no, I would love to take it up.

[2016-12-28 10:31] carloscds commented on #685
@Poojith Go ahread!

[2016-12-28 10:32] carloscds commented on #771
@WinCPP Go ahead!

[2016-12-29 09:22] Poojith commented on #685
Sorry for my ignorance, this is my first time with Visual Studio 2015 -- had previously worked with 2010.
While setting up the solution after adding the startup projects, I always get an error that an 'output type of class library' cannot be started. Should I be adding references to the DLLs?
Also, please let me know if there is a mailing/contact list where I can ask my queries. Thanks!

[2016-12-30 00:15] carloscds commented on #685
@Poojith Do you have Visual Studio 2015 with Update 3 ?

[2016-12-30 01:08] Poojith commented on #685
@carloscds Yes, I do. I have all the required setup in place, it's just that I am facing a problem while running the project. Please let me know if there is another forum/email where I can continue this conversation. Don't want to digress away from the topic of the issue :)

[2016-12-30 01:13] carloscds commented on #685
@Poojith Ok, open another Issue and explain error in detail, if possible with screen shot.

[2016-12-30 01:14] carloscds commented on #685
@Poojith Wait! reading again your first post, the problem is with Startup Project. Set VSIX Project as startup project and not CodeCracker library.

[2016-12-30 08:06] Poojith commented on #685
@carloscds thanks a lot, that helped.
I just went through the entire codebase over the past 2 hours and noticed that none of the constant variables are not changed dynamically. Pretty much all the value assignments are done in test classes. The other constant variables which are in actual code(not test cases) are not changed with methods. Please tell me if the statement from the description of the

[2017-01-03 12:46] carloscds commented on #685
@Poojith Can you send a sample about this ?

[2017-01-05 14:01] RachelDavids opened #858 "CC0033 : false positive - cannot handle elvis operator"
[code]
Under both declarations CC0033 is indicated.

In both cases, the Fix is unnecessary AND introduces a potential bug by not including the elvis operator.

[2017-01-07 16:38] giggio commented on #847
@loweva what is happening is that, as the object is being passed on as an argument into another method, there may be code still using it, so we can't be sure if you should dispose it or not. Because of this we can't offer the diagnostic.

[2017-01-07 16:38] #847 closed

[2017-01-07 17:03] giggio opened #859 "Bug on CC0120 for the fix when there is a conversion"
Input your bug description. Make sure you describe the steps to reproduce,
that you are working with the latest version, and the issue has not been reported yet.

Example: (don't use your project code, use a sample that anyone could use to verify the bug,
so, for example,
don't use classes that are not part of the BCL or declared on your sample.)

[code]

Expected output after fix applied (if it i

[2017-01-07 18:41] #859 closed

[2017-01-07 19:13] giggio commented on #854
Duplicate of #775.
Already fixed on #852.
A new diagnostic id was created and is disabled by default. See #808.

[2017-01-07 19:13] #854 closed

[2017-01-07 19:15] giggio commented on #853
Definitely a bug. It is ready and up for grabs.

[2017-01-07 19:17] giggio commented on #798
@bergarces yes, go ahead, send the PR! :)

[2017-01-07 19:20] giggio commented on #855
I think this would add a lot of noise to the error list. It is so common that this is not needed that I don't think it is a good idea. `If else if` without a final `else` are just normal in code, I don't see it even as an info.

[2017-01-07 19:20] #855 closed

[2017-01-07 19:42] giggio commented on #857
@Thieum This no longer seems to be true. @haacked's post seems to be from 2013. This is the constructor for the `Owner` object now when using an initializer:

![image](https://cloud.githubusercontent.com/assets/334958/21744580/a477ae82-d4ff-11e6-8bce-38280c264116.png)

The problem he states on the blog post about the property setter throwing still exists, but the temporary local variable no longer

[2017-01-07 19:42] #857 closed

[2017-01-07 19:45] giggio commented on #771
Yes, I am assuming nobody finished it before, go ahead @WinCPP .

[2017-01-07 19:51] giggio commented on #858
This is a duplicate of #848, which is already fixed and will be released soon. Thanks for the report @RachelDavids .

[2017-01-07 19:51] #858 closed

[2017-01-08 16:31] giggio commented on #798
Closed on #861

[2017-01-08 16:31] #798 closed

[2017-01-08 23:11] giggio commented on #841
Closed on 25b0270b through #843.

[2017-01-08 23:11] #841 closed

[2017-01-09 02:18] giggio commented on #821
Closed in #863.

[2017-01-09 02:18] #821 closed

[2017-01-09 02:19] giggio commented on #853
Closed in #862

[2017-01-09 02:19] #853 closed

[2017-01-09 02:21] giggio commented on #837
Closed in #860.

[2017-01-09 02:21] #837 closed

[2017-01-09 02:27] giggio commented on #838
Closed in e0492cf1f941c552ed04b93c10875745fc567968.

[2017-01-09 02:27] #838 closed

[2017-01-09 08:29] beyaz opened #864 "next suggestion icon"
is there any icon that can be focus next suggestion in file ? (at right + top)
İn Resharper "Click to navigate next warning/suggestion"

[2017-01-09 09:50] carloscds commented on #864
@beyaz No, because this is controlled by VS IDE, not by roslyn.

[2017-01-09 21:43] Haacked commented on #857
Have you tried with a DEBUG build? I wonder if the debug and production compiled output differs. In any case, I may just link to this issue in my post. :smile:

[2017-01-11 03:17] #864 closed

[2017-01-11 03:18] giggio commented on #857
@Haacked Yes, I did, no change there. That is good news, right? :)

[2017-01-11 18:01] Haacked commented on #857
👍 Nice!

[2017-01-13 10:01] kindermannhubert commented on #854
Sorry, but have tried the example I've submitted?
Now I tested it again with latest version of code-cracker from master branch and it still does not work.

[2017-01-13 12:45] kindermannhubert opened #866 "BUG: CC0118 - Unnecessary '.ToString()' call in string concatenation"
It is little bit more complicated while concatenating 'tostringed' objects only.

Example:
[code]

CC0118 is detected and code after fix looks like this:
[code]
which is incorrect.

Solution 1: Do not detect CC0118 in such situations.
Solution 2: Fix needs to be smarter.

This is problematic primarily when using solution-wide fix because of possibly large number of wrong fixes.

[2017-01-15 07:47] Poojith commented on #685
@carloscds , apologize for the late reply.
For instance, in StringBuilderInLoopAnalyzer.cs, the fields `Title`, `MessageFormat`, or `Category `are all assignments involving string literals, and are not changed dynamically.
I'm wondering if the description of the issue,

meant the static variables in `SupportedCategories.cs` had to be changed.

[2017-01-16 11:49] kindermannhubert opened #867 "BUG: CC0060 - detected for nested struct in abstract class"
Diagnostic ("Abstract class should not have public constructors") is incorrectly detected for nested struct in abstract class.

Example:
[code]

[2017-01-23 10:29] sm-g opened #869 "CC0105 breaks multiply locals"
Before:

[code]

After:

[code]

[2017-01-23 22:10] carloscds commented on #869
@sm-g 'var' declarations doesn't allow multiple variables.

[2017-01-28 16:33] WinCPP commented on #771
Hi,

Using the following regular expression for "find in all files in the solution" (C# files), I didn't get any replaceable occurrences. Is this work still pending or am I missing something...?

if[ \t]*\(\b(_\w+|[\w-[0-9_]]\w*)\b[ \t]*(==|!=)[ \t]*null\)(?!.*\breturn\b)

Note: the negative lookahead for 'return' was to eliminate many statements which where of the grammar
"if (...) return...;"
Ap

[2017-01-28 17:38] carloscds commented on #771
@WinCPP I didn´t understand your question. Are you try to find code source for analyzer ?

[2017-01-28 17:57] WinCPP commented on #771
@carloscds sorry for not being clear. I didn't get the actual ask in this issue. First I thought that the existing code needs to be scanned to use null coalescing operator (a trivial task), as per this thread, hence the above comment. But now I'm wondering if this issue is to argument the code cracker functionality to suggest places where null coalescing operator could be used in the target source

[2017-01-28 17:59] WinCPP commented on #771
Please ignore typo... Mobile autocorrect changed 'augment' to 'argument'...

[2017-01-29 08:56] sm-g commented on #869
So maybe this rule should not warn such usage?

[2017-01-29 09:01] sm-g opened #870 "BUG: CC0022 failed to show fix with null coalesce operator"
This line have warning at `new HttpClient(...)`:

[code]

When trying to show fixes, `DisposableVariableNOtDisposedCodeFixProvider` failed.

Also, if [`HttpClient` should not be disposed](http://stackoverflow.com/a/15708633/3009578), maybe move such usage to Messages (along with `HttpClientHandler`)?

[2017-01-30 11:35] carloscds commented on #869
@sm-g Make sense.

[2017-01-30 11:38] carloscds commented on #771
@WinCPP It's a new feature for CodeCracker.

[2017-01-30 12:13] WinCPP commented on #771
@carloscds  Cool thanks for clarification. This is interesting... sort of grammar tree evaluation and folding, if I get it right. I am interested to work on this.

[2017-01-30 12:15] carloscds commented on #771
@WinCPP Go ahead!

[2017-01-31 16:30] BennieCopeland opened #871 "Enable CodeCracker to work with .NET Core"
When I build a .Net Core project (project.json/xproj) that includes the CodeCracker.CSharp nuget package (1.0.1), no code cracker results are reported. Additionally it prevents StyleCop.Analyzers results from reporting as well. I have not tested with other analyzers. I tried the following combinations of packages and the Visual Studio extension.

Project Type | CodeCracker.CSharp package | StyleCo

[2017-02-02 14:35] StefanTheiner opened #872 "CC0057 UnusedParametersAnalyzer should not be triggered on virtual methods"
## Description

CC0057 gets triggered on virtual methods. In my opinion virtual methods don't need to use all the parameters available in the base class implementation, because the parameters serve just as interface for future extensibility in subclasses.

## Example:

In my case the virtual method is just a dummy implementation that doesn't perform anything at all. Subclasses however might overri

[2017-02-03 10:14] SanderSchutten opened #873 "ReadonlyFieldAnalyzer: System.NullReferenceException: Object reference not set to an instance of an object."
#New analyzer:
ReadonlyFieldAnalyzer

#Bug

the analyzer ReadonlyFieldAnalyzer throws a NullReferenceException on code like this:
public sealed class Class1
{
    private static readonly StringCollection s1 = new StringCollection
    {
            "1",
            "2"
    }
    private static readonly StringCollection s2 = new StringCollection
    {
            "1",
            "2"
    }
}

Codecr

[2017-02-03 17:31] sdygert commented on #839
I'd like to help out with this issue. Do you prefer a new PR for each diagnostic ID? Or can I batch some of the updates together?

[2017-02-05 22:18] carloscds commented on #839
@sdygert You can send a new PR for each.

[2017-02-05 22:21] carloscds commented on #872
@StefanTheiner It make sense. Do you want to fix it ?

[2017-02-05 22:23] carloscds commented on #871
@BennieCopeland CodeCracker it not compatible with .Net Core yet.

[2017-02-06 08:42] StefanTheiner commented on #872
I have created a pull request

[2017-02-21 17:43] sdygert commented on #839
@carloscds #876 was just a start. There are other messages that need to be updated.

[2017-02-22 10:37] oysteinkrog opened #877 "BUG: CC0022 DisposableVariableNotDisposedAnalyzer: False positive in iterator methods"
#Bug

This should not trigger CC0022:

[code]

This works:
[code]

[2017-02-22 10:41] oysteinkrog opened #878 "BUG: CC0022 DisposableVariableNotDisposedAnalyzer: False positive when using null coalescing"
#Bug

This should not trigger CC0022:
[code]

[2017-02-22 10:43] oysteinkrog opened #879 "CC0022 DisposableVariableNotDisposedAnalyzer: False positive for containers"
#Bug

This should not trigger CC0022:
[code]

[2017-02-22 11:20] carloscds commented on #879
@oysteinkrog Bug confirmed!

[2017-02-22 11:22] carloscds commented on #878
@oysteinkrog Bug confirmed!

[2017-02-22 11:24] carloscds commented on #877
@oysteinkrog Bug confirmed!

[2017-02-27 15:03] MaStr11 commented on #873
I have written two test methods [here](https://github.com/code-cracker/code-cracker/compare/master...MaStr11:ReadonlyField) to reproduce the issue. The tests all pass without a NullReferenceException so I can't reproduce the issue. The fork was taken from the mater branch. If you like, I can create a pull request with the two tests-methods.

[2017-02-28 10:52] paulomorgado opened #880 "BUG: CC0022 DisposableVariableNotDisposedAnalyzer: False positive for expression bodied members"
The **CC0022 DisposableVariableNotDisposedAnalyzer** is flagging a return of an `IDisposable` in an expression bodied while not on a "normal" member.

[code]
![image](https://cloud.githubusercontent.com/assets/470455/23402554/f47090b2-fda3-11e6-96e1-fd294a748b4f.png)

[2017-02-28 12:46] MaStr11 commented on #522
I would like to implement this. I started to prototype this to see if it could be easily integrated.
The proposed refactoring is already working in the prototype.
I came across some issues I would like to discuss.

1. Is it okay to start working on this?
2. I created branch from the *master* branch of my fork. Should I use *vnext* instead?
3. How should methods with multiple arguments be handled:

[2017-02-28 12:57] MaStr11 opened #881 "Replace getter only properties with backing readonly field with getter-only auto-property"
#New analyzer:

I published an analyzer [here](https://github.com/ifpanalytics/Ifp.Analyzers) that
finds getter only properties with backing readonly field and converts them to getter-only auto-properties.
Is there interest to port this one over to this library?

Before:

[code]

After:

[code]

See [here](https://github.com/ifpanalytics/Ifp.Analyzers) for further details.

Diagnostic Id: `CC0125`

[2017-03-03 02:36] rfiori commented on #856
Oi @carloscds tudo joia ?
Como está a previsão para disponibilizar o Code-Cracker no VS2017 RC ?
Não consigo mais fica sem essa ferramenta.

Obrigado

[2017-03-05 17:45] carloscds commented on #856
@rfiori Já estamos trabalhando nisto!

[2017-03-05 17:49] carloscds commented on #881
@giggio What do you think about ?

[2017-03-05 17:51] carloscds commented on #880
@paulomorgado But bodied not implement Dispose() method automatically. right ?

[2017-03-05 20:03] paulomorgado commented on #880
@carloscds, the point is that `M1` and `M2` are the same thing and should be treated the same.

The object is being returned and the caller should dispose of it.

Can you point me to the analyzer code and tests?

[2017-03-05 22:18] carloscds commented on #880
@paulomorgado
Code: https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Usage/DisposableVariableNotDisposedAnalyzer.cs

Test: https://github.com/code-cracker/code-cracker/blob/master/test/CSharp/CodeCracker.Test/Usage/DisposableVariableNotDisposedTests.cs

[2017-03-07 19:47] #872 closed

[2017-03-07 21:34] giggio commented on #839
Reopening, as there might be other grammar erros.

[2017-03-07 21:49] giggio commented on #867
Closed on 233cdf7474110d48144c0fe9083e37eca292386b, which cherry picked from #868.

[2017-03-07 21:49] #867 closed

[2017-03-08 00:21] giggio commented on #854
@kindermannhubert you are correct, it is not a duplicate.

[2017-03-09 04:58] AdamSpeight2008 commented on #866
Would result in `3` being returned rather than `12`

[2017-03-11 18:36] giggio commented on #870
Bug confirmed.

[2017-03-11 18:39] giggio commented on #869
@carloscds notice that the problem also happens for `CC0001`. Both should be fixed.

[2017-03-11 18:50] giggio commented on #522
Sure, send a PR!

[2017-03-11 18:51] giggio commented on #881
I like it. Send a PR, @MaStr11!

[2017-03-11 18:52] giggio commented on #881
@MaStr11 you are still missing the category, diagnostic id and severity. Feel free to propose them in this issue.

[2017-03-11 18:53] giggio commented on #881
This is essentially a refactoring, so let's use `Hidden` for the Severity, and `Refactoring` for the Category.

[2017-03-11 18:55] giggio commented on #880
@paulomorgado you are correct, it is a bug, `CC0022` should not be raised for the expression bodied method either.

[2017-03-11 18:57] giggio commented on #866
Yes, this is a bug. It is confirmed. We should not offer a diagnostic in this scenario, which is your option 1.

[2017-03-11 19:01] giggio commented on #873
I am not getting this error with the latest bits, this is probably already fixed. I also tried your tests, and they passed without the need for any other modification. So, I am closing the issue. If you can find a way to reproduce it let us know.

[2017-03-11 19:01] #873 closed

[2017-03-12 23:18] giggio commented on #856
Closed on 7b21fbdd55ba90e2ccde1d3835ca698ef84660aa.
We will release to VS 2017 today.

[2017-03-12 23:18] #856 closed

[2017-03-13 02:39] giggio commented on #878
Duplicate of #870.

[2017-03-13 02:39] #878 closed

[2017-03-18 18:53] giggio commented on #839
Reopening again, there is more to look at.

[2017-03-18 18:55] sdygert commented on #839
I'm working my way through the analyzers. I'll post here when I'm done.

[2017-03-18 19:07] giggio commented on #839
@sdygert Yes, I noticed. Thanks a lot!
I noticed you are requesting to pull on the `master` branch. These updates should go to the `v1.0.x` branch.

[2017-03-18 19:19] sdygert commented on #839
@giggio Do I just need to change the branch in the pull request such as in #890 or do a whole new pull request based off of the `v1.0.x` branch?

[2017-03-18 19:40] giggio commented on #839
@sdygert i think the easiest way is to do a `git cherry-pick` to the correct branch.
It is also ok to send one PR with all the fixes, if you prefer.

[2017-03-19 22:11] #522 closed

[2017-03-20 00:55] giggio commented on #877
Closed on #900

[2017-03-20 00:55] #877 closed

[2017-03-20 00:55] giggio commented on #880
Closed on #900

[2017-03-20 00:55] #880 closed

[2017-03-21 13:21] nishant95 opened #903 "BUG: CC0052 - ReadonlyFieldAnalyzer duplicates preprocessor directive"
#Bug
The code-fix of CC0052 (ReadonlyFieldAnalyzer) duplicates the  ```` #region ````

Before:

[code]

Current output after code-fix applied:

[code]

Expected output after fix applied:

[code]

[2017-03-22 23:05] DanielCatz commented on #742
Hey there,
I'd love to start contributing to this repo.
This a good place for me to start?

[2017-03-24 00:44] carloscds commented on #742
@DanielCatz Yes, go ahead!

[2017-03-25 11:12] pgrm opened #905 "Make CC0011 work with IQueryable and Async methods"
This is not a bug, rather aIf  very helpful extension to the [CC0011 rule](http://code-cracker.github.io/diagnostics/CC0011.html) to also skip `Where` conditions on `IQueryable` extension methods and when using for instance `FirstOrDefaultAsync()`

Example with EF Core code:

[code]

Expected output after change applied:

[code]

If I read the rule correctly, than it should be enough to add `Async

[2017-03-28 23:51] theraot opened #906 "TernaryOperatorWithReturnCodeFixProvider NullReferenceException"
I am getting a NullReferenceException in Visual Studio, the following is the stack pile (Spanish):

[code]
The following is the code to reproduce the bug:

[code]

The exception happens when placing the cursor on the `if` statement on line 11 and clicking the lightbulb icon. The tool adds an item without text that opens a sub menu that says `CC0013 You can use ternary operator.` Clicking on it doe

[2017-03-29 02:12] carloscds commented on #906
@theraot CodeCracker not support .Net Core. This will be soon!

[2017-03-29 02:44] theraot commented on #906
@carloscds

Repeated test on Visual Studio 2015 and Visual Studio 2017 on .NET 2.0, .NET 3.0, .NET 3.5, .NET 3.5 Client Profile,  .NET 4.0, .NET 4.0 Client Profile, .NET 4.5, .NET 4.5.1, .NET 4.5.2, .NET 4.6, .NET 4.6.1, .NET 4.6.2, Unity 3.5 .net full base Class Library, Unity 3.5 .net subset base Class Library, Unity 3.5 .net Micro Class Library, Unity 3.5 .net Web Class Library

---

Steps to r

[2017-03-29 10:39] carloscds commented on #906
@theraot Bug confirmed!

[2017-03-29 15:04] MaStr11 opened #910 "Create a reusable FixAllProvider based on IntroduceFieldFromConstructorCodeFixProviderAll"
Related to #352 (Test fix all providers)

The Roslyn [BatchFixAllProvider](https://github.com/dotnet/roslyn/blob/1817849c40765a69312ec09a0319cba87a55b7c5/src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchFixAllProvider.cs) often fails to fix several diagnostics in a document because it merges code changes. The Roslyn team [discussed the pro and cons of several approaches](https://githu

[2017-03-30 15:56] MaStr11 opened #911 "BUG: CC0014 Casting to interface or implicit casts for the ternary operator are fixed wrong"
The code fix for CC0014 tries to detect a common base type for both sides of the ternary operator.
This fails under certain circumstances.

## Target of the assignment is an interface:

[code]

Current output after fix applied:

[code]

Expected output after fix applied:

[code]

## Implicit conversions:

[code]

Current output after fix applied:

[code]

Expected output after fix applied:

[code]

[2017-04-05 16:37] MJRamello opened #912 "BUG: CC0057 Parameter not used false positive in Constructor Expression Body"
## Sample class and constructor

[code]

When assigning a parameter to a private field in an expression bodied constructor warning CC0057 (Parameter not used) is triggered although the parameter is used.

[2017-04-10 14:15] lgp1985 opened #913 "'UnusedParametersCodeFixProvider' encountered an error and has been disabled."
#New analyzer:

This method is failing to preview.

Before:
You can add more information here, e.g. conditions under which a diagnostic should not trigger, etc.

Diagnostic Id: `CC0057` (take a number and update the [wiki](https://github.com/code-cracker/code-cracker/wiki/DiagnosticIds))
Category: `<Refactoring>` (see [supported categories](https://github.com/code-cracker/code-cracker/blob/master/

[2017-04-20 08:20] Portikus opened #914 "CC0033 "Field should be disposed" does not recognizes error if the field is assigned in constructor."
If I have a IDisposable field like:

[code]
then I will get a CC0033 Warning that I should dispose this field, what is correct. But if I assign this field in my constructor like:

[code]

Then CodeCracker is currently not raising any diagnostics.
As both are essentialy the same, a diagnostic should be raised.

We still should not raise a diagnostic when a field is a assigned on a method. We will r

[2017-04-20 08:44] Portikus opened #915 "CC0049 SimplifyRedundantBooleanComparisonsAnalyzer detects false positive"
Hi everyone,

I have the following example:

[code]
The analyser gives me the hint that I can remove this comparison. If I use the analyser to remove the comparision I get the following result:

[code]

But this is just another way to write the same comparison and in my opinion this is much less readable. The explicit comparison with false is more fluent like I can read it like: if string is null

[2017-04-20 18:34] carloscds commented on #915
@Portikus It's depend on point of view, as you talked, but idea of this analyzer it's remove this kind of comparision.

[2017-04-20 18:50] carloscds commented on #914
@Portikus Maybe you can consider use "using" statement.

[2017-04-21 06:59] Portikus commented on #914
@carloscds That would be a fix for the not disposed object sure, but the analyser shoukd detect such things cause there is a disposable field which wont be disposed.

[2017-04-21 07:21] MrPekel commented on #915
@carloscds The cause of this rule should be a redundancy of a comparision as stated in the [documentation](https://code-cracker.github.io/diagnostics/CC0049.html). The example of @Portikus is not redundant at all.

[2017-04-21 11:50] Portikus opened #916 "False postives and NullReferenceException when using eventhandler in code behind for UWP apps."
Hi everyone,

I have the following situation:
I have a comnplete new created UWP App (with the Blank App template from VS2017).
I added a Button to the MainPage.xaml and created a Click event handler:

[code]
In the code behind file I created the method for the event:

[code]

The analyser will then report some warnings:

- CC0091 Make ButtonBase_OnClick method static
- CC0057 Parameter 'sender' i

[2017-04-25 09:13] Portikus commented on #793
Hi @giggio,
It seems I encountered this bug. I have the same situation as described above with an ICommand. But I get a warning that I should change the name of Execute to ExecuteAsync which is impossible because it is declared in an Interface.
I am using CodeCracker version 1.0.3 and Visual Studio 2017 version 15.1 (26403.7).

[2017-04-25 10:21] MaStr11 commented on #866
The underlying problem is the overload resolution of the + operator as described in the spec chapters [Binary operator overload resolution](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#binary-operator-overload-resolution) and [Addition operator](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#addition-operator).

The overload resolution is quite complic

[2017-04-27 21:45] andre-f-paggi opened #919 "Bug: Analysers are not showing under the project, neither running"
Code Cracker version: Code Cracker for C# (extension)
Visual Studio version: Visual Studio Enterprise 2017 - PT-BR

I just installed code cracker extension on VS 2017, but none of the analysers are apparently running and neither they are shown under the project > references > analysers. I am not sure if they should be there too, but the main problem is that nothing is being evaluated when I am cod

[2017-04-27 21:59] andre-f-paggi commented on #919
Hmm, it's embaracing to open an issue and find the solution right after.

I dont know why, but as soon as I clicked the error list and enabled warning and info messages (they were disabled since I installed the extension), all started to work properly.

Sorry for that.

[2017-04-27 22:00] #919 closed

[2017-05-03 00:40] #881 closed

[2017-05-03 00:41] #762 closed

[2017-05-04 01:49] GunterGlad opened #920 "Conditional run analysis with builds"
This may not be the right place to ask this and I apologies for this. But currently our build time was 20 seconds. After we install out build time is 2 minutes. Now this component produces amazing output and I would like to see the result. But I would like to only see on the build server and not for developer builds. Can you please tell me if this is possible? Or if we can have a configuration fil

[2017-05-04 02:58] GunterGlad commented on #920
Also just to add to this. I am running a .net core project. The code analysis is working but I cant seem to be able to apply the rules file. I can apply to a non .net core project.

[2017-05-05 11:22] pgrm commented on #905
Hey, I wanted to ask if you'd accept a PR where I'd just extend the above mentioned list

        static readonly string[] supportedMethods = new[] {
            "First",
            "FirstOrDefault",
            "Last",
            "LastOrDefault",
            "Any",
            "Single",
            "SingleOrDefault",
            "Count"
        };

with additional `Async` versions of each metho

[2017-05-05 17:44] carloscds commented on #905
@pgrm Please, send us a PR!

[2017-05-15 20:10] walter-lopes commented on #871
Coders,

Code Cracker Is not compatible with .NET Core yet ?

[2017-05-15 20:50] carloscds commented on #871
@walter-lopes Not yet.

[2017-05-16 13:27] pgrm commented on #871
@carloscds really? - We're using it with .net core on jenkins on a ubuntu machine and I think it was working fine ...

[2017-05-16 13:49] carloscds commented on #871
@walter-lopes Sure ? Thanks for sharing this! I will do some tests on .Net Core. Are you using with VSIX or Nuget ?

[2017-05-24 15:56] KristianWedberg opened #921 "C# CC0013 CC0014 ternary operator fix removes comments"
#Bug

C# CC0013 and CC0014 ternary operator fixes removes comments in code-cracker v1.0.3.

This CC0014 code:

[code]

Currently becomes this after fix applied:

[code]

And this code:

[code]

Currently becomes this after fix applied:

[code]

Expected output in both above cases after fix applied:

[code]

CC0013 behaves in the exact same (incorrect) way as CC0014.

As noted on other VB ternary o

[2017-05-24 16:30] KristianWedberg opened #922 "Adding an "Async" method suffix should remove any embedded "Async" string in CC0061"
# Enhancement

CC0061 is often triggered due to an additional suffix having been added to an `async` method name, resulting in an embedded "Async":

[code]

Current output after fix applied, in v1.0.3:

[code]

Expected output after fix applied, where any embedded "Async" string have been removed:

[code]

[2017-05-24 16:39] carloscds commented on #922
@KristianWedberg Correct is put Async suffix in method name. Look https://docs.microsoft.com/en-us/dotnet/articles/csharp/async

[2017-05-24 17:22] jwooley commented on #922
It seems reasonable to pull "Async" out of the method name body if it exists there, but is not the name suffix and move it to the suffix position as appropriate. I did a similar implementation in my sample code at https://github.com/jwooley/RoslynAndYou/blob/master/ControllerDiagnostics/ControllerDiagnostics/ControllerNamingConventionCodeFixProvider.cs using a regex.replace.

[2017-05-24 18:20] KristianWedberg commented on #922
@carloscds Yes, but in my example above we end up with _two_ "Async" strings in the name. It would be great to remove all existing embedded (and case sensitive, followed by a capital letter or underscore) "Async" strings, before adding a new "Async" suffix.

[2017-05-24 18:40] carloscds commented on #922
@KristianWedberg I understand your point and it's move Async to end of method instead of add another Async, right ?

[2017-05-24 18:47] KristianWedberg commented on #922
@carloscds Yes, that's correct.

[2017-05-24 21:25] KristianWedberg opened #923 "BUG: CC0065 "Remove trailing whitespace" bug with pragmas"
# Bug

Applying CC0065 "Remove trailing whitespace" on a line with a pragma pulls in the subsequent line in v1.0.3.

Here the first line has trailing whitespace:

[code]

Current output after fix applied:

[code]

Expected output after fix applied (with the trailing whitespace removed):

[code]

[2017-05-24 22:15] KristianWedberg opened #924 "Bug CC0043 ChangeAnyToAll exception on non-LINQ methods"
# Bug

CC0043 "ChangeAnyToAll" throws an exception with user created (i.e. non-LINQ) `Any()` and `All()` methods with v1.0.3.

This code:

[code]

Throws the following exception:

[code]

The same exception happens if my method is called `Any()`.

At a guess (haven't checked the source code), CC0043 assumes `Any()` and `All()` are LINQ methods, and throws when my user `Any()` and `All()` takes une

[2017-05-25 12:30] CZEMacLeod opened #925 "CC0021 generates a use NameOf for a constant defined as itself"
#Bug

CC0021 suggests using a constant definition name as itself which does not compile.

[code]

Current output after fix applied:

[code]

Error:
BC30500	Constant 'MyConst' cannot depend on its own value.

[2017-05-25 20:26] KristianWedberg opened #926 "Bug CC0031 UseInvokeMethodToFireEventAnalyzer false positive in constructor"
# Bug

CC0031 UseInvokeMethodToFireEventAnalyzer (incorrectly) suggests a fix when in a constructor in v1.0.3. In a regular method it works as documented:

[code]

[2017-05-25 21:12] KristianWedberg opened #927 "CC0031 UseInvokeMethodToFireEventAnalyzer should be Hidden for internal and private delegates"
# Enhancement

As several suggested in #561, CC0031 is often inappropriate for _delegates_, and I have to disable it to avoid too many false positives. I suggest a middle ground where:

* The current warnings are kept for public and protected (non-readonly) delegates, since an external user directly supplies them, but

* CC0031 fixes are changed to Hidden for internal and private delegates, as wel

[2017-05-30 01:00] carloscds commented on #921
@KristianWedberg Really is non-trivial fix. My suggestion is disable this fix if you use this kind of comment.

[2017-05-30 01:10] carloscds commented on #925
@CZEMacLeod This analyzer checks if value of variable it´s equal your name and then suggest a fix;

[2017-05-30 01:15] carloscds commented on #924
@KristianWedberg I can´t reproduce error with this code. Can you check and send again ?

[2017-05-30 14:19] KristianWedberg commented on #921
This issue _will_ certainly end up eating users comments, since few will know to look out for it. Doing this silently is... unfortunate. I would still recommend making CC0014 hidden until this issue is addressed.

[2017-05-30 15:18] KristianWedberg commented on #924
The bug also needed a `params` parameter, now added above - can you please check again?

[2017-05-30 16:38] KristianWedberg commented on #794
I've also run in to this one due to 'existing practices'.

How about not generate a warning if the unused parameter is the 'this' extension parameter? Or is that hard to find out?

[2017-05-30 17:50] KristianWedberg opened #928 "CC0017 Autoproperty should not trigger with `ref` and `out` uses"
# Enhancement

The code below triggers CC0017 AutoPropertyAnalyzer on `MyThing`, even though the explicit implementation is needed since `_myThing` is used as a `ref` and an `out` variable.

Since this is a quite common occurrence, it would be great if CC0017 didn't trigger when the field is used as a `ref` or an `out` anywhere.

[code]

[2017-05-30 18:45] KristianWedberg opened #929 "Bug CC0095 String Interpolation eats pragmas and comments"
# Bug

The v1.0.3 CC0095 String Interpolation fix for:

[code]

eats pragmas and comments:

[code]

Either do not trigger if pragmas and comments are not preserved, or make the fix output:

[code]

[2017-05-31 14:31] CZEMacLeod commented on #925
I'm not quite sure what you mean by that.
The problem is that CC0021 from the NuGet package version on NuGet.org in visual basic suggests replacing a text string value for a constant with the same name. If you accept this change, you get error BC30500 which means the code does not compile.

[2017-06-06 18:50] carloscds commented on #925
@CZEMacLeod It's make sense, A solution it's ignore rule in variable declaration, when name and value are same. What do you think about ?

[2017-06-06 18:58] carloscds commented on #924
@KristianWedberg Bug confirmed!

[2017-06-06 20:52] CZEMacLeod commented on #925
Yeah - That is what is required. Do not offer CC0021 when the nameof operator would point to the item you are declaring.

[2017-06-09 17:00] sm-g opened #930 "BUG: CC0020 cannot be used"
# Bug

Using CC 1.0.3:

[code]

After apply suggesting fix, got CS0123 `No overload for 'Foo.Func<int>(object)' matches delegate 'Func<int, object>'`

We should not offer a diagnostic in this situation.

[2017-06-09 22:42] KristianWedberg opened #931 "[CompilerGenerated] not honored"
# Bug or Enhancement

With v1.0.3 the following generates warnings CC0091 and CC0021:

[code]

Despite

- The class is tagged with [CompilerGenerated]
- "Project Properties > Code Analysis > Suppress results from generated code (managed only)" is enabled

# Expected

Anything (classes etc.) tagged with [CompilerGenerated] should be excluded from code analysis if
"Project Properties > Code Analysis

[2017-06-11 16:29] bzier commented on #903
Same behavior here. Can confirm using the extension version 1.0.3 in VS 2017.

[2017-06-12 23:01] giggio commented on #870
Closed on #917.

[2017-06-12 23:01] #870 closed

[2017-06-12 23:29] giggio opened #932 "Evolve CC0068 to only hide ShouldSerialize and Reset methods if there is an associated property"
The current implementation for CC0068 (remove private method) will check if a method follows a signature to skip removing it. But it should only do so if there is an associated property.

For example, the method `ShouldSerializeRow` should not be removed, as there is a `Row` public property:

[code]

The method `ShouldSerializeFoo` here should be removed, as there isn't a `Foo` public property:

[

[2017-06-12 23:32] giggio commented on #793
@Portikus I can't repro. Would you please share project that we can look at?

[2017-06-12 23:36] giggio commented on #794
@KristianWedberg It is not hard to find out, but as I said earlier, this is exactly the case where you suppress the analyzer directly in the source, that is what a suppression is for. ;)

[2017-06-13 13:54] giggio commented on #742
@DanielCatz How is this coming?

[2017-06-13 13:56] giggio commented on #747
@thdotnet how is this coming?

[2017-06-13 14:07] giggio commented on #910
@MaStr11 I would like to see a PR. The idea seems interesting. There are several of our fix all providers that work that way.
One thing to evaluate, though, is that instead of using annotations, use `SyntaxNodeExtensions.TrackNodes`.
Why don't you submit the PR with an update to an existing fix all provider? It can be `IntroduceFieldFromConstructorCodeFixProviderAll` itself.

[2017-06-13 14:25] giggio commented on #911
Bug is confirmed. I am not going into the details of how to fix it, this should be up to the person working on it.

[2017-06-13 14:26] giggio commented on #912
Bug confirmed.

[2017-06-13 14:31] giggio commented on #913
I can't repro it. Maybe it is already fixed on our released version, or on dev.
If you still see it happening with the latest release (`1.0.3`), try the dev version (from MyGet).

![image](https://user-images.githubusercontent.com/334958/27087547-ae05f998-502b-11e7-9eca-c3be51f1f218.png)

[2017-06-13 14:31] #913 closed

[2017-06-13 14:32] giggio commented on #914
If you assign the field, then we understand that the lifecycle of the field is longer than the constructor/method. Because of that we can't tell if you should dispose it or not.

[2017-06-13 14:35] giggio commented on #915
You can always disable the analyzer if you don't like it. That is the idea. We are sometimes a little opinionated, and this is one scenario. Others like "use var"  fall under the same category, they are opinionated. We expect some people won't want those analyzers, and can always disable them.

[2017-06-13 14:35] #915 closed

[2017-06-13 14:43] giggio opened #933 "Deal with CC0057 and event handling methods"
Discussion started on #916.

If we have this in UWP and XAML:

[code]
And in the code behind:

[code]

We cannot remove these two arguments, or the event handling will fail. We should not report CC0057 in this scenario.

The way to fix this is alter the analyzer, which already checks method and constructor declarations, to ignore them if a signature with two parameters is found, where the first is

[2017-06-13 14:46] giggio opened #934 "Deal with CC0091 (static method) and event handling methods"
Discussion started on #916.

If we have this in UWP and XAML:

[code]
And in the code behind:

[code]

We cannot make this method static, or the event handling will fail. We should not report CC0091 in this scenario.

The way to fix this is alter the analyzer, which already checks method declarations, to ignore them if a signature with two parameters is found, where the first is of type `object`,

[2017-06-13 14:46] giggio commented on #916
It makes sense. Moved to #933 and #934, for each analyzer.

[2017-06-13 14:46] #916 closed

[2017-06-13 14:58] giggio commented on #866
@MaStr11 Your comment makes sense. But we cannot offer a diagnostic if it does not make sense, otherwise it will be hanging there forever, annoying the user. If the call to `ToString` actually is necessary, we should not offer an diagnostic. If we do, the code fix will need to fix it somehow. Or, in the worst scenario, not fix it, but let the user fix it and make it better.
We can do some semantic

[2017-06-13 15:05] giggio commented on #920
Regarding your first comment, you could programatically change the csproj file during build time to add the analyzer reference. It shouldn't be too hard, you can do it with powershell, which has amazing xml manipulation capabilities.
.NET Core support is improving. I just tried a project and the code fix worked. I tried it as a Nuget reference and as a vsix.

[2017-06-13 15:05] #920 closed

[2017-06-13 15:08] giggio commented on #871
It is, I just tried. It works with msbuild based projects without any problems, both as a Nuget reference, and as a vsix on VS directly. We do not support xproj/project.json, as that was preview tooling.

[2017-06-13 15:08] #871 closed

[2017-06-13 15:16] giggio commented on #931
There are 2 code analysis tools on VS right now, the Roslyn based, and the legacy one. The one you are referring to on "Project Properties > Code Analysis > Suppress results from generated code (managed only)" applies to the legacy one, which runs when you go the Analyze menu, and select to run a code analysis. We cannot control what happens there.

But we do have our own way to ignore generated c

[2017-06-13 15:17] giggio commented on #923
Bug confirmed.

[2017-06-13 15:19] giggio commented on #926
Bug confirmed.

[2017-06-13 15:22] giggio commented on #927
@code-cracker/collaborators we need to discuss this.

[2017-06-13 15:24] giggio commented on #921
I agree with you both, if there comments, we do not offer a diagnostic, for both CC0013 and CC0014.

[2017-06-13 15:33] giggio commented on #928
Bug confirmed, we should not raise a diagnostic when the field is used as an argument in out and ref method calls.

[2017-06-13 15:34] giggio commented on #929
Bug confirmed, we should raise a diagnostic if pragmas exists.

[2017-06-13 15:43] giggio commented on #930
Bug confirmed. I evolved the description to one that was independent of a specific library.

[2017-06-13 15:48] giggio commented on #903
Bug confirmed. I made the description cleaner to make the bug clearer.

[2017-06-13 21:24] thdotnet commented on #747
I'm not working on this anymore...

[2017-06-14 05:51] Portikus commented on #793
Hi @giggio ofcorse I attached a repo solution [CodeCrackerBug.CC0061.zip](https://github.com/code-cracker/code-cracker/files/1073624/CodeCrackerBug.CC0061.zip).
Forgot to mention that it is a .NetSTandard project.

[2017-06-14 06:09] Portikus commented on #914
@giggio I disagree. In my described example it is pretty the same if you use the first or the second code to create the UDPClient. But only one of it gets the warning. Furthermore of course should the field be disposed, the class create it so it is responsible to dispose it. Other analyzer like SonarAnalyzer.CSharp will trigger a warning for this code which say that the field 'client' should be di

[2017-06-14 09:14] MaStr11 commented on #910
*TrackNodes* ist an option,  but this might interfere with the actual *CodeFixProvider* (if it uses *TrackNodes* for the transformations). Using *Annotations* this would not be the case. I would like to keep it as it is.

[2017-06-14 09:29] MaStr11 commented on #866
I see three options here:

1. Detection in the *Fix* phase (as described above)

If a false positive is detected we could use a *#pragma warning disable* (and make an explanatory comment) to disable the diagnostic.

2. Detection during the *Analyzer* phase

We could try to predict the outcome of the Fix by looking up of the

[2017-06-15 20:38] Thieum opened #935 "CC0033 does not handle Dispose override for dispose detection"
#Bug

having a disposable field in a class that inherits from another disposable class, I dispose this field in an override of the dispose method.

Code-Cracker will output a CC0033 even if the field is disposed.

[code]
This code should generate a CC0033 only if there is no call to dispose on the field in the override, or no override at all.

[2017-06-19 23:35] gandarez commented on #927
@giggio How may I help?

[2017-06-20 00:35] giggio opened #936 "Bug: CC0061: Implementing interface using async keyword should not raise a diagnostic"
Exactly like #793 but when using the `async` keyword.

This should *not* raise a diagnostic:

[code]

The fix on #825 checks for interfaces too late. The current implementation always creates the diagnostic if the `async` keyword is there, and that skips the search for the interface, which is wrong.

[2017-06-20 00:35] giggio commented on #793
@Portikus You are correct, I created issue #936 detailing the bug a little more.

[2017-06-20 00:39] giggio commented on #914
@Portikus Ok, I see your point now, and it makes sense. But only when the field is assigned on the constructor, which actually is the same as doing it on the field declaration. On a method, we should still not raise it.
I will update the description to make it more clear.

[2017-06-20 00:43] giggio commented on #910
Ok, send the PR so we can check it out.

[2017-06-20 01:05] giggio commented on #866
@MaStr11 Option 2 will demand a careful implementation, but I think it might work, and is the best option by far (if it works). You want to try it out?

[2017-06-20 01:13] giggio commented on #935
We could include the call if it is in a method with signature `void Dispose(bool)`. Right now, we only check for the specific `void Dispose()` as that is the signature from `IDisposable`. But this pattern is so common that it makes sense to include.
This happens not only on overriden methods, but sometimes on some non overriding methods as well. It is a common pattern.
What I don't think that make

[2017-06-20 16:41] CZEMacLeod commented on #933
This happens in a lot of cases where a method signature has to match a delegate and contains parameters that are not used. I'm not sure if there is an easy way to detect this but if the method address is referenced it should probably be ignored.

[2017-06-23 00:08] #911 closed

[2017-06-23 01:34] #910 closed

[2017-06-23 01:35] giggio commented on #910
Closed on #937.

[2017-06-23 02:20] giggio commented on #933
@CZEMacLeod if it matches a delegate but is never assigned to it, we can't detect. This is a special case, the binding is happening in the background, and we can't find it.

[2017-06-23 12:07] carloscds commented on #906
@theraot  Fixed by #911 https://github.com/code-cracker/code-cracker/pull/938

[2017-06-24 03:35] #866 closed

[2017-06-24 03:38] giggio commented on #866
This is a fix in a new analyzer, so we I corrected the milestone.

[2017-06-24 16:31] MaStr11 commented on #932
This check is already implemented in the [ExistsProperty method](https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Usage/RemovePrivateMethodNeverUsedAnalyzer.cs#L156) and the corresponding test is named [WinFormsPropertyDefaultValueDefinitionMethodsMustHaveCorrespondingProperty](https://github.com/code-cracker/code-cracker/blob/master/test/CSharp/CodeCracker.Test/Usag

[2017-06-26 14:12] MaStr11 commented on #931
Related discussions in roslyn:
* Issue: Expose a public API to tell whether Document/SyntaxTree is likely a generated file dotnet/roslyn#4530.
* Issue: Analyzers must be able to specify that they report issues in generated code dotnet/roslyn#6998.
* Merged PR: Allow analyzers to configure generated code analysis dotnet/roslyn#7526.

@giggio You have been involved in some of the discussions there.

[2017-06-27 23:54] giggio commented on #926
Closed on #942.

[2017-06-27 23:54] #926 closed

[2017-06-28 00:04] giggio commented on #931
The `master` branch was just updated to Roslyn `1.3.2` (from `1.0.0`), and the new API is available from `1.2`. We could verify if this is working and available, but I have not yet done so. And I am not sure if `CompilerGenerated` will be caught. We have to check.
Ideally we would remove our implementation, that is what I would like to do.

[2017-06-28 00:42] giggio commented on #931
I just checked and adding:

[code]

To the initialize method works to supress the analyzer on generated code. Only on the `master` branch, which is updated.

Now we need to check how far does the Roslyn support for generated code goes. Maybe we are doing something extra that they are not. But, where we can, we should switch to theirs and remove ours.

[2017-06-28 02:13] sharwell commented on #931
@KristianWedberg @giggio Currently Roslyn does consider code marked with this attribute as generated code. However, you should not rely on this behavior in the long run because it has a substantial negative performance impact on the build and I'm working to make _ignoring_ this attribute standard practice (the default wouldn't change, but I would encourage users to disable the setting at their ear

[2017-06-28 17:52] giggio commented on #931
@sharwell If I understand correctly, you are suggesting that we *do not* use Roslyn's feature to disable the analysis on generated code. Is my understanding correct?
If so, we would continue to use our own implementation to ignore generated code. I don't think this is efficient in the long run. Every analyzer author will have to implement theirs on their own. Some will be good, some will not. Woul

[2017-06-28 18:07] sharwell commented on #931
@giggio We switched StyleCop Analyzers over to Roslyn's generated code analysis for the 1.1.0-beta001 release many months ago and haven't had problems. My recommendation was actually for end users to try and avoid depending on `[GeneratedCodeAttribute]` as a means of detecting generated code, as it will just slow down their builds. Currently there is no way to disable it, but I suspect that will c

[2017-06-28 21:45] giggio commented on #42
Closed on #760.

[2017-06-28 21:45] #42 closed

[2017-06-29 11:45] DanielLowry commented on #747
Happy to pick this up, however I can't actually see any examples of this - potentially these have been picked up already in other changes?
If not, could you provide another example? (couldn't find the one above).

Thanks.

[2017-07-11 14:38] paulomorgado opened #943 "CC0035 doesn't respect readonly"
private bool isDisposed;
When the fix is applied to:

[code]

The code is changed to:

[code]

But it should not change because: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1214.md

[2017-07-16 02:30] MhdTlb commented on #132
Is this issue still open? Can I work on it?

[2017-07-16 02:43] MhdTlb commented on #929
Can I work on this issue?

[2017-07-17 11:21] carloscds commented on #929
@MhdTlb Sure, go ahead!

[2017-07-17 11:24] carloscds commented on #132
@MhdTlb It's open, go ahead!

[2017-07-25 07:49] RogueJay opened #944 "Using Extension & NuGet package together causes VS2017 to crash"
I have an existing solution in Visual Studio 2017 with a dozen C# projects, to which I want to begin applying coding standards.
I have the Code Cracker Visual Studio extension installed, because I want to do some tidying up of the project code before I enforce the standards as part of the build process.
After some time, I get the first project to a state that is acceptable to enforcing the standar

[2017-07-25 12:40] carloscds commented on #944
@RogueJay You need to install package for VS 2017.

[2017-07-26 08:08] RogueJay commented on #944
@carloscds Sorry, I don't understand what you are suggesting.
I used the NuGet package manager in VS2017, searched for Code Cracker, and installed the only CSharp option that came up, which was v1.0.3.

Is there some other package I should be installing?

[2017-07-26 11:26] carloscds commented on #944
@RogueJay Can you send a ActivityLog of Visual Studio ?

[2017-07-26 12:43] sharwell commented on #944
@RogueJay Can you use the Send Feedback tool in Visual Studio 2017 (top right, next to the Quick Launch box) to report this crash? If it turns out to be a Visual Studio bug it will help us resolve it as quickly as possible.

[2017-07-27 07:21] RogueJay commented on #944
After some investigating, I have narrowed down the situation a little more.

You also have to have the Visuals Studio option Text Editor\C#\Advanced\Enable full solution analysis selected, which obviously causes VS to scan all the files on opening the solution. Guessing there's a problem with the project loading the CC analyser whilst the analysis is under way or something?

@sharwell I have submi

[2017-07-27 08:00] RogueJay commented on #944
I have just confirmed that you DO need the VS extension installed and active as well. It may seem like a slightly contrived situation, but we have a LOT of projects that need tidying up, so it makes the process easier if we can use both methods during the transition. It must be possible because the other analyser we use (Refactoring Essentials) copes.

Also, I tried debugging VS and it threw an er

[2017-07-27 08:57] RogueJay commented on #944
What's slightly odd, is that adding a direct analyzer reference to a project in VS2017 seems to exclude it from the full solution analysis anyway. Another issue I'd like to report to MS, but can't because I'm behind a proxy....

[2017-07-27 11:33] sharwell commented on #944
@RogueJay You can file issues for this on [dotnet/roslyn](https://github.com/dotnet/roslyn). Pretty much everything related to analyzers in the IDE is part of that open source repository. :smile:

[2017-07-27 11:41] sharwell commented on #944
@RogueJay You can also find stack traces for crashes here:

1. Open Event Viewer
2. Go to the Windows Logs &rarr; Application view
3. Look for items with level **Error** and source **.NET Runtime**

[2017-08-09 06:38] mc0re commented on #933
It can  also happen for an interface implementation method, which doesn't use a provided parameter. There should be a way to switch that warning off.
And I am from VB world, if that matters :-)

[2017-08-09 06:44] mc0re opened #945 "CC0013 CC0014 ternary operator - not always desired"
In some cases, switching to a ternary operator is not a good suggestion.
Say, I have this code:

[code]

Changing it to an `If()` function would yield an immense statement, which is hard to read and to debug.
Maybe, Code Cracker should check for the resulting line length or some other parameter to avoid suggesting things that complicate the code.

[2017-08-09 11:06] carloscds commented on #945
@mc0re The idea it's put in one statement line. I agree that sometimes this line will be long, but check lenght of result line it's not a good parameter.

[2017-08-09 11:08] carloscds commented on #933
@mc0re Do you have a sample code of this ?

[2017-08-09 12:47] mc0re commented on #933
[code]

The same can happen with an overiden method - it must accept the same amount of arguments as its ancestor, but it might not need them all.

[2017-08-09 12:48] mc0re commented on #945
Well, it is still something :-)
What about code complexity?

[2017-08-09 12:51] carloscds commented on #945
@mc0re Ternary operation is not trivial for many developers, but I don't believe that is complex to understand :-)

[2017-08-09 13:29] mc0re commented on #945
Common, I was talking about checking the resulting code complexity :-)

[2017-08-09 13:55] jwooley commented on #933
@mc0re In the VB implementation we could consider ignoring this rule if we detect the "Implements x" or "Handles y" syntax on the declaration. However, VB no longer requires the parameters for event handlers, so recommending that they be removed is actually valid there.

I don't see an issue with keeping this as an info on interfaces as well as long as it can be suppressed at the individual method

[2017-08-09 18:09] mc0re commented on #933
Suppressing involves two pragmas around the code, which uglifies it. The CodeAnalyzer way with `<Attributes>` is somewhat better, but limited to at least method scope. And it's always cleaner without the suppressions :-)

The same issue with possibly unused parameters arises in `Overrides` and `AddressOf` scenarios, where the infrastructure requires them even if they are not used.

[2017-08-12 14:31] carloscds commented on #945
@mc0re Yes, I know! :-)

[2017-08-17 08:42] paulomorgado commented on #935
I'm using version 1.0.3 and this pattern is still not recognized.

However, if no `Dispose()` method exists, it will add the field disposal to `Dispose(bool)` but still does not recognize it.

[2017-08-24 14:52] Portikus opened #946 "False positives with CC0067 Do not call overridable methods in constructors"
Hi there,

I found two false positives with the rule CC0067. You can see these bug in the code below.

[code]

[2017-08-26 00:08] giggio commented on #747
@DanielLowry the code has not been implemented yet, you need to create a new analyzer and code fix. Do you want to work on it?

[2017-08-26 00:24] giggio commented on #944
Yes, even if CodeCracker threw an exception, VS should not crash.
@RogueJay if you build from msbuild, do you get any errors?
I am closing the issue as it is not a problem in CodeCracker, it is likely a problem in VS.

[2017-08-26 00:24] #944 closed

[2017-08-29 07:05] paul1956 commented on #945
I run into this issue all the time and I think line length is a reasonable solution. If there is no way to set options I would be happy if it new lime was limited to 80 characters or don't offer refactoring on lines over 30 characters. If someone doesn't like it they can make the change manually.

[2017-08-30 09:12] TineSvete opened #947 "CC0031 false positive"
Hello,
the following code generates false positive I believe ...

[code]

If I repair the code as suggested, then I create compiler error ...
[code]

[2017-09-05 15:31] arfmach commented on #873
I get this error when I build my project.

`Warning AD0001: Analyzer 'CodeCracker.CSharp.Usage.ReadonlyFieldAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.`

Please let me know how I get the information needed to analyze the bug.

Visual Studio Community 2017 Version: 15.3.3
Code Cracker Version: 1.0.3

[2017-09-23 11:22] sm-g opened #948 "CC0001 cannot be used for C#7.1 default literal"
[code]

cannot be converted to

[code]

[2017-09-24 08:15] GGG-KILLER commented on #783
I'd like to shine some light on this issue as VS2017 has the Code Style settings for C# which can make `CC001` redundant on this extension:
![image](https://user-images.githubusercontent.com/5892127/30780691-660a58c0-a0e7-11e7-81f5-0835d96a367c.png)

[2017-09-24 13:05] TsengSR commented on #783
Yes, I personally think both of the analyzers are obsolete now with Microsoft Code Analysis extension.

These typically don't map to the VS 2017 ones (CC0001 seems to be for reference types, including string, where CC0105 is for value types). What I find myself doing of recently is putting both warnings on ignore either via csproj or via global suppression file

[2017-09-28 19:00] giggio commented on #783
The `IDExxxx` diagnostics only work in Visual Studio, they won't show up in VS Code.

[2017-09-28 19:01] giggio commented on #873
@arfmach can you post the code that is generating the error?

[2017-09-28 19:13] GGG-KILLER commented on #783
Yes, but Code Cracker isn't available for VS Code, at least not in my search: https://marketplace.visualstudio.com/search?term=Code%20Cracker&target=VSCode&category=All%20categories&sortBy=Relevance

And `CC0001` and `CC0105` could be disabled for Visual Studio builds but not VSCode builds.

[2017-09-28 19:14] AlbertoMonteiro commented on #783
@GGG-KILLER code cracker can be instaled as a nuget package, and the it will work in VS Code

[2017-09-28 19:49] GGG-KILLER commented on #783
Yes @AlbertoMonteiro but (in my opinion) as it was not placed in the VS Code marketplace nor do I see any mentions of VS Code in README, VS Code is not officially supported (yes, you can run Code Cracker on it but it's not announced as a VS Code extension).
So one wouldn't expect that VS users won't have obsolete analyzers deprecated and removed because of an unsupported platform.

[2017-09-28 20:29] TsengSR commented on #783
@giggio: The analyzers from Microsoft Code Analysis 2017 are also available as NuGet packages https://github.com/dotnet/roslyn-analyzers, so they should work everywhere too where NuGet analyzers are supported

[2017-09-28 23:09] thomaslevesque commented on #783
Roslyn analyzer packages don't really work in VSCode... You will get diagnostics at build time, because the compiler supports analyzers, but VSCode won't show real-time diagnostics or code fixes in the editor. For that to work, support for analyzers needs to be added to OmniSharp (https://github.com/OmniSharp/omnisharp-vscode/issues/43)

[2017-10-11 14:36] Thieum commented on #934
Same goes for Winforms - the code will compile with static methods, but everytime you go in the designer, the lines of designer codes using the static methods will be deleted.

[2017-10-14 04:53] kidchenko opened #949 "Support Hacktoberfest event adding hacktoberfest tag."
Hi folks, I think that you know about [hacktoberfest](hacktoberfest.digitalocean.com), I would be very happy to see this project supporting this event adding a `hacktoberfest` label, so when I search by #hacktoberfest in github I can see this repo.

## Actual Behavior
When I search by `#hacktoberfest language:C#` I don't see this repository in list of results.
![image](https://user-images.githubus

[2017-10-18 16:02] carloscds commented on #949
@kidchenko Done 👍

[2017-11-08 10:33] sasanknvs commented on #685
Hi @carloscds , I am a first-timer in OSS. Is this issue still open ? If so, can i try to fix it ?

[2017-11-08 16:50] carloscds commented on #685
Hi @sasanknvs, you can. Go ahead!

[2017-11-09 06:31] #949 closed

[2017-11-09 06:33] kidchenko commented on #949
I had closed this issue, thanks a lot for all maintainers.

[2017-11-11 02:34] sasanknvs commented on #685
@carloscds  Can you tell what is the .sln file i need to use ? I could multiple .sln files.

[2017-11-11 03:17] sasanknvs commented on #685
@carloscds I was able to build the solution properly after installing microsoft.net.compilers. But i am not getting the issue mentioned.
Can anyone please throw some light on it ?

[2017-11-17 18:27] TeuryBazzo commented on #936
I want work on it.

[2017-11-18 17:49] carloscds commented on #936
@TeuryBazzo Go ahead!

[2017-11-18 17:52] carloscds commented on #685
@sasanknvs Can you try using NuGet Packages ?

[2017-11-22 16:34] Thieum opened #958 "CC0061 shouldn't pop for async Main"
#Bug

In C# 7.1, you can have an async main. CC0061 suggests to rename to MainAsync, but that would lead to an unusable program.

https://blogs.msdn.microsoft.com/mazhou/2017/05/30/c-7-series-part-2-async-main/

[code]

[2017-12-06 13:06] TeuryBazzo commented on #912
i want to work on this issue

[2017-12-06 16:41] TeuryBazzo commented on #912
I fix this bug, but when i run the test, the bug continues that.
It may be because the ArrowFunction in constructor is a feature the C# 7.0.

[docs.microsoft](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members#constructors)

[code]

[2017-12-08 14:59] Thieum commented on #947
A variation of this false positive:

[code]

[2017-12-18 17:38] steamos commented on #958
Hi,

I believe I have fixed this issue, however I see that it's not scheduled for release, so please let me know if you'd like me to create a Pull Request for review or if it'll be scheduled for a later release.

Thanks.

[2017-12-27 12:30] SJMakin opened #960 "CC0030 (MakeLocalVariableConst) - False positive on reference types initialized to Nothing (VB)"
CC0030 (MakeLocalVariableConst) reported when it isn't applicable on reference types initialized to Nothing.  Using the latest VB extension.

To recreate:
`Dim test As ArgumentException = Nothing`

Gets converted to:
`Const test As ArgumentException = Nothing`

This results in error BC30424 "Constants must be of an intrinsic or enumerated type, not a class, structure, type parameter, or array type

[2017-12-27 22:10] MrZeka commented on #685
Hello @carloscds is this still open? Is anyone working on this? Is the ticket change or any progress happened in this one? @Poojith?

[2018-01-15 15:34] davidkaya opened #962 "Using Code Cracker on macOS with SonarQube"
I have a simple project with CodeCracker NuGet in project and CodeCracker plugin in SonarQube.

When I run the basic SonarQube process (on macOS):
1. SonarQube Scanner run (begin)
2. dotnet build
3. SonarQube Scanner run (end)

then the process fails at the second step with error

`CSC : error CS0006: Metadata file '/var/folders/pw/l5g8hcv93fl4kcczzbsm_q7w0000gp/T/.sonarqube/resources/4/analyzers/

[2018-01-16 00:54] carloscds commented on #962
@davidkaya CodeCracker run under .Net Core, but you need to re-compile it.

[2018-01-16 00:57] carloscds commented on #685
@RobertPecz Yes, you can go ahead.

[2018-01-22 12:54] RobertPecz commented on #685
@carloscds Okay for example the CatchEmptyAnalyzer.cs has some const fields like _'internal const string Title'_. I can't change this to readonly like this, because it giving back an compile error (CS0236 - A field initializer cannot reference the nonstatic field, method, or property). Is it okay to put this in a private constructor?

[2018-01-23 20:04] carloscds commented on #685
@RobertPecz Can you explain more ? Are you using CatchEmptyAnalyzer as a sample ?

[2018-01-24 06:34] RobertPecz commented on #685
@carloscds I've just checked couple of .cs files and find couple of internal const string. Yes, for example in the CatchEmptyAnalyzer.cs you can find couple of internal const string. Because of this variables are fields I should change it to readonly, but if I change this const files to readonly, I facing with a compile error - _CS0236 - A field initializer cannot reference the nonstatic field, me

[2018-01-29 10:39] carloscds commented on #685
@RobertPecz These fields are readonly by definition in project.

[2018-01-30 20:06] BugAgain commented on #943
It seems like this is me again (a bug).
I'm not here to make a mess, I'd like to work on myself in things like this, but **xUnit** doesn't work at all.
This Repo has some updated documentation in any language on how to test things?

[2018-01-30 20:07] #958 closed

[2018-01-30 20:09] carloscds commented on #943
@BugAgain There is a documentation project home: https://github.com/code-cracker/code-cracker

[2018-01-30 20:39] BugAgain commented on #943
@carloscds, I saw.

But those tests should pass, right?

![2018-01-30](https://user-images.githubusercontent.com/29819739/35589643-ac85e224-05eb-11e8-9de3-65fe61de3f22.png)

[2018-01-30 22:57] carloscds commented on #943
@BugAgain Yes, except some tests that was disabled.

[2018-01-30 23:27] BugAgain commented on #943
Ok Carlos. Thank you for your time.
I believe I'm having some issues with **xUnit** here. I'm trying to use it in **VS2017**.
Tomorrow I will give it another try or a workaround...

[2018-01-30 23:30] carloscds commented on #943
@BugAgain I just used last version from repo and tests are run without error. I used VS 2017.

[2018-01-30 23:34] BugAgain commented on #943
I think I will pull the last version again and restore some packages again as well. Lets see...

[2018-01-31 20:37] BugAgain commented on #943
@carloscds, I updated all **xUnit** packages and everything is working! My mistake.

According to [https://stackoverflow.com/a/310967](url)

When the fix is applied to:
[code]
The code should change to:
[code]
Do you think this is correct and should I try to follow these rules?
I'm still getting familiar with this Repo before I start working on anything.

[2018-02-02 20:03] carloscds commented on #943
@BugAgain Maybe StyleCop applies a different rule for this.

[2018-02-22 07:45] justcla opened #964 "Create Features page / Release Notes"
It's hard for people to know which features (ie. refactorings, code analysis, and other niceties) are available with Code-Cracker. Is there a list of known working features in Code-Cracker? If so, could it be made available?

A single "Features" page in the GitHub repo would suffice.

Additionally, a ReleaseNotes.txt could be added to the VSIX so users can see which new features are being added (o

[2018-02-23 16:59] carloscds commented on #964
@justcla We have this documentation site: http://code-cracker.github.io/

[2018-02-23 17:05] justcla commented on #964
Thanks Carlos. And for completeness on this thread, the list of specific features is available on the diagnostics page: [http://code-cracker.github.io/diagnostics.html](http://code-cracker.github.io/diagnostics.html)

[2018-02-23 17:08] justcla commented on #964
And chance the ReadMe on this repo could include a link to this?

Additionally, could the Overview page on the Marketplace be updated with the list of features?
On the Marketplace, users are more interested in learning what the tool does, rather than how to contribute. The contribution information is more relevant in the GitHub repo.

My theory is that describe the features will increase their dis

[2018-02-23 19:42] carloscds commented on #964
@justcla There is, under Contributing topic.

[2018-02-23 21:39] justcla commented on #964
Hmmm.... It's not really clear to a first-time user what features are in Code-Cracker. Indeed, as you mentioned, there is a link over the text "CodeCracker user site" - deep inside the Contributing section, but that's very hard to find (why would I look in "Contributing" to know what this does?) and is written in a way that I'm not even sure if the documentation is valid, as it seems to imply that

[2018-02-28 10:53] carloscds commented on #964
@justcla It's a good ideia. Do you want to work on it ?

[2018-02-28 16:38] justcla commented on #964
Thanks.
If I get around to it, I will.
Otherwise, I'll leave this issue open and up for grabs.

[2018-02-28 17:44] justcla commented on #964
Release notes added in PR #966

[2018-02-28 18:20] justcla commented on #964
I've created PR (#967) for adding features to the ReadMe file.
So far I've just added the Design features.
If you like the style, I'll continue and add the others.

[2018-03-07 06:34] justcla commented on #964
Thanks for merging my PRs. But I wasn't finished with PR #967.
I've just made a start (Design category only).
Can we keep this issue open to track it until it's finished?

[2018-03-25 17:50] Fabioh commented on #685
Hi @carloscds.
this is my first time in OSS and I have never worked in a compiler.
I heard  about this project in the Lambda 3 podcast  [#05 - Open Source](https://soundcloud.com/lambdatres/5-open-source).

I have cloned the project and I want to start to solve this issue.
Where can I start?

[2018-03-26 08:24] MaStr11 commented on #685
@Fabioh

I assume you have read the [start-working](https://github.com/code-cracker/code-cracker#start-working) and pull-request sections on the  main page.

Make sure you have the Roslyn SDK installed. [Instructions for VS 2015 and 2017](https://github.com/dotnet/roslyn-sdk)

After that you should familiarize yourself with creating analyzers. You should read this [post ](https://msdn.microsoft.co

[2018-03-27 11:32] Fabioh commented on #685
@MaStr11 thank to clarifying  you my doubts.
I will try to follow these steps and start to fix this issue.

[2018-03-27 11:39] MaStr11 commented on #685
@Fabioh You should also have a look at #835. The *Files changed* sections contains all the files you need to change/create also (Note: It contains a *DiagnosticAnalyzer* which **creates** a diagnostic. That is something you don't need because you rely on a compiler diagnostic and you don't have to create one on your own).

[2018-03-28 11:44] Fabioh commented on #685
Thanks a lot.

On Tue, Mar 27, 2018, 08:39 Martin Strecker <notifications@github.com>
wrote:

[2018-03-28 12:28] ljani commented on #15
How do I suppress this with a comment as in "fix 3"? The following code produces a `CC0004` for me:

[code]

[2018-03-28 20:13] carloscds commented on #15
@ljani Because you don't have "code" on catch, only a comment.

[2018-03-29 06:03] ljani commented on #15
@carloscds Yes, I understand the comments are not statements and the analyzer is only checking if there are any statements in the block. Let me rephrase my question, is there any interest implementing [the fix 3 suggested by @luisrudge](https://github.com/code-cracker/code-cracker/issues/15#issuecomment-63104708). In my opinion, it's a correct way to fix this warning in my case.

`#pragma warning

[2018-03-29 06:32] TheFanatr opened #968 "TernaryOperatorWithAssignmentCodeFixProvider Crashes with Specific If-Else-If-Else Formatting"
# TernaryOperatorWithAssignmentCodeFixProvider Crashes with Specific If-Else-If-Else Formatting

## Information
### Description
Certain if-else-if-else code formatting causes `TernaryOperatorWithAssignmentCodeFixProvider` to crash upon fix attempt.

### Example
#### Input
[code]

#### Expected Output
[code]
or just a replacement for the else-if-else formatting with the use of a turnary operator.

[2018-04-03 17:14] ljani commented on #15
@carloscds Well, how would you implement the method, if I need to 1) run that code before the logging functionality is bootstrapped (eg. delete the logs folder) and 2) swallow `DirectoryNotFoundException` and let others pass?

[2018-04-03 17:44] carloscds commented on #15
@ljani Maybe we can implement like an option (fix 3), but user decide. What do you think about ?

[2018-04-03 18:08] ljani commented on #15
Sure, that works for me. It's already pretty widespread standard to use comments to document why the catch block is empty. For example ReSharper does this.

[2018-04-06 05:30] rodrigoratan commented on #479
appears to be the same case when you start a new asp.net core project (webapi) and it says to make my methods static... but it wont work if I do...

[2018-04-18 18:24] sharethl opened #969 "ConvertLambdaExpressionToMethodGroupAnalyzer null exception"
#Bug
Is there anyway to get more info from the build process? From the error msg cannot find out what is the cause.
`3>CSC : warning AD0001: Analyzer 'CodeCracker.CSharp.Style.ConvertLambdaExpressionToMethodGroupAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.`

Version: 1.0.3

[2018-04-19 16:55] carloscds commented on #969
@sharethl You can catch InnerExceptions and StackTrace.

[2018-04-26 10:45] RachelDavids opened #970 "CC0033 : false positive - cannot handle elvis operator in VB"
The issue is marked as fixed for C# in #858, but is still present in VB ( using v1.0.3)

[2018-05-03 03:37] BugAgain opened #971 "CC0127: Sort Usings Directives by length"
# New analyzer

There is only one option for `Removing and Sorting Usings` alphabetically in Visual Studio now. But it would be great if we could sort Usings by size without removing them. While this sounds like a useless thing, I believe my classes will look a lot more organized that way.

Before:

[code]

After:

[code]
If you agree, I can work on it.

-----------------

So in the future, maybe

[2018-05-05 11:32] tazotodua opened #972 "Binary for newbies"
Well, it could have been nice if there was compiled program of code-cracker, for newbies like me.
I've tried what I could, used VIsual Studio 2017 to compile these repository, but it fails, throws some dependency errors and etc...
why there is not simple a link to download latest compiled version, like all other programs on github, include a link to download the compiled version for people like me

[2018-05-05 17:52] jwooley commented on #972
To use it, just add the nuget package to your project. See the steps for installing on the [main page](https://github.com/code-cracker/code-cracker).

[2018-05-07 00:37] giggio commented on #964
@justcla yes, I reopened it.

[2018-05-07 01:29] giggio commented on #15
@carloscds this should be a new issue. This one is done. A new issue with a clear proposal of what needs to be done should be created.

[2018-05-07 01:42] giggio commented on #972
Also, every release has a compiled version:
https://github.com/code-cracker/code-cracker/releases

And also, every build produces artifacts:
https://ci.appveyor.com/project/code-cracker/code-cracker/build/artifacts

[2018-05-07 01:42] #972 closed

[2018-05-08 14:01] carloshenriqueribeiro opened #973 "Translate to Portuguese"
Could I translate the Read.me file to Portuguese ?

What is the best way to expose it ? link on main read.me ?

[2018-05-11 17:33] carloshenriqueribeiro commented on #973
@ElemarJR @giggio

[2018-05-11 17:46] carloshenriqueribeiro opened #974 "CC0001: Conflicting with Intellicode"
# Bug

Conflicting with Intellicode.

**Code**
[code]
### Current output after fix applied (if it is a code fix bug):

**codecracker**
![image](https://user-images.githubusercontent.com/19979749/39938364-17c38712-5529-11e8-9a3d-6019764fb43a.png)

**intellicode**
![image](https://user-images.githubusercontent.com/19979749/39938451-6455ac2c-5529-11e8-9e43-0d21fb2579e8.png)

[code]

Expected output a

[2018-05-14 17:57] carloscds commented on #973
@carloshenriqueribeiro We do not plans at this moment. But you can help us. What do you think about?

[2018-05-14 18:04] carloscds commented on #15
@giggio Maybe, or a new option at same code.

[2018-05-15 14:39] daniel-zazula opened #975 "The Extension in the Visual Studio Marketplace is outdated"
As of this writing (May 2018) the last version of the extension in the marketplace is 1.0.3 (March 2017).
Maybe it's time to release a new version?

[2018-05-15 17:56] carloscds commented on #973
@carloshenriqueribeiro Sounds good!

[2018-05-19 21:54] giggio commented on #973
The problem here is that we can't have 2 readme's. I think a link on the main readme would be fine. Maybe a `README.pt.md`?

[2018-05-19 22:27] carloshenriqueribeiro commented on #973
to be real I thought to create a directory "docs-pt" something like on dotne GitHub.

[2018-05-19 23:37] giggio commented on #973
Can you post a link to the repo you are referring to?

[2018-05-20 01:38] giggio commented on #947
Bug confirmed. The problem is that `T` is not necessarily a classe, if we had the constraint of `T : class` the diagnostic would be correct.
We need to fix it.

[2018-05-20 01:39] giggio commented on #947
I have updated the description so that we have a simpler test case to work on.

[2018-05-20 01:47] giggio commented on #960
Bug confirmed.

[2018-05-20 01:50] giggio commented on #962
We are not ready to be multi platform yet, and we have not tested the .NET CLI with CodeCracker yet.
We will update CodeCracker to .NET Standard (or Core) and then it should work.

[2018-05-20 01:59] giggio commented on #968
I just ran CodeCracker on the latest `master` branch and got not error. Here is the end result:

[code]

I had to run it twice, first on the second `if`, then on the first. I get not diagnostic on the first until I run it on the second.

Tested on update 7 of VS 2017.

We are about to release an update that should carry the already fixed branch forward.

[2018-05-20 01:59] #968 closed

[2018-05-20 02:06] giggio commented on #943
@BugAgain Did you test the specific case brought up by Paulo? Adding a specific test would help.

[2018-05-20 02:08] giggio commented on #969
If you can find the specific method that threw the error we can try to repro. I am closing the issue until we can get code that we can verify, feel free to reopen with the example.

[2018-05-20 02:08] #969 closed

[2018-05-20 03:03] carloshenriqueribeiro commented on #974
ok @giggio

[2018-05-20 03:05] carloshenriqueribeiro commented on #973
https://github.com/dotnet/docs.pt-br/

[2018-05-20 03:53] giggio commented on #973
I think a whole repo is too much. If we are going to translate only one file (readme), then I believe it is better we just created this one file in pt, like `README.pt.md`.

[2018-05-20 05:05] #906 closed

[2018-05-20 15:52] paulomorgado commented on #943
If someone points me to the tests, I might be able to add some.

[2018-05-20 16:58] BugAgain commented on #971
Ok @giggio, I'm already testing a solution now that you've given an answer because even if they disagree I can do a standalone analyzer for me to use. I'll send a PR so people can try it if they want. Or maybe to help me with a better solution. But if they desagree, just ignore the PR. Thanks!

[2018-05-20 17:03] BugAgain commented on #943
@giggio Yes I did. But I'm wondering how a solution shouldn't affect the other rules.

[2018-05-20 17:10] BugAgain commented on #943
[WIP]
[code]
I promise I will change the test name :)

[2018-05-20 17:12] giggio opened #976 "Support .NET Standard and move to PackageReference project system"

[2018-05-20 17:19] BugAgain commented on #943
@paulomorgado here is the csharp tests: https://github.com/code-cracker/code-cracker/blob/e718be3e5dd13f5fdb7b61630ae076e6355183b6/test/CSharp/CodeCracker.Test/Refactoring/AllowMembersOrderingCodeFixProviderTests.Base.cs
And here is the vb tests: https://github.com/code-cracker/code-cracker/blob/e718be3e5dd13f5fdb7b61630ae076e6355183b6/test/VisualBasic/CodeCracker.Test/Refactoring/AllowMembersOrde

[2018-05-20 17:46] paulomorgado commented on #943
@BugAgain, the test you posted has the source and expected switched. The `source` is the expected result.

[2018-05-20 18:03] BugAgain commented on #943
@paulomorgado Sorry, did I misunderstand? _"A readonly field is positioned below a non-read only field"_. Can you please teach me like I'm a baby?

[2018-05-20 19:46] paulomorgado commented on #943
OOPS! Now that you mention it, I see my original code was wrong. I've fixed it.

[2018-05-20 20:47] BugAgain commented on #943
@paulomorgado Awesome! Thank you! I see now.

[2018-05-21 01:40] carloscds commented on #973
@carloshenriqueribeiro Only a readme.md.pt it's enough. And we can put a link in readme.md to this file.

[2018-05-21 01:45] carloshenriqueribeiro commented on #973
Ok

[2018-05-21 14:14] carloshenriqueribeiro commented on #973
could u change the label for "Working" ?

[2018-05-21 15:10] carloscds commented on #973
@carloshenriqueribeiro Go ahread.

[2018-05-21 17:41] JAD-SVK opened #978 "CC0037 - Incorrect report 'Commented code should be removed'"
After the update (today) the code cracker started reporting commented code for code that was previously not reported.

Example:

This code produces two warnings. It seems the pattern `Word : Word` *(white space ignored)* produces the error. It also applies for web pages in comments *(but there seems to be an advanced rule for this)*.

[code]

Reported on both comments. And web pages:

[code]

Repo

[2018-05-22 10:22] jhinder opened #979 "AlwaysUseVarAnalyzer throws ArgumentNullException on ref local declaration statements"
The analyzer throws an exception for ref local declaration statements.

[code]

Repro code (also works with `ref int x`):

[code]

Environment: VS 15.7.2, CodeCracker 1.1.0

[2018-05-22 16:36] jwooley commented on #971
I can't see a benefit in sorting based on length of the name. I could potentially see a benefit in grouping external/system dependencies separate from project joined (my) assembliles, but am not sure you could access the metadata info from the proj file to read those. Sorting by length would likely conflict with the existing VS sort and remove unused usings implementation as well as the stylecop a

[2018-05-31 12:16] dariusbuinovskij opened #980 "CC0004 and exception filters"
#New analyzer:

CC0004 analyzer unable to handle filters. I some cases I need to log exceptions (catch block never reached). I can disable warning by adding #pragma warning disable, but I would like to avoid that. Can I expect that to be fixed in coming releases?

Before:

[code]

After:

[code]

You can add more information here, e.g. conditions under which a diagnostic should not trigger, etc.

[2018-05-31 12:38] jwooley commented on #980
At first glance I was going to recommend against this as a typical monadic comprehension (like filter/where) would not guard against side effects. However, checking the [C# 6 FAQ,](https://blogs.msdn.microsoft.com/csharpfaq/2014/11/20/new-features-in-c-6/) this behavior is actually recommended:

This may be a valid extension to make for this analyzer. We could go even further and have an analyzer

[2018-05-31 13:19] dariusbuinovskij commented on #980
Yes, I know that logging is side effect of exception filters, but is better than
`try
{
  // Do something
}
catch
{
  WriteLine(ex.Message);
  throw;
}`

Yes, analyzer you suggested sounds good. As I understand error about empty catch block will disappear as well when you will add such extra analyzer?

[2018-06-05 16:56] paulomorgado opened #981 "AD0001:"
Since I've upgraded to version 1.1.0 I've been getting warnings like this on VS2017:

[code]

[2018-06-05 17:10] carloshenriqueribeiro commented on #981
Hi Paulo, could you give us more information ?
- How did you install it ? Nuget or plugin ?
- Could you send us a printscreen ?
- Did you try something else ?

[2018-06-05 19:58] jwooley commented on #981
This indicates that there is a bug in the PropertyChangedEventArgsUnnecessaryAllocationAnalyzer. We would need to identify the repro scenario to fix it. One way to do this would be to clone the project and run it in Visual Studio opening your project in the experimental hive instance of VS that launches. Ensure that break on .Net exceptions is turned on and the first instance of VS should break wh

[2018-06-05 20:38] paulomorgado commented on #981
I got this on a command line msbuild execution. I'll try to debug it.

[2018-06-06 01:59] carloshenriqueribeiro commented on #973
Is DoD still evolving as written in readme ?

[2018-06-06 02:16] carloshenriqueribeiro commented on #240
we can close it ? nope ?

[2018-06-06 17:20] carloscds commented on #973
@carloshenriqueribeiro You can do creating a readme.md.pt and include a link in readme.md

[2018-06-06 17:30] carloshenriqueribeiro commented on #973
Sorry @carloscds I did not understand. I asked about DoD.

[2018-06-06 17:51] carloscds commented on #973
@carloshenriqueribeiro It's only a document, make changes and send a PR.

[2018-06-06 18:20] carloshenriqueribeiro commented on #973
Sir yes Sir.

[2018-06-17 15:07] KristianWedberg opened #982 "CC0120: Only fire if switch not exhaustive"
# code-cracker v1.1.0

# Bug

CC0120 warning "Consider put an default clause in Switch" fires even though the switch cases are exhaustive. This gives too many false positives.

# Actual

CC0120 warning "Consider put an default clause in Switch" fires even if the switch has specified
all enum values:

[code]

# Expected

CC0120 warning should _only_ fire if the analyzer is _certain_ that the case s

[2018-06-17 16:11] KristianWedberg opened #983 "Bug: CC0072: Async method naming should use GetAwaiter(), not Task"
# Code cracker version: v1.1.0

# Bug

CC0072 doesn't recognize `ValueTask` as appropriate for "*Async" names.

# Actual

[code]

# Expected

Any method that returns a type that has a `GetAwaiter()` method (since that's what is making it awaitable) should NOT trigger CC0072.

[2018-06-18 16:01] #973 closed

[2018-06-22 16:43] pwcrickman commented on #981
I have the same error produced.  I am unable to provide the source, but the exception details shows that a new allocation of System.ValueTuple<classname, int> [ObjectCreationExpressionSyntax] is throwing the exception.  I am using the C# 7.2 compiler using VS 2017 15.6.6.

[2018-06-27 00:07] paulomorgado opened #986 "CC0076 false positive"
Code Cracker version 1.1.0

This code is flagged with CC0076:

[code]

However, `string.IsNullOrWhiteSpace(activityName)` can be true regardless of `activityName` being `null` or not.

The intention of the test is to catch only the non-`null` empty or white space values.

[2018-07-16 15:40] Lukas0101 opened #988 "Outdated SonarQube Plugin"
The release v1.0.3 contains a SonarQube plugin. In the release v1.1.0 the plugin is missing. Will be a new version provided or must it be created by each user themselves? The first discussion of this topic was in https://github.com/code-cracker/code-cracker/issues/811.

[2018-07-16 17:17] carloscds commented on #988
@Lukas0101 Hi Lukas, plugin was updated! Thanks!

[2018-07-17 14:13] RachelDavids opened #989 "#BUG: VB : CC0011 Invalid suggestion to replace Where().Count() with Count()"
#Bug
Given the visual basic code snippet below CC is suggesting replacing the Where().Count() with as single call to Count(). Given l is specifically a List rather than an IEnumerable, the suggestion is invalid, since the compiler cannot resolve to the Extension method:

Error BC32016: 'Public Overloads ReadOnly Property Count As Integer' has no parameters and its return type cannot be indexed. (5

[2018-07-21 19:51] AridTag opened #990 "CC0029 should only apply if the class has a finalizer"
The CC0029 warning should only show up if the class implementing contains a finalizer itself.

[MSDN Remarks on GC.SuppressFinalize](https://msdn.microsoft.com/en-us/library/system.gc.suppressfinalize.aspx#Anchor_2)

In this example our class owns an IDisposable that may itself have a finalizer but we don't need to know that. Our example class is disposing the disposable and has no finalizer itsel

[2018-07-25 07:28] mevCJ opened #991 "Logo Proposal"
Hi Sir, I am a part-time graphic designer and I want to contribute to your project by proposing a logo design. If you are interested in using the design, I will send you the files or incorporate the logo into the readme file in a pull request. Feel free to inform me if you want any modifications to be made. The logo are attached below:

#### Logomark
![fische-100](https://user-images.githubusercon

[2018-07-26 11:44] doodz commented on #988
hi,
@carloscds  I have the same problem, I am in 1.0.1.
The marketplace don't show me an update for 1.1.0.
Moreover in[ https://docs.sonarqube.org/display/PLUG/Plugin+Version+Matrix]( https://docs.sonarqube.org/display/PLUG/Plugin+Version+Matrix) whe can see that last compatible version is 1.0.1.
best regard

[2018-07-27 01:30] carloscds commented on #991
@mevCJ Last one sounds good! What do you think @giggio  ?

[2018-07-27 01:32] carloscds commented on #988
@doodz I'm still updating in Sonarqube site plugin. For now you need to update manually.

[2018-07-27 05:15] doodz commented on #988
ok, I can't I am on Community Edition. :(.

[2018-07-27 19:42] carloscds commented on #988
@doodz Sorry for this. I'm working to update plugin at SonarSource.

[2018-07-31 17:39] carloscds commented on #988
@doodz I have submitted a new version to SonarQube. Now I'm waiting for approval

[2018-08-03 06:17] doodz commented on #988
@carloscds  thank you, your release is passed.

[2018-08-06 11:39] sergey-rybalkin opened #992 "CC0022 DisposableVariableNotDisposedAnalyzer: False positive for conditional instantiation"
#Bug

This code should not trigger CC0022 as all code paths lead to Dispose call:

[code]

[2018-08-09 11:17] #988 closed

[2018-08-18 02:57] TheFanatr commented on #975
@giggio Any progress? Is this still being maintained?

[2018-08-23 13:16] jeanluc33 opened #993 "Issues with Visual Studio 2017 15.8"
I'll update this ticket, but there are problems with the extension in 15.8.  It'll generate exceptions that show in the Error List.

[2018-08-28 19:42] GeorgeAlexandria commented on #948
By more, it can't be used for all cases when the left side hand has directly type and the right side has the `default` literal:

[code]
If you will apply the CC0001, you will retrieve a compilation error.

Also, the suggestion in the light bulb(quick info) for the case above show invalid rule CC0105 with the non existent reference:

![image](https://user-images.githubusercontent.com/13402478/44746

[2018-08-29 08:26] JohannBlais opened #994 "The latest version does not support SonarQube 7.3"
Hello,

The plugin does not load on SonarQube developer 7.3 hosted on Windows Server.
Here is the error message in the web.log

java.lang.IllegalStateException: Fail to instantiate class [org.sonar.plugins.roslynsdk.RoslynSdkGeneratedPlugin] of plugin [codecrackercsharp]
	at org.sonar.core.platform.PluginLoader.instantiatePluginClasses(PluginLoader.java:134)
	at org.sonar.core.platform.PluginLoade

[2018-08-31 19:40] GeorgeAlexandria opened #995 "Suppress diagnostics at the extension level"
Hi, what about possibility to suppress diagnostics at the extension levell, not just project level?

Benefits:
1) You can customize diagnostics at the one time for all of your projects, of course if you want
2) You avoid supppressing at the project level using `[assembly: CodeAnalysis.SuppressMessage(...)]` that will do you project more clear for other participants of your team that doesn't use Co

[2018-09-01 17:43] sm-g commented on #982
Switch in example is not really exhaustive, consider `_status = (Status)10;`

[2018-09-05 13:20] paulomorgado opened #996 "CC0021 wrong suggestion"
Code Cracker suggests a wrong usage of `nameof`.

For this code:

[code]

this substitution is being offered_

[code]

The class does have a finalizer (`Finalize` method), but the suggestion is wrong.

[2018-09-12 08:30] jjferreira commented on #994
When will this be fixed?  Kind Regards

[2018-09-16 02:46] carloscds commented on #994
@jjferreira I will work in this.

[2018-09-18 11:55] jjferreira commented on #994
Hi @carloscds when do you think you will have an update on this wonder bit of code.

Thank you in advance.

[2018-09-18 12:19] doodz commented on #994
@carloscds 👍  do not forget community Edition ;), we can't update manually.
best regards

[2018-09-18 12:53] carloscds commented on #994
@doodz After Microsoft Iginite, I will do this!

[2018-09-26 07:00] jjferreira commented on #994
Hi @carloscds  any news on this compability issue?  I'm a .Net developer by trade if I can be of help.  Really would like to use this little bit of code on my new pipeline.  Thank you in advance.

[2018-10-01 13:16] carloscds commented on #994
@jjferreira After, Ignite, remember ?

[2018-10-02 11:35] davidelettieri commented on #947
Hi, would like to work on this if no one else is doing it.

Just to be sure I understood what's needed: to fix the bug means that CodeFix will be suggested only when we have the constraint `T : class` on the generic parameter `T`

[2018-10-03 08:29] carlilord commented on #928
May I take on this ticket?

[2018-10-03 12:42] carloscds commented on #928
@carlilord Sure, go ahead!

[2018-10-04 13:39] carlilord commented on #922
What would be a better approach in your opinion:
- Use a dictionary to exclude words that include "async"
- Check if name contains "async" and see if the 'A' is capital and the letter after the 'c' is also capital

[2018-10-04 13:57] KristianWedberg commented on #922
@carlilord The latter, since that avoids having to come up with all exceptions, and should handle the vast majority of cases correctly. I'd suggest moving the "Async" sub-string to the end iff:

- It is case sensitive "Async"
- Is followed by a capital letter, underscore, or a digit

[2018-10-04 15:14] carlilord commented on #922
@KristianWedberg seems ideal

do you mind if i take the ticket?

[2018-10-04 21:42] KristianWedberg commented on #922
@carlilord of course not, go ahead :-)

[2018-10-12 11:56] paulomorgado commented on #981
I've trying to have the time to debug this, but haven't came to it yet.

What I've found in the mean time, is that XUnit analyzers have the same problem.

So, it's, most probably, a Roslyn problem or a common misuse of the API.

[2018-10-20 02:12] #922 closed

[2018-10-23 12:46] Mingun commented on #981
This error occurs with two precondition:
1. Using generic class for variable.
2. Using full qualified name for class.

Minimal reproducible example:
[code]
In real life used different namespaces, of course.

I believe, error occurs because of cast in line #L92 in code
https://github.com/code-cracker/code-cracker/blob/b48ed88fe7e0e0420a0c19b806b084b6ddb9ec2c/src/CSharp/CodeCracker/Refactoring/Prope

[2018-10-25 10:34] carloscds commented on #994
@jjferreira Sorry about this delay, I'm talking with SonarQube but to update CodeCracker I need to create a new version of component here. We are doing this.

[2018-11-06 10:50] jjferreira commented on #994
Hi @carloscds any update on this.

Kind Regards

p.s  Muito Obrigado

[2018-11-06 15:15] carloscds commented on #994
@jjferreira I'm waiting @giggio generate a new version to update Sonar.

[2018-11-06 15:38] jjferreira commented on #994
Hi @giggio any ideia when you creating a new version?

Kind Regards

[2018-11-20 18:55] Muppets commented on #930
@giggio I've got a PR for this bug. Let me know if this works for you guys. Feedback welcome.

[2018-11-20 19:03] #930 closed

[2018-11-25 22:52] #905 closed

[2018-11-26 16:10] jjferreira commented on #994
@giggio @carloscds

Any news on the next release?  Would be nice to see it working again on sonarqube.

[2018-12-11 11:24] GeorgeAlexandria opened #1014 "CC0001 wrong suggestion"
Code Cracker (CC) suggests a wrong applying for "use `var` instead of":

[code]

After applying suggestion CC generates code with var that contains compile time error [CS0841](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0841):

[code]
In this case I assume that CC doesn't suggest anything (CC0001) for `currentValue`.

[2018-12-15 22:46] GGG-KILLER opened #1015 "CC0074: readonly cannot be added to fixed fields in an unsafe struct"
Example:
[code]

CC0074 is raised for the field `chars`, but the `readonly` modifier is invalid for `fixed` fields:
![image](https://user-images.githubusercontent.com/5892127/50048080-5448ac80-00aa-11e9-8811-78b667ceccc6.png)

[2018-12-20 03:46] GGG-KILLER opened #1016 "CC0019: switch suggested even when a break statement is present"
### Summary
CC0019 (Convert to `switch`) suggests the code transformation even for if statements that have a `break` statement in the body of one of the clauses.

### Example

[code]

### Current output after fix applied

[code]

### Expected behavior

CC0019 is not raised.

[2019-02-15 15:37] ozonni opened #1018 "CallExtensionMethodAsExtensionAnalyzer: ArgumentException"
Analyzer 'CodeCracker.CSharp.Usage.CallExtensionMethodAsExtensionAnalyzer' threw an exception of type 'System.ArgumentException' with message 'Inconsistent syntax tree features

`Parameter name: trees'.`

Started after we migrated to .net core 2.2. Have no idea where exactly it happens

[2019-03-13 14:02] fdvieira commented on #994
any news on this? trying to update to SonarQube version 7.6 but still got this issue.

[2019-03-15 14:08] agatlin opened #1019 "Installation Fails on Visual Studio 2019 Enterprise (Windows) - 16.0.0 Preview 4.2"
#Bug

[code]

FYI, some (but not all) other Roslyn-related extensions are also failing.

[2019-03-16 06:53] carloscds commented on #994
@giggio Did you generate version ?

[2019-03-26 15:48] jeffreympolk opened #1020 "System.InvalidCastException thrown on object initializer"
The following default code for a new Windows Service (.NET Framework) project shows waring CC0022 but throws the exception below when viewing potential fixes.
[code]

[code]

[2019-04-03 16:06] #1019 closed

[2019-04-04 06:42] HenningNT commented on #1018
I see this in my build pipeline, when running the tests. Which is odd, since the test project doesn't include CodeCracker...

[2019-04-06 18:39] mithileshz commented on #923
I'll be picking this up

[2019-04-08 00:22] #923 closed

[2019-04-08 11:02] kindermannhubert opened #1023 "InvalidCastException PropertyChangedEventArgsUnnecessaryAllocationAnalyzer"
When using 455c0d9a1d52be3bacdf5d76cc4acec56a37f90f build of code-cracker in VS 2019 (16.0.0) on following code;

[code]

It triggers exception during build:
warning AD0001: Analyzer 'CodeCracker.CSharp.Refactoring.PropertyChangedEventArgsUnnecessaryAllocationAnalyzer' threw an exception of type 'System.InvalidCastException' with message 'Unable to cast object of type 'Microsoft.CodeAnalysis.CShar

[2019-04-15 12:26] busyscout opened #1024 "CC0091 Fires For Mvc Controller Actions"
CC0091 incorrectly suggests to make mvc actions static.

Example:
[code]
This is a correct MVC action. If you make it static, then it will not work as an action.
So, CC0091 should ignore methods with mvc action attributes - HttpPost, HttpGet etc.

[2019-04-17 15:35] rfiori commented on #1019
The error persists on VS 2019 Pro.
Is necessary some action for install.

Thks

[2019-04-29 06:08] Nibell opened #1025 "Installation Fails on Visual Studio 2019 Enterprise 16.0.2"
#Bug

The error still persists on VS 2019 Enterprise 16.0.2.

[code]
Not fixed in Bug [#1019](https://github.com/code-cracker/code-cracker/issues/1019)

[2019-05-02 14:35] alex529 commented on #1025
Same issue appears on happens on Visual Studio Professional 2019 16.0.3

[2019-05-08 16:33] Thieum commented on #1025
it is fixed in #1019, but there is no new release that includes the fix atm.
A way to have the extension in VS2019 is to build it yourself from source.

![image](https://user-images.githubusercontent.com/944894/57391646-eef67480-718c-11e9-8bc8-9d672289e3a2.png)

@carloscds Would it be possible create a new release on github at least?

[The VS marketplace ](https://marketplace.visualstudio.com/item

[2019-05-10 19:56] carloscds commented on #1025
@Thieum Sorry for this, but I'm waiting to @giggio generate a new version!

[2019-05-10 20:52] Thieum commented on #1025
@carloscds no problem, I understand :)

[2019-05-16 13:17] r-pankevicius opened #1026 "CC0071 Introduce a field for parameter ignores parameters consumed by base() and this()"
There are CC0071 warnings for constructor parameters that are passed to base() or this() constructors. See "OK", "NOT OK" in comments for what's expected.

[code]
After fix applied - OK:
[code]
Let's create a derived class:
[code]

Another false flag for this(x):
[code]

[2019-05-25 07:35] pgrm commented on #1023
For me this is also happening on version 1.1.0

[2019-05-27 12:10] JosefPihrt opened #1032 "Bug: Missing property name in ExportCodeFixProviderAttribute"
Property name `Name` of the `ExportCodeFixProviderAttribute` is missing at several locations. As a result `CodeFixProvider` name is wrongly regarded as language name.

Current Code:
[code]

Expected Code:
[code]

This bug can be found  at here:
https://github.com/code-cracker/code-cracker/blob/711ae5d00a2ad017435bdfe02ed6348cede554d8/src/CSharp/CodeCracker/Design/StaticConstructorExceptionCodeFixP

[2019-05-28 14:01] #1032 closed

[2019-06-03 05:19] HenningNT commented on #1023
I'm seeing this as well. I added an external service from a WSDL file, so CC throws an exception when it's processing the generated code.

Is it possible to exclude generated code from analysis?

[2019-06-17 07:23] Flying--Dutchman commented on #1025
@carloscds Any update on this issue? Would the release from 20.05 work with vs2019?
Anything i can help with?

[2019-06-22 13:31] carloscds commented on #1025
@giggio CAn you generate new version please ?

[2019-07-09 07:37] victorhadomskyi commented on #981
Hi, when are you going to do next release?

[2019-07-11 17:24] carloscds commented on #981
@giggio Can you generate a new release?

[2019-07-17 12:11] johnrinehart commented on #1019
I've got the same error in VS Community 2019.

[2019-07-30 19:45] RealDotNetDave commented on #1025
+1!

[2019-08-12 13:55] luanholiv commented on #1025
+1

[2019-08-17 09:08] namdt1992 opened #1034 "Changing DiagnosticID"
I'd like to change the "CC", such as CC0001, CC0002,... of the
DiagnosticId of Code Cracker.

I've tried editing CC in statement
$"CC{(int)diagnosticId :D4}" to a prefix I want, but it didn't work.
After changing, the Code Cracker library still show errors and
warnings, but didn't view diagnosticId and category (such as
Refactoring, Design,...) either.
That statement is in:

namespace CodeCracker

[2019-08-17 09:13] namdt1992 commented on #1034
@giggio , can you help me?
Thanks,

[2019-08-21 18:55] carloscds commented on #1034
@namdt1992 Put your errors here please.

[2019-08-26 10:58] namdt1992 commented on #1034
hi @carloscds, I've solved this issue. the error is from Visual Studio 2019. After restarting Visual Studio instead of restarting solution, DiagnosticIds changes at I expect.
Thank you very much,

[2019-08-26 10:58] #1034 closed

[2019-08-26 17:19] RachelDavids opened #1035 "CC0006 : should not trigger when loop variable used in multiple places."
#Bug
Should not trigger when loop variable used in loop &/or non-standard increment.

[code]

Current output after fix applied (generates uncompilable code.):

[code]

[2019-08-30 14:34] SviatoslavVilkovych commented on #981
Sorry for mentioning you again, @giggio . But it passed more than a year since v1.1.0. Is there are not enough changes for a new release?

[2019-09-05 10:07] AqlaSolutions commented on #1025
+1

[2019-10-02 03:31] CygnusSW commented on #903
If this one is still available, I can grab it.

[2019-10-02 14:22] jwooley commented on #1025
Is this still an issue? It installs on 16.3 which is the latest RTM.

[2019-10-02 16:30] carloscds commented on #1025
Yes, because @giggio need to generate a new version.

[2019-10-02 16:31] carloscds commented on #903
@callenWrench Go ahead.

[2019-10-07 14:20] SviatoslavVilkovych opened #1039 "BUG: Error AD0001 Analyzer 'CodeCracker.CSharp.Usage.DisposableVariableNotDisposedAnalyzer' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null. Parameter name: syntax'."
#Bug
CodeCracker throws an exception when building code below.

[code]

Interesting thing that simple change of `if()` statement removes error.

[code]
Don't know if it is important, but error is not appearing when
1. `A` is not inherit from `IDisposable`.
2. `ConfigureSmthAsync` is not async.

I managed to get call stack of the error.
[code]

I couldn't find similar bug and I am using last releas

[2019-11-15 22:01] Flying--Dutchman commented on #1025
@carloscds There is no new release since the 20th of May 2018... Is anyone of the team able to create the Visual Studio Extension without @giggio ?

Even if it isn't uploaded to the marketplace.

[2019-11-17 21:43] carloscds commented on #1025
@Flying--Dutchman Sorry for this, but @giggio does not answer anymore. We can create another VSIX and Nuget repo. What do you think about ?

[2019-11-21 10:22] Flying--Dutchman commented on #1025
Maybe, we could create a "release" branch or work with tags to automaticly push new VISX to Gallery at least directly from AppVeyor.
--> http://vsixgallery.com/guide/dev/

[2019-11-21 12:26] carloscds commented on #1025
@Flying--Dutchman I can create a VSIX and put at release folder here,what do you think?

[2019-11-21 17:27] carloscds commented on #1025
@Flying--Dutchman I have a new version of VSIX: https://marketplace.visualstudio.com/items?itemName=CodeCracker2019.CodeCracker2019

[2019-11-22 09:49] Flying--Dutchman commented on #1025
Great! Thank you very much.

[2019-11-28 13:16] #1025 closed

[2019-12-15 16:04] MischaVreeburg opened #1040 "CC0022: Does not recognize the new C# 8 using statements"
CodeCracker is not currently considering the using pattern, as it ignores the using FileStream f = new FileStream(@"C:\users\jaredpar\using.md"); statement.

pattern-based using: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/using

CodeCracker will output a CC0022 even if the field is disposed:
`if (...)
{
   using FileStream f = new FileStream(@"C:\users\j

[2019-12-15 20:27] carloscds commented on #1040
@MischaVreeburg Not at this time!

[2020-01-16 15:37] RecursiveNerd opened #1041 "CC0068 Triggers on static async Task for console main application"
Starting with C# 7.1 features, a Main method (the entry point for an application) can be declared as async, and can return a Task. CC0068 incorrectly triggers stating that this method should be removed because it is unused. However, you cannot remove the Main method for an application otherwise it would not compile or run.

Coincidentally, if I change the Main method from async Task to just void M

[2020-03-28 17:47] hellfirehd opened #1042 "CC0061: Public MVC Controller actions should not trigger the analyzer"
Diagnostic Id: `CC0061`: Asynchronous method can be terminated with the 'Async' keyword.
Category: `Style`
Severity: `Info`

Triggering Code:

[code]

When a class inherits from `Microsoft.AspNetCore.Mvc.Controller` and a public method in the class returns `Task<IActionResult>` the analyzer should not be triggered.  Alternatively if a method is marked with `[HttpGet]`, `[HttpPost]`, etc. the analy

[2020-04-09 18:55] pgrm commented on #1018
Hello, I just had the same exception. The problem was

`CustomAttributeExtensions.GetCustomAttributes(type, inherit: true);`

probably because changing it to `type.GetCustomAttributes(true)` - would have called a different method and not the extension method.

[2020-04-15 10:59] bddckr commented on #1018
I just got the same issue! These two extension methods trigger it:
[code]

(.NET Standard 2.1, with nullable reference types enabled.)

[2020-06-01 21:46] mc0re commented on #460
Is it released?

[2020-07-22 16:22] pgrm opened #1043 "`using` - declaration does not work with DisposableVariableNotDisposedAnalyzer"
The following code:

[code]

Throws the following exception when building:

Changing it to the old syntax works fine:

[code]

However, this doesn't break always. I do have other cases in the same project, where the new syntax works and again some, where it doesn't work. So it's hard to create a generic replication project, but for those methods where it doesn't work, it fails every single time, I