[2014-11-07 00:35] giggio opened #1 "Validate color from System.Drawing.ColorTranslator.FromHtml"
This:

[code]

Will be marked as an `Error`. Category is `Usage`.
Diagnostic id is `CC0053`

How to implement it is being discussed below, we still have to find an optimal way to do it, as we cannot call `ColorTranslator` from the Code Cracker project and see if it throws, as CC is a PCL, and `System.Drawing` is not available.

@dgmachado is working on it.

[2014-11-07 00:37] giggio opened #2 "Validate Json when used with Json.NET"
This:

[code]

Will be marked as an `Error`. Category is `Usage`.
Diagnostic id is `CC0054`
@andrecarlucci is working on it.

[2014-11-07 00:39] giggio opened #3 "Transform for into a foreach"

[2014-11-07 00:40] giggio opened #4 "Always use var"

[2014-11-07 00:43] giggio opened #5 "Fix namespace for current document"
If a file is located at:
`$solutionDir\$projectDir\Folder1\Folder2\file.cs`
And the root namespace is `Project` then the namespace for the file should be `Project.Folder1.Folder2`.

[2014-11-07 00:46] giggio opened #6 "On Linq clauses move predicate from Where to First, Single, etc when applicable"
In this example;

[code]

Change it to:

[code]

Applies to: `First`, `FirstOrDefault`, `Last`, `LastOrDefault`, `Any`, `Single`, `SingleOrDefault` and `Count`.

[2014-11-07 00:56] giggio opened #7 "Change if to ternary operator"
## Two expected scenarios
### Return

[code]

Becomes:

[code]

If necessary, cast `a` to the expected value;
### Attribution

[code]

Becomes:

[code]

[2014-11-07 00:59] giggio opened #8 "Replace if check followed by return true or false"
## Scenario 1:

[code]

Becomes:

[code]
## Scenario 2:

[code]

Becomes:

[code]

[2014-11-07 01:01] giggio opened #9 "Supress assignment of default value to field/property declarations"
In this cases:

[code]

Becomes:

[code]

This analyzer applies to all fields which are not marked `const`. For each field *f*, let `T` be the declared type of *f*. If *f* is initialized with the value `default(T)`, then report this diagnostic. The following additional cases should be handled:

1. If `T` is a reference type or a nullable value type, then treat `null` the same as `default(T)`. Note

[2014-11-07 01:05] giggio opened #10 "Use class initializer where it makes sense"
[code]

Becomes:

[code]

[2014-11-07 01:06] giggio opened #11 "Remove unnecessary parenthesis from class initialization"
[code]

Becomes:

[code]

[2014-11-07 01:10] giggio opened #12 "Use auto property when possible"
[code]

Becomes:

[code]

With initializer, if it is C#6:

This:

[code]

Becomes:

[code]

If it is not C#6 and there is a field initializer, no diagnostic is created.

If `set` has a modifier (`private`, etc), use it accordingly.

If there is a reference to the field, change it to reference the property.

Severity: `Information`
Diagnostic id: `CC0017`
Category: `Style`

[2014-11-07 01:14] giggio opened #13 "Use existence ?. operator when possible in expressions"
## Scenarios
### Return values
#### Scenario 1: Simple Member Access:

[code]

Becomes:

[code]
#### Scenario 2: Simple Member Access with compound accesses:

[code]

Becomes:

[code]
#### Scenario 3: Array accessor:

[code]

Becomes:

[code]
### Assignment

All above examples should work with assignments, for example, accessors:

[code]

Becomes:

[code]

And any other place where expressions are

[2014-11-09 23:11] viniciushana opened #14 "Remove empty object initializers"

[2014-11-12 12:06] #3 closed, assigned to giggio

[2014-11-12 12:06] #7 closed, assigned to giggio

[2014-11-12 12:41] carloscds opened #15 "Empty Catch block not allowed"
[code]

Becomes (Fix 1:)

[code]

Becomes (Fix 2:)

[code]

Becomes (Fix 3:)

[code]

[2014-11-13 17:08] #14 closed, assigned to nobody

[2014-11-13 17:09] #11 closed, assigned to nobody

[2014-11-13 18:24] #10 closed, assigned to giggio

[2014-11-14 18:03] #8 closed, assigned to giggio

[2014-11-16 02:20] giggio opened #19 "Clearly define criteria for severity levels: Hidden, Info, Warning and Errors"
Everything we are doing now is marked as Warnings. We should define what is a `Hidden`, `Warning`, `Info` or `Error`.

**Update 3**:
Included `Hidden` on 11/30. It is now defined as:
1. **Hidden**: Only used for refactorings. See #66 (and its comments) to understand why.
2. **Info**: An alternative way (ex: replacing for with foreach). Clearly a matter of opinion and/or current way could be correc

[2014-11-16 22:07] giggio opened #20 "Determine supported categories for analyzers"
Right now all analyzers use `Syntax` as their category. We have to determine what categories we are going to support and what defines each of them.

**Update:**

We decided we will initially support the categories Microsoft supports:
- Globalization
- Interoperability
- Naming
- Performance
- Portability
- Reliability
- Security
- Style
- Usage

`Syntax` will not be supported.
Anyone should be fre

[2014-11-17 14:20] #15 closed, assigned to carloscds

[2014-11-17 15:23] ElemarJR opened #21 "Remove unreachable code"
This:

[code]

Will have the `var` line declaration marked as `WellKnownDiagnosticTags.Unnecessary`.
And will become:

[code]

Should work for any possible unreachable code, like statements after `throw`, `else` that will never be reached, etc.

Category: `Usage`
Diagnostic id: `CC0055`
Severity: `Info`

[2014-11-17 15:24] ElemarJR opened #22 "Convert loop to linq expression"
We will start with simple ones, looking into foreach and a simple if:

This:

[code]

Becomes:

[code]

And this:

[code]

Becomes:

[code]

Diagnostic id: `CC0050`
Category: `Refactoring`
Severity: `Hidden`

[2014-11-17 15:24] ElemarJR opened #23 "Remove unused variables"
Replaces

[code]
with

[code]

Category: `Usage`
Diagnostic Id: `CC0056`
Severity: `Info`

@julianosaless will work on it

[2014-11-17 15:25] ElemarJR opened #24 "Remove unused parameters"
This:

[code]

Becomes:

[code]

Don't offer a diagnostic if:

* The method is an interface implementation or an override.
* It is a constructor on a serializable object (see pattern [here](http://msdn.microsoft.com/en-us/library/ms973893.aspx)).
* It is an event handler (`object` and then an `EventHandler`).

This is a `Warning`, Category `Usage`.
Diagnostic id: `CC0057`

[2014-11-17 15:26] ElemarJR opened #25 "Improve double/float comparisons"
This generates a `Warning` diagnostic:

[code]

If we are able to make a code fix that will exhibit a snippet like behavior, where the user has to fill the value they want for the ellipsis, then we will also do a code fix, otherwise it will be only a diagnostic.
If it is possible to build the code fix this way, it should look like this:

[code]

Where the value MYELLIPSIS is highlighted for the us

[2014-11-17 15:55] giggio opened #26 "Encapsulate field as read-only or write-only"
From a field create a property with getter or setter and optionally change all the references to that field to use the property. There is a refactoring already in Visual Studio for a full encapsulation.

[code]

If changed to read-only:

[code]

If changed to write-only:

[code]

If the field is not private and has references outside the class, change those as well.

This is essentially a refactor

[2014-11-17 16:01] giggio opened #27 "Call extension method as an extension"
If an extension method is being used directly as an static method, change it the call to the extension method syntax.

This:

[code]

Becomes:

[code]

Notice if the static method is being called using namespace to identify as in the sample above, we should also import the namespace to the current scope.

Severity Level: `Information`.
Diagnostic Id: `CC0026`

@dmgandini is working on it.

[2014-11-17 16:10] giggio opened #28 "IDisposable not assigned to a field is not being disposed"
A disposable object was instantiated and used, but not disposed. If it was not returned, most likely it should have been disposed. It might not have to be disposed if it was passed as an argument to some other method.

After some discussion (see bellow) we decided to offer a diagnostic only if the object was created inside the same method, and provide a `Warning`. An idea for a next issue would be

[2014-11-17 20:39] GersonDias opened #29 "Align Equals on Variable Assignment statements"
When I have:

[code]

I wanna fix to:

[code]

to improve readability.

This is a `Hidden` diagnostic.
Diagnostic Id is: `CC0041`
Category is: `Style`.

[2014-11-17 23:22] giggio opened #30 "Class that has IDisposable fields should implement IDisposable and dispose those fields"
If a class has a field that is `IDisposable`, it should `Dispose` it.

This will generate a `Info`:

[code]

Becomes:

[code]

This will generate a `Warning`:

[code]

Becomes:

[code]

This is a `Warning` because of the object creation.
Diagnostid ids are:
- for the `Info`: `CC0032`
- for the `Warning`: `CC0033`

[2014-11-18 01:16] moreirayokoyama opened #31 "Convert a "Not Any" query for a condition to a "All" query for the inverted condition"
## Scenario 1: simple condition

This:

[code]

Becomes:

[code]

or

[code]

## Scenario 2: special case `>`, `<`, `>=` and `<=`

This:

[code]

Becomes:

[code]

So it became more readable.
This is a refactoring, there is no diagnostic.

This is essentially a refactoring, so we are classifying it as a `Hidden` diagnostic.
Category is `Refactoring`.
Diagnostic id is: `CC0043`

[2014-11-18 01:48] marcellalves opened #32 "Private set by default for automatic properties"
[code]

Becomes:

[code]

Should not break the code.

[2014-11-18 02:59] israelaece opened #33 "Physical Structure"
What do you think to organize fixers and analyzers using the following folder structure:
- Design
- Exceptions
- Extensibility
- Naming
- Performance
- Usage

[2014-11-18 03:27] BrunoMaestro opened #34 "Suggest use of stringbuilder when you have a while loop"
Local declaration:

[code]

Becomes:

[code]

This is a `Warning`.
Diagnostic id is: `CC0039`
Category is: `Performance`

[2014-11-18 11:08] nosami opened #35 "NRefactory 6"
Why have you guys created this project instead of helping with NRefactory 6? NRefactory has 100s of refactorings and code issues and have been porting them over to use Roslyn over the last few months.

They have also just released a POC VS addin - https://visualstudiogallery.msdn.microsoft.com/68c1575b-e0bf-420d-a94b-1b0f4bcdcbcc so that everyone will benefit.

[2014-11-18 13:36] marcellalves opened #37 "Remove unused references"

[2014-11-18 13:49] #33 closed, assigned to nobody

[2014-11-18 15:45] #35 closed, assigned to nobody

[2014-11-18 16:06] marcellalves opened #39 "Suggest switch if you have 3 or more nested if / else statements"
## Scenario 1:

[code]

Becomes

[code]
## Scenario 2:

[code]

Becomes

[code]

This is an `Information`.
It uses diagnostic id `CC0019`.

[2014-11-18 16:35] #4 closed, assigned to ElemarJR

[2014-11-18 19:26] marcellalves opened #40 "Suggest nameof when encounter a string with the same name of a parameter"
[code]

Becomes:

[code]

Should work with properties as well.

This is a `Warning`.
It will use diagnostic id `CC0021`.

The analyzer should offer a diagnostic if the project is using C# 6.

@aterribili is working on it

[2014-11-18 20:39] ElemarJR opened #41 "Review Rules ID and Descriptions"
Following orientation of Srivatsn Narayanan

[2014-11-18 21:07] ElemarJR opened #42 "Create PropertyChangedEventArgs statically"
Implement a C# version of @ljw1004 Analyzer/CodeFix

As he describes it:

Sample Video in https://pbs.twimg.com/tweet_video/B2tTZRNCIAAHlqx.mp4

Reference implementation (VB) in

https://github.com/ljw1004/dotnet-code-analyzer/blob/master/dotnet-code-analyzer/Analyzer_XamlAppTips/UseStaticChangedCS.vb

This is essentially a refactoring, so we are classifying it as a `Hidden` diagnostic.
Diagnostic

[2014-11-19 11:19] julianosaless opened #44 "Excess parameters in methods"
When the method has more than three parameters , suggesting a new class.

Before

[code]

After:

[code]

Category is `Style`.
Diagnostic id is `CC0044`.
This is essentially a refactoring so we will use a `Hidden` diagnostic.
@julianosaless is working on it.

[2014-11-19 11:40] marcellalves opened #45 "Warning if there is a comment block with 5 lines or more"
This could be a warning, to make the developer rethink about the usefulness of a comment that long.

[2014-11-19 15:47] egomesbrandao opened #46 "Integration GitHub - IFFTT Test"
<<Do not considerer>>

[2014-11-19 16:14] #46 closed, assigned to nobody

[2014-11-19 18:11] giggio opened #47 "Allow user to download custom combination of analyzers and refactorings"
**This is a low priority issue, if you want to work on it please read the comments**

CodeCracker is bringing together tens of different analyzers and refactorings and very soon it will gather hundreds. Not everyone will want to use all of them. This issue focuses on allowing the user to choose whatever combination of analyzers and refactorings they want and generate a custom package. A plus would

[2014-11-19 18:32] ElemarJR opened #49 "Convert Lambda to Method Group whenever it's possible"
Replaces

[code]

with

[code]

Being worked on by @sqdavid
This is a `Hidden` dianostic.
Category is `Style`.
Diagnostid id is `CC0020`

[2014-11-19 18:34] #6 closed, assigned to ElemarJR

[2014-11-19 20:51] brenoferreira opened #50 "Generate Equals() and GetHashCode() for reference types"
Generate `Equals` and `GetHashCode` methods for reference types, similar to what Resharper does https://www.jetbrains.com/resharper/documentation/help20/AdvEditing/generateEquals.html and following the guidelines in http://msdn.microsoft.com/en-us/library/ms173147(v=vs.80).aspx

Only **reference types**. For value types see #60.

This:

[code]

Becomes:

[code]

This is essentially a refactoring,

[2014-11-20 15:52] giggio opened #52 "When do we apply the up-for-grabs tag?"
We have the up-for-grabs tag to allow [http://up-for-grabs.net/](up-for-grabs.net) to suggest features people can help us. But when is something up for grabs? What is the criteria? Does it have to be `Ready`? And if it is `Ready`, when is it up for grabs and when is it not?

[2014-11-20 15:54] giggio opened #53 "Create a build server and build every push and pull request"
This is not easy, ideally this would be automatic, but I don't see it happening easily. Unless we are able to do it using Linux, then we could use tools like SnapCI or Travis.

**Update:**

Done: https://ci.appveyor.com/project/code-cracker/code-cracker

[2014-11-21 00:34] #53 closed, assigned to giggio

[2014-11-21 01:37] israelaece opened #55 "Detect direct event invocation"
Replaces:

[code]

With:

[code]

Ref: http://broadcast.oreilly.com/2010/09/understanding-c-raising-events.html
This is an `Warning` diagnostic.
Diagnostic Id is `CC0016`.

@israelaece is working on it.

[2014-11-21 13:42] ElemarJR opened #56 "Shouldn't we support VB?"

[2014-11-22 00:38] israelaece opened #58 "Analyzer/Fix for Frameworks"
Can we include in the CodeCracker analyzers (and fix) to frameworks like ASP.NET Web API, MVC, WCF, etc.?

For example, doesn't make sense a method named Post return void (Web API controller).

What do you think?

**Update**:
We decided for: **yes**

[2014-11-22 00:50] israelaece opened #59 "Struct vs. Keyword"
Particularly I don't like use struct type instead of language type keyword.

`int` vs. `Int32`
`long` vs. `Int64`
`bool` vs. `Boolean`
`string` vs. `String`

Elemar already resolved this on declaration time, using `var` keywork.

I don't know if it's possible, but what do you think to replace these in the whole document?

[2014-11-22 00:58] israelaece opened #60 "Implement IEquatable<T> on Value Types"
See Jared Parsons [blog post](http://blogs.msdn.com/b/jaredpar/archive/2009/01/15/if-you-implement-iequatable-t-you-still-must-override-object-s-equals-and-gethashcode.aspx) for details of why this is important and the MSDN article on [IEquatable<T> Interface](http://msdn.microsoft.com/en-us/library/ms131187%28v=vs.110%29.aspx).
Also quoting MSDN:

`Equals` implementation follows the one suggested

[2014-11-22 16:36] giggio opened #61 "Check null on event to avoid race condition when invoking it"
The whole explanation of why this is important is on [Eric Lippert's blog](http://blogs.msdn.com/b/ericlippert/archive/2009/04/29/events-and-races.aspx).

So this:

[code]

Becomes:

[code]

or

[code]

This would be an `Error`.
Diagnostic id is `CC0026`
This is similar to #55 but different.

[2014-11-22 23:52] #59 closed, assigned to nobody

[2014-11-23 15:19] #58 closed, assigned to nobody

[2014-11-25 01:25] giggio opened #65 "Change from as operator to direct cast or the opposite"
This:

[code]

Becomes:

[code]

Or the opposite, turn a direct cast into an expression with the `as` operator.

Severity is `Hidden`.
Diagnostic id is `CC0028`.
Category: `Refactoring`

[2014-11-25 01:30] giggio opened #66 "Prefer Hidden diagnostics to Refactorings"
I just suggested item #65. At first I thought I would do a refactoring issue, but if I use a `Hidden` diagnostic I can get the code fix by using Ctrl+. and have nothing output to the Error List or during compilation.

Should this be a rule? Why would I prefer an explicit refactoring? What is the difference?

[2014-11-25 02:14] viniciushana opened #68 "Guidelines for branch integration and commit messages"
With the great attention this project has been receiving in the past weeks, its development rhythm tends to scale upwards with time.

Therefore, it's really important to start to follow some guidelines in order to have a more cohese commit structure and I'd start this with defining good practices for incoming PRs.

We could start off with:
- Commit messages must be written starting with a s-form v

[2014-11-25 16:38] ElemarJR opened #69 "Regex Analyzer/CodeFix tests ignores local culture"
Failing to run tests in a PT-BR (any non-english) culture, because the tests are "english only"

Error is `parsing "[" - Unterminated [] set.` and `analisando "[" - Conjunto [] não finalizado.`.

[2014-11-25 16:45] ElemarJR opened #70 "TernaryOperatorAnalyzer throwing NullReferenceException"
Analyzing this code

[code]

@giggio I think that's your thing. ;)

[2014-11-25 18:50] #39 closed, assigned to ElemarJR

[2014-11-25 18:50] #69 closed, assigned to ElemarJR

[2014-11-25 23:20] #70 closed, assigned to giggio

[2014-11-26 10:56] israelaece opened #73 "One physical file per Analyzer/CodeFix"
What do you think to group into a single physical file the Analyzer and Code Fix class? Somenthing like this:
- AlwaysUseVar.cs
- ArgumentException.cs
- CatchEmpty.cs
- ConvertToSwitch.cs

[2014-11-26 16:05] giggio opened #74 "When changing ifs to switch comments are lost"
This was found on the code fix provided by issue #39 and PR #71.

If you add a comment to the ifs and elses that comment is lost. So this

[code]

Should become:

[code]

Also note that comments on the first `if` will produce a comment on the `switch` statement while on the second `if` statement it will produce a comment on the `case` statement.

[2014-11-26 20:38] giggio opened #76 "Offer diagnostic to allow for ordering members inside classes and structs"
Allow to change the order of class member (methods, properties, fields, constructor, destructor, events, etc) so they are in a predefined structural order and alphabetical.

This is a analysis and diagnostic only. Several different orderings will be available.

This is a `Hidden` diagnostic, and will be available at the class definition, only at the text span of the class name.
Diagnostic Id is: `

[2014-11-26 20:54] vbfox opened #77 "Convert and suggest conversion between the different types of string formatting / concatenation"
I open this issue to discuss integrating the string transformations I have in my library at https://github.com/vbfox/KitsuneRoslyn/tree/master/src/KitsuneRoslyn/StringConcatenation in CodeCracker.

The operation currently present are :
- Convert `string.Concat` calls to either a single string if is used directly with Literal strings as parameters.
- Convert `string.Concat` or to a format string (W

[2014-11-26 21:13] vbfox opened #78 "Descriptions and HelpLinks"
**Update (12/1/2014):**
**The idea is accepted and now every diagnostic will need description and help link.**

Since the last release of VS14 diagnostics can provide descriptions and help links. Both appear when a code fix is available for the diagnostic under a fold (arrow in the top left) :

![description](https://i.imgur.com/QFY46kE.png)

I think that all diagnostics should provide a descripti

[2014-11-26 22:42] #77 closed, assigned to nobody

[2014-11-27 10:39] ElemarJR opened #79 "Make a variable const whenever it's possible"
[code]

Becomes

[code]

This is an `Info`.
Diagnostic id `CC0030`.

[2014-11-27 10:42] ElemarJR opened #80 ""async void" should not be used"
This:

[code]

Becomes:

[code]

It's safe to assume that other than something looking like void (sender object, T e) where T:EventArgs is a wrong use of async void.

Severity: `Warning`
Diagnostic Id: `CC0077`
Category: `Usage`

@robertorodrigues is working on it.

[2014-11-27 19:22] #74 closed, assigned to ElemarJR

[2014-11-27 19:42] #40 closed, assigned to nobody

[2014-11-27 22:34] vbfox opened #83 "CodeActions should have an ID"
There is something important in the last version of Roslyn for CodeFixes : The `id` passed to `CodeAction.Create`.

This `Id` is the indicator that the `FixAllProvider` (At least `WellKnownFixAllProviders.BatchFixer`) uses to trigger.

If it isn't specified like :
[code]

The code fix appear like that :

![Without](https://i.imgur.com/v6ctznw.png)

But if it is specified:
[code]

New options appea

[2014-11-28 02:23] ElemarJR opened #84 "Warn when a method is too complex"
Considering cyclomatic complexity

[2014-11-28 02:24] ElemarJR opened #85 "Extend CC0068 (Private method not used) to other members beyond methods"
Right now `CC0068` only works with methods. Extend it to work with other types of members.

These should also be handled:
- Fields
- Properties
- Delegates
- Events
- Inner types (class or struct)
- Inner Enums

Existing rules for methods on that analyzer should be kept.

The code fix should be slightly changed, but not much. Essentially, it should remove the member.

[2014-11-28 02:29] ElemarJR opened #86 "Detect read-only private fields and fix adding the "readonly" modifier"
We have to verify that the field is not set anywhere in the class.
In no case should the diagnostic be reported if it would break the code when the code fix (making the field read only) is applied.
This is for **private** fields only.

This:

[code]

Becomes:

[code]

This is an `Info`.
Category is `Usage`
Diagnostic id: `CC0052`

[2014-11-28 02:32] ElemarJR opened #87 "Invert loop for 0..n and n..0"
Changes this:

[code]

To this

[code]

This is essentially a refactoring, so we are classifying it as a `Hidden` diagnostic.
Category is `Style`.
Diagnostic id is: `CC0042`

[2014-11-28 02:32] ElemarJR opened #88 "Invert if"
This is essentially a refactoring, so we are classifying it as a `Hidden` diagnostic.

[2014-11-28 03:54] #79 closed, assigned to ElemarJR

[2014-11-28 04:30] #55 closed, assigned to nobody

[2014-11-28 11:58] #61 closed, assigned to nobody

[2014-11-28 15:49] #13 closed, assigned to giggio

[2014-12-01 01:13] giggio opened #95 "Fix analysis for CC0029 (DisposablesShouldCallSuppressFinalizeAnalyzer)"
Fix issues being discussed on #92.

[2014-12-01 01:18] ElemarJR opened #96 "Warning potential null in fields, variables and arguments"
[code]

becomes

[code]

Diagnostic id is `CC0040`
Category is `Reliability`.
Severity is: `Info`.

[2014-12-01 01:46] #66 closed, assigned to nobody

[2014-12-01 01:54] #56 closed, assigned to nobody

[2014-12-01 02:00] #52 closed, assigned to nobody

[2014-12-01 02:15] #20 closed, assigned to nobody

[2014-12-01 02:15] giggio opened #97 "Update all analyzers to use the supported categories"
Supported categories are (definitions come from [Microsoft](http://msdn.microsoft.com/en-us/library/ee1hzekz.aspx)):
- Design<br />
  Design warnings support adherence to the .NET Framework Design Guidelines.
- Globalization<br />
  Globalization warnings support world-ready libraries and applications.
- Interoperability<br />
  Interoperability warnings support interaction with COM clients.
- Mai

[2014-12-01 02:17] #45 closed, assigned to nobody

[2014-12-01 02:21] giggio opened #98 "Remove commented code"
If code is commented, it should be removed.

This:

[code]

Becomes:

[code]

This is an `Info`.
This is category `Style`.
Diagnostic id is `CC0037`.

Any valid C# code should trigger the diagnostic. It only has to be syntactically correct, not semantically.

[2014-12-01 02:25] #19 closed, assigned to giggio

[2014-12-01 02:27] giggio opened #99 "Add code coverage metrics"
We don't want to allow commits and PRs without tests. So we will add some tooling to make sure they are there.
Bellow some point the build should break on AppVeyor.

[2014-12-01 02:30] giggio opened #100 "Run Analysis on a large OSS project and make sure it does not throw"
Sometimes our analyzers throw exceptions when used on real code. The tests alone are not able to make sure they are not breaking, as they are limited by the programmers perspective. We should be able to compile a large open source project and make sure the analyzers don't throw.
The idea is to have a simple command line tool that we can run that will clone some project, run the analyzers and fail

[2014-12-01 13:31] AlbertoMonteiro opened #101 "Convert method body to expression bodied member when applicable"
When your method body only have one statement and this is a return statement, convert method body to lambda expression.

This

[code]

Should be converted to this

[code]

Should work also for properties, user defined conversions, and indexers. See [here](https://roslyn.codeplex.com/discussions/540574) for more info.

This is essentially a refactoring, so we will use a `Hidden` severity.
The categ

[2014-12-01 15:06] #78 closed, assigned to nobody

[2014-12-01 15:35] #73 closed, assigned to nobody

[2014-12-02 12:35] ElemarJR opened #104 "Use 'nameof' whenever it's possible"
[code]

becomes

[code]

We should check every string and compares it with paramenter names.

Applicable only for C# 6

[2014-12-02 15:28] #104 closed, assigned to nobody

[2014-12-02 21:13] #101 closed, assigned to ElemarJR

[2014-12-03 16:28] sharwell opened #107 "CC0029 should not be reported for Dispose(bool)"
Currently CC0029 is reported if `Dispose(bool)` does not contain a call to `GC.SuppressFinalize`. This is not correct; the call to `GC.SuppressFinalize` should be in the method which implements `IDisposable.Dispose()` (which may be an explicit implementation of the interface method).

This is a sub-task of #95.

[2014-12-03 16:28] sharwell opened #108 "CC0029 should not be reported for structs"
Currently CC0029 is reported for `struct` types. This is not correct, because these types cannot have user-defined finalizers.

This is a sub-task of #95.

[2014-12-03 16:29] sharwell opened #109 "CC0029 should not be reported for some sealed types"
If a type is sealed *and* does not have a user-defined finalizer, then CC0029 should not be reported for the type.

This is a sub-task of #95.

[2014-12-03 16:36] sharwell opened #110 "CC0029 should not be reported for some types with private constructors"
If a type does not have any publicly accessible constructors *and* the type does not have any user-defined finalizers, then CC0029 should not be reported for that type. A type does not have any publicly accessible constructors if any of the following are true:

1. The type has at least one user-defined instance constructor, *and* all user-defined instance constructors are marked `private`.
2. The

[2014-12-03 17:07] sharwell opened #111 "NullReferenceException in ArgumentExceptionAnalyzer"
When an `ArgumentException` is thrown within a constructor, a `NullReferenceException` is thrown in `ArgumentExceptionAnalyzer` because the expression is not contained within a `MethodDeclarationSyntax`.

[2014-12-03 17:24] sharwell opened #112 "ArgumentExceptionAnalyzer ignores several code constructs"
Currently `ArgumentExceptionAnalyzer` assumes the exception is thrown within a method. Several other code constructs have parameters:

* Lambda expressions (both parenthesized and simple)
* Indexer properties
* Certain accessors (`set`, `add`, and `remove`) have an implicit `value` parameter

[2014-12-03 17:25] sharwell opened #113 "ArgumentExceptionAnalyzer ignores nested code constructs"
In some cases, multiple parameter lists may be in scope for an `ArgumentException`. In particular, this applies to lambda expressions defined within a method, or nested within another lambda expression.

[2014-12-04 02:18] ElemarJR opened #116 "Check arguments in String.Format"
Check if number of arguments passed to `string.Format` is correct. Just analyzer, no codefix.

Category: `Usage`
Severity: `Error`
Diagnostic Id: `CC0056`

[2014-12-04 02:18] #87 closed, assigned to ElemarJR

[2014-12-04 02:22] ElemarJR opened #117 "Compute value of an expression and replaces it whenever it's possible"
`Console.WriteLine(1 + 1)` becomes `Console.WriteLine(2)`

This is `Hidden` and `Refactoring`.
Diagnostic Id: `CC0082`

[2014-12-04 02:24] ElemarJR opened #118 "Convert '==' to 'Equals' and reverse"
This:

[code]

Becomes:

[code]

Category: `Refactoring`
Severity: `Hidden`
Diagnostic ID: CC0085 (converting `==` to `Equals`)
Diagnostic ID: CC0086 (converting `Equals` to `==`)

[2014-12-04 02:27] ElemarJR opened #119 "Convert numeric literal from decimal to hex and hex to decimal"
Category: `Refactoring`
Severity: `Hidden`
Id: `CC0079`

[2014-12-04 02:32] ElemarJR opened #120 "Use String.Empty instead """
[code]

Becomes

[code]

`Style`, `Info`

Diagnostic Id: `CC0084`
Severity: Hidden
Category: Style

[2014-12-04 02:45] ElemarJR opened #121 "Warn possible NullReferenceException"

[2014-12-04 02:52] ElemarJR opened #122 "Convert anonymous delegate to lambda expression"
This:

[code]

Becomes:

[code]

Diagnostic id: `CC0107`
Severity: Hidden
Category: Refactoring

[2014-12-04 02:54] ElemarJR opened #123 "Convert Nullable<T> to T?"
The Nullable type has been defined not using the C# shorthand. For example, Nullable<DateTime> has been used instead of the preferred DateTime?

A violation of this rule occurs whenever the Nullable type has been defined without using the shorthand C# style.

To fix a violation of this rule, use the shorthand version of the nullable type ie. int?, DateTime?, etc.

[code]

becomes

[code]

This is

[2014-12-04 02:56] ElemarJR opened #124 "Simplify redundant Boolean comparisons"
[code]

becomes

[code]

Diagnostic Id `CC0049`
Severity is `Info`, Category is `Usage`.

[2014-12-04 02:58] ElemarJR opened #125 "Remove redundant 'this' qualifier"

[2014-12-04 08:26] ElemarJR opened #126 "How avoid duplicated work and to provide an full end-user solution"
There are a lot of analyzers/fixers that we could /should to provide that are already planned /implemented in DotNetAnalyzers.

How could we avoid this duplication and still provide a full solution for end-users.

I've been thinking about some tool to import code.

[2014-12-04 11:00] #125 closed, assigned to nobody

[2014-12-04 16:31] ElemarJR opened #128 "Define a naming convention for Analyzer, CodeFix and Test classes"
We should to adopt some naming convention. We are already using the suffixes: Analyzer, CodeFixProvider and Tests. But I think we could improve it:

`<Code><Verification/Fix><Analyzer|CodeFixProvider|Tests>`

Example:

`CC0006ReplacesDeclaringTypeWithVarAnalyzer`

What do you think?

[2014-12-04 17:39] ElemarJR opened #129 "Iterate via 'foreach'"
Works on an expressions or values that could be iterated with 'foreach' statement.

Generates a 'foreach' statement iterating the expression.

I think this as a refactoring. So, with an iterable like that

[code]

We could generate something like

[code]

Style: `Refactoring`
Severity: `Hidden`

[2014-12-04 17:42] ElemarJR opened #130 "Split 'if' with '&&' condition into nested 'if'-statements"
[code]

becomes

[code]

Category: `Refactoring`
Severity: `Hidden`
ID: `CC0076`

[2014-12-04 17:44] ElemarJR opened #131 "Merge nested if statements"
[code]

Becomes:

[code]

Category: `Refactoring`
Severity: `Hidden`
ID: `CC0075`

[2014-12-04 17:45] #111 closed, assigned to ElemarJR

[2014-12-04 17:47] ElemarJR opened #132 "Verifies if "reference type" parameters are null"
[code]

becomes

[code]

Style: `Refactoring`
Severity: `Hidden`
Id: `CC0078`

@clklachu is working on it.

[2014-12-04 18:30] giggio opened #133 "Change from string.Format to string interpolation"
So this:

[code]

Becomes:

[code]

Only for C# 6.

This is in Category `Style` and is an `Info`.
Diagnostic id is `CC0048`
To learn how `string.Format` works check [the MSDN article](http://msdn.microsoft.com/en-us/library/system.string.format%28v=vs.110%29.aspx).

[2014-12-04 20:09] ElemarJR opened #134 "Regex "Smart Comments""
What if we start to use roslyn for unit testing of things like Regular expressions?

Consider:

[code]

:)

[2014-12-05 10:33] #27 closed, assigned to nobody

[2014-12-05 12:00] ElemarJR opened #136 "Screenshots of Analyzers and code fixers "in action""
I think that a good way to start some end-user documentation is to capture screenshots.

Like https://github.com/DotNetAnalyzers/NullParameterCheckRefactoring

We could create a `screenshots`, with a subfolder named with the analyzer ID.

[2014-12-05 12:09] ElemarJR opened #137 "Review project structure to support VB"
Like @giggio described in #56:

We will still have only one repository, this one.

We decided for a structure like this:

[code]

There will be two solutions at root /, CodeCracker.CSharp.sln and CodeCracker.VisualBasic.sln.

There will be two different Nugets, one for C#, one for VB, and two different Vsix. Maybe we can also have a third Vsix in the future with both. We will decide that later.

[2014-12-06 08:08] AdamSpeight2008 opened #138 "Common Repo for Roslyn Extension Methods"
As the community develops Roslyn based extensions (diagnostic, code-fixes, etc).
Common coding patterns could / will be revealed, these should be refactored out in to a common library that other projects can reference,
I've started a GitHub repo [RoslynExts](https://github.com/AdamSpeight2008/RoslynExts) for this purpose.

Contributions are welcome.

[2014-12-06 16:14] #138 closed, assigned to nobody

[2014-12-07 23:41] giggio opened #140 "BUG when make const sees an string interpolation (CC0030)"
This code will generate a `CC0030` (make const):

[code]

And it fixes for this:

[code]

Which is not constant (but could be made constant) and will generate a compiler error.

There are 2 possible fixes:

1) (better) makes the constant field actually constant, like this:

[code]

This involves fixing the code fix.

2) (worse, but better then now) does not generate any diagnostic.

This involves

[2014-12-08 02:01] #133 closed, assigned to giggio

[2014-12-08 10:49] #140 closed, assigned to ElemarJR

[2014-12-08 12:21] #98 closed, assigned to ElemarJR

[2014-12-08 14:12] #124 closed, assigned to ElemarJR

[2014-12-09 01:48] giggio opened #145 "Allow formating on string interpolation substitutions of string.format"
The fix introduced for #133 and PR #141 does not do the correct formatting. We can improve it, but it will require a more complex parsing of the `format` argument (the first string passed on to `string.Format`).
More info on `string.Format` can be found on [the MSDN article](http://msdn.microsoft.com/en-us/library/system.string.format%28v=vs.110%29.aspx).

So, this:

[code]

Should become:

[code]

[2014-12-09 01:54] giggio opened #146 "Update string interpolation to use new version"
**This can only be worked on and will not be ready until we have an updated Visual Studio 2015**

String interpolation is changing. The current supported syntax `"\{something}"` may be removed or not, and a new syntax `$"{something}"` might be added. Or the seconde one might change to `$@"{something}"`. Anyway, it will probably need to be updated.

More info:
[v1 design notes](https://roslyn.codep

[2014-12-10 14:52] ElemarJR opened #150 "Modify CC0037 to make set accessor private when that have code"
[code]

becomes

[code]

[2014-12-10 15:06] giggio opened #151 "Remove async and return task directly"
Sometimes an async method might only do some some sync work and then at the end await on another async method. Like this:

[code]

To optimize the generated code we could simply return the task from `SomethingElseAsync`. So the previous code becomes:

[code]

This is the decompiled C# generated on the first case (optmized, release settings):

[code]

Where in the second case it stays pretty much t

[2014-12-10 17:12] giggio opened #152 "Bug when running codefix for CC0031 (UseInvokeMethodToFireEvent) on parameters"
This method will cause an exception if you try to apply a code fix:

[code]

[2014-12-10 17:21] giggio opened #153 "Bug: Private set on props being suggested when there are inheritted members referencing"
This is related to #32 (`CC0047`), `Property private set`.

It is suggesting to use private set for types that already have inheritted classes which are using those property set methods:

![image](https://cloud.githubusercontent.com/assets/334958/5380507/cc1ca5ae-807f-11e4-9f84-af6c35ba1b1c.png)

In this case we have two options:
1. Not show any diagnostic
2. Offer to change to protected set

I pr

[2014-12-11 13:29] #150 closed, assigned to carloscds

[2014-12-11 13:29] #153 closed, assigned to carloscds

[2014-12-11 16:38] ElemarJR opened #155 "Should we accept PR with no related issue?"
Hello everyone.

I would like to find a "lower the entry barrier" for CodeCracker collaborators. What do you think about start to accept PR with no related issues? Sometimes people have a great idea and just implement it for personnal use (remember, CodeCracker is free for modification, right?). Why not to share it with the world?

Why have we to restrict this kind of collaboration?

I've been thi

[2014-12-12 22:47] giggio opened #159 "BUG on CC0047 (private set) should not report diagnostic when the property is being referenced outside the class"
Right now `CC0047` is reporting diagnostics for properties where there is a reference outside the class.
To reproduce just run the project in Visual Studio and, on the experimental instance, open the code cracker project. You will see a report on the `DiagnosticResult` struct ([code here](https://github.com/code-cracker/code-cracker/blob/7202aea275cd6e967b3a1f39b768077692c11e0f/test/CodeCracker.Te

[2014-12-12 23:08] #152 closed, assigned to nobody

[2014-12-12 23:12] giggio opened #160 "Bug when running codefix for CC0031 (UseInvokeMethodToFireEvent) on statement without block"
This code will generate `CC0031` on the MyEvent invocation, and if you try to apply the fix an exception is thrown.

[code]

@felipebz is working on it.

[2014-12-14 16:34] giggio opened #161 "Change verbatim string from refactoring to Hidden diagnostic + code fix"
See #93 for understanding. File `StringTypeCodeRefactoringProvider.cs`.

[2014-12-14 17:38] #161 closed, assigned to nobody

[2014-12-14 17:44] giggio opened #162 "BUG when using "use string interpolation" code fix with string that contains line breaks"
This `string.Format` call will be incorrectly fixed:

[code]

To this:

[code]

This is on `CC0048`.
Related to issue #133.

[2014-12-14 18:11] #162 closed, assigned to giggio

[2014-12-15 01:18] #137 closed, assigned to giggio

[2014-12-15 15:50] #160 closed, assigned to nobody

[2014-12-15 22:28] #97 closed, assigned to nobody

[2014-12-16 18:14] ElemarJR opened #164 "Abstract class ctors should not have public constructors"
[code]

May become:

[code]

or

[code]

or

[code]

It may only become private if no deriving class is already referencing it. And protected internal if no deriving class outside the assembly. In other words, should not break the code.
Category: `Usage`
Severity: `Warning`
Diagnostic Id: `CC0060`

[2014-12-19 01:31] giggio opened #165 "BUG: CC0009 (from ObjectInitializerAnalyzer) not being generated"
See:
https://github.com/code-cracker/code-cracker/blob/3247654798ec75cc6ea56704dd19b1003d7ea1cc/src/CSharp/CodeCracker/Style/ObjectInitializerAnalyzer.cs

[2014-12-21 13:52] vkairys opened #167 "Bug: CC0030 changes nullable type to const"
Analyzer is reporting that you can change

[code]

to

[code]

[2014-12-21 23:40] #30 closed, assigned to giggio

[2014-12-24 12:50] dmgandini opened #172 "Offer a fix for ordering members inside classes and structs following StyleCop patterns"
Regarding the issue [Offer diagnostic to allow for ordering members inside classes and structs](https://huboard.com/code-cracker/code-cracker#/issues/50224648).
We could offer a fix for ordering classes and structs members following [StyleCop documentation](http://www.stylecop.com/docs/Ordering%20Rules.html) as recommended by @paulomorgado .

1. [Within a class, struct, or interface, elements must

[2014-12-25 13:14] #167 closed, assigned to ElemarJR

[2014-12-25 13:31] #164 closed, assigned to ElemarJR

[2014-12-25 15:01] #165 closed, assigned to giggio

[2014-12-25 18:10] #34 closed, assigned to giggio

[2014-12-26 17:55] #76 closed, assigned to nobody

[2014-12-27 00:58] felipebz opened #175 "InvalidCastException in CC0016 and CC0031"
The following code throws an InvalidCastException in CC0016 (CopyEventToVariableBeforeFire) and CC0031 (UseInvokeMethodToFireEvent).

[code]

These analyzers are trying to convert the InvocationExpressionSyntax.Expression object to IdentifierNameSyntax, but in this case the Expression property is a MemberAccessExpressionSyntax.

[2014-12-29 01:29] giggio opened #177 "Detect read-only not private fields and fix adding the "readonly" modifier"
Related to #86 which is already solved and is specific to **private** fields. This one is specific to non private fields.

We have to verify that the field is not set according to the accessibility of field before offering the diagnostic: if it public in the whole solution, if it is protected on the whole solution only on inherited classes, internal only on the project and protected internal only

[2014-12-29 03:27] giggio opened #178 "If method returns a Task it should have the postfix "Async""
This is a convention in .NET, so:

[code]

Becomes:

[code]

The `async` keyword is not necessary for the method to have the `Async` postfix.
When renaming the method, all references have to be renamed as well and no code should break.

Category: `Style`
Diagnostic Id: `CC0061`
Severity: `Info`

[2014-12-29 03:31] giggio opened #179 "Interfaces should start with an "I""
This is a convention in .NET, so:

[code]

Becomes:

[code]

When renaming the interface, all references have to be renamed as well and no code should break.

Category: `Style`
Diagnostic Id: `CC0062`
Severity: `Info`

[2014-12-30 12:33] andrecarlucci opened #181 "Create and commit a Resharper team-shared settings file for code-cracker"
It would be really nice to have a Resharper settings file for code-cracker so a quick clean code would let the source with the style we use for this project.

[2014-12-30 14:10] #2 closed, assigned to nobody

[2014-12-30 16:12] #86 closed, assigned to giggio

[2014-12-30 17:19] andrecarlucci opened #182 "Validade Uri from System.Uri"
This:

`
var x = new Uri("wrong uri");
`

Will be marked as an `Error`.
Category is `Usage`.
Diagnostic id is `CC0063`

[2015-01-01 22:29] andrecarlucci commented on #182
Thanks, I edited my message and updated the wiki.
I will start working on this.

[2015-01-02 02:52] sqdavid commented on #175
Hello guys, Assuming that all the analysis works right, I think changing " ((IdentifierNameSyntax)invocation.Expression).Identifier.Text " in line 48/49 of the respective files by " invocation.Expression.ToString() " will solve the issue.

[2015-01-02 03:09] giggio commented on #182
Deal, it is yours.

[2015-01-02 16:24] giggio commented on #28
For anyone interested in how this turned out, I just submitted PR #183.

I had a lot of fun with data flow analysis, it is something I had only quickly used on make field const analyzer, and used a lot more on this one.

This is the end result. I will update the docs as well:

![image](https://cloud.githubusercontent.com/assets/334958/5597511/86ed7fd6-928a-11e4-8e0d-2ccc0e6bbd55.png)

[2015-01-02 17:22] giggio commented on #175
@sqdavid Wanna try to fix it? Just add a test to show the error and submit a PR.

[2015-01-02 23:39] #28 closed

[2015-01-03 03:14] giggio commented on #175
@sqdavid I fixed. You were right about the spot. I will push it soon.

[2015-01-03 03:16] #175 closed

[2015-01-03 03:47] giggio commented on #100
I will start working on this issue. The idea is to start using https://github.com/dotnet/corefx. I will clone, update all .csproj files to use our analyzers and run the builds and make sure it does not throw anywhere. Should be a simple xml transformation, followed by msbuild on each csproj and check on errorlevel.

[2015-01-03 04:08] sqdavid commented on #175
great =)

[2015-01-03 22:54] giggio commented on #15
@code-cracker/owners I am changing this from `Error` to `Warning`. I have found that it is very common to have that while I analyzed https://github.com/dotnet/corefx. I am doing this work on #100.
If you don't fell it is ok let me know.

[2015-01-04 02:58] andrecarlucci opened #188 "Validate IPAddress.Parse from System.Net"
This:
`
 System.Net.IPAddress.Parse("wrong ip");
`

Will be marked as an Error.
Category is Usage.
Diagnostic id is CC0064

[2015-01-04 03:09] andrecarlucci opened #190 "Refactor Regex and JsonNet Analyzers to be similar to UriAnalyzer"
First of all, I hate this class name: "PreRunMethodChecker". I will change it as soon as I find a better one.

Since creating Analyzers that run a method during design time to check if it would throw at runtime is a lot of copy/pasting with some tweaks, I created a helper class to simplify adding new ones.

The idea is (UriAnalyzer example):

[code]

It also has a method called "AnalyzeMethod" tha

[2015-01-04 03:38] andrecarlucci commented on #188
I'll do it :)

[2015-01-04 05:15] giggio commented on #100
Ok, corefx is done. And I have just found some bugs. :) See the last lines of the build:
https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.241

[2015-01-04 05:16] giggio commented on #100
Now I need projects suggestions to work on. I have tried Umbraco and Xunit and they are both too complex to bring into this process. @code-cracker/owners need your help.

[2015-01-04 05:22] giggio opened #192 "Null Reference BUG on ConvertToExpressionBodiedMemberAnalyzer (CC0038)"
See line 311 of the build log:
https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.241#L311
To repro, just open [corefx](https://github.com/dotnet/corefx) and build.

Here is the full log:

**Note**:
Exact cause still to be determined, as soon as anyone investigates we can update title and description to be clearer.

[2015-01-04 05:26] giggio opened #193 "Null Reference BUG on ForInArrayAnalyzer (CC0006)"
See line 313 of the build log:
https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.241#L313
To repro, just open [corefx](https://github.com/dotnet/corefx) and build.

Here is the full log:

**Note**:
Exact cause still to be determined, as soon as anyone investigates we can update title and description to be clearer.

[2015-01-04 05:29] giggio opened #194 "BUG on ReadonlyFieldAnalyzer (CC0052) when analyzing partial classes"
See line 312 of the build log:
https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.241#L312
To repro, just open [corefx](https://github.com/dotnet/corefx) and build.

Here is the full log:

This is the line that is throwing:

https://github.com/code-cracker/code-cracker/blob/1e825dc9ac024f4b383ffad27c493b2847d8d58a/src/CSharp/CodeCracker/Usage/ReadonlyFieldAnalyzer.cs#L63

[code]

[2015-01-04 13:09] #194 closed

[2015-01-04 14:24] ElemarJR commented on #155
I think this issue could be closed. Am I right?

[2015-01-04 14:58] carloscds commented on #155
@ElemarJR I think yes.

[2015-01-04 18:52] diegodfsd commented on #155
Hello guys.

I will go fix the things in the next week. You can close this PR and when I
finish it I open another PR.

On Sun, Jan 4, 2015 at 12:58 PM, Carlos dos Santos <notifications@github.com

--

*Diego Dias*Analista Desenvolvedor
Microsoft Certified Applications Developer
Microsoft Certified Technology Specialist WCF .Net 4.0 - Charter Member
<http://www.microsoft.com/learning/en/us/certific

[2015-01-04 22:46] #179 closed

[2015-01-05 00:17] giggio commented on #155
@ElemarJR @carloscds Ok, let's close. I am understanding we are fine with getting PRs for things that don't have an open or ready issue, but this is riskier, as we just might deny the idea. Right?
So, when one of those happens we just add the github labels and move on.

[2015-01-05 00:17] #155 closed

[2015-01-05 00:17] giggio commented on #155
@diegodfsd Ok, we will wait for your new PR.

[2015-01-05 00:19] felipebz commented on #193
I am working on this.

[2015-01-05 00:21] giggio commented on #188
Great!

[2015-01-05 00:22] giggio commented on #193
@felipebz Ok, it is yours!

[2015-01-05 01:11] felipebz commented on #193
Just for the record, the code in corefx causing this bug is this loop: https://github.com/dotnet/corefx/blob/0fcf5ca8c18b1cc72e6ea200745eb77fe9ff9d3b/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableStack%601.cs#L238

[2015-01-05 21:27] sharwell opened #198 "Test NameOfCodeFixProvider with keyword"
Two tests should be added in support of C# code using the `@identifier` syntax:

1. Test with a parameter name which is a C# keyword (e.g. `@object`)
2. Test with a parameter name which is *not* a C# keyword (e.g. `@obj`)

@baks is working on it.

[2015-01-06 00:48] #182 closed

[2015-01-06 15:01] #188 closed

[2015-01-06 18:24] giggio opened #201 "Remove trailling whitespace"
If a line ends with a space or tab and it is not a string, then raise a diagnostic and offer a fix to remove it.

I will use an interpunct (·) to represent trailling whitespace and a tab character (↹) to represent tabs. So this:

[code]

Becomes

[code]

Multiple characters are removed as well.

So this:

[code]

Becomes

[code]

Severity: `Info`
Category: `Style`
Diagnostic id: `CC0065`

[2015-01-06 18:25] giggio commented on #201
This is not `Ready` yet, but I want to work on it immediatelly because I want it for myself! :)
@code-cracker/owners can one you review it so I can start?

[2015-01-06 18:28] carloscds commented on #201
@giggio Ideia is remove unused spaces ?

[2015-01-06 18:29] giggio opened #202 "Remove trailling end of line"
On a code file, if a class ends with a empty line, raise a diagnostic and remove it on the fix.
New lines are shown with the paragraph character (¶).

So this:

[code]

Becomes:

[code]

Severity: `Info`
Category: `Style`
Diagnostic id: `CC0066`

[2015-01-06 20:25] andrecarlucci opened #203 "Virtual method call in constructor"
This:

[code]

Category: `Usage`
Diagnostic Id: `CC0067`
Severity: `Warning`

[2015-01-06 20:25] andrecarlucci commented on #203
I'll do it!

[2015-01-06 20:36] sharwell commented on #203
Should this be in the **Usage** category since it is a duplicate of [CA2214](http://msdn.microsoft.com/en-us/library/ms182331.aspx)?

[2015-01-06 20:46] julianosaless opened #204 "Remove private method is never used in a class"
Remove private method is never used in a class.
This example, analizer will remove privete method  "ConfigureFoo()" never used  in class

This source:

    public class Foo
    {
        public void GetFoo()
        {

        }

        public void SetFoo()
        {

        }

        private void ConfigureFoo()
        {

        }
    }

Became:

    public class Foo
    {
        public void

[2015-01-06 20:52] andrecarlucci commented on #203
I got this from resharper, I didn't notice it was also on Code Analysis.
So yes, it should. I edited there, thanks @sharwell !

[2015-01-07 03:35] sharwell commented on #202
Please tell me you wrote that backwards :expressionless:

[2015-01-07 16:32] giggio commented on #202
@sharwell what do you mean?

[2015-01-07 16:56] viniciushana commented on #9
I'm doing this one.

[2015-01-07 18:48] carloscds commented on #204
@julianosaless  Remove ou comment ?

[2015-01-07 19:09] julianosaless commented on #204
@carloscds I think that  remove is better, what do you think ?

[2015-01-07 23:30] viniciushana commented on #204
I'd go for removing. Version control systems are there for this kind of thing in case the method needs to  be brought back!

[2015-01-08 02:32] jwooley opened #205 "Convert Design fixes to VB"
Convert the Analyzers and Code Fixes in the Design folder to VB

[2015-01-08 10:05] paulomorgado commented on #201
I've always done this with find&replace. I think this is an abuse of the diagnostics infrastructure.

I really think this should be an IDE task, not compiler.

[2015-01-08 10:37] paulomorgado commented on #202
I like my code files to end with an empty line.

[2015-01-08 13:10] sharwell commented on #202
@paulomorgado Outside of certain cases in PHP where there's no choice, this request is the first time I've ever heard of someone not agreeing with you.

[2015-01-08 13:15] paulomorgado commented on #202
Which is the definition of being wrong. :smile:

Never touched PHP and hope to be able to say that for a long time to come. :smile:

[2015-01-08 13:34] giggio commented on #202
Hm.. I never leave an empty line, I actually remove them. So I understand that this is not consensus. I think I will remove it... :(
Why do you leave an empty line at the end?

[2015-01-08 13:45] sharwell commented on #202
1. A legacy habit (some languages require it and/or are prone to compile-time errors if they are omitted).

2. Makes it easier to copy the text from the file and insert it somewhere.

3. Omitting the final newline breaks the **Copy** command functionality on the last line of the file in Visual Studio when no text is selected. Normally copying a line in this manner allows you to paste it at any cha

[2015-01-08 13:46] paulomorgado commented on #202
That makes all lines with block ending `}`s end with a "new line".

But just one. Which also satisfies no more than one consecutive blank lines.

From the top of my mind, if you search for `[ \t]+\r\n' and replace it with `\r\n`, it will clean all trailing spaces and tabs.

Replacing `^(\r\n){2,}` with `\r\n`will remove lines after empty lines.

[2015-01-08 13:59] giggio commented on #202
Ok, a lot to do with copying and pasting. I use VsVim (and vim mode everywhere I can), so this is not an issue to me, as copying and pasting is much more intelligent in Vim. I rarely use the mouse as well.
So, what to make of this? Transform it into a "remove more than one consecutive line break" everywhere, just at the end of the file? What do you think?

[2015-01-08 14:27] sharwell commented on #202
Directly related to the following issues:

DotNetAnalyzers/StyleCopAnalyzers#108
DotNetAnalyzers/StyleCopAnalyzers#114
DotNetAnalyzers/StyleCopAnalyzers#119

Indirectly related to the broader complete set of [layout diagnostics](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues?q=label%3Alayout+label%3Adiagnostic).

[2015-01-08 18:07] carloscds commented on #204
@julianosaless Go ahead!

[2015-01-08 19:38] ElemarJR commented on #204
If you comment, an analyzer that I wrote sometime ago will recommend you to remove.

[2015-01-08 23:12] julianosaless commented on #204
I'll develop this issue, Thank you all so much :)
@working

[2015-01-09 00:30] carloscds commented on #32
Change analyzer to Hidden.

[2015-01-09 11:41] #159 closed, assigned to carloscds

[2015-01-09 17:22] giggio commented on #205
@jwooley Why only the design folder? https://github.com/code-cracker/code-cracker/tree/master/src/CSharp/CodeCracker/Design

[2015-01-09 17:51] #178 closed

[2015-01-09 18:31] jwooley commented on #205
I was trying to break this down by pieces rather than having a single task for all VB conversions. I already have most of the design ones fixed and started on the perf ones anyway. I didn't want to create work items for each analyzer/fix/test combo at this time. We can handle it which ever way you want of course. I'm not as familiar with this board structure yet.

[2015-01-09 18:48] carloscds commented on #205
@jwooley Thanks Jim.

[2015-01-10 22:09] giggio commented on #203
Go for it, @andrecarlucci.

[2015-01-10 22:12] giggio commented on #201
@carloscds the idea is to remove spaces after code, to the right. I use [Trailling Whitespace Visualizer](https://visualstudiogallery.msdn.microsoft.com/a204e29b-1778-4dae-affd-209bea658a59) to show it to me.
See:
![image](https://cloud.githubusercontent.com/assets/334958/5693464/029e05a8-9905-11e4-9de6-3463d6398e5f.png)

[2015-01-10 22:13] giggio commented on #201
@paulomorgado Not everyone writing C# is doing it on an IDE anymore. :) Why is this an abuse? People can turn it off if they want. Do you think it should come off by default?

[2015-01-10 22:42] giggio commented on #202
@code-cracker/owners need your opinion here.

[2015-01-11 14:26] #193 closed

[2015-01-11 14:28] giggio commented on #192
@ElemarJR This is the last one. Fix it and we will be able to allow for the external analysis (running on corefx) to break the build!

[2015-01-11 14:46] giggio opened #209 "BUG on UriAnalyzer when analyzing an expression"
This code:

[code]

Is raising an error diagnostic on `CC0063`. It shows a `NullReferenceException` on the `new Uri(args[0].ToString())` statement. I am guessing the `UriAnalyzer` is trying to call `new Uri` and can't find `args`.
I have disabled the analyzer on our dogfooding.

[2015-01-11 14:47] giggio commented on #209
@andrecarlucci this one is your baby. I would like you to fix it, because you know the internals better than anyone. What do you think?

[2015-01-11 18:43] #209 closed

[2015-01-11 18:50] giggio commented on #204
Guys, this is not `Ready` yet. We need diagnostic Id, category, severity and a significant test case on the description. @julianosaless can you add it, please?

[2015-01-11 18:51] giggio commented on #205
@jwooley Ok, I hadn't understand. So you are already working on it?

[2015-01-11 18:56] giggio commented on #99
Code coverage added:
<a href='https://coveralls.io/r/code-cracker/code-cracker?branch=master'><img src='https://coveralls.io/repos/code-cracker/code-cracker/badge.png?branch=master' alt='Coverage Status' /></a>

[2015-01-11 18:56] #99 closed

[2015-01-11 19:37] AdamSpeight2008 opened #213 "Namespaces and Folder Structure"
As we are starting to get more and more analyzers it would be a good to restructure to namespaces and folder layout. (Physical and Project Folderx)

Also this would correspond to the namespace

[code]

[2015-01-11 19:53] AdamSpeight2008 opened #214 "CodeCracker Base Classes?"
The base class for all CodeCracker Analyzers

[code]
Now a base class for CSharp Analyzers

[code]
The one for each category, (This case Design)
[code]
The implement the analyzer. ( CatchEmpty )
[code]

Also have similar ones for CodeFixes.

[2015-01-11 19:57] jwooley commented on #213
I've been working on a number of VB versions of the analyzers. It would be good to consider a \common root level structure as well for utility methods, and common test components.

[2015-01-11 20:03] AdamSpeight2008 commented on #214
Then we could create a set of VS Template Projects, to aid creating analyzer / codefixes.

[2015-01-11 20:09] jwooley commented on #214
Is this in the repository at this time or just a proposal? It would make sense to add this, but could mean refactoring any code that's already been created. If you want to have this agree with the existing C# analyzers, all properties except for DiagnosticId should be Friend rather than Public, although there is a benefit for public for testing purposes.

The following change should be made to the

[2015-01-11 20:10] jwooley commented on #205
I have started working on some of them if for no other reason to help me learn more. I haven’t checked anything in as I was waiting to hear if work was approved on it. It looks like Adam Speight may be doing some similar work as well.

From: Giovanni Bassi [mailto:notifications@github.com]
Sent: Sunday, January 11, 2015 1:51 PM
To: code-cracker/code-cracker
Cc: Jim Wooley
Subject: Re: [code-cracke

[2015-01-11 20:15] AdamSpeight2008 commented on #214
@jwooley  proposal and code is open to criticism and improvement. Just created it to start the discussion.

[2015-01-11 20:18] jwooley commented on #214
I would recommend not including the Underscore in the name. Consider using Public MustInherit Class CodeCrackerAnalyzerBase instead.

Are you already working to implement VB code fixes? I don’t see any checked in at this point and started work on my side on some already.

Sent from Windows Mail

From: Adam Speight
Sent: ‎Sunday‎, ‎January‎ ‎11‎, ‎2015 ‎3‎:‎15‎ ‎PM
To: 'code-cracker/code-cracker'
C

[2015-01-11 20:19] AdamSpeight2008 commented on #205
I was but I think my Visual Studio installation is FUBAR-ed,

[2015-01-11 20:25] AdamSpeight2008 commented on #214
I was but I think my installation is FUBAR-ed. So I'm currently in the process of build a new VM and installation.
The underscore is the backing field of the property.

[2015-01-11 20:26] jwooley commented on #214
I was referring to the underscore in the base class name. I agree with underscores for backing fields at least in VB.

Sent from Windows Mail

From: Adam Speight
Sent: ‎Sunday‎, ‎January‎ ‎11‎, ‎2015 ‎3‎:‎25‎ ‎PM
To: 'code-cracker/code-cracker'
Cc: Jim Wooley

I was but I think my installation is FUBAR-ed. So I'm currently in the process of build a new VM and installation.
The underscore is the ba

[2015-01-11 20:30] AdamSpeight2008 commented on #214
Why? It can make things easier to read than just using Pascal casing.

[2015-01-11 20:45] jwooley commented on #214
It doesn’t agree with the Code Analysis or .Net framework guidelines.

I did see a number of syntax errors in the code you posted originally. Here’s a proposed revision of the base class with those errors corrected:

Imports Microsoft.CodeAnalysis.Diagnostics

Imports Microsoft.CodeAnalysis

Public MustInherit Class CodeCrackerAnalyzerBase

    Inherits DiagnosticAnalyzer

    Public ReadOnly Prop

[2015-01-11 20:56] jwooley commented on #214
Adding Description to the base class:

Imports Microsoft.CodeAnalysis.Diagnostics
Imports Microsoft.CodeAnalysis

Public MustInherit Class CodeCrackerAnalyzerBase
    Inherits DiagnosticAnalyzer

    Public ReadOnly Property DiagnosticID As String = ""
    Public ReadOnly Property Title As String = ""
    Public ReadOnly Property Category As String = ""
    Public ReadOnly Property Severity As Dia

[2015-01-11 21:32] jwooley commented on #214
Another issue. The ID needs to be public const or shared in order for it to be accessible by the code fix without requiring an instance. Since const can't be changed from a inheriting member and you can't override shared values ID is going to be a bit trickier to handle. I'm struggling to come up with a solution that doesn't require more code than we are buying from the inheritance implementation.

[2015-01-11 22:02] AdamSpeight2008 commented on #214
@jwooley We can use a static constructor to create the pseudo-constant ID.
[code]

[2015-01-11 22:29] jwooley commented on #214
The field should be protected, not friend. The problem with this design is you can’t refer to it from the code fixes without an instance of the analyzer. Also, using a shared field will reset the value globally on the type each time another analyzer is created thus this isn’t thread safe. A common module feels like the best solution. I’m going back and forth between using a separate module per fol

[2015-01-12 00:11] AdamSpeight2008 commented on #214
**Project:** CodeCracker.Common
[code]
Now a separate DLL / NuGet package.

**Project:** CodeCracker.Bases

`HelpLink` is now inside the CodeCracker.Analyzer base class.

[code]
Separate DLL/ NuGet packace

**Project:** CodeCracker.Bases.VB
A corrisponding one for CSharp `CodeCracker.Base.CSharp`
[code]
Each language specific project being a separate DLL / NuGet.

## Analyzers

[code]

Rewritten u

[2015-01-12 10:57] giggio commented on #213
@AdamSpeight2008 The project is already structured separated by language, both for tests and source. We have discussed it in the past, it is on the closed issues somewhere.
We also discussing having a folder for each Analyzer/Fix pair, but that idea was thought to be unnecessary.
@jwooley Yes, we will have to do that. At this moment it would require some coordination. I prefer we let duplication h

[2015-01-12 10:57] #213 closed

[2015-01-12 11:00] giggio commented on #205
@jwooley Try to create a Pull Request as soon as possible so we can help you. A big bag PR is harder to work on.
@AdamSpeight2008 don't use the 2013 version, it won't work. A lot has changed.
You can reset the VS 2015 experimental instance with this command:

[code]

[2015-01-12 11:13] giggio commented on #214
I like the idea. I will keep the issue open so we remember. This type of design work on the project will be done by the maintainers. I will probably do it myself.
@code-cracker/owners I was already thinking of doing this, @AdamSpeight2008 brought it up. Can I work on it? What do you think? I can look at their ideas and see what fits best.
Also, I am don't think it is the time to add a common base

[2015-01-12 11:53] julianosaless commented on #204
@giggio  I updated a issue :)

[2015-01-12 11:55] viniciushana commented on #214
I think it makes sense. Go ahead!

[2015-01-12 19:39] giggio commented on #204
@julianosaless I don't think this is `Style`. Maybe `Using`?
And `CC0063` is taken. See the diagnostics table: https://github.com/code-cracker/code-cracker/wiki/DiagnosticIds
You can grab a number there and update the table.

[2015-01-12 20:16] julianosaless commented on #204
@giggio, thanks for tips,I agree with you, "Using" is better that "Style"

[2015-01-12 20:46] jwooley commented on #204
In some of the  base class discussions on the VB port, we found that it might make sense to have the ID’s managed in a single static class as consts so that they can be accessed globally from the Analyzer,  CodeFix, and Unit Test without the need to imbed it in each analyzer separately. See issue 214 https://github.com/code-cracker/code-cracker/issues/214

Sent from Windows Mail

From: Giovanni Ba

[2015-01-12 22:04] AdamSpeight2008 commented on #214
@giggio Think it as separating concerns and as separate GitHub project under the CodeCracker GitHub Organisation.

By separating **SupportedCategories** out into a project and thus separate DLL and nuget package. As it not likely this will be regularly changed. So why not just import it. **CodeCracker.SupportedCategories**

**DiagnosticIDs** will be updated fairly frequently but doesn't affect mos

[2015-01-12 22:11] AdamSpeight2008 commented on #205
@giggio Previously tried it. So fresh install it was.

[2015-01-12 22:29] AdamSpeight2008 commented on #205
By use [this](https://github.com/code-cracker/code-cracker/issues/214#issuecomment-69655421) proposal. By simply changing the language referred to in inheritance, it'll reveal the aspects of the code that need to be changed for compatibility.

[2015-01-12 23:01] giggio commented on #214
@AdamSpeight2008 I think a lot of what you are saying makes sense. When I start to work on it I will propose the changes on a PR and we can all review together.

[2015-01-12 23:04] giggio opened #215 "Build with PSake and kill (almost) all scripts"
Right now we have a lot of different .ps1 scripts.
I will kill most of those and provide a single build script. Also, `appveyor.yml` will mostly call into it.

[2015-01-12 23:39] AdamSpeight2008 commented on #214
@giggio
To kick of the review bring this two in to CodeCracker organisation
https://github.com/AdamSpeight2008/CodeCracker.Common
https://github.com/AdamSpeight2008/CodeCracker.Bases

[2015-01-13 05:35] jwooley commented on #214
There's a bug in the base constructor that causes VS to hang on unit tests and local debugging. You need to initialize the _Diagnostics immutable array as well.

    Friend Sub New(ID As String, Title As String, MsgFormat As String, Category As String, Optional Description As String = "", Optional IsEnable As Boolean = True, Optional Severity As DiagnosticSeverity = DiagnosticSeverity.Warning)

[2015-01-13 07:52] AdamSpeight2008 commented on #214
@jwooley fixed it.

[2015-01-13 11:56] giggio commented on #214
I am working on #215 and then I have to work on #207. This one is after those.

[2015-01-13 13:20] #215 closed

[2015-01-14 03:27] giggio opened #217 "BUG on PrivateSetAnalyzer when there are no accessors"
This code will throw:

[code]

The throw happens on this line:

https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Style/PropertyPrivateSetAnalyzer.cs#L44

[2015-01-14 03:28] giggio commented on #217
@carloscds This is yours, I think it is a simple fix. Can you check?

[2015-01-14 10:43] carloscds commented on #217
@giggio Fixed. I will submit as new PR.

[2015-01-14 15:31] #217 closed

[2015-01-14 15:31] giggio commented on #217
Fixed on #218.

[2015-01-14 15:51] #24 closed

[2015-01-14 19:34] giggio commented on #24
This was one of the most fun ones to work on. The code fix alters the whole solution.

[2015-01-14 20:25] giggio commented on #172
Closed on #184.

[2015-01-14 20:25] #172 closed

[2015-01-14 21:33] giggio commented on #214
@AdamSpeight2008 @jwooley Right now what I am thinking in doing is to create a `CodeCracker.Common` and a `CodeCracker.Test.Common` only, and adding a reference from `CodeCracker` (VB and C#) to `CodeCracker.Common`, and adding a reference from `CodeCracker.Test` (VB and C#) to `CodeCracker.Test.Common` and `CodeCracker.Common`.

It is not clear to me what we would gain from having other projects,

[2015-01-14 21:56] AdamSpeight2008 commented on #214
If Common had all of the base classes, it would also import the other language stuff as well.
By separating them out into different projects, that wouldn't happen.

Say that an implement doesn't require the extensions, you're forcing the imported (and increase the size of their code). Individual and specific packages, allow the developer import the parts that the only require.

My design approach

[2015-01-14 22:12] giggio commented on #214
@AdamSpeight2008 the strategy on the CodeCracker project is to always bring the source code to the project, not a dll. All analyzers and code fixes will be in `CodeCracker.CSharp.dll` and `CodeCracker.VisualBasic.dll`. User can later decide through configuration which analyzers they want, if they want them (see discussion on issue #47).

The idea of a `Common` project is that it does not contain a

[2015-01-14 23:43] giggio commented on #214
I have a first show. Take a look at this commit: https://github.com/giggio/code-cracker/commit/683a1a79cc8d9555e914a1f6da2ada271686c503
Check out the Analyzer.cs:
https://github.com/giggio/code-cracker/blob/base-classes/src/CSharp/CodeCracker/Analyzer.cs
CSharpAnalyzer.cs:
https://github.com/giggio/code-cracker/blob/base-classes/src/CSharp/CodeCracker/CSharpAnalyzer.cs
CodeFix.cs:
https://github.c

[2015-01-14 23:59] AdamSpeight2008 commented on #214
@giggio If you look my examples CodeCracker projects repos
You can see why the separate projects make sense, look at the commits.
This is all that in need for the analyzer EmptyCatch.
https://gist.github.com/AdamSpeight2008/4db735fbf2526fb86ed8

[2015-01-15 00:02] AdamSpeight2008 commented on #214
Or is it because it not in C#?

[2015-01-15 00:42] AdamSpeight2008 commented on #214
Why the duplication of IDs? Just import the nuget package **CodeCracker.Common**

[2015-01-15 02:42] giggio commented on #214
@AdamSpeight2008 We are still discussing how to work the dependencies. If we decide to have a `Common`/`Core`/whatever, we might or might not have it deployed as a separate nuget, we do not know yet. There is no duplication of ids because we have not yet decided in what direction we are going. I still have to hear from the other maintainers. But I can say that publishing nuget packages with the Co

[2015-01-15 05:10] AdamSpeight2008 commented on #214
@giggio

*it does not allow to write an analyzer only for C#6, that will not analyzer C#5.*
[Code Snippet](https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Style/ExistenceOperatorAnalyzer.cs#L31)
How does that even compile?  That method overload doesn't exist on my context,

*This is the `SealedAttributeAnalyzer`, using my initial proposal. It is a symbolic analyzer:

[2015-01-15 13:37] ElemarJR commented on #214
Hello there,

It's amazing to see all this discussion. It's great to provide support to VB and C#. I really liked it.

Personally, I do not like the idea of packages dependencies. I really like "one-with-all" approach. But, I agree that could be the way to follow in the future.

 I think that, right now, all this seems over plating and/or over engineering. I really like "emerging architectures", a

[2015-01-15 14:07] viniciushana commented on #214
@ElemarJR has summed up my thoughts on this.

Divindg CC into many composing packages brings an overly complex structure that aggregates little value - it's more complex, depends on more interactions to set up and run, therefore it really needs compelling evidence to be justified. I found none of it.

Now @AdamSpeight2008 honestly, I find it rude on your part that you've created those packages wit

[2015-01-16 22:32] giggio opened #219 "Update CC to use VS 2015 CTP 5"

[2015-01-16 23:31] #219 closed

[2015-01-17 19:38] giggio commented on #100
We have now analyzis on Corefx and MonoCecil. It is good for now, and it will run on every build. It is not breaking the build yet because of bug #192 that @ElemarJR is fixing. Once that is done I will change the build script and if a problem is found the build will fail.

[2015-01-17 19:38] #100 closed

[2015-01-17 20:03] giggio commented on #146
Resolved on #219.

[2015-01-17 20:03] #146 closed

[2015-01-17 20:06] giggio opened #220 "Change verbatim string.format to use string interpolation"
This was already implemented on #133 and later updated to the new format (issue #146) on #219.
But right now a verbatim string on `string.Format` becomes a regular interpolated string after fixed. The idea is to keep it verbatim, but interpolated.

So this:

[code]

Becomes:

[code]

Only for C# 6. No change on diagnostic id, severity, etc, only on the analyzer, so it also works on verbatim string

[2015-01-17 21:08] #220 closed

[2015-01-17 22:24] #145 closed

[2015-01-17 22:27] giggio commented on #133
@AdamSpeight2008 As expected, using the `InterpolatedStringInsertSyntax` worked. We now support the formatting as expected. Issue #145 is closed. See on f28c25c1dafab4882de6abc6b724a044167cb4e0 how simple it was to get it to work.

[2015-01-17 22:47] giggio commented on #214
@ElemarJR @viniciushana @carloscds I need your feedback on my work on base classes.
I just updated it to work on VS 2015.

[2015-01-17 22:52] giggio commented on #107
Bug confirmed.

[2015-01-17 22:56] giggio commented on #108
Bug confirmed.

[2015-01-17 23:00] giggio commented on #109
Bug confirmed.

[2015-01-17 23:06] giggio commented on #110
Bug confirmed.

[2015-01-17 23:08] giggio opened #222 "CC0029 should be reported for explicit IDisposable.Dispose implementation"
Currently if `IDisposable.Dispose` is implemented explicitly then `CC0029` is not being raised, and it should.

Test case:
[code]

This is a sub-task of #95.

@sqdavid is working on it.

[2015-01-17 23:11] giggio commented on #95
I have confirmed all the bugs related to this issue that @sharwell reported (see above), and added another one. They are all up for grabs, and this issue will control all of them.

[2015-01-17 23:15] giggio commented on #190
@andrecarlucci You already did this, right?

[2015-01-18 00:24] AdamSpeight2008 commented on #214
Those Nuget packages are know unlisted.

[2015-01-20 22:05] dmgandini commented on #177
I believe the second is most common scenario as well. I want to work on it.

[2015-01-22 01:11] giggio opened #225 "BUG on CC0026: When there is a dynamic don't raise a diagnostic"
This code:

[code]

Will raise CC0026 incorrectly.

If you call it like an extension method, like this:

[code]

This call will fail because of the dynamic argument that will not allow binding to the extension method on runtime.

@sqdavid is working on it.

[2015-01-22 01:49] giggio commented on #192
I have made it disabled by default, @ElemarJR, so when you finish fixing it enable it again, ok?

[2015-01-22 01:52] giggio commented on #95
CC0029 is now disabled by default. When this is done we have to reenable it.

[2015-01-22 01:53] giggio commented on #225
CC0026 is now disabled by default until we fix it.

[2015-01-22 02:03] giggio opened #226 "BUG on CC0012: RethrowExceptionAnalyzer throwing "Sequence contains no elements""
The exception is being thrown when CodeCracker runs against corefx (see `test\CSharp\AnalyzeCoreFx.ps1`).
The problem, looking at the log, seems to be on `corefx\src\System.Linq.Parallel`.

`CC0012` is disabled until this is fixed.

[2015-01-22 02:06] giggio opened #227 "BUG on CC0032/3: DisposableFieldNotDisposedAnalyzer throwing when Dispose is abstract"
The exception is being thrown when CodeCracker runs against corefx (see `test\CSharp\AnalyzeCoreFx.ps1`).

The problem occurs at `corefx\src\System.Collections.Concurrent\src\System\Collections\Concurrent\PartitionerStatic.cs`.

`CC0032` and  `CC0033` are disabled until this is fixed.

Problem is happening at `CallsDisposeOnField` when checking `disposeMethod.Body`, which is null if `disposeMethod

[2015-01-22 02:12] giggio commented on #177
@dmgandini Ok, it is yours.
Only to let you know, this is a hard one. You **cannot** `.Wait` or `.Result` on an analyzer, ok?
The Roslyn team has given us some clues on how to work on this one. You have to register an analysis on compilation start, collect all the references, then on compilation end you verify if the field was ever written to. So this will only run on full compilations, not when t

[2015-01-22 02:14] giggio opened #228 "Use enum for diagnostic ids"

[2015-01-22 03:15] sqdavid commented on #225
Maybe this test can help

[code]

[2015-01-22 13:12] dmgandini commented on #177
I'm aware that is hard one. I was thinking to use SymbolFinder after load the current workspace, I was trying to figure out how to do it without use the MSBuildWorkspace once the project is a portable one.
After your post I will try to do as you said. Thanks for the tips. If I get stuck I will let you guys know.

The diagnostic id, CC0052, is the same of ReadonlyFieldAnalyzer. Is it Ok?

[2015-01-22 13:48] #227 closed

[2015-01-22 14:29] giggio commented on #177
Don't use the Workspace, as it is not portable, and I don't think it will ever be portable.
Yes, same diagnostic id, it is pretty much the same diagnostic, just a different scope. We could add a new one, but I am not sure if it makes sense. What do you think?

[2015-01-22 19:12] ljw1004 opened #229 "CTP5 nuget "The assembly <...> does not contain any analyzers""
I installed VS2015 CTP5. I created a VB console app. I added a NuGet reference to the bilingual CodeCracker nuget package. But when I build, it claims not to find any analyzers [see screenshot]
![no-analyzers](https://cloud.githubusercontent.com/assets/3316258/5862523/84623282-a227-11e4-95ab-5d280269c23d.png)

[2015-01-22 19:28] giggio commented on #229
Yes, we don't have any analyzers yet on VB. We need our VB enthusiasts to help us with those. Some people started working on it, but no PR yet. I am waiting on @jwooley, @BrunoMaestro, @AdamSpeight2008 and @ElemarJR. I think they all have something to show, but still nothing is here yet.

[2015-01-22 21:23] #201 closed

[2015-01-22 21:28] jwooley commented on #229
I'm trying to resolve two errors in unit tests and then I should have a PR with Design and Performance analyzer/code providers.

[2015-01-22 21:44] giggio commented on #229
Nice, @jwooley!

[2015-01-23 03:10] sqdavid commented on #225
If nobody is working on it, I have solved it.

[2015-01-23 04:31] jwooley commented on #229
I submitted a pull request for this update. It may need some modifications to incorporate some changes from the main trunk. I welcome code reviews on these as they are the first fixes I've done at this scale.

[2015-01-23 10:59] carloscds commented on #225
@sqdavid Go ahead.

[2015-01-23 16:55] giggio commented on #229
I am working on it. I will finish it over the weekend for sure. I fixed some details on it, but from the look I took at this morning it looks good. You put a lot of effort there, even if I find minor details I believe I will accept it and we can work on them as the project progresses.

[2015-01-23 18:40] jwooley commented on #229
@giggio As long as you don't have any test errors or issues with the base class implementation, I would recommend taking these and then adding individual issues to fix specific analyzer/code fix implementations as necessary so that we don't have to deal with such massive pull requests in the future.

@ljw1004 I welcome any feedback you have on the implementation. Roslyn has a very large surface ar

[2015-01-24 01:52] sqdavid commented on #225
I've just created the PR #231
Please review it.

[2015-01-24 15:50] #225 closed

[2015-01-24 16:09] giggio commented on #229
@ljw1004 Build `alpha3-0331` is up on myget with the analyzers that @jwooley worked on. We will publish `alpha3` at the end of the month.

[2015-01-24 16:09] #229 closed

[2015-01-25 01:04] sqdavid commented on #226
I couldn't rune code-cracker agains corefx (some build issues), but reading the code I build this example that fires the analyzer and throws the exception

[code]
It seems that the analyzer assumes every throw expression is inside a catch. I guess just adding an if would solve the issue.
If nobody is working on it I could try it.

[2015-01-25 01:17] carloscds commented on #226
@sqdavid Go ahead!

[2015-01-25 03:46] sqdavid commented on #222
Hey guys, I could give a try to this one.

[2015-01-26 00:31] giggio commented on #226
Fixed on #232.

[2015-01-26 00:31] #226 closed

[2015-01-26 00:34] giggio commented on #222
Go ahead, @sqdavid!

[2015-01-26 00:55] giggio commented on #21
I will work on it.

[2015-01-26 01:38] sqdavid commented on #222
Thanks. I have created a PR, please review it.

[2015-01-26 02:19] #222 closed

[2015-01-26 13:29] giggio opened #234 "Forward cancellation token to awaited methods"
If a method receives a `CancellationToken` and then later awaits on a method that has an overload that takes a `CancellationToken` that exactly matches the current called method, and it is not used, then raise a diagnostic and offer a fix to it.

This will raise a diagnostic:

[code]

It will be fixed to this:

[code]

Diagnostic Id: `CC0069`
Severity: `Warning`
Style: `Usage`

[2015-01-26 22:37] thomaslevesque opened #235 "Use ConfigureAwait(false) on awaited task"
Best practice dictates that `ConfigureAwait(false)` should always be used in library code, unless the async operation specifically needs to resume on the original `SynchronizationContext`. So I think it would be useful to create an analyzer for this.

- Level: not sure whether the level should be *Information* or *Warning*.
- Code fix: obviously, call `ConfigureAwait(false)` on the awaited task

*

[2015-01-27 14:08] giggio commented on #235
This makes sense for codecracker code itself, but how would we know if the code we are analyzing is library code or not?

[2015-01-27 15:29] sharwell commented on #234
You could also expand this. If a method has a `CancellationToken` parameter, or there is an overload of the method with the same parameters but adds a `CancellationToken` parameter, the caller should pass a token which is *not* `CancellationToken.None` or `default(CancellationToken)`.

[2015-01-27 15:32] sharwell commented on #235
@giggio You don't, but the user does and can disable the diagnostic if it doesn't apply to the project they are working on.

[2015-01-27 15:51] thomaslevesque commented on #235
Yes, that's what I had in mind

[2015-01-27 15:58] thomaslevesque opened #236 "False positive on CC0049 ("You can remove this comparison")"
Consider this code in a WPF app:

            var dlg = new OpenFileDialog {Filter = "GIF files|*.gif"};
            if (dlg.ShowDialog() == true)
            {
                ...
            }

CodeCracker seems to think that the `== true` is redundant, but it's not, because `ShowDialog()` returns a `Nullable<bool>`, not a `bool`. Removing the comparison would cause a compile error.

@thomasleve

[2015-01-27 16:25] #44 closed

[2015-01-27 16:55] AdamSpeight2008 commented on #236
It shouldn't. by

[2015-01-27 17:11] thomaslevesque commented on #236
should'nt cause a compiler error, you mean? Well it does... and that's not something new in Roslyn, it was the same in the old compiler.

Yes, if it is *implicitly* castable to bool... it's not the case for `Nullable<bool>`, it only has an explicit conversion to bool.

[2015-01-27 17:34] thomaslevesque opened #237 "Issues with CC0047 "Consider use a 'private set'""
This warning seems to be triggered on all public properties. For instance:

        private bool _autoStart = true;
        public bool AutoStart
        {
            get { return _autoStart; }
            set
            {
                _autoStart = value;
                OnPropertyChanged("AutoStart");
            }
        }

In this case, it is incorrect, because the property is used in a X

[2015-01-27 18:07] giggio commented on #235
I think this is inverted, it should be disabled by default, and if the project is a library the programmer can turn it on. Most projects are not libraries, by definition, right?
What severity do you have in mind? Info? And what category?

[2015-01-27 18:51] AdamSpeight2008 commented on #236
So it'll need to check if the first parameter is `Bool?` and the second parameter `Bool`. To skip it.
The `Bool` is being implicitly widened (upcast) to `Bool?`

[2015-01-27 20:05] thomaslevesque commented on #236
Better yet: check that both operands are of type `bool`, and nothing else. Otherwise it can get ugly pretty fast...The condition of an `if` statement doesn't actually need to be of type `bool`. According to the C# 5 spec, it has to be a *boolean-expression* (§7.20):

•	If E is implicitly convertible to bool then at runtime that implicit conversion is applied.
•	Otherwise, unary operator overload r

[2015-01-27 20:21] thomaslevesque commented on #235
Well, it depends... Most of my solutions contain one or two application projects, and many class library projects. *Some* class libraries don't need `ConfigureAwait(false)` (the UI-related ones), but the others do.

Also, what bothers me is that if the analyzer is disabled by default, it won't be easily discoverable: people will not enable it unless they know it exists.

**Severity**: *Information

[2015-01-28 14:48] giggio commented on #235
I am still not sure we should add this to CodeCracker, as it's diagnostic is correct only part of the time.
@code-cracker/owners What do you think?

[2015-01-28 15:12] thomaslevesque commented on #235
Well, if a diagnostic needs to be always correct to be included in CodeCracker, I can think of many others that shouldn't be in it either... Most of them can't possibly be always correct, because it depends on context, opinion, etc. For instance, there are legitimate usages for an empty catch block; yet, CodeCracker reports it as an error... it's certainly not always correct.

[2015-01-28 15:19] carloscds commented on #235
If user can suppress any analyzer for class, project or file. Analyzer can be active by default and developer decides when and how deactivate it.

[2015-01-28 15:21] carloscds commented on #237
@thomaslevesque Property can be public for get and private for set. There any many sample that on I need private set but public get.

[2015-01-28 15:38] thomaslevesque commented on #237
Yes, I'm aware of this, but it doesn't change what i was saying. If the property is used in a two-way binding, it needs to be public. And the setter might also be used by external code, so you can't just assume that it could be private. You could if the class were internal (because then you could know of all usages of the property setter), but not if it's public.

[2015-01-28 15:44] carloscds commented on #237
@thomaslevesque It's make sense. But we don't know all project if developer and analyzer make a suggestion, only this. It's not an error, it's a hidden analyzer, like a refactoring. If developer choose to change to private set, we think that he know your solution and possible problems for this kind of change.

[2015-01-28 15:51] thomaslevesque commented on #237
I would be fine with it if it was hidden, but it's not... at least not by default:

![screenshot](http://i.imgur.com/eYZA4UK.png)

I find it quite obtrusive for a hidden analyzer ;)
Was it intended to be hidden?

[2015-01-28 15:57] carloscds commented on #237
According with sourcecode, this analyzer is hidden. Look at source (https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Style/PropertyPrivateSetAnalyzer.cs)  line 25. Initially this analyzer was not hidden, but we think that is less intrusive in this way.

[2015-01-28 16:09] thomaslevesque commented on #237
Oh I see; that's because I'm using the NuGet package, which dates back to December 15th...
OK then; it's fine if it's hidden.

[2015-01-28 16:09] #237 closed

[2015-01-28 16:13] carloscds commented on #237
@thomaslevesque Great! Thanks for your colaboration!

[2015-01-28 18:46] giggio commented on #237
@thomaslevesque we will update the nuget in a few days.

[2015-01-28 18:50] giggio commented on #235
@thomaslevesque the analyzer should be correct most of the time. Users can suppress it any time in a variety of ways, when it does not meet what they need. They can change the severity for the whole project or solution, they can disable it for a method, class, namespace, etc. When the diagnostic is correct only part of the time, but we still want the code fix, we are treating it as a refactoring.

[2015-01-28 18:58] giggio commented on #236
I have confirmed the bug. It is ready and up for grabs. I will create another issue about the simetry problem.

[2015-01-28 19:00] giggio opened #238 "BUG on CC0049, simplify boolean comparison, not simmetric"
Right now CC0049 is only catching comparisons when the boolean is on the right hand side, it should also catch this:

[code]

Related to #236.

@thomaslevesque is working on it. PR #239

[2015-01-28 20:35] viniciushana commented on #236
@giggio go take some rest you maniac! :)

[2015-01-28 22:33] thomaslevesque commented on #235
@giggio, OK, I get your point. I agree, we can make it a hidden analyzer.

I'm willing to work on this; I'll submit a pull request when it's done.

[2015-01-28 22:36] thomaslevesque commented on #236
I see what needs to be changed; I'll take it if you want (and #238 as well; since it affects the same analyzer, I might as well kill two birds with one stone)

[2015-01-29 14:05] AbapJunior opened #240 "Logo"
Hi guys. I have posted on YT, but here is better. Following my simple logo for your apreciation and use. Need the PNG call me! http://i.imgur.com/E7zwHcM.jpg﻿

[2015-01-30 01:03] giggio commented on #235
@thomaslevesque Perfect. I will set set it to working then. I have updated the issue's description with the info we discussed, plus a diagnostic id. I set it to reliability (you can read the categories description on #97).

[2015-01-30 14:20] #236 closed

[2015-01-30 14:20] #238 closed

[2015-01-30 15:17] thomaslevesque commented on #235
OK, thanks. Any idea about the other point I raised in the first message?

[2015-01-30 15:28] giggio commented on #235
I think we should discuss that directly with the C# team. I am not sure. @sharwell @carloscds Do you know?

[2015-01-30 15:49] sharwell commented on #235
@thomaslevesque Within a single method, after the first time you use `ConfigureAwait(false)` you will not execute any continuation on the original synchronization context prior to returning from the method. Since this is counter-intuitive for many developers, I would actually recommend issuing a warning for any `await` operation that does not using `ConfigureAwait(false)` following an `await` oper

[2015-01-30 16:01] giggio commented on #235
@sharwell I did not understand the justification for the first warning. The second one makes sense.

I agree with Sam that this is not at all obvious and we should warn the programmer so they know they have to add a `ConfigureAwait` on all of the awaits to make them explicit.

[2015-01-30 16:06] sharwell commented on #235
@giggio The first warning is a performance warning only. It's easy to see that the code between that line and the next one did not need to execute on the method's synchronization context, because there is no code between the two.

[2015-01-30 16:44] giggio opened #241 "Introduce field from constructor"
This is a refactoring.

The idea is that on a constructor parameter you CTRL DOT and get a "Introduce field" dialog, that will create a field and assign the value from the parameter to the field.

So this:

[code]

Becomes:

[code]

If the field is already assigned then no diagnostic is offered.
If the field is already present, it is just assigned to.
If the type does not match (e.g. parameter is

[2015-01-30 18:30] thomaslevesque commented on #235
I understand your point, but don't really agree... Sure, it makes it explicit that you don't want to resume on the original synchronization context; but in this case I would personally prefer implicitness. Having `ConfigureAwait(false)` littered all over the method doesn't help readability, and is actually redundant (since the code behaves the same way without it). So, *ideally*, I would prefer to

[2015-01-30 19:58] thomaslevesque commented on #235
OK, I implemented the analyzer and code fix; the unit tests pass, as well as the test against corefx.

However the fix doesn't appear... if the level is set to Hidden, the light-bulb doesn't appear, and if it is set to Warning, the light-bulb doesn't show the fix (only the option to suppress the diagnostic). I must have missed something, but I can't find what... I'm still new at writing analyzers.

[2015-01-30 20:11] carloscds commented on #241
@giggio It's mine!

[2015-01-30 23:41] thomaslevesque commented on #235
OK, just tried again after restarting VS, and now it works as expected... I think it's because I tried to replace the analyzer from the NuGet package with the one from the output folder, to test CodeCracker on itself. I'll create the PR now.

[2015-01-31 00:31] giggio commented on #241
I knew this one was not going to stay up for too long. It is too useful. :)

[2015-01-31 22:28] #235 closed

[2015-01-31 23:46] #228 closed

[2015-01-31 23:49] giggio opened #244 "Use enum for diagnostic ids (VB)"
Similar to #228 but for VB.

@jwooley is working on it.

[2015-01-31 23:52] giggio opened #245 "If method does not return a Task it shouldn't end with "Async""
This is the opposite of #178:

[code]

Becomes:

[code]

The `async` keyword is not necessary for the method to have the `Async` postfix. All it needs to be async is to return a `Task`.
When renaming the method, all references have to be renamed as well and no code should break.
Should work on interfaces as well.

Category: `Style`
Diagnostic Id: `CC0072`
Severity: `Info`

[2015-02-01 00:08] giggio opened #246 "BUG on string interpolation when indexes are inverted"
On the code fix, if indexes are inverted the order is not respected.

[2015-02-01 00:09] #246 closed

[2015-02-01 01:13] giggio commented on #229
Version 1.0.0-alpha3 is up on nuget now, with the VB analyzers.

[2015-02-01 01:43] carloscds commented on #245
It's mine.

[2015-02-01 03:16] jwooley commented on #244
I can take care of this.

[2015-02-01 04:58] giggio commented on #244
Cool, @jwooley, it is yours. Right now we are going to duplicate the `DiagnosticId` enum, later we can unify them in a single assembly that C# and VB will depend on.

[2015-02-01 05:00] giggio commented on #245
Ok, are you working on it already? When you start move it to Working. I ask because you were working on another one. :)

[2015-02-01 19:48] jwooley commented on #244
Pull request submitted.

[2015-02-02 19:20] giggio opened #248 "Unify DiagnosticId class on a separate assembly"
Right now it is doubled on VB and C# projects. It would nice to have a "core" project.

[2015-02-02 21:46] jwooley commented on #248
I'd be happy to help out as well. There are a number of other helpers/extension methods that would be good candidates for centralizing as long as the centralized library doesn't take a dependency on either the C# or VB specific CodeAnalysis libraries/workspaces. I would also recommend making a CodeCracker.Test.Shared library which could possibly take the dependency on both the VB and C# libraries

[2015-02-02 21:48] jwooley commented on #248
Another thing to consider if centralizing this would be to put the DiagnosticID implementation into a resource to support language translations for the description/messages/etc.

[2015-02-02 21:50] giggio commented on #248
@jwooley We are going slowly on this items on purpose, so we have time to discuss them. This would be a small first step on creating a common dependency. Let's do that first, and see how it goes. I agree that there is a lot of work after that. :)

[2015-02-02 22:50] carloscds commented on #248
@giggio I think that for test purpose at this moment it[s a good idea.

[2015-02-02 22:54] carloscds commented on #245
@giggio Let's go code!

[2015-02-02 22:54] carloscds commented on #229
Good!

[2015-02-03 02:12] giggio opened #249 "Bug in string interpolation (CC0048) when Insert uses a ternary operator"
This:

[code]

Produces a bug when the string interpolation code fix is applied. Right now it generates this code:

[code]

This code is invalid, because the `:` is mistaken as the *formatString* on the formatting grammar (see the [string.Format](https://msdn.microsoft.com/en-us/library/system.string.format(v=vs.110).aspx)) overload.
It should add parenthesis to the insert when it is a ternary ope

[2015-02-03 16:58] giggio opened #251 "BUG on CC0057 (UnusedParameter) on constructor that passes argument to base"
This code will generate `CC0057` on the constructor of `Derived` and it shouldn't, as the parameter `a` is being passed to the base constructor:

[code]

[2015-02-04 00:24] giggio commented on #248
Ok, we have just finished discussing, I will create a CodeCracker.Common project and include in the project. I will move the DiagnosticId and Helper into this new assembly and add it to both solutions.

[2015-02-04 01:12] thomaslevesque opened #252 "Add braces to switch case"
The switch statement probably has the ugliest syntax in C#. The code of all cases in a switch share the same scope, which means you can't declare a variable with the same name in different cases. This is easily solved by enclosing the statements of a case in braces.

This:
[code]
becomes this:
[code]

Severity: `Hidden` (refactoring)
Category: `Refactoring`
Diagnostic Id: `CC0073`

I already wrote

[2015-02-04 04:28] #249 closed

[2015-02-04 04:38] giggio commented on #252
@thomaslevesque cool! I already set it to working, so all you need to do is send the PR.
Yes, it should work on all `case`s, including `default`. I don't think a single case is useful, just raise the diagnostic whenever you see a `case` without a block and change all cases to have the block.

[2015-02-04 04:42] #244 closed

[2015-02-04 04:44] giggio commented on #204
@julianosaless How is this coming? Are you still going to work on it?

[2015-02-04 04:47] giggio commented on #49
Closed on #72.

[2015-02-04 04:47] #49 closed

[2015-02-04 04:48] giggio commented on #31
@moreirayokoyama Are you still planing to work on this one?

[2015-02-04 04:48] giggio commented on #29
@GersonDias Are you still planing to work on this one?

[2015-02-04 04:49] giggio commented on #25
@fholiveira How is this coming?

[2015-02-04 04:50] giggio commented on #12
@viniciushana It's been a while, how is this coming?

[2015-02-04 04:51] giggio commented on #9
@viniciushana How is this one coming?

[2015-02-04 15:59] pdelvo opened #253 "CC0022 Batch Fixer does not work in edge cases"
The WellKnownFixAllProviders.BatchFixer is not very good at applying multiple fixes if they are too close together. I was able to crash your code fix in a bigger solution with an InvalidCastException with this stack trace:
[code]
I don't have code to repro this right now. But I was able to repro a case where the batch fixer doesnt work:
[code]
The batch fixer will only apply the fix to `foo2`.
I t

[2015-02-04 21:25] julianosaless commented on #204
@gigio,  I am worked, some things happened  this month, but  i believe that
next saturday i will finish this issue.

2015-02-04 2:44 GMT-02:00 Giovanni Bassi <notifications@github.com>:

--
Juliano Sales
Software Developer
http://juliano-sales.net

[2015-02-05 01:41] thorgeirk11 opened #255 "[Bug] CC0057 Displayed even if the parameter is used."
![cc0057 bug](https://cloud.githubusercontent.com/assets/2693474/6053487/e03715b8-acd7-11e4-8f18-8603ce6a7c2a.png)

As can be seen the warning is displayed in a constructor that passes the argument to the parent.

[2015-02-05 01:45] thorgeirk11 commented on #255
Sorry It is the same as #251

[2015-02-05 01:54] thorgeirk11 opened #256 "Bug on CC0065, entire summary removed."
![cc0065 bug](https://cloud.githubusercontent.com/assets/2693474/6053642/e6f96cfa-acd9-11e4-9443-023fdb4985a8.png)

Removing the trailing space in a summary removes the entire summary.

[2015-02-05 02:07] thorgeirk11 opened #257 "CC0031 Formatting bug on comments"
![cc0031 bug](https://cloud.githubusercontent.com/assets/2693474/6053718/f0306a02-acda-11e4-87eb-a9ec695c2b30.png)

When there is a comment right above the invocation the formating of the code fix is abit off.
[code]
Results in:
[code]

[2015-02-05 11:42] #248 closed

[2015-02-05 18:40] giggio commented on #83
I have analyzed and confirmed that it is not necessary to have the diagnostic id on the code fix to enable the change on document, project or solution levels. Maybe this was something on beta1 that is now fixed on the new VS.
Also, all analyzers already use `WellKnownFixAllProviders.BatchFixer` when appropriate.

[2015-02-05 18:40] #83 closed

[2015-02-05 22:04] giggio opened #258 "BUG on CC0021 (NameOf) when using attribute"
This will incorrectly generate `CC0021` on the firstLine:

[code]

Attributes should not be checked on the `NameOfAnalyzer`.

[2015-02-05 23:45] giggio commented on #253
We need a way to test this, so we can be sure. I would assume BatchFixer works for all cases until we find a bug. I will verify your bug on CC0022. On the worst case we can simply disable batch fixing until someone fixes it. There is already one diagnostic I know in CC where it is disabled.

[2015-02-05 23:58] giggio commented on #253
I have confirmed the bug. I have worked on this analyzer and fix myself and I will investigate what can be done. Thanks for reporting it!

[2015-02-06 11:52] sharwell commented on #258
Does `NameOfAnalyzer` only check parameter names? This is a valid us of `nameof`:

[code]

[2015-02-06 11:54] giggio commented on #258
@sharwell yes, AFAIK. But we could expand it. :)

[2015-02-06 15:52] carloscds commented on #241
@giggio It's done. But I have a little change:

So this:

[code]

Becomes:

[code]
This avoid change name of parameter if there is a field with same name.

[2015-02-06 20:15] #253 closed

[2015-02-06 20:17] giggio commented on #253
Fixed. And now CodeCracker has testing infrastructure to fix all. :metal:

[2015-02-06 20:18] giggio commented on #255
Exactly.

[2015-02-06 20:18] #255 closed

[2015-02-06 20:20] giggio commented on #256
Bug confirmed.

[2015-02-06 20:22] giggio commented on #257
Bug confirmed.

[2015-02-06 20:28] giggio commented on #241
@carloscds I don't agree with the underline. I will comment on the PR.

[2015-02-06 22:49] carloscds commented on #241
@giggio I have submit a fix for this and a comment on the PR.

[2015-02-06 23:04] giggio opened #260 "Don't run CodeCracker on generated code"
Generated code is code that a tool wrote, not the programmer, and they cannot edit it because it might be updated again later by the tool. It does not make sense to run CodeCracker on these files.

So, we should avoid those files. The ignore pattern so far is:

Methods/Classes with these attributes:

* DebuggerNonUserCodeAttribute
* GeneratedCodeAttribute

File names that match (and also .vb for V

[2015-02-06 23:13] giggio commented on #260
@code-cracker/owners I want your opinions on how to address this issue. I am thinking of extension methods that will be placed on the beginning of every analyzing action, with overloads for `SymbolAnalysisContext`, `SyntaxNodeAnalysisContext`, `SyntaxTreeAnalysisContext` and so on.

Something like this:

[code]

What do you think?

BTW, I want to work on this one.

[2015-02-07 14:06] giggio opened #262 "Bug on CC0026 (use extension method) where selected overload would change"
This code should not have `CC0026` diagnosed on it:

[code]

If you change it to use the extension method, like this:

[code]

It is going to recurse and call itself. In other words, the overload resolution selected a different method. This should not happen.

Affects VB and C#.

[2015-02-07 14:13] #256 closed

[2015-02-07 14:48] #257 closed

[2015-02-07 15:15] #258 closed

[2015-02-07 15:18] giggio opened #263 "Expand NameOf Analyzer to work with any identifier in scope"
Right now `CC0021` is only working with function parameters. It should work with any analyzer in Scope, so class names, functions names, etc.
Code fix does not need to be updated, it should work as is.

[2015-02-07 19:38] #251 closed

[2015-02-07 20:56] jwooley commented on #263
Should be updated in c# and VB

[2015-02-09 04:12] jwooley opened #265 "Proposal: Add code fixes for VB6 legacy methods"
Optional code fixes for VB only:
Replace the old non-short circuiting IIF with the new ternary If(true,truepart, falsepart)
Replace Mid/Left/Right with string.Substring
Inline local declaration (VB and C#)
Replace string concatenation for multi-line strings with VB 14 multi-line strings
Others that should be considered?

[2015-02-09 07:39] paulomorgado commented on #265
@jwooley, is the `String.Substring` a full replacement for `Mid`/`Left`/`Right`?

[2015-02-09 11:15] giggio commented on #265
@jwooley I am all for it, but only for those that have a perfect match on the BCL. AFAIK, most of those methods do a lot of work. Can't we end up breaking code?
I like the IIF replacement, it has performance impacts.
We could also replace the convertions, CType, etc.
Also, can you update your description with some code snippets we can look at?

[2015-02-09 12:55] giggio opened #266 "BUG on CC0071 (introduce field), name clash"
When there is some other identifier that is not a field CC0071 will introduce a name clash.

This will generate a field named `a` and it shouldn't:

[code]

[2015-02-09 12:56] giggio opened #267 "Bug on CC0071 (introduce field) for fix all"
CC0071 is not working with fix all, from document, to project, to solution.

[2015-02-10 00:10] paulomorgado commented on #265
Maybe some can be converted with the aid of the `?.` operator.

[2015-02-10 11:37] viniciushana commented on #9
I've started it, I'd say about 50% done. However, since my repo is late, I'll need to rebase it and adapt my implementation before continuing.

[2015-02-10 11:38] viniciushana commented on #12
Kinda late, that issue of dealing with public fields made it somewhat complicated. I gotta adapt my implementation to the changes made to the project and then work on that specific issue.

[2015-02-10 15:43] laedit opened #269 "Is it possible to generate an output xml file?"
Hi,

Sorry to add another issue, this is more a question.
Is it possible to generate an xml file with the code analysis result?
If not do you plan to propose it?

Thanks.

[2015-02-10 16:05] giggio commented on #269
This is more of an msbuild thing. Maybe there is a way already. I am not sure.

[2015-02-11 01:01] giggio commented on #265
What do you mean, Paulo?

[2015-02-11 01:07] #267 closed

[2015-02-11 01:37] paulomorgado commented on #265
I was wondering if this as something that could be safely translated to `?.Substring(...)`. But I don't know idiomatic VB that much.

[2015-02-11 16:08] GersonDias commented on #29
@giggio I'm a little busy, but I will work on that!

[2015-02-11 17:44] tmeschter commented on #269
@laedit This is more of an issue for https://github.com/dotnet/roslyn. Individual analyzers shouldn't write data to disk (since they have little knowledge or control over the build environment). Instead, that would need to be done by csc.exe/vbc.exe.

Could you open an issue over there and describe what kind of information you would want in such a file?

[2015-02-12 06:09] laedit commented on #269
@tmeschter thanks for the tip, I will do that.

[2015-02-12 21:33] giggio commented on #269
@tmeschter agreed.
@laedit I will close this issue, as it seems that the Roslyn team will pick it up on https://github.com/dotnet/roslyn/issues/430

[2015-02-12 21:33] #269 closed

[2015-02-13 20:27] giggio opened #273 "Review AllowMembersOrderingCodeFixProvider.Base to avoid running analyzis on ComputeFixesAsync method"
Right now `AllowMembersOrderingCodeFixProvider.Base.cs` is running a lot of analysis on the `ComputeFixesAsync` method. Ideally this would run on a different task, passed to the `CodeAction.Create` method.
This is because when the user has the cursor over the text span that generated a diagnostic, `ComputeFixesAsync` is always called, even if the user does not click on the light bulb or `ctrl .`,

[2015-02-14 16:20] thorgeirk11 opened #275 "CC0031 Bug in switch statement ?"
[code]
Results in:
[code]
Notice that the break statement is missing and the control flow has altered.

Is this a bug or just the way it should be ?

[2015-02-15 19:52] #241 closed

[2015-02-15 20:30] giggio opened #276 "RemovePrivateMethodNeverUsedAnalyzer (CC0068) throwing cast exception"
`RemovePrivateMethodNeverUsedAnalyzer` is throwing when analyzing Mono Cecil:

[code]

See details on 395: build https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.395

The analyzer is being disabled so the build does not fail anymore.

@julianosaless is fixing it.

[2015-02-15 20:31] giggio commented on #204
Closed on #274, a bug is pending on #276.

[2015-02-15 20:31] #204 closed

[2015-02-15 20:32] giggio commented on #276
@julianosaless can you work on this one?

[2015-02-15 20:49] giggio commented on #275
@thorgeirk11 I just tried to repro and the code fix worked as expected:

![image](https://cloud.githubusercontent.com/assets/334958/6204940/25af41b0-b543-11e4-9aac-6b0ff0503792.png)

Are you using VS 2015 CTP 5 and the latest CodeCracker version?

I am closing this issue for now. We need to be able to repro. If you can offer the complete code where you got the issue than we can fix it! :)

[2015-02-15 20:49] #275 closed

[2015-02-15 21:20] #245 closed

[2015-02-15 22:35] codecrackerbuild commented on #273
Build passed! Details: https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.402

[2015-02-16 00:25] codecrackerbuild commented on #273
Teste

[2015-02-16 00:51] jwooley commented on #273
Let me know if you need assistance with applying the changes to the VB translation as well.

[2015-02-16 02:01] julianosaless commented on #276
@giggio OK I will work :)

[2015-02-16 04:41] #41 closed

[2015-02-16 04:44] #252 closed

[2015-02-16 04:46] giggio commented on #203
@andrecarlucci How is this coming?

[2015-02-18 18:39] #276 closed

[2015-02-18 18:48] andrecarlucci commented on #203
I finally finished (this saturday) my project with Intel and have some free
time :)

André Carlucci
twitter/andrecarlucci
Microsoft MVP
Intel Innovator
www.andrecarlucci.com

On Mon, Feb 16, 2015 at 2:46 AM, Giovanni Bassi <notifications@github.com>
wrote:

[2015-02-18 19:13] giggio commented on #203
Anxiously awaiting for your PR! :)

[2015-02-19 21:39] #21 closed

[2015-02-21 00:28] giggio commented on #273
@code-cracker/owners I reviewed the analyzer, but there is not much to be done. I cleaned it up on 1bf139a8e6b5afef77e1c2dccc9bf752f8a7bd7d, but as you can see, nothing really changed.
I have confirmed that the `ComputeFixesAsync` method is being called whenever the analyzer reports a diagnostic and the user has the cursor over the class identifier. A diagnostic is only reported if the type has at

[2015-02-21 00:28] #273 closed

[2015-02-21 19:29] carloscds commented on #273
@giggio Maybe we can check diagnostics before continue.

[2015-02-22 05:09] giggio commented on #177
@dmgandini How is this coming? Need help?

[2015-02-22 05:15] giggio commented on #190
@andrecarlucci You already did this, right?

[2015-02-24 00:44] giggio opened #288 "Update to Roslyn RC1 and VS 2015 CTP 6"

[2015-02-24 01:08] jwooley commented on #288
It appears that this is required to run in VS 2015 CTP6. Should this be done in a separate branch or just push to master and force us to update. We're living on the bleeding edge anyway, so forcing upgrade may not be an issue. I'm not sure if you can version the nuget package for specific versions of VS to support multiple versions of the ide going forward (until RTM at least).

[2015-02-24 01:45] giggio commented on #288
@jwooley Yes, this is bleeding edge. Next update, alpha4, will be out at the end of the month, and it will already be for CTP 6. I am assuming that anyone using Code Cracker at this moment is working on the bledding edge, or maybe only trying things out, and then they can use the current version (alpha3).

[2015-02-24 13:52] dmgandini commented on #177
Hi @giggio!
I had some personal issues that drained my time, although I'm still working on it.
Probably a PR will be send until weekend, 'cause the code is finished and I'm reviewing the code in order to check if exists any bug.

Regarding the diagnostic ID, it is a different scope and I would like to have a chance to download it or not. It is not a common scenario to have public/internal/protecte

[2015-02-24 17:52] jwooley commented on #288
I saw the list of API changes at https://github.com/dotnet/roslyn/wiki/VS-2015-CTP-6-API-Changes and suspect that this update is going to be non-trivial. If you would like help with the changes let me know. It might make sense to branch for this work if you need any help.

[2015-02-24 18:34] carloscds commented on #288
@jwooley @giggio I already start to update project in my current PR.

[2015-02-24 18:43] giggio commented on #288
I am about to finish removing errors. 16 to go on C#. Haven't look at VB yet.

[2015-02-24 22:04] giggio commented on #288
Closed on 0c4a5a5.

[2015-02-24 22:04] #288 closed

[2015-02-24 22:07] giggio commented on #288
There is work to do still. The solution is migrated, but now `CodeAction.Create` is not taking doc, project or solution anymore. I created a few `Task.FromResult` as a workaround, but there is need for a more detailed work, aligned to what was done on #273.
Build is disabled until AppVeyor updates their infrastructure to CTP6. I already contacted them yesterday. Build https://ci.appveyor.com/proje

[2015-02-24 22:18] giggio commented on #177
Fine by me. Just update the diagnostic id on the wiki.
And note that we updated the project to VS 2015 CTP 6, you will need to update your code as well.

[2015-02-24 23:50] andrecarlucci commented on #190
Not really, sorry. I'll do it after the virtual one.

[2015-02-25 03:46] sharwell commented on #288
@giggio This should build and test fine with CTP 5. Have you tried it?

[2015-02-25 14:53] giggio commented on #288
@sharwell  Yes, the build is failing at the server. See https://ci.appveyor.com/project/code-cracker/code-cracker/build/1.0.0.441.
There is a dependency problem, it seems.

[2015-02-27 01:40] giggio opened #290 "BUG: Method not used (CC0068) fails to check partial classes"
If a method is referenced on a partial class, but on a different document (and syntax tree) CC0068 will be generated incorrectly.
Affects C# and VB.

[2015-02-27 02:03] giggio opened #291 "Bug on Unused parameter (CC0057) not checking for assignment"
This will generate CC0057 incorrectly:

[code]

Verify C# and VB.

[2015-03-01 01:37] dmgandini commented on #177
Please check the #292.
By the way, the automatic build is amazing! :-)

[2015-03-03 11:29] #177 closed

[2015-03-03 23:54] giggio opened #293 "BUG: Create code fix for update ReadonlyFieldCodeFixProvider so that the code does not break on public fields"
See discussion on #292, specifically this comment: https://github.com/code-cracker/code-cracker/pull/292#issuecomment-77065161

The code fix from `NoPrivateReadonlyFieldAnalyzer` (CC0074) is handled by the same code fix provider from the private analyzer, on `ReadonlyFieldCodeFixProvider`. As the `CC0074` is only generated at the end of the compilation stage, it will produce a diagnostic that migh

[2015-03-04 02:24] giggio commented on #266
closed on #286

[2015-03-04 02:24] #266 closed

[2015-03-07 23:43] #260 closed

[2015-03-07 23:45] giggio commented on #260
@code-cracker/owners I have finished, I think I addressed all the issues, please see if you want to add anything. Now all new analyzers need to have the check, like so:

[code]

See https://github.com/code-cracker/code-cracker/commit/08c1a01337964924eeed12be8b14c8ce8ec6b626 where I applied it to all analyzers.

[2015-03-08 00:14] giggio commented on #129
I am not sure how this would work. We would offer the code fix on every line of method `Iterate`? This will pollute things, won't it?

[2015-03-09 01:01] #119 closed

[2015-03-13 15:49] ElemarJR commented on #290
How would you like to fix this one. The easy way is make it works only with no partial class. What do you think?

[2015-03-13 16:09] ElemarJR commented on #234
Sounds ready to me.

[2015-03-19 22:06] giggio commented on #290
@ElemarJR Not necessary. All you need to do is, when checking the method's parent type, if it has the `partial` modifier, get the symbol, and ask for `typeSymbol.DeclaringSyntaxReferences`, then on each type node, continue the verification.

[2015-03-19 22:08] giggio commented on #234
@ElemarJR You are working on this one, right (you assigned it to yourself)? You still have a bug assigned to you, you should fix that first. I will change the tag to working.

[2015-03-20 20:24] ElemarJR commented on #290
I'm back! Is my PR good enough? Could I do that in VB?

[2015-03-22 16:31] akamud opened #297 "Regex performance: use static Regex.IsMatch"
We could diagnose code using Regex in a way that gives poor performances.

Creating a new Regex every time will give you a bad performance:

[code]

If this method is called multiple times, you should be using the [static `Regex.IsMatch`](https://msdn.microsoft.com/en-us/library/sdx2bds0%28v=vs.110%29.aspx) method, as that can be [cached](https://msdn.microsoft.com/en-us/library/gg578045(v=vs.110)

[2015-03-22 18:46] carloscds commented on #297
@akamud Very interesting. What do you think about try to implement this ?

[2015-03-22 18:58] akamud commented on #297
@carloscds I would love to. What else can I do to give this a `Ready` status?

I'm editing the issue giving this a `Warning` level, given the description in the [contributing guidelines](http://code-cracker.github.io/contributing.html).

[2015-03-22 19:07] carloscds commented on #297
@akamud Go ahead.

[2015-03-22 19:10] akamud commented on #297
Great! I'll start right away.

[2015-03-22 21:56] giggio commented on #291
@jwooley When you submit a PR, plaese focus on the changes that will fix the specific problem. This PR has a lot of changes that are not directly related to it.

[2015-03-22 22:51] giggio commented on #297
@akamud @carloscds  The MSDN article states that only 15 Regexes are cached by default.
I am not sure that we would want to cache in every circumstance.
Also, if the regex is called very often, the same article recommends that we use the `Compiled` option.

The question, both for the cache, and for the `Compiled` option is: can we determine through static analysis if a specific regex might be call

[2015-03-22 23:22] akamud commented on #297
@giggio  I tried to keep those more complicated scenarios as an improvement, but I like your idea of changing this to `Info` and give the user the two options.

But now that you said, I'm not sure even when it is found inside a loop should be a warning, as tested [here](http://blogs.msdn.com/b/bclteam/archive/2010/06/25/optimizing-regular-expression-performance-part-i-working-with-the-regex-class-

[2015-03-22 23:34] giggio commented on #297
I am fine with that. It also makes the analyzer simpler. But I would still offer the 3 code fixes, they would be great.

[2015-03-22 23:36] akamud commented on #297
Yeah, I agree with that, it's a great idea.

[2015-03-23 10:57] carloscds commented on #297
Great!

[2015-03-23 10:57] #291 closed

[2015-03-23 21:01] #290 closed

[2015-03-24 14:27] giggio commented on #290
Great!

[2015-03-26 22:09] MisinformedDNA commented on #65
I don't think you should do refactorings that could break code. If you are going to refactor code, it must result in the same thing as before. We should guide developers into the pit of success, not give them an easy path to failure.

[2015-03-27 17:23] giggio commented on #130
I just finished #131 I will work on this one now.

[2015-03-29 18:11] giggio commented on #121
I am marking this as a duplicate of #96. @ElemarJR if you would like to reopen it let us know what you had in mind.

[2015-03-29 18:11] #121 closed

[2015-03-29 18:17] giggio commented on #116
I will work on it. Should be fairly similar to the string interpolation ones I did before.

[2015-03-29 19:48] #131 closed

[2015-03-31 14:50] giggio commented on #96
@JulianoSaless still want to work on this one?

@code-cracker/owners We still have to decide on the category. Also, all the other points presented on the discussion are still pending. Are we using some guard clause? Which one?

Also, I am afraid this will generate tons of `Info` on every single project, polluting the Error list. This certainly is something we do not want. We could have this diagno

[2015-03-31 16:39] #116 closed

[2015-03-31 16:39] #130 closed

[2015-03-31 17:14] julianosaless commented on #96
@giggio, I want work, but i will do other issue, thanks :)

[2015-03-31 17:44] giggio commented on #96
Ok, I will remove it from `Ready`, as it certainly is not.

[2015-03-31 18:57] viniciushana commented on #96
Ideally, I'd like to see it reported just as Resharper does: the offending code is dimly highlighted, with a mouseover hint explaining what's going on and nothing shows up at the error view. AFAIK Roslyn doesn't support such a thing yet.

[2015-04-01 01:33] giggio commented on #88
@elemarjr can you post an example of exactly what you mean? Would be in case of an `if`...`else`?

[2015-04-01 01:46] giggio commented on #96
Right, we only have Hidden, Info, Warning and Error.

[2015-04-01 02:13] giggio commented on #96
Every other option to highlight any text would involve us working directly with the Visual Studio layer, and this would not be portable.

[2015-04-01 02:19] giggio commented on #112
Lambda expressions were solved on a367d9de. I am fine without analyzing indexer properties or event accessors. @code-cracker/owners If you disagree please reopen the issue.

[2015-04-01 02:19] #112 closed

[2015-04-01 02:20] #113 closed

[2015-04-01 13:24] viniciushana commented on #96
Yeah. I'd say we set it as `Info`.

[2015-04-01 13:57] giggio commented on #96
But it would pollute the Error list with tens of errors.

[2015-04-01 17:16] carloscds commented on #96
May be hidden, not info.

[2015-04-01 18:25] giggio commented on #96
`Hidden` is the only option that would not pollute, but then I don't know if it would be useful as @ElemarJR intended. Another option is `Info` but keep the analyzer disabled. What do you think Elemar?

[2015-04-02 01:56] giggio commented on #117
I will work on it.

[2015-04-05 15:39] Ridermansb opened #304 "View lines covered by tests in coverwalls"
Coverwalls has a feature to show which lines of code are being covered by tests.

Apply this feature to coverwalls.

[2015-04-06 16:51] #304 closed

[2015-04-07 17:40] #203 closed

[2015-04-07 18:30] andrecarlucci commented on #120
It would be nice to have the option to change to String.Empty too.
To be honest, I find "" more readable than String.Empty, but that's personal taste ;)

[2015-04-07 20:56] giggio opened #307 "Add property to constructor"
This:

[code]

Becomes:

[code]

If the constructor already exists, add to it:

This:

[code]

Becomes:

[code]

If more than one constructor exists, offer one fix for each constructor, and another for all constructors.

Diagnostic Id: `CC0083`
Severity: Hidden
Category: Refactoring

[2015-04-07 20:59] giggio commented on #120
I also prefer `""`. :)

[2015-04-07 20:59] giggio commented on #120
@andrecarlucci Just create an issue doing the opposite!

[2015-04-07 22:59] carloscds commented on #120
Is it ok to develop ?

[2015-04-07 23:01] carloscds commented on #307
@giggio How I know what property can put in constructor ?

Look:
[code]

[2015-04-07 23:19] giggio commented on #120
Still missing diagnostic id..

[2015-04-07 23:34] carloscds commented on #120
Ok, I will put it.

[2015-04-08 16:10] jwooley commented on #307
I can see this becoming an anti-pattern quickly. What happens if I have 20 properties. I would hate to have a constructor for each property even if they are optional. For me a constructor with that many properties should be refactored. This makes more sense for setting private fields or properties without public setters.

[2015-04-08 19:23] giggio commented on #120
@carloscds I changed the label to working, I assume you are working on it, right?

[2015-04-08 19:25] giggio commented on #307
@carloscds we would have a diagnostic for each property that isn't already being set on the constructor. On your example, we would have 3 diagnostics:

* Add Bar assignment to constructor
* Add Some to constructor
* Add all properties assignments to constructor

[2015-04-08 19:26] giggio commented on #307
@jwooley We would not generate 20 constructor, only one.
We could expand this issue to include private fields. Properties without public setters should already be included.

[2015-04-08 19:28] jwooley commented on #307
I was referring to 20 parameters to the single constructor.

Sent from Windows Mail

From: Giovanni Bassi
Sent: ‎Wednesday‎, ‎April‎ ‎8‎, ‎2015 ‎3‎:‎27‎ ‎PM
To: 'code-cracker/code-cracker'
Cc: Jim Wooley

@jwooley We would not generate 20 constructor, only one.
We could expand this issue to include private fields. Properties without public setters should already be included.

—
Reply to this email

[2015-04-08 19:28] carloscds commented on #307
@giggio I guess that this issue need more discussion because it's not totally clear.

[2015-04-08 19:28] carloscds commented on #120
@giggio Correct, it's mine :-)

[2015-04-08 19:35] giggio commented on #307
@jwooley This is usually considered a bad smell. So are public setters, put Microsoft still provides the `prop` snippet to help build them. Tools can be abused. CodeCracker suffers the exact same problem any tool would suffer. This is no reason not to do this item, as it is a common pattern and very helpful. And it is a refactoring, so it would only appear when demanded.

[2015-04-08 19:36] giggio commented on #307
@carloscds What is not clear? Please post what you did not understand so we can search together for a solution. :)
I marked it as needing more discussion.

[2015-04-08 19:41] carloscds commented on #307
@giggio Look at my sample above. I have many properties and fields in my class. What properties/fields I will include as parameter in constructor ? All ? If I do this, is it opposite of issue #44 ?

[2015-04-08 19:49] giggio commented on #307
@carloscds We would have 3 code fixes suggested for your example:

* Add Bar assignment to constructor
  * This would only add `Bar`
* Add Some to constructor
  * This would only add `Some`
* Add all properties assignments to constructor
  * This would add bot `Bar` and `Some` to the constructor, that would have 2 parameters.

It is not the opposite of #44 because that creates a **new type** for t

[2015-04-08 19:51] giggio commented on #307
I just figured that this might break code, which is ok, since it is a refactoring. Existing constructor calls would all break. We could add a placeholder to all these calls, which is what R# does, or simply let them break. Which do you prefer?

[2015-04-08 20:00] carloscds commented on #307
@giggio Ok, we have some options:
1. add some property or field according a option menu
2. add all fields
Is it ?

[2015-04-08 20:14] giggio commented on #307
@carloscds Yes, that is it.
Right now this issue is considering only properties. We could expand it to use fields or we could create another issue to consider fields.

[2015-04-08 20:31] carloscds commented on #307
@giggio Great. I will suggest another thing about paramenter names: instead using lower name, maybe put a prefix in property name. Example:

This:

[code]

Becomes:

[code]
What do you think about ?

[2015-04-08 20:43] giggio commented on #307
@carloscds We haven't been using prefixes on the CodeCracker projects or any other code fix, so I prefer not to use here as well. This coding style thing is actually something we still have to discuss on this project, but at this moment I would prefer to keep the standard we already are using.

[2015-04-08 20:46] carloscds commented on #307
@giggio Ok, in this case maybe we need to put a number after name.

[2015-04-08 20:47] giggio commented on #307
@carloscds Why?

[2015-04-08 20:53] carloscds commented on #307
@giggio No, forget this. It's a constructor. I can use this.bar = bar.

[2015-04-09 00:41] thorgeirk11 opened #308 "Nameof analyser ignoring index parameters."
The nameof analyser is not picking up the parameter of a indexer function correctly:

In the following code the only the string inside the second throw is underlined.
[code]

![image](https://cloud.githubusercontent.com/assets/2693474/7058405/f15ae2a2-de50-11e4-918d-2f0aa885b99a.png)

[2015-04-09 12:34] giggio commented on #308
@thorgeirk11 This is a know issue. Issue #263 already takes care of this. Someone just needs to do it.

[2015-04-09 12:34] #308 closed

[2015-04-11 17:07] giggio commented on #117
Ok, I am blocked on this one. I can't arbitrarily run an expression at runtime. The main problem is that `Assembly.Load(byte[])` does not exist for PCLs.
I have contacted the C# team and will wait on their answer. Maybe this is possible through some other route.

[2015-04-12 15:04] AdamSpeight2008 opened #309 "NameOf produces wrong results/"
Ran code-cracker's VB version of `Use NameOf` of the Roslyn code base and it produce a lot of incorrect conversions. [See](https://github.com/dotnet/roslyn/pull/1879)
Now I have to manually go through them correct the errors.

I suspect that it if using only first argument's identifier of the method the "Code Fix" is suggested, rather than the on matching the value of the string.

[2015-04-12 18:41] Kavignon commented on #118
Is someone working on this at the moment ?

[2015-04-12 19:28] Kavignon opened #310 "Enforce good naming behavior in classes"
Make sure that fields, properties and events are properly named.
First, make sure that they're not defined with a single character but also, that they respect the camelCase such as fields are to respect lowerCamelCase and properties are to respect UpperCamelCase.
Warning level : Warning
I don't know what diagnostics to give at the moment, so I'll say CCXXXX.

As for test cases, this is straightfow

[2015-04-12 23:06] giggio commented on #309
@AdamSpeight2008 Was this a problem on the Batch Fixer? Did you ask for an update on the whole solution, project or document?

[2015-04-12 23:08] giggio commented on #118
@Kavignon No. But it is not `Ready` yet. We need a test case, and a diagnostic id.

[2015-04-12 23:10] giggio commented on #118
@Kavignon Feel free to suggest one. @ElemarJR You might want to add it too?

[2015-04-12 23:19] Kavignon commented on #118
I'm not quite sure about this, but I think that it's better to compare string with the == operator than the Equals method. Please tell me if I'm wrong about this
That could be one of the test cases.
@giggio

[2015-04-12 23:35] ElemarJR commented on #307
That's really great just for "read-only" objects (with readonly properties)

[2015-04-13 00:06] giggio commented on #265
@jwooley We have discussed about this item, and we find that it makes sense. But this issue would be too big. Go ahead and create issues with descriptions for each of the suggestions and we can work on each of them individually.

[2015-04-13 00:06] #265 closed

[2015-04-13 00:37] giggio commented on #136
We have discussed, we will keep using http://code-cracker.github.io/ for docs. We will move "contributing" pages and related back to this repo, on the home page.

[2015-04-13 00:37] #136 closed

[2015-04-13 07:14] AdamSpeight2008 commented on #309
@giggio  I did a couple manual use of the  `Use NameOf` Code-Fix it produced the desired results, so then applied across the entire Roslyn solution. It wouldn't matter even if I had or hadn't use the Batch-Fixer, it still would have produced incorrect fixes.

 [The diff]](https://github.com/AdamSpeight2008/roslyn-AdamSpeight2008/commit/6e057340923154ccac01b30d36db780eec433425)

[2015-04-14 01:26] giggio commented on #309
@AdamSpeight2008 I have been able to reproduce the problem. It only happens when fixing all in document or higher. It should be a quick fix. I will look into it myself.

[2015-04-14 02:23] giggio commented on #31
@moreirayokoyama I am assuming you are not working on this one and returning it to the backlog. If you would like to complete let us know!

[2015-04-14 02:40] giggio commented on #118
@Kavignon @ElemarJR I added the test cases. @Kavignon If you want to work on it let us know.
This is a refactoring, the user might want to change one way or the other.

[2015-04-14 10:41] #309 closed

[2015-04-14 21:12] giggio commented on #117
I am no longer blocked. I was able to use `SemanticModel.GetConstantValue`. See https://github.com/giggio/code-cracker/commit/aad7d83d56e991616cc6d1f0b1ad87994eea5432#diff-8eb73e3de1fa78edc82aabe102165778R49.

[2015-04-15 02:49] Kavignon commented on #118
@giggio where are the test cases ?
So, if I can it right, I'll have to produce the following

Category: Refactoring
Severity: Hidden
Diagnostic ID: CC0085 (converting == to Equals)
Diagnostic ID: CC0086 (converting Equals to ==)

I'll have to see in the library how refactoring is done. I'm used to analyzing but I've no prior experience with refactoring so this will be a nice experience.
I'll make

[2015-04-15 10:50] carloscds commented on #118
@Kavignon I will put working in this issue.

[2015-04-15 14:07] giggio commented on #118
@Kavignon We cannot assign the issue to you, github only allows us to assign issues to project maintainers (which are part of a team).
Do not create a Roslyn refactoring. We are not able to deploy refactorings with Nuget, so we are not using them. You need to create an analyzer which creates a Hidden diagnostic, this is how we are working refactorings in CC.
If you have any questions let us know.

[2015-04-15 19:08] giggio commented on #23
Closed on #299 and #300.

[2015-04-15 19:08] #23 closed

[2015-04-17 17:19] #117 closed

[2015-04-17 19:05] giggio opened #313 "Create infrastructure for testing multi culture values"
On #312 a test failed when we tested on a pt-BR version of VS. We need a way to verify these types of issues on our unit tests.
We need to discuss what would be the best approach to do this.

[2015-04-17 19:07] giggio commented on #313
@ElemarJR @carloscds Any idea on how we could deal with this? I am thinking of maybe changing the current thread's culture and reverting at the end of the test, using a disposable object, like this:

[code]

[2015-04-17 19:10] carloscds commented on #313
@giggio @ElemarJR Test failed not because VS is pt-BR, but about Windows is localized for pt-BR, more specifically date and number formats. But your idea in code above it's valid.

[2015-04-18 14:27] giggio commented on #205
@jwooley I will close this issue, you can continue to submit PRs for each analyzer individually as you have been doing!

[2015-04-18 14:27] #205 closed

[2015-04-18 17:07] thorgeirk11 opened #314 "VS crash on CC0016"
Visual studio crashes when refactoring of CC0016 runs on the following code

[code]

[2015-04-19 01:19] thorgeirk11 opened #315 "Visual studio crash on initializer refactoring (CC0009)"
Visual studio crashes on the following code.

[code]

![image](https://cloud.githubusercontent.com/assets/2693474/7217741/f455a6d4-e631-11e4-85be-a3d7f24f3ad3.png)

When I try to see the code fix VS crashes.

[2015-04-19 15:10] Kavignon commented on #310
No one has answered this thread.
Is this a really bad idea ?

[2015-04-19 15:20] Kavignon commented on #88
essentially, what it means to invert a if would be something like this @giggio
//not inverted
public string Method(Object obj)
{
    if(obj != null)
    {
         return obj.ToString();
     }
}

public string SecondMethod(Object obj)
{
    if(obj == null) return null;
    return obj.ToString();
}

[2015-04-19 15:23] Kavignon commented on #88
that would, indeed, be a good code refactoring @ElemarJR
The big impact of this refactoring is that it avoids the need of the nested if structure @giggio

[2015-04-19 18:44] giggio commented on #88
@Kavignon I have updated the description, see if you agree.
@ElemarJR @carloscds I need some of you to validate it.

I liked this one, I don't have an issue assigned to me at this moment, I would like to work on this one.

[2015-04-19 18:55] giggio commented on #314
I am not getting CC0016 raised on this method:

![Where is CC0016?](https://cloud.githubusercontent.com/assets/334958/7220822/fb3dc006-e6ab-11e4-9e8f-3c3376c3e40e.png)

It is exiting on line 47:

https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Design/CopyEventToVariableBeforeFireAnalyzer.cs#L47

The condition it is hitting to exit is `symbol is IParameterSymbol`. CC

[2015-04-19 18:55] #314 closed

[2015-04-19 19:01] giggio commented on #315
I have reproduced it. The error is happening at line 56 of the code fix provider.

https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Style/ObjectInitializerCodeFixProvider.cs#L56

[code]

A diagnostic should not be raised for this situation, the code fix is correct, the problem is at the analyzer.

[2015-04-19 19:18] giggio commented on #315
Done on #316, just let's wait for the merge.

[2015-04-19 22:30] Kavignon commented on #88
I agree with your update !
I'm still working on #88.
But i'd like to take that one on as soon as I'm done with it !

[2015-04-19 23:45] Kavignon opened #317 "Bug: CC0006 ForInArrayAnalyzer"
While trying out the library as a nuget package, I wanted to try the CC0006 analyzer. It turns out that
if a method receives the IEnumerable concrete class as an argument, it won't pick up the analyzation that it needs to do.
I tried the one on the website,and it worked. Basically, what I understand, as a bug (or maybe my machine is failing), I think that it only works when its used locally but no

[2015-04-21 01:08] #315 closed

[2015-04-21 01:20] giggio commented on #9
I will do this one this week.

[2015-04-21 01:42] giggio commented on #317
@Kavignon CC0006 looks for a very specific pattern. It looks for a `for` that has a specific condition (just as you used in your example), and a body which contains an assignment from the array/list into a variable, and if the indexer is not used again later for something else.
Even though your pattern makes sense, we did not plan for it. That does not mean we cannot expand it to also work with it

[2015-04-21 01:52] giggio opened #318 "Expand CC0006 (change for into a foreach)"
Currently CC0006 is only raised on a specific pattern, with a for, and an assignment happening with the indexer like this:

[code]

And it's code fix changes it to a foreach, like this:

[code]

It is not currently able to deal with more array accessors, like this:

[code]

This could be changed to:

[code]

This issue will expand both the analyzer and the code fix.

VB does not have this analyzer

[2015-04-21 01:54] giggio commented on #317
So, I have examined the code, and have opened issue #318 with some examples on how to deal with this item. Let's keep the discussion there. @Kavignon please see if you agree with what I have put there. And tks for the idea of expanding this analyzer and code fix.

Regarding CC0068, please open another issue with an example we can verify.

[2015-04-21 01:54] #317 closed

[2015-04-21 01:56] giggio commented on #88
@code-cracker/owners I need you to validate this issue. It seems `Ready` to me.

[2015-04-21 03:06] giggio opened #319 "Bug: CC0022 being raised on using when not assigned"
This is incorrectly raising `CC0022`:

[code]

It shouldn't, as the object created from `SomeDisposable` will disposed. The analyzer works as expected when the value is assigned, like so:

[code]

[2015-04-21 21:44] giggio opened #321 "Make accessibility consistent (code fix for CS0051)"
If a class references another class that is less accessible you will get `CS0051`. For example

[code]

This will raise `CS0051` on the first caracter of the constructor identifier (the first letter `D`).

The code fix should simply change the accessibility of the less accessible class. It would change the above code to (showing only the changed code, the first class stays the same, note the `publ

[2015-04-21 23:34] carloscds commented on #321
@giggio it´s a very common error. Will be a very useful fix.

[2015-04-21 23:42] carloscds commented on #318
@giggio It´s very interesting. I tested two samples now and second one do not fire analyzer.

[2015-04-21 23:43] carloscds commented on #88
@giggio For me it´s ok.

[2015-04-22 03:27] giggio commented on #321
@carloscds Ok, I am setting it as `Ready`, then.

[2015-04-22 03:28] giggio commented on #88
Ok, it is `Ready`. @Kavignon finish you item first, then you can get this one. :)

[2015-04-22 20:46] #313 closed

[2015-04-23 03:21] #108 closed

[2015-04-23 03:21] #109 closed

[2015-04-23 03:44] giggio commented on #192
Closed on #323

[2015-04-23 03:44] #192 closed

[2015-04-23 11:47] thorgeirk11 opened #324 "Bug in CC0008 analyser for variable access."
The CC0008 analyser does not check if the variable is used in the initialiser code.

[code]

The refactored code has a compile error since the initializer cannot access the unassigned variable.

![image](https://cloud.githubusercontent.com/assets/2693474/7296313/d5e05a9e-e9ad-11e4-990e-0b91aad7706c.png)

[2015-04-23 15:25] #95 closed

[2015-04-23 15:25] #107 closed

[2015-04-23 15:25] #110 closed

[2015-04-23 15:27] giggio commented on #95
@sharwell Everything has been fixed by @ElemarJR  and is integrated into master (it is at the HEAD right now). Do you mind checking it out, as you reported all the issues, and see if you find anything else?

[2015-04-23 15:32] giggio commented on #324
Bug confirmed.

[2015-04-23 17:01] #324 closed

[2015-04-23 17:52] ElemarJR commented on #321
I missed the idea here. Please, man explain it a little bit more.

[2015-04-24 14:29] #319 closed

[2015-04-24 14:35] giggio commented on #321
@ElemarJR Try the first code and you will see `CS0051` raised because the `DependentUpon` class is less accessible than the `Dependent` class, that references it. A `public` class cannot reference in a public way an `internal` class, for example, in a constructor argument.

[2015-04-25 20:20] #262 closed

[2015-04-26 01:12] carloscds commented on #293
@giggio I need to wait for a Roslyn bug fix: https://github.com/dotnet/roslyn/issues/1831

[2015-04-26 13:30] #214 closed

[2015-05-04 13:57] thorgeirk11 opened #330 "CC0056 Incorrectly classifying format strings."
The CC0056 is incorrectly classifying format strings.

![image](https://cloud.githubusercontent.com/assets/2693474/7454603/df22b402-f264-11e4-8d59-35f0f183dfae.png)

[code]

I am not sure if it should cover the following:

[code]

I am using 1.0.0.5-alpha of code cracker and Visual Studio 2015 RC

[2015-05-04 18:59] baks commented on #198
Looks easy for somebody new like me :)
@giggio  I take this one

[2015-05-06 19:44] carloscds commented on #330
@thorgeirk11 Error message seems correct. Number os arguments are incorrect. About second comment maybe we can improve analyzer to look this. What do you thing about ?

[2015-05-06 19:59] sharwell commented on #330
The message does not make sense as written. Both instances of `{0}` in the format string refer to the first argument, and no other argument is referenced.

[2015-05-06 20:08] carloscds commented on #330
@sharwell Analyzer is looking for number of arguments and not for your content. About this, message is correct. Maybe an improvement can be look for this aspect ? Do you like to implement this ?

[2015-05-06 21:32] thorgeirk11 commented on #330
@carloscds, this is clearly an unexpected error since the code is perfectly valid.

[2015-05-09 20:16] giggio opened #332 "CC0068 (Method not used) is not working with generics"
For example it is being raised for this method (from `GeneratedCodeAnalysisExtensionsTests.cs`):

[code]

Which has a lot of use inside the same class.
**Note 1**: I am guessing the problem is generics, I did not verify it. It could be something else.
**Note 2**: I did not check vb, but I guess the bug is there as well.

[2015-05-09 22:46] carloscds commented on #330
@thorgeirk11 Yes, I agree that it's an error. I will create a bug.

[2015-05-09 22:54] carloscds opened #333 "BUG: CC0056 Incorrectly classifying format strings"
See discussion #330.

Analyzer is considering code below as an error, because it's looking only for number of parameters and not for parameters. Analyzer should check parameters and parameters count. In this context this sample is not an error:

[code]
This code is correct.

[2015-05-09 23:48] sharwell commented on #330
@carloscds I'm confused. Why did you make a new issue which is the same as this issue?

[2015-05-10 00:14] carloscds commented on #330
@sharwell Yes, now it's a bug issue.

[2015-05-10 07:23] #330 closed

[2015-05-10 07:23] #333 closed

[2015-05-10 07:25] giggio commented on #330
The PR was merged. I will open an issue for your second scenario. I am not sure we should expand the existing analyzer or create a new one. Let's discuss on the new issue.

[2015-05-10 07:30] giggio opened #335 "Incorrect string.Format usage"
This can be identified as a flawed string but isn't:

[code]

There is no code fix.

We could expand on `CC0056` or not. Let's discuss it. If we decide to create a new analyzer, it should follow `CC0056` details (Error, Usage).

Here is the current analyzer for `CC0056`: https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Usage/StringFormatArgsAnalyzer.cs

@thorgeirk11

[2015-05-10 07:33] giggio commented on #335
Looking at the current implementation it shouldn't be a problem to expand `StringFormatArgsAnalyzer` to make it solve this problem. @thorgeirk11 you brought it up on #330, and fixed it later, what do you think? @code-cracker/owners what do you think?

[2015-05-10 07:33] giggio commented on #330
Created issue #335 to discuss the 2nd item.

[2015-05-10 14:25] baks commented on #263
I recently worked on #198 concerning NameOfAnalyzer so if possible I could take this one.

[2015-05-10 19:20] giggio commented on #263
@baks Ok, go ahead, it is yours. If you find the problem from #198 problem here just update it as well.
I invited you to the collaborators team so I can assign it to you.

[2015-05-10 23:04] carloscds commented on #335
@giggio Why you close another bug about this ? Solve only this problem not solve it.

[2015-05-10 23:07] carloscds commented on #335
I think that it´s not a problem for analyzer, because it´s a basic error. But if someone will want to fix it, go ahead!

[2015-05-11 10:15] thorgeirk11 commented on #335
I would like to try to extend CC0056 to also include this error, if that is ok ?
What would the error message for this scenario be and would it be the same diagnostic ID ?

[2015-05-11 11:27] baks commented on #263
@giggio Thank you for invitation

[2015-05-12 20:08] #335 closed

[2015-05-13 15:40] giggio opened #338 "Measure analyzer performance"
We need to be able to measure performance and classify analyzers accordingly.
I am thinking on a way to do this automatically, through tests and some reflection.
Analyzers that are slow should be disabled by default unless we have a very good reason not to do so.

So, my initial proposal would be to annotate an analyzer like so:

[code]

Note the `Slow` attribute on the class. This would be read d

[2015-05-13 15:41] giggio commented on #338
Just copying the above comment so we have some history on it, as it probably will evolve. The info bellow is an exact copy of the issue description when it was first created:

We need to be able to measure performance and classify analyzers accordingly.
I am thinking on a way to do this automatically, through tests and some reflection.
Analyzers that are slow should be disabled by default unless w

[2015-05-13 15:42] giggio commented on #338
@code-cracker/owners I need you to look at this so we can discuss it later.

[2015-05-14 16:05] giggio opened #339 "Bug on CC0082 when running on pt-br culture"
It was supposed to had been closed at this line:
https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Refactoring/ComputeExpressionCodeFixProvider.cs#L51

![cc0082bug](https://cloud.githubusercontent.com/assets/334958/7635815/b7bf12d4-fa39-11e4-8415-48fc0162c19c.png)

Related to #312 and #313.

[2015-05-14 16:25] #9 closed

[2015-05-14 16:33] giggio commented on #339
@carloscds I can't repro the bug on my machine and also the tests pass on the CI build server. This specific test is a `Theory`, it has several test cases. Which one is failing?
@ElemarJR Does it fail on your machine as well?

[2015-05-15 14:28] giggio commented on #198
Closed on #331.

[2015-05-15 14:28] #198 closed

[2015-05-15 15:16] carloscds commented on #339
@giggio I tried now in another machine and all tests passed.

[2015-05-15 15:17] giggio commented on #339
@carloscds Ok, can you try to find out how we can repro? Is the other machine still producing the bug?

[2015-05-15 15:24] carloscds commented on #339
@giggio I will try to repro again in my desktop, that was where test failed.

[2015-05-15 15:57] #263 closed

[2015-05-15 16:00] giggio opened #341 "Port changes from CC0021 (nameof) to VB"
Recent changes on #263 and #198 demand an update to the VB analyzer and code fix which we have not yet done.

@jwooley is working on it.

[2015-05-15 16:00] giggio commented on #341
@baks you worked on the C# side, would you like to take this one?

[2015-05-15 16:00] giggio commented on #263
VB is pending, issue #341 was opened so we don't forget.

[2015-05-15 16:23] jwooley commented on #341
I can take it if @baks doesn't.

[2015-05-15 16:54] baks commented on #341
I didn't do any work with VB side of CC0021 yet.
So, if @jwooley want to take this I have nothing against :+1:

[2015-05-15 17:35] giggio commented on #341
@jwooley go ahead then, it is yours!

[2015-05-16 13:30] giggio opened #343 "Bug on CC0068 (RemovePrivateMethodNeverUsed) with generic methods"
Right now it seems that generic methods are breaking `CC0068`.
This method:

[code]

(Also here: https://github.com/code-cracker/code-cracker/blob/master/test/CSharp/CodeCracker.Test/GeneratedCodeAnalysisExtensionsTests.cs#L305)

Is raising a `CC0068` when it shouldn't.

[2015-05-16 13:33] giggio opened #344 "Trailing whitespace (CC0065) fix all not working"
Right now it is only suggesting to fix one of the reported diagnostics.

[2015-05-16 13:56] giggio opened #345 "Bug on CallExtensionMethodAsExtensionAnalyzer (CC0026) throwing InvalidOperationException"
If you run CC against itself `CC0026` will throw an `InvalidOperationException` when analyzing this line:

[code]

(Also here: https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Extensions/CSharpAnalyzerExtensions.cs#L91)

It is throwing on this line:

https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Usage/CallExtensionMethodAsExtensionAn

[2015-05-18 13:14] #297 closed

[2015-05-18 13:22] giggio opened #347 "Update all existing code fixes that are doing too much work on RegisterCodeFixesAsync (C#)"
Right now most of the code fix providers are doing more work than they should on the `RegisterCodeFixesAsync` method.
They should delegate most, if not all, of the work to the code actions.

See the expected way to do this on:
https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Performance/UseStaticRegexIsMatchCodeFixProvider.cs#L22

And how the correction was applied o

[2015-05-18 13:23] giggio opened #348 "Update all existing code fixes that are doing too much work on RegisterCodeFixesAsync (VB)"
Right now most of the code fix providers are doing more work than they should on the `RegisterCodeFixesAsync` method.
They should delegate most, if not all, of the work to the code actions.

See the expected way to do this on:
https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Performance/UseStaticRegexIsMatchCodeFixProvider.cs#L22

And how the correction was applied o

[2015-05-18 15:05] bigodera commented on #344
Hi @giggio, I wanna start contributing and this seems to be a nice issue to start.
Before trying to figure out how to fix this bug, I'm trying to reproduce it. However, I'm not sure if Code Cracker is working on my VS. I've installed it via nuget in a separate solution and I wrote some code that should generate warnings about trailing whitespace and got nothing.

Installing CC via nuget is enough

[2015-05-18 17:39] giggio commented on #344
@bigodera We have not yet published a version to work with VS 2015 RC to Nuget, only to Myget. This would explain why it might not be working.
To try it you should actually fork, clone and run it, with VS 2015 RC. It should work. VS 2015 CTPs are not supported for dev anymore.

[2015-05-18 17:40] giggio commented on #344
@bigodera If you get it working just let us know, and you may start to working on this issue. We have a few other examples on how to build a fix all provider on the project.

[2015-05-19 13:56] bigodera commented on #344
@giggio I did what you told me to...forked and tried to run it. But I can't run it since it's a class library project. There is a Vsix type project in the solution that is not being loaded cause VS says it's incompatible. Maybe this is the one I should be running?
Sorry, I'm a little confused. If there's any other place we could chat a little about this, it'd be nice.

[2015-05-19 14:02] jwooley commented on #344
For the VSIX project, make sure you've installed the VS SDK for 2015 RC under the Additional tools option at https://www.visualstudio.com/en-us/downloads/visual-studio-2015-downloads-vs.aspx. For most development, you shouldn't be F5 debugging, but rather writing tests and running/debugging the unit test project. It's much faster to run and debug the tests than to launch the experimental hive VS t

[2015-05-19 14:18] giggio commented on #344
@bigodera What @jwooley said is correct. I am on jabbr all day: https://jabbr.net/#/rooms/code-cracker

[2015-05-19 16:39] bigodera commented on #344
Thank you @jwooley! I'll do that.

[2015-05-20 01:06] giggio commented on #307
@julianosaless How is this coming? Do you think you will finish until the end of the month?

[2015-05-20 01:53] gandarez commented on #88
I'm working on it. Finishing up with writing tests.

[2015-05-20 10:43] gandarez commented on #88
Clarifying: You mean a simple statement-inversion function or a way to reduce nesting? What I've done so far is a simple statement-inversion function.

[2015-05-21 01:13] julianosaless commented on #307
yes, i will finish :)

[2015-05-21 02:11] giggio commented on #307
Nice, so it goes on alpha6!

[2015-05-21 11:37] giggio commented on #88
@Kavignon Just an inversion. See the tests on the description, they should pass. Reducing nesting comes for free. :)

[2015-05-21 11:47] gandarez commented on #88
There're two scenarios. One of them is simply invert a full if statement (if ... else). The other one is to reduce nesting which in my opinion differs from the first one. Do you agree?
The simple scenario I already covered.

[2015-05-21 14:00] giggio commented on #88
I mentioned @Kavignon incorrectly. Sorry about that. @gandarez is working on it.

[2015-05-21 14:01] giggio commented on #88
@gandarez I don't agree. The diference is that the second one returns. The first one doesnt.

[2015-05-21 14:11] gandarez commented on #88
@giggio Ok i'll make effort to make it as described.

[2015-05-21 20:48] giggio opened #352 "Test fix all providers"
Most code fix providers are not having their fix all actions tested. Also, most of them use the `BatchFixer`. We need to write tests to these code fix providers.
This action is an umbrella action. We will only close it when every code fix provider has tests.

- [ ] InterfaceNameCodeFixProvider
- [ ] SealedAttributeCodeFixProvider
- [ ] StaticConstructorExceptionCodeFixProvider
- [ ] StaticConstruc

[2015-05-22 02:34] #120 closed

[2015-05-22 02:37] giggio opened #354 "Use "" instead of String.Empty"
This is the opposite of #120.

[code]

Becomes

[code]

Diagnostic Id: `CC0088`
Severity: Hidden
Category: Style

@kalkie is working on it.

[2015-05-22 02:40] giggio commented on #332
Duplicate of #343, which is already solved.

[2015-05-22 02:40] #332 closed

[2015-05-22 14:10] bigodera commented on #344
@giggio I got it working.
I ran all the tests of the RemoveTrailingWhitespaceTests class and they're all ok. Then I ran the vsix project, tried each one of the examples that are in the tests in real code and the diagnostics were generated to me.
Maybe I didn't understand the issue?

[2015-05-22 14:13] giggio commented on #344
You have to run a fix all in the solution. Did you try that?

[2015-05-22 14:44] bigodera commented on #344
I hadn't, sorry.
But I tried now in a project with 2 different classes, each one with at least one occurrence of the examples that are in the RemoveTrailingWhitespaceTests class. It seems to be working ok to me.
Do you have an example cenario where it doesn't work?

[2015-05-22 17:43] gandarez opened #355 "Remove redundant else"
When else statement is empty it might raise a diagnostic.

Before:

[code]

After:

[code]

Diagnostic id: `CC0089`
Category: `Usage`
Severity: `Info`

@gandarez is working on it.

[2015-05-22 19:12] giggio commented on #344
@bigodera  You are right. The problem was at another place, at the detection of generated code, which was bugged. I fixed it. The problem occurred when you started the fix on an AssemblyInfo.cs file.
You can select a different issue to work.

[2015-05-22 19:12] #344 closed

[2015-05-22 19:15] giggio commented on #25
@fholiveira Are you there?

[2015-05-22 19:17] giggio commented on #355
Ok, you can update the wiki and add the diagnostic id yourself.
This is related to #88, which you are working, right?

I think this is an `Info`, category `Usage`.

@gandarez can you add a test case?

[2015-05-23 08:55] kalkie commented on #354
Hi giggio, can I try to solve this one?

[2015-05-23 14:09] giggio commented on #354
@kalkie yes, go ahead. I'll also add you to the collaborators team and assign it to you.

[2015-05-23 20:17] gandarez commented on #355
@giggio Yes for sure. I'm saying it's already done. I'm making effort to develop #88

[2015-05-24 03:51] giggio opened #357 "Verify if xml docs have the correct parameters"
As fixed on 526aa919a3afa369890ee9adfd81aae2216c5921.

Should work on methods and constructors.
Diagnostic should only be raised if there is already some xml documentation present.

### Removing unexistent param:

Before (`spans` does not exist):

[code]

After:

[code]

### Creating a missing parameter:

Before (note that `workspace` does not appear on the xml docs):

[code]

After (with `workspa

[2015-05-24 03:57] giggio commented on #357
This is an interesting one. I want to work on it. @carloscds @ElemarJR can you validate it? If it is alright, please move it to `Ready`.

[2015-05-24 04:01] giggio commented on #355
Ok, I updated the description. I noticed you updated the wiki, you need to update the issue as well. I did it already. Check the test case, see if you want to add anything.

[2015-05-24 13:54] #345 closed

[2015-05-25 02:49] giggio opened #359 "Bug: nameof analyzer (CC0021) being raised on self referencing initialization statement"
`CC0021` should not be raised within the statement that initializes a variable, like so:

[code]

It also happens on properties, and so on:

[code]

[2015-05-25 03:45] giggio opened #360 "Make CodeCracker localizable"
When we started CodeCracker we were using the templates from Microsoft. At the time, they did not include a way to localize the library. It does now. Here are the localizable parts of an analyzer on the template now:

In diagnostics.cs:

[code]

In resources.resx:

[code]

We need to update all analyzers so strings are localizable, and then start a localization initiative.

[2015-05-25 03:46] giggio commented on #360
@code-cracker/owners We need to discuss this.

[2015-05-25 17:46] gandarez opened #361 "Move class(es) to match filename"
When there's a single or multiple classes under the same file it should raise a diagnostic. The new file has to be created at the same level as its parent.

Before:

[code]

After:

[code]

Going deeply about roslyn I realized it's possible to do. I've created an Analyzer and a Code Fix Provider yet. However there's an error (which I didn't follow) when writing down to the new file.

Analyzer:

[c

[2015-05-29 16:18] baks opened #364 "Make method static if possible"
If method in class is not using any instance fields it can be made static.

[code]

becomes

[code]

A non static method can be turned static, but only if it is not accessing `this`.
Also, the code fix would have to find all references and change them to static invocations. If the method is public, on the whole solution, if it is internal, on the project, etc. The current roslyn infrastructure tak

[2015-05-29 18:01] #343 closed

[2015-05-30 08:53] kalkie commented on #50
Hi @giggio, shall I implement this one?

[2015-05-30 15:48] Kavignon commented on #118
I am so sorry. I have been really busy in the past weeks. I'm back on track now and it should not take long before I start making pull requests !

[2015-05-30 15:51] Kavignon commented on #364
Well in that case, we could even extend this to even a greater step @baks
If we look at the entire class and we see that all the methods can be converted to static methods, but those static methods all seem to receive the same type of parameter, the class could be converted to an extension class!
What do you think about this ? @giggio

[2015-05-30 19:10] #354 closed

[2015-05-30 19:24] giggio commented on #341
Closed on #363.

[2015-05-30 19:24] #341 closed

[2015-05-30 19:25] giggio commented on #50
@kalkie go ahead! I am looking forward to see it!

[2015-05-30 19:27] giggio commented on #118
Nice! :)

[2015-05-30 19:31] giggio commented on #364
@Kavignon I like it but I think it is a different analyzer. To be able to create an extension method we need a non generic static class, that would be the only requirement. The methods don't need to receive the same type of parameters (see `CSharpAnalyzerExtensions` for an example).
I will create another issue and mention you so we can continue the discussion there.
@baks good one, I will fill in

[2015-05-30 19:34] giggio opened #365 "Convert method to extension method"
This:

[code]

becomes

[code]

A class that has extension methods has to be non generic and static. So, the diagnostic should never be raised to methods inside generic classes.

I have concerns I will express on comments bellow, let's see if we can find a nice scenario where we can make this helpful.

[2015-05-30 19:35] giggio commented on #365
Bringing in @Kavignon who had the idea on issue #364.

[2015-05-30 19:44] giggio commented on #364
@baks I set it to `Info` and `Usage`. I also expanded the test case and added comments, see what you think.

[2015-05-30 19:46] giggio commented on #365
Non static classes can be turned static, but only if no method inside the class is accessing `this`.
Also, the only allowed constructor would be the default one, and only if the had no code.
All references to the methods would need to change.

[2015-05-30 19:47] giggio commented on #365
I am not sure the best approach is to turn the method and class static AND make it an extension method. Maybe we could work only on static classes? @Kavignon @code-cracker/owners what do you think?

[2015-05-30 20:43] giggio commented on #355
Closed by #358.

[2015-05-30 20:43] #355 closed

[2015-05-30 20:47] giggio commented on #339
@carloscds Were you able to repro? If not, can we close the issue?

[2015-05-30 21:15] giggio commented on #293
@carloscds With the `RC2` release the roslyn bug might have been fixed. Can you check?

[2015-05-30 22:02] #12 closed

[2015-05-31 21:42] gandarez commented on #88
I'm still working on it. A little bit belated because I'm stuck at a point.

[2015-05-31 22:35] giggio commented on #88
Ok, if you need help let us know, we can help you.

[2015-05-31 22:37] giggio commented on #339
I am closing, if we are able to find a way to repro or maybe write a test we will reopen.

[2015-05-31 22:37] #339 closed

[2015-06-01 06:53] wertzui opened #366 "Bug in CC0008 when used together with null coalescing operator ??"
I am using the following code to either get an entity from the database and update it, or create it with the same values if it does not exist.
So an object initializer cannot be used here.
![image](https://cloud.githubusercontent.com/assets/4849642/7907594/8b388d66-083b-11e5-9973-244d1c7c5d36.png)

[2015-06-01 16:22] thorgeirk11 opened #367 "Remove Unused Method (CC0068) shown on method in use."
The CC0068 is being shown on a method that has references on it.
I think it might be because of the type parameter.

![image](https://cloud.githubusercontent.com/assets/2693474/7917430/eadb51de-0879-11e5-866b-db15b83cc98f.png)

Here is the code:
[code]

Is this the same as #343 ?

[2015-06-01 17:01] giggio commented on #367
@thorgeirk11 It looks like it, are you using the latest version? We just published alpha6.

[2015-06-01 17:08] giggio commented on #367
Ok, I have just confirmed that this bug is fixed, this code is not generating a diagnostic on the latest version (both nuget and extension, check both). I am closing the issue, please check with the latest version and if you still get the diagnostic let us know and we will try to dig deeper.

[2015-06-01 17:08] #367 closed

[2015-06-01 17:16] giggio opened #368 "Bug on CC0068 (RemovePrivateMethodNeverUsed) with Main"
`static void Main(string[] args)` will usually not have any outside reference. It should be an exception on RemovePrivateMethodNeverUsedAnalyzer.

According to [msdn](https://msdn.microsoft.com/en-us/library/acy3edy3.aspx?f=255&MSPPError=-2147217396):

What I have seen is that the accessibility of the method does not matter. We should exempt the method if and only if:

* It returns `void` or `int`

[2015-06-02 05:51] baks commented on #364
@giggio , ok for me :+1:
Just wonder about one thing - if the method will be turned static, should the code-fix also remove object creation, if it's not used after refactoring?

[2015-06-02 06:05] baks commented on #365
This is nice :+1:
For me better fits something like "Extract as extension method".

Usually when I work on something, the method that can be turned to extension method, first show up as `private static` method in some other class . And after a while, idea came up ->  this can be extension method.

I have feeling that this is common way how extension method are created.

[2015-06-02 09:26] baks commented on #321
@giggio, can I work on this one?

[2015-06-02 11:22] thorgeirk11 commented on #367
Alright, I was using alpha5 and have now updated to alpha6.

[2015-06-04 19:19] giggio commented on #321
Sure, go ahead.

[2015-06-04 19:22] giggio commented on #365
@baks This is a nice idea, we could work on a new issue for "Extract as extension method". What do you think?

[2015-06-04 19:23] Kavignon commented on #365
I think its a wonderful idea. Could not have said that in a better way.

[2015-06-04 19:24] giggio commented on #365
I just realized that to be able to "extract as extension method" we need a selection. We are currently doing refactorings as hidden diagnostics + code fix, so "extract as extension method" would only work if we did a real refactoring. The problem is that we can't deploy refactorings with nuget yet (this is a roslyn thing).

[2015-06-04 19:25] Kavignon commented on #365
Well, I dont think that the methods need to be private before they can be extracted as an extension. We could just look if all methods are static, that they are extending the same type in the the class which needs to be static.

[2015-06-04 19:26] Kavignon commented on #365
Actually I've describe an extension class. Nonetheless, I do think we don't have to look for the method accessor

[2015-06-04 19:27] giggio commented on #364
@baks to be able to do that we would need to analyze if the variable is not being referenced elsewhere, which we could do. The problem is that the object creation could have side effects. It shouldn't, for good code design, but it could. Variables that are not used will raise another diagnostic, from Roslyn directly.
I am not sure if we should remove the variable, it looks beyond the scope here.

[2015-06-04 19:42] giggio commented on #366
@wertzui It makes sense, it should not be raising `CC0008`.

I tried to reproduce it but I was not able to. The code I used is below. Can you please try to see if it raises `CC0008` on your machine?
Also, are you using the latest release, for VS 2015 RC (1.0.0-alpha6)?
This is an Entity Framework API, right?

[code]

[2015-06-04 19:48] giggio commented on #366
I got to reproduce the bug using EF.

[2015-06-04 19:49] giggio commented on #366
This is the full code to reproduce, using EF 6 as a reference:

[code]

[2015-06-05 05:35] baks commented on #365
@giggio correct me if I'm wrong.
If we detect a method that can be considered as extension method and mark that as hidden diagnostics and propose code fix - `Extract method {methodName} to extension method`. It won't work in that way?

[2015-06-05 14:58] giggio commented on #365
@baks No, because we wouldn't know what to extract. One line? Two lines?
That is the difference of a refactoring, one of the parameters is the user selection.

[2015-06-05 18:20] #366 closed

[2015-06-06 00:53] giggio commented on #31
I finished and added Any to All, and All to Any. Also added a lot of special cases. Check out:
https://github.com/code-cracker/code-cracker/blob/7b4bac8ed0f6fd1a5e6afc67d0aec4c55d1b3f1d/test/CSharp/CodeCracker.Test/Refactoring/ChangeAnyToAllTests.cs#L84-L178

[2015-06-06 00:54] giggio commented on #364
I will take this one.

[2015-06-06 21:45] giggio commented on #364
I updated the category do `Design`.

[2015-06-06 21:59] giggio opened #371 "Remove virtual modifier if possible"
** It should apply to all member that can be made virtual. **

This is an example only. This:

[code]

Becomes:

[code]

An analysis has to be made if the method can me made virtual. The analyzer has to check if there is derived class, and if in those classes if there is an override of the method.

Category: `Performance`
Diagnostic Id: `CC0093`
Severity: `Warning`

[2015-06-06 22:09] giggio opened #372 "Seal member if possible"
This is just like #371, but applies to methods that are virtual and inherited from a base class.

[code]

Becomes:

[code]

An analysis has to be made if the method can me made virtual. The analyzer has to check if there is derived class, and if in those classes if there is an override of the method.

Category: `Performance`
Diagnostic Id: `CC0094`
Severity: `Hidden`

Due to the problems on #293 t

[2015-06-07 14:56] baks commented on #321
@giggio maybe we should open issues for other inconsistent accessibility related errors? Or at least code fix for method return type?

[code]

[2015-06-07 15:17] baks commented on #365
@giggio I see your point.
But if we just propose to extract entire method body to extension method?
Maybe I didn't explain it well but my thoughts were to convert (extract) method to extension method. If a method can be considered as extension method, create new static class, move that method to this class and make it extension method.

[code]

becomes

[code]

[2015-06-07 15:32] giggio commented on #321
@baks I thought this kind of problem would also be raised with `CS0051`, but I tried your example and it raises `CS0050`. As the code fix for both `CS0050` and `CS0051` is the same, which is to open up the dependent class, we can fix both of them in this issue.
Is there any other we should consider? I found `CS0052`, that is also the same problem. See:

* [`CS0050`](https://msdn.microsoft.com/en-u

[2015-06-07 15:42] giggio opened #373 "Extract method to a extension method class"
This:

[code]

becomes

[code]

There would be a code fix where a new class would be created on the same project where the current class is. Also, if there are already other static classes with extension methods in the project, there should be one code fix for each of those classes, suggesting to add the method to one of those classes.

If a new class is created, mark the `ExtensionsClass` to be u

[2015-06-07 15:43] giggio commented on #373
This is similar to #365, but different. In this one we extract the method to a different class, and on #365 we change the current class to become a static class.

[2015-06-07 15:44] giggio commented on #365
@baks I created #373 for your suggestion, which is different from this one. I like it!
This issue is similar to #373, but different. In #373 we extract the method to a different class, and on this one we change the current class to become a static class.

[2015-06-07 15:58] baks commented on #321
Yes, there are other compiler errors connected with incosistent accessibility :
* [CS0053] (https://msdn.microsoft.com/en-us/library/532wtsbc%28v=vs.90%29.aspx)
* [CS0054] (https://msdn.microsoft.com/en-us/library/0efy9xb8%28v=vs.90%29.aspx)
* [CS0055] (https://msdn.microsoft.com/en-us/library/6b0x5w9f%28v=vs.90%29.aspx)
* [CS0056] (https://msdn.microsoft.com/en-us/library/7zdw9dt0%28v=vs.90%29.as

[2015-06-07 23:45] giggio commented on #321
Weird thing, two sites with different info, both on MSDN.
Ok, then, from `CS0050` to `CS0061`, we fix them all. :)
Agreed?

[2015-06-08 12:28] baks commented on #321
I agree with that we should create code-fix for all :+1:
I just think it will be better if we can group and split it into few issues. Thanks to that it will be much easier to review code and to do it. We can use the same code fix but for every error there will be different code to find type that caused the error.

I propose to make this issue code-fix for CS0050, CS0051.
And create new issue for :

[2015-06-08 14:39] #31 closed

[2015-06-08 17:29] giggio commented on #321
@baks
I just took a look at each of them. I don't think we should group them randomly. If we subscribe to `CS0050`, we will be expecting some type of expression with a Type on a return statement. If we subscribe to `CS0051` we will be expecting a parameter. This can be hard or easy to fix, depends on exactly where Microsoft is raising the diagnostic.
On `CS0050` they do it on the method identifier

[2015-06-08 18:14] baks commented on #321
@giggio Sounds good for me :+1:
I first create code fix for CS0051 and I will try to prepare code for other errors. We'll se how it goes.

We also can fix CS0051 (and other errors) if we change method accessibility (or other code construct) to accessibility same as accessibility of parameter type that generated error.
So, this is also proper code fix for CS0051:
[code]

[2015-06-08 18:29] giggio commented on #321
Ok, as soon as you have the first one open a PR so we discuss it.
The code fix would make the `DependedUpon` class public, as is on this issue's description.

[2015-06-11 19:49] heejaechang opened #375 "Async method can't be used with RegisterXXXXAction."
in DisposablesShouldCallSuppressFinalizeAnalyzer.cs

public override void Initialize(AnalysisContext context) =>
            context.RegisterSymbolAction(AnalyzeAsync, SymbolKind.NamedType);

this is wrong since RegisterSymbolAction is synchronous method, giving "async void" doesn't make it synchronous method meaning, all stage management in engine now can blow up sometime later.

for example, if

[2015-06-12 16:12] #375 closed

[2015-06-12 16:12] giggio commented on #375
@heejaechang Interesting. I fixed it in 32c9089.
Now, why would `SymbolAnalysisContext` offer a `CancellationToken` if we are not supposed to `await`?

[2015-06-12 18:45] heejaechang commented on #375
Cancellation has nothing to do with async-ness.

cancellation is still valid to cancel long running operation.

foreach(.. loop billion times ..)
{ ... . .token.ThrowIfCancelled() }

[2015-06-12 19:08] giggio commented on #375
@heejaechang Ok, got it. Tks!

[2015-06-14 02:48] Kavignon opened #377 "Convert Interface to Abstract Class"
This feature would look for base types of a class which implements an interface.  It checks for any conflicts, i.e. for types implementing the interface that already have base type (an error in C#, which has no multiple inheritance).

This was motivated by a feature found in Resharper 9. I thought this could be some neat feature in Code Cracker

[2015-06-14 02:57] Kavignon opened #378 "Convert Local Variable to Constant Field"
Local variables that are declared and initialised with a value without changing should be converted to constant field within a class or a struct.

        private bool SomeMethod(object obj)
        {
           var someVariable = 4;
           return someVariable == 4 && obj != null;
        }

I know this is a bad use case. But I'm just making a statement

[2015-06-14 03:01] Kavignon opened #379 "Add a CancellationToken to threading methods"
The title says it all. Some methods that uses either Thread or Task should at least receive a CancellationToken as a parameter and define some sort situation in which they should cancel the computation to get back some performance if a method does not finish its work.

[2015-06-14 15:55] giggio opened #380 "Add string interpolation to Console.WriteLine"
We already suggest a code fix for `string.Format` (on `CC0048`) to use string interpolation. Let's suggest one for `Console.WriteLine`.

Should work with:

* `WriteLine(String, Object)`
* `WriteLine(String, Object[])`
* `WriteLine(String, Object, Object)`
* `WriteLine(String, Object, Object, Object)`
* `WriteLine(String, Object, Object, Object, Object)`

This:

[code]

Becomes:

[code]

Category:

[2015-06-14 16:22] giggio commented on #379
@Kavignon The first part, add CT is fine. What do you mean by "define some sort situation in which they should cancel the computation to get back some performance if a method does not finish its work"? What exactly is the code fix changing? Can you provide some examples?

[2015-06-14 16:23] giggio commented on #378
@Kavignon This is already done. See `CC0030`.

[2015-06-14 16:23] #378 closed

[2015-06-14 16:28] giggio commented on #377
@Kavignon Nice one. But tricky. It has to go through all the compilation to be able to check all the classes and make sure no class is implementing the interface and also already inheriting from another class. This will raise a problem we have with another analyzer (see [NoPrivateReadonlyFieldAnalyzer](https://github.com/code-cracker/code-cracker/blob/90184774d2506d7c38e2578126d3512c93ae6149/src/C

[2015-06-14 16:56] Kavignon commented on #379
Well technically i was just talking about a cancellation token. But what I
meant was either we specify a CT or some sort of timer refactoring as in
well if after X ms the method A hasn't complete its task, we'll cancel it.

On Sunday, June 14, 2015, Giovanni Bassi <notifications@github.com> wrote:

--
Kevin Avignon
Étudiant en génie des technologies de l'information (ETS)

[2015-06-14 17:59] giggio commented on #379
@Kavignon Can you add some concrete scenarios with before/after so we can be more clear on how the code fix would work?

[2015-06-14 18:02] giggio commented on #379
BTW, this seems somewhat related to #234.

[2015-06-14 18:06] giggio commented on #47
@code-cracker/owners  It has become really simple in Visual Studio 2015 to decide what diagnostics you want. I will close this issue because of that, if you want we can discuss it later.

[2015-06-14 18:06] #47 closed

[2015-06-14 18:09] Kavignon commented on #377
What problem will it raise ? I thought we could just look for base types of a class, look for those which implements an interface. Or maybe i don't really understand the situation.

[2015-06-14 19:56] giggio commented on #377
@Kavignon You can't "find all references" on an analyzer because you can't (or at least shouldn't) call into async methods, await or `.Result`. Analyzers are supposed to be fast.
So what we do in these situations is that we would register on compilation start to inspect all class declarations, verify if there is any where the problem happens. We also register on compilation end to verify if there

[2015-06-14 20:31] giggio commented on #347
I did most of the work, but we are still missing the `Style` and `Usage` code fixes.

[2015-06-14 22:42] #321 closed

[2015-06-14 22:44] giggio commented on #321
@baks Ok, we can now open the other issues as the first PR (#374) is in.

[2015-06-14 22:50] giggio opened #381 "Make accessibility consistent (code fix for CS0050 to CS0061)"
**This issue is an umbrella issue. We will only close it when every sub issue is closed.**

Sub issues:

- [x] [`CS0050`](https://msdn.microsoft.com/en-us/library/be25s2h2.aspx) (#387)
- [x] [`CS0051`](https://msdn.microsoft.com/en-us/library/4sscdk02.aspx) (#321)
- [x] [`CS0052`](https://msdn.microsoft.com/en-us/library/997yz02a.aspx) (#391)
- [x] [`CS0053`](https://msdn.microsoft.com/en-us/libra

[2015-06-14 23:30] carloscds opened #382 "Extract Class to a New File"
Extracting a class to an external file, since this is not the only class in the file. The extracted class may not have the same name as the source file, if it occurs, change the file name including a number at the end.

The class must be created in the same folder and namespace.

Category: `Refactoring`
Diagnostic Id: `CC0096`
Severity: `Hidden`

[2015-06-15 00:08] giggio commented on #128
We are stuck as we are struggling to find a good naming pattern. We will continue to look at this issue until we find one.

[2015-06-15 00:30] giggio commented on #96
After some discussion we found that this would only make sense for `public` methods on `public` types.
But we don't have yet a way to work this analyzer/code fix. One idea is to offer a code fix that would throw an `ArgumentNullException`, and report a diagnostic on any method that does not do that or uses `?.` on all accessors.

[2015-06-15 06:34] baks commented on #381
So, I can start work on `CS0050`. Should I create new issue for 'CS0050' with details of how code fix provider should work?

[2015-06-15 11:35] giggio commented on #381
@baks I don't think we need it. Just go ahead.

[2015-06-15 11:55] wertzui opened #383 "Using the refactoring for CC0008 will result in a warning CC0015"
When using CC0008, the resulting object initializer will contain unnessecary parantheses and CC0015 will be trigered.

It would be better if parantheses where removed if the default constructor is used.

Example:

    var myFoo = new Foo();
    myFoo.bar = "foobar";

This will trigger CC0008.
After using it, the resulting code is

    var myFoo = new Foo()
    {
        bar = "foobar"
    };

this

[2015-06-15 12:12] giggio commented on #360
@code-cracker/owners @code-cracker/owners First analyzer is up with an example on how to write an analyzer and code fix with localization. See [NameOfAnalyzer](https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Design/NameOfAnalyzer.cs) and [NameOfCodeFixProvider](https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Design/NameOfCodeFixProvid

[2015-06-15 13:15] Kavignon commented on #378
The worst thing is, before proposing my idea, i went through the ones that were done...
I feel a bit bad haha

[2015-06-17 02:18] WennderSantos opened #384 "Use short-circuit evaluation (C#)"
Before:
[code]
After:
[code]
The first operation corresponds to the second one, except that in the second one if x is false, y is not evaluated, because the result of the AND operation is false no matter what the value of y is. Using the second operation you can earn a little bit of performance.

[2015-06-17 02:26] WennderSantos opened #385 "Use short-circuit evaluation (VB)"
Before:
[code]
After:
[code]
The first operation corresponds to the second one, except that in the second one if x is false, y is not evaluated, because the result of the AND operation is false no matter what the value of y is. Using the second operation you can earn a little bit of performance.

The same in OR operator

Before:
[code]
After:
[code]

In the second operation, if the value of x is t

[2015-06-17 15:05] marcelodeaguiar opened #386 "Warn when a constant with same value already exists."
Show a warning messaging when creating a constant with a value that already exists (and is visible) to the current project.
[code]
warning: There is a constant with the same value visible to this project in class "NameOfOtherClass"

It can even suggest a refactoring to use the other constant instead o a simple warning.

[2015-06-17 15:42] Kavignon commented on #386
Well, if I have many const values within the project, but each of them have a different meaning, this would cause a big issue..Plus, this will need a big computation from the project as it's not looking in a single source file but n the entire project. We need analyzers to be as quick as possible and it's my opinion that this would not be a good idea for this project.

[2015-06-17 17:32] marcelodeaguiar commented on #386
@Kavignon Makes sense.

[2015-06-17 18:46] Kavignon commented on #386
@code-cracker/owners i vote to close this issue

[2015-06-18 03:18] giggio commented on #386
It is true that we would need to wait for the compilation to end, and that happens only every now and then. And then, if the user changed the const, we would need again to wait for the compilation to finish to be able to remove it.
I am fine with closing it. It is not that I don't see value in it, but I think it is expensive for the benefit it is providing.
@marcelodeaguiar Tks for the suggestion,

[2015-06-18 03:18] #386 closed

[2015-06-18 03:27] giggio commented on #384
@WennderSantos We will be changing the program behavior when we do that. I was thinking that maybe because of that we could use it as a refactoring. But the code fix is not that useful, it is simply adding a `&` or a `|` (or maybe more than one when there are several conditions). Refactorings are `Hidden`, and don't show up until the user CTRL+DOT.
So now I am thinking that maybe this is not `Hidd

[2015-06-18 03:28] giggio commented on #385
See discussion on https://github.com/code-cracker/code-cracker/issues/384#issuecomment-113024956. As soon as we are done discussing there we can update things here, as what we decide there will apply equally here.

[2015-06-20 22:28] giggio commented on #347
I am doing the Style ones now.

[2015-06-20 23:41] giggio commented on #347
I am doing Usage now.

[2015-06-21 01:48] #347 closed

[2015-06-21 02:19] #364 closed

[2015-06-22 01:05] rtbortolin commented on #368
Can I do this one?

[2015-06-22 08:29] baks commented on #381
`CS0050` is done, so I start doing `CS0052`

[2015-06-23 22:43] giggio commented on #368
Sure, @rtbortolin, go ahead.

[2015-06-24 01:46] #368 closed

[2015-06-24 11:33] #380 closed

[2015-06-25 04:49] giggio commented on #381
Half is done! :)

[2015-06-25 05:01] #359 closed

[2015-06-25 14:42] thomaslevesque opened #393 "Make method non async (fix for CS1998)"
The following method:
[code]
Causes warning CS1998:

It can easily be fixed by replacing all `return x` statements with `Task.FromResult(x)` and removing the async keyword.

[2015-06-26 02:06] giggio commented on #372
There is a problem in this analyzer, as we need to check on compilation end only if there are derived classes. I am not sure the analyzer is worth it and we already have other issues blocked because of this.

[2015-06-26 02:06] giggio commented on #371
There is a problem in this analyzer, as we need to check on compilation end only if there are derived classes. I am not sure the analyzer is worth it and we already have other issues blocked because of this.

[2015-06-26 02:07] giggio commented on #357
@code-cracker/owners  I am moving it to Ready.

[2015-06-26 02:11] giggio commented on #151
@code-cracker/owners This has been discusses a long time ago, I am moving it to `Ready`.

[2015-06-26 02:14] giggio commented on #65
@code-cracker/owners I am moving this to `Ready`. If you disagree let me know.

[2015-06-26 02:16] giggio commented on #37
I don't think this is doable. I am closing it, if anyone finds a way to do it we can reopen it.
BTW, the compiler already removes unused references from the resulting assembly.

[2015-06-26 02:16] #37 closed

[2015-06-26 02:17] giggio commented on #26
I am moving it to ready.

[2015-06-26 02:30] #393 closed

[2015-06-26 02:33] giggio commented on #361
This is the same as #382.

[2015-06-26 02:33] #361 closed

[2015-06-26 02:37] giggio commented on #310
@Kavignon I just realized that this issue went unnoticed. I don't know why. Anyway, it is not a bad idea. But it is doing too much. How about we focus on fields and then create another one for fields? BTW, what styling guide would we follow?
Also, `CC0016` is taken. See: https://github.com/code-cracker/code-cracker/wiki/DiagnosticIds
You may update the wiki and bring the id here.

[2015-06-26 02:38] giggio commented on #310
BTW, category is style, right?
Can you add test cases?

[2015-06-26 05:22] sharwell commented on #310
@Kavignon We have a sample implementation and test code you may want to reference when you are implementing this in the StyleCopAnalyzers project. You can look for the [naming rules of interest](http://stylecop.com/docs/Naming%20Rules.html) by searching the [project code](https://github.com/DotNetAnalyzers/StyleCopAnalyzers) for the StyleCop diagnostic ID.

[2015-06-27 02:10] thorgeirk11 commented on #383
Can I take this on ?

[2015-06-27 03:00] giggio commented on #383
Sure!

[2015-06-27 03:02] #383 closed

[2015-06-27 03:13] giggio opened #396 "Bug on ObjectInitializerCodeFixProvider when constructor already has initialization"
This:

[code]

Will raise `CC0008`, which is fine. But the code fix is removing the existing initializer, not merging it. This is how it gets now:

[code]

This is how it should become:

[code]

Also, we have to be careful with repeating assignments. So this (notice that `Name` is showing twice:

[code]

Should become:

[code]

[2015-06-27 10:24] wertzui commented on #396
The Problem with the double assignemt of the Name property is, that we do not know if the Property has any side effects.

[2015-06-27 18:06] nyctef commented on #22
I've actually been playing around with some code to do this -- just came across code-cracker today :)

I'm a Roslyn newbie so the code is pretty terrible, but it might be useful to have a look at: https://github.com/nyctef/ForeachToLinqAnalyzer

[2015-06-27 18:24] giggio commented on #396
@wertzui You are right, but side effects on property assignment is an anti-pattern. We could say that assign twice to trigger a side effect is an even worse anti-pattern.
I feel fine to ignore this until someone brings a compelling argument to not do it.
If we decide to keep it we could then simply not bring this assignment into the constructor initializer.
We could even say, in this side effect l

[2015-06-29 02:54] giggio commented on #123
I was working on this one and just found out that `IDE0001` from Roslyn core is already fixing it: https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Diagnostics/Analyzers/IDEDiagnosticIds.cs
I am closing it as duplicate.

[2015-06-29 02:54] #123 closed

[2015-06-29 03:05] giggio commented on #22
I am working on it.

[2015-06-29 22:17] Kavignon commented on #310
I shall write some tests and directly show them during the pull request ?
Category: Style
@giggio  you said a first for fields and a second for fields :p
What could be done is a first for Fields and Properties, a second one for Classes and Struct, another for Interfaces and Enums?
I could do all of them !
@sharwell  I'm going to go through that list,but I thought we could reproduce what Resharper

[2015-06-30 18:46] monoman opened #397 "Bug on analyzer CC0031 (UseInvokeMethodToFireEvent) on parameterized functor"
Needed to disable CC0031 on this code, because this fix can't be applied as ```TReturn``` is not constrained to a reference type so ```getter?.Invoke(result)``` would cause a syntax error.

[code]

Probably you need to obtain an ```ITypeParameterSymbol``` from the  return type on ```typeInfo``` and see if it has the ```HasReferenceTypeConstraint``` property set, if not it should return;

:cherries

[2015-06-30 19:01] monoman opened #398 "Null Reference Exception on CodeCracker.CSharp.Usage.VirtualMethodOnConstructorAnalyzer"
Severity|Code|Description
----------|-------|--------------
Message|AD0001|The User Diagnostic Analyzer 'CodeCracker.CSharp.Usage.VirtualMethodOnConstructorAnalyzer' threw an exception with message 'Object reference not set to an instance of an object.'.

Analyzing my library at https://github.com/managed-commons/managed-commons-core this appears on VS2015RC with the CodeCracker vsix installed.

[2015-06-30 19:09] monoman commented on #398
Possibly in this unguarded references
[code]
 or
[code]

[2015-07-01 04:10] ericcastoldi opened #399 "Ignore Disposables created on return statements"
When an ```IDisposable``` object is created on the return statement of a method, the ```DisposableVariableNotDisposedAnalyzer``` creates a ```Diagnostic``` saying that the said object should be disposed. Like in the snippet below:

[code]

Trying to Fix Occurences of said Diagnostic causes VS to crash when method ```CreateUsing``` (class ```DisposableVariableNotDisposedCodeFixProvider```) is calle

[2015-07-02 03:29] giggio commented on #310
I agree with category `Style`. But `Info` is better for severity.
Ok, we could do this issue as fields and properties then.
We still need test cases.

[2015-07-02 03:30] giggio commented on #310
BTW, `CC0016` is taken. Check the diagnostic id wiki page: https://github.com/code-cracker/code-cracker/wiki/DiagnosticIds
You may take the next number and update the wiki.

[2015-07-02 03:42] giggio commented on #399
@ericcastoldi your code is fine. Go ahead and send the PR. I will add you to the colaborators team so we can assign this issue to you.

[2015-07-03 11:09] #396 closed

[2015-07-03 11:21] #399 closed

[2015-07-04 01:49] #318 closed

[2015-07-04 02:00] giggio commented on #398
@monoman It is happening on:

[code]

On the LicenseAttribute.cs file, on the `nameof`, which is understood as an invocation, but there are no symbols associated with it.
It is a quick fix, I will do it.

[2015-07-04 02:16] #398 closed

[2015-07-05 16:00] AlbertoMonteiro commented on #357
@code-cracker/owners Can I do it?

[2015-07-05 19:02] giggio commented on #357
@AlbertoMonteiro Go for it!

[2015-07-06 12:48] AdamSpeight2008 commented on #385
You'll have to be careful how you implement this as sometimes `And != AndAlso`
As `And`, `Or` are also logical operators, that can manipulating the bit pattern.

I think that that the suggested use of the short-circuiting version, if both sides are `Boolean`, or implement `IsTrue` and `IsFalse` [See](https://msdn.microsoft.com/en-us/library/93xa16x4.aspx)

[2015-07-06 16:04] giggio commented on #385
@AdamSpeight2008 You are correct!

[2015-07-09 17:06] #357 closed

[2015-07-11 20:12] OsirisTerje opened #404 "Unit test methods raises CC0091 - "Make <xxxx> method static""
Unit test methods are written as instance methods, and code cracker raises CC0091 on them. This warning is erroneous.
The analyzer should suppress this for unit test methods.

If it uses the test attributes it should cover both MSTest, NUnit, XUnit and Intellitest methods.

Attributes:
MSTest: `TestMethod`
NUnit: `Test`, `TestCase`, `TestCaseSource`
XUnit: `Fact`, `Theory`

In addition the setup a

[2015-07-12 02:16] giggio commented on #404
Agreed, but we have to be more specific. Can you provide a more detailed description on how we detect such methods? For example, in Nunit, allow tests to start with the word `test`, and don't need an attribute (http://www.nunit.org/index.php?p=test&r=2.6.4). Which cases do we want to except?

[2015-07-12 17:04] OsirisTerje commented on #404
There are many different ways of naming test methods, so requiring a certain naming convention can be hard.
But, all test methods do have attributes that are marking them:
MSTest:  TestMethod
NUnit:  Test,  TestCase,  TestCaseSource
XUnit:  Fact
In addition the setup and teardown attributes (XUnit uses ctor's so no issue there)
MSTest:  ClassInitialize, ClassCleanup TestInitialize, TestCleanup
NUn

[2015-07-12 17:33] giggio commented on #404
Will we support mbUnit or none uses that anymore?
Also remember to do not mark any method that starts with "Test" because of NUnit. And xUnit uses `Theory` as well. In NUnit case, `Test` would be enough, right?

[2015-07-12 18:32] OsirisTerje commented on #404
I do believe mbUnit is dead.
You need to check all the attributes I mentioned above.
You're right about Theory, NUnit also has this one.
Also, IntelliTest has to be supported, it has PexMethod as an attribute.

[2015-07-12 19:07] OsirisTerje opened #405 "The code fix for ordering members fails"
The Ordering members fix, CC0035, fails when just touching a classname (1), in VS 2015.  I assume that triggers it, it also seems a lot of the others triggers on code fixes, but this is a hidden one, so it is rather annoying.
![image](https://cloud.githubusercontent.com/assets/203432/8639420/fbe2d27e-28d9-11e5-99ef-4c61ff3bb7e7.png)